.type-809{
    @main_color: #96bd42;
    .testimonials_custom_block_3 {
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        width: 100%;
        height: 600px;
        background-image: url(../images/5.jpg);
    }
    .nuthai{
        padding-right: 55px;
        padding-left: 15px;
        margin: -80px;
    }
    .nuthai a:hover{
        text-decoration: none;
    }
    .mySlides {
        margin: auto;
        padding-top: 100px;
        padding-right: 40px;
    }
    .w3-display-container{
        text-align: center;
    }
    .w3-display-left {
        background-color: #ddd;
        margin: 0.2px;
        border: 22px solid #ddd; 
        color: @main_color;
    }
    .w3-display-right{
        .w3-display-left;
    }     
}