.type-809{
    @background-color: #96bd42;
    @word-color: #fff;
    @button-color-background: #fff;
    text-align: center;
    background:url(../images/5.jpg);
    .slide-show{
        text-align: center;
        .testimonials{
            text-align: center;         
            background: @background-color;
            margin-bottom: 50px;
            margin-top: 70px;
            .Title{
                text-align: center;
                margin-top: 50px;
                h1{
                    color:@word-color;
                    font-weight: bold;
                    font-size: 40px;
                    padding-top: 10px;
                }
            }
            p{
                color: @word-color;
                text-align: center;
                font-size: 18px;
            }
            span{
                color:@word-color;
            }
            #mySlide{
                text-align: center;
            }
            .button{
                margin-top: 20px;
                margin-bottom: 70px;
                padding-bottom: 20px;
                a{
                    background: @button-color-background;
                    padding: 20px;
                    color: @background-color;
                }
                a:hover{
                    text-decoration: none;
                }
            }
            .button:hover{
                text-decoration: none;  
            }
        }
    }
}