.type-801 .tp-revslider-slidesli,
.type-801 .tp-bullet,
.type-801 .tp-bullets {
  position: absolute;
}
.type-801 .tp-caption,
.type-801 .Fashion-BigDisplay,
.type-801 .rev_slider_wrapper {
  box-sizing: border-box;
}
.type-801 #rev_slider_1_1 ul {
  padding-left: 0;
}
.type-801 #slide-1-layer-1 {
  z-index: 6;
  white-space: nowrap;
  font-size: 188px;
  color: rgba(255,255,255,0.1);
}
.type-801 #slide-1-layer-2 {
  z-index: 5;
  min-width: 627px;
  max-width: 627px;
  font-size: 74px;
  line-height: 80px;
  color: #ffffff;
}
.type-801 #slide-1-layer-7 {
  z-index: 7;
  min-width: 615px;
  max-width: 615px;
  font-size: 17px;
  line-height: 24px;
  color: #ceddf3;
}
.type-801 #slide-1-layer-9 {
  z-index: 8;
  white-space: nowrap;
  font-size: 17px;
  line-height: 14px;
  color: #ffffff;
  background-color: #96bd42;
  padding: 22px 35px 22px 35px;
}
.type-801 #slide-2-layer-2 {
  z-index: 5;
  min-width: 547px;
  max-width: 547px;
  font-size: 74px;
  line-height: 73px;
  color: #ffffff;
  text-align: center;
}
.type-801 #slide-2-layer-3 {
  z-index: 6;
  min-width: 932px;
  max-width: 932px;
  font-size: 188px;
  color: rgba(255,255,255,0.32);
}
.type-801 #slide-2-layer-4 {
  z-index: 7;
  min-width: 492px;
  max-width: 492px;
  font-size: 17px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
}
.type-801 #slide-2-layer-7 {
  z-index: 8;
  white-space: nowrap;
  font-size: 17px;
  line-height: 14px;
  color: #ffffff;
  background-color: #1a3150;
  padding: 22px 35px 22px 35px;
}
.type-801 #slide-3-layer-2 {
  z-index: 5;
  min-width: 648px;
  max-width: 648px;
  font-size: 74px;
  line-height: 74px;
  color: #ffffff;
}
.type-801 #slide-3-layer-1 {
  z-index: 6;
  white-space: nowrap;
  font-size: 188px;
  color: rgba(255,255,255,0.1);
}
.type-801 #slide-3-layer-3 {
  z-index: 7;
  min-width: 584px;
  max-width: 584px;
  font-size: 17px;
  line-height: 24px;
  color: #aab2bd;
}
.type-801 #slide-3-layer-6 {
  z-index: 8;
  white-space: nowrap;
  font-size: 17px;
  line-height: 14px;
  color: #ffffff;
  background-color: #96bd42;
  padding: 22px 35px 22px 35px;
}
.type-801 .tp-bullet {
  background: rgba(255,255,255,0.3);
  border-radius: 50%;
  cursor: pointer;
  width: 10px;
  height: 10px;
}
.type-801 .tp-bullets {
  z-index: 1000;
}
