.type-806 {
    @main-color: #96bd42;
    @link-color: #96bd42;
    *{
        box-sizing: border-box;
    }

    body { 
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 400;
        line-height: 2.000em;
    }

    .tips{
        margin: 0 auto;
        overflow: hidden;
    }
    .video-tennis-tip{
        float:left;
        padding-bottom: 30px;
        background: @main-color;
        .image{
            text-align: center;
            img{
                width: 70%;
            }
        }
        h1{
            text-align: center;
            color: #fff;
        }
        .border{
            span{
                color:#fff;
                margin-right: 20px;
            }
        }
    }
    .coaching-tips{
        float:right;
        .colums{
            padding-bottom: 30px;
            img{
                width: 90%;
            }
            h2{
                margin-top: 30px;
                font-size: 18px;
                font-weight: bold;
                float: left;
                margin-right: 20px;
                color:#000;

            }
            .name{
                h2 a:hover{
                    color:@link-color;
                }
                a{
                    color:#000;
                }

                a:hover{
                    text-decoration: none;
                    color:@link-color;
                }
            }
            a{
                color:@link-color;
            }
            a:hover{
                text-decoration: none;
            }
        }
        span{
            color: #000;
        }
    }
}
