@color_a: #fde230;
.type_32_d{
    a{
        color: #666;
    }
    a:hover, a:focus {
        text-decoration: none;
        color: @color_a;
    }
    .tp-breadcrumb {
        background: url(#) no-repeat bottom center scroll;
        background-color: #000;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        padding: 55px 0px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .st_1479475285 {
        background-image: url(../images/service3.jpg);
    }
    .tp-breadcrumb .breadcrumb {
        margin-bottom: 0px;
        list-style: none;
        background-color: transparent;
        border-radius: 0px;
        text-align: center;
        font-size: 14px;
        border: 2px solid;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
   
    .breadcrumb span:last-child {
        color: @color_a;
    }
}