.type-809 {
  text-align: center;
  background: url(../images/5.jpg);
}
.type-809 .slide-show {
  text-align: center;
}
.type-809 .slide-show .testimonials {
  text-align: center;
  background: #96bd42;
  margin-bottom: 50px;
  margin-top: 50px;
}
.type-809 .slide-show .testimonials .Title {
  text-align: center;
  margin-top: 50px;
}
.type-809 .slide-show .testimonials .Title h1 {
  color: #fff;
  font-weight: bold;
  font-size: 40px;
}
.type-809 .slide-show .testimonials p {
  color: #fff;
  text-align: center;
  font-size: 18px;
}
.type-809 .slide-show .testimonials span {
  color: #fff;
}
.type-809 .slide-show .testimonials #mySlide {
  text-align: center;
}
.type-809 .slide-show .testimonials .button {
  margin-top: 30px;
  margin-bottom: 70px;
}
.type-809 .slide-show .testimonials .button a {
  background: #fff;
  padding: 20px;
  color: #96bd42;
}
.type-809 .slide-show .testimonials .button a:hover {
  text-decoration: none;
}
.type-809 .slide-show .testimonials .button:hover {
  text-decoration: none;
}
