.type-833{

    a {
        color: #666;
        text-decoration: none;
    }
    a:hover{
        color: #333;
    }
    img{
        width: 100%;
    }

    .vc_custom_1437530809851 {
        padding-top: 70px !important;
        padding-bottom: 40px !important;
    }
    .vc_row {
        margin-left: -15px;
        margin-right: -15px;
    }
    @media (max-width: 768px){
        .col-sm-12 {
            width: 100%;
            float: left;
        }
        .btn-outline6{
            margin-left: 60px;
        }

    }
    @media (max-width: 992px){
        .btn-outline6{
            margin-left: 60px;
        }

    }
    .col-sm-12{
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .wpb_content_element {
        margin-bottom: 35px;
    }
    .wpb_text_column :last-child, .wpb_text_column p:last-child {
        margin-bottom: 0;
    }
    h1 {
        color: #fff;
        font-size: 39px;
        letter-spacing: -1px;
        margin-bottom: 20px;
        margin-top: 0;
    }

    .filter-wrapper {
        overflow: hidden;
    }
    .portfolioFilter {
        text-align: center;
        margin-bottom: 40px;
        margin-left: 67px;
    }

    .portfolioFilter a {
        margin-right: 10px;
        color: #666;
        text-decoration: none;
        display: inline-block;
        padding: 3px 12px;
        font-size: 14px;
        margin-bottom: 15px;
    }

    .btn-outline,.btn-outline1,.btn-outline2,.btn-outline3,.btn-outline4,.btn-outline5,.btn-outline6,.btn-outline7,.btn-outline8 {
        border: 2px solid #52524f;
        border-radius: 0;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
        font-size: 14px;
        padding: 10px 20px;
        color: #666;
        text-transform: uppercase;
        letter-spacing: 1px;
        display: inline-block;
    }

    .portfolioContainer img {
        width: 100%;
        height: auto
    }

    .isotope-item {
        z-index: 2
    }
    .portfolioContainer {
        margin-bottom: 50px;
    }
    .image-scale {
        overflow: hidden;
    }

    .box {
        border: 0;
        cursor: pointer;
        height: 280px;
        position: relative;
        overflow: hidden;
        width: 280px;
    }
    .image-scale:hover img{
        transform: scale(1.25);
    }
    .image-scale img {
        max-width: 100%;
        transition: all 1s ease 0s;
    }

    .box img {
        position: absolute;
        left: 0;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        -ms-transition: all 300ms ease-out;
        transition: all 800ms ease-out;
    }
    .portfolioContainer img {
        width: 100%;
        height: auto;
    }
    .box:hover .scale-caption {
        opacity: 1;
    }
    .box .caption {
        background-color: rgba(253,226,48,0.8);
        position: absolute;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        -ms-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
        left: 0;
        height: 100%;
        width: 100%;
    }
    .box .scale-caption {
        opacity: 0;
        text-align: center;
        padding: 55px 0;
    }
    .box .scale-caption h1 {
        color: #1f1f1f;
        font-size: 39px;
    }
    .nav-tabs {
        border-bottom: none !important;
    }
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
        color: #282828 !important;
        background-color: #fde230 !important;
        border: 2px solid #fde230 !important;
    }
    .nav>li>a:focus, .nav>li>a:hover {
        text-decoration: none;
        background-color: #fde230 !important;
        border: 2px solid #fde230 !important;
        color: #1f1f1f !important;
    }

    @media (min-width: 1170px){
        .col-md-3{
            margin-top: -1px;
            margin-left: -1.5px;
        }
    }
    .container{}
    .tab-content{}
    .tab-pane{}
    .col-sm-6{}
    .col-xs-12{}
    .col-sm-4{}


}


