body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #5b5b5b;
}
.type-28 {
    .heading{
        text-align: center;
        .title{
            display: inline-block;
        }
        h1{
            font-size: 34px;
            float: left;
            margin-top: 80px;
            margin-bottom: 17px;
            font-weight: 400;
            padding: 0px 32px 28px 32px;
            border-bottom: 1px solid #9ea6b0;
            position: relative;
        }
        h1::after{
            content: "";
            position: absolute;
            top: 100%;
            margin: -10px 0 0 -5px;
            left: 50%;
            width: 10px;
            height: 20px;
            background: #fff;
            border-left: 1px solid #9ea6b0;
            border-right: 1px solid #9ea6b0;
            transform: rotate(20deg);
        }
        p{
            display: inline-block;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 70px;
        }
    }
    .content{

        .course-landing-summary{
            h3{
                margin: 0px 0px 10px 0px;
                text-transform: capitalize;
                font-family: 'Vollkorn', serif;
                font-weight: 500;
                line-height: 1.1;
                float: left;
                width: 100%;
                border-bottom: none;
                padding-bottom: 0px;
                font-size: 2.7rem;
            }
            img{
                width: 100%;
                height: auto;
                margin-bottom: 15px;
            }
        }
        .lms-single-entry-content{
            float: left;
            width: 100%;
            padding-top: 5px;
            padding-bottom: 15px;
            border-bottom: 1px solid #ccc;
            margin-bottom: 15px;
            .author{
                font-weight: 700;
                padding-right: 20px;
                margin-right: 20px;
                color: #000;
                margin-bottom: 0;
                margin-top: 6px;
                border-right: 1px solid #eee;
                a{
                    color: #ff9933;
                }
            }
            .course-students{
                font-weight: 500;
                line-height: 20px;
                margin-right: 20px;
                padding-right: 20px;
                color: #3a3a3a;
                border-right: 1px solid #eee;
                margin-bottom: 0px;
                margin-top: 6px;
            }
            .course-price{
                line-height: 20px;
                margin-right: 20px;
                padding-right: 20px;
                color: #ff9933;
                font-weight: 700;
                border-right: 1px solid #eee;
                margin-bottom: 0px;
                margin-top: 6px;
            }
            .view-cart-button{
                color: #fff;
                background-color: #ff9933;
                display: inline-block;
                padding: 6px 12px;
                margin-bottom: 0px;
                font-size: 14px;
                font-weight: normal;
                line-height: 1.42857143;
                text-align: center;
                cursor: pointer;
                background-image: none;
                border: 1px solid;
                border-radius: 4px;
                transition: all 0.5s;
            }
            a:hover{
                text-decoration: none;
            }
            .purchase-button{
                float: right;
                color: #fff;
                background-color: #ff9933;
                display: inline-block;
                padding: 6px 12px;
                margin-bottom: 0px;
                font-size: 14px;
                font-weight: normal;
                line-height: 1.42857143;
                text-align: center;
                cursor: pointer;
                background-image: none;
                border: 1px solid;
                border-radius: 4px;
                transition: all 0.5s;
            }

        }
        .course-description-heading{
            border-bottom: none;
            padding-bottom: 0px;
            margin-bottom: 10px;
            margin: 20px 0px;
            text-transform: capitalize;
            font-family: 'Vollkorn', serif;
            font-weight: 500;
            line-height: 1.1;
            float: left;
            width: 100%;
            font-size: 2.7rem;
        }
        .course-description{
            h4{
                font-family: 'Vollkorn', serif;
                font-weight: 500;
                line-height: 1.1;
                color: #3a3a3a;
            }
        }
        .course-curriculum{
            h3{
                margin: 20px 0px;
                text-transform: capitalize;
                font-family: 'Vollkorn', serif;
                font-weight: 500;
                line-height: 1.1;
                float: left;
                width: 100%;
                border-bottom: 1px solid #ccc;
                padding-bottom: 5px;
                font-size: 2.7rem;
            }
            ul, li{
                list-style: none;
            }

            ul{
                padding-left: 0;
                .curriculum-sections{
                    float: left;
                    width: 100%;
                }
                .section{
                    width: 100%;
                    margin: 0 0 1px 0;
                }
                .section-header {
                    margin: 10px 0 0 0;
                    padding: 10px 15px;
                    background-color: #EEE;
                    color: #3a3a3a;
                }
                .section-content{
                    background-color: #f5f5f5;
                }
                .course-item{
                    margin: 0 0 0;
                    list-style: none;
                    padding: 10px 15px;
                    border-top: 1px solid #FFF;
                    .course-item-meta{
                        display: block;
                        float: right;
                        line-height: 1;
                        margin: 3px 0;
                        .lp-label{
                            display: inline-block;
                            padding: 3px 8px;
                            line-height: 1;
                            font-size: 65%;
                            vertical-align: baseline;
                            color: #FFF;
                            border-radius: 4px;
                            background-color: #ff9933;
                        }
                        .lp-label-quiz {
                            background-color: #53658C;
                        }
                        .lp-label-final {
                            background-color: #FF6161;
                        }
                    }
                }
            }
        }
        a:hover{
            text-decoration: none;
        }
        .lms_sidebar_item{
            .searchform{
                margin-bottom: 25px;
                input[type="search"]{
                    border-radius: 0;
                    height: 40px;
                }
                .input-group-addon{
                    font-size: 20px;
                    font-weight: normal;
                    line-height: 1;
                    color: #fff;
                    text-align: center;
                    background-color: #ff9933;
                    border: 1px solid #ff9933;
                    border-radius: 0;
                    border-left: 0;
                    padding: 0px;
                    button{
                        background-color: transparent;
                        border: none;
                        float: left;
                        width: 100%;
                        padding: 9px 11px;

                    }
                }
                .form-control:hover, .form-control:focus{
                    box-shadow: none;
                    border-color: #ff9933;
                    outline: 0;
                    transition: all 0.5s;
                }

            }
            ul, li{
                list-style: none;
                padding-left: 0;
                float: left;
            }
            li{
                width: 100%;
                position: relative;
                margin-top: 10px;
                margin-bottom: 10px;
                .popular-text{
                    margin-top: 0;
                    position: absolute;
                    top: 0;
                    left: 112px;
                    h4{
                        margin-top: 0;
                        margin-bottom: 3px;    
                        font-family: 'Vollkorn', serif;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 1.1;
                        color: #3a3a3a;
                    }
                    h4:hover{
                        color: #ff9933;
                        transition: all 0.5s;
                        text-decoration: none;
                    }
                }
            }
            h3{
                margin-top: 15px;
                font-size: 24px;
                color: #222;
                border-bottom: 1px solid #222;
                padding: 5px 0px;
                margin-bottom: 1.1852em;
            }
            .lms-popular-course{
                margin-bottom: 25px;

            }
            .lms_footer_course_category{
                margin-bottom: 25px;
                a{
                    color: inherit;
                    font-size: 14px;
                    position: relative;
                    padding-left: 15px;
                    display: table;
                    float: left;
                    text-transform: capitalize;
                }
                a:hover{
                    color: #ff9933;
                    transition: all 0.5s;
                }
            }
            .blog-categories{
                margin-bottom: 25px;
                li{
                    text-align: right;
                }
                a{
                    color: inherit;
                    font-size: 14px;
                    position: relative;
                    padding-left: 15px;
                    display: table;
                    float: left;
                    text-transform: capitalize;
                }
                a:hover{
                    color: #ff9933;
                    transition: all 0.5s;
                }
            }
            .twitter_feed{
                .lms_sidebar_rt{
                    p{
                        margin-bottom: 5px;
                        margin-top: 10px;
                    }
                    a{
                        p{
                            color: #ff9933;
                            font-style: italic;
                            font-weight: bold;
                        }
                    }
                }
                .lms_rt_time{
                    color: #3a3a3a;
                    font-style: italic;
                    font-weight: bold;
                }
            }
            .tags{
                .tagcloud{
                    a{
                        font-size: 13px !important;
                        color: #fff;
                        padding: 10px 10px;
                        background: rgba(0, 2, 7, 0.22);
                        display: inline-block;
                        margin-right: 5px;
                        margin-bottom: 10px;
                    }
                    a:hover{
                        background: #ff9933;
                        transition: all 0.5s;
                    }
                }
            }
        }
    }
    .list{
        .course_category{
            margin-bottom: 20px;
        }
        .lms_hover_section {
            overflow: hidden;
            position: relative;
            width: 100%;
        }
        .lms_hover_section:hover{
            overflow: visible;
            .lms_hover_overlay {
                background-image: url(../images/bg.png);
                background-repeat: repeat;
                text-align: center;
                transition:All 0.5s ease;
                transform: scale(1);
                .lms_hover_readmore{
                    opacity:1;
                }
            }

        }
        .lms_hover_overlay {
            transform: scale(1.1);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            .lms_hover_readmore {
                width: 100px;
                position: absolute;
                left: 50%;
                margin-left: -50px;
                top: 50%;
                margin-top: -17px;
                opacity: 0;
                a{
                    color: #fff;
                    background-color: #ff9933;
                    border-color: #ff9933;
                }
            }
        }
        .lms_hover_section
        {
            img {
                width: 100%;
                height: auto;
                margin-bottom: 0px;
            }
        }
        .lms_course_mid_content{
            float: left;
            width: 100%;
            border: 1px solid #ccc;
            border-top: none;
            padding: 15px;
            padding-top: 0;
            a{
                color: #000;

            }
            h3{
                font-size: 21px;
                height: 36px;
                margin: 20px 0px 10px 0px;
                a{
                    font-size: 21px;
                    font-weight: 500;
                }
            }
            a:hover{
                color: #ff9933;
                text-decoration: none;
                transition: all 0.5s;
            }
            .lms_course_instruct {
                float: left;
                width: 100%;
                border-bottom: 1px solid #ccc;
                padding-bottom: 10px;
                margin-bottom: 10px;
            }
            .course-introduce {
                float: left;
                width: 100%;
                border-top: 1px solid #ccc;
                margin-top: 10px;
                padding-top: 10px;
            }
            .lms_course_meta {
                .lms-course-students {
                    float: left;
                    width: 60%;
                    text-align: left;
                }
                .lms-course-price {
                    color: #ff9933;
                    font-weight: bold;
                    float: left;
                    width: 40%;
                    text-align: right;
                }
            }
        }
        .lms_pagination {
            width: 100%;
            float: left;
            text-align: center;
            margin-bottom: 50px;
            font-size: 20px;
            ul {
                margin: 0px auto;
                display: inline-block;
                margin-right: 25px;
                position: relative;
                list-style: none;
                li {
                    display: inline-block;
                    text-align: center;
                    position: relative;
                    margin: 30px 0px 0px;
                    float: left;
                    .current {
                        font-size: 34px;
                        padding: 9px 5px;
                        margin-right: 5px;
                        color: #ff9933;
                        border-bottom: 2px solid #ff9933;
                    }
                    a {
                        color: #000;
                        -webkit-transition: all 0.3s;
                        padding: 6px 15px;
                        line-height: 34px;
                        float: left;
                    }
                    a:hover{
                        font-size: 34px;
                        padding: 0px 6px;
                        padding: 6px 15px;
                        color: #ff9933;
                        text-decoration: none;
                        -webkit-transition: all 0.3s;
                    }
                }
                li:after {
                    content: '/';
                    position: absolute;
                    right: 0;
                    opacity: 0.5;
                    top: 50%;
                    margin-top: -14px;
                }
            }
        }
    }
}


//muon thu nho menu thi class logo_container cho height 0,margin-bottom -46px 
.type-3{

    a{
        text-decoration: none;
        color: white;
        font-size: 17px;
        cursor: pointer;
    }
    a:hover{
        color: #ff9933;
    }
    ul{
        padding: 0;
    }

    li{
        list-style: none;
    }
    .menu-item{

    }


    #lms_header{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        clear: both;
        background: rgba(255,255,255,0.1);
        min-height: 94px;
        z-index: 99999;
        transition: all 0.3s;
        .logo_container{
            height: 87px;
            //float: left;
            margin-bottom: -108px;
            position: relative;
            max-width: 1170px;
            -webkit-transition: all 0.3s;
        }
    }

    .lms_header_top{
        background: black;

    }
    .lms_any_que_wrapper{
        padding: 10px 0;
        .lms_mobile, p{
            margin: 0 5px 0 0;
            display: inline-block;
            color: white;
        }
        .lms_email{
            display: inline-block;
            color: white;
            a{
                color: white;
            }
        }
        .lms_email a:hover{
            color: #ff9933;
            text-decoration: none;
        }
    }

    .lms_login_wrapper{
        text-align: right;
        ul{
            margin: 0;
            padding: 10px 0;
        }
        li{
            display: inline-block;
            list-style: none;
            margin-left: 15px;
            a{
                color: white;
            }
            a:hover{
                color: #ff9933;
            }
        }
        li:first-child{
            margin: 0 !important;
        }
    }

    .logo{
        margin: 0;
        padding: 5px 0;
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        color: transparent;
        //position: absolute;
        z-index: 9999;
        float: left;
        //left: 0;
        //line-height: 85px;
        a{
            z-index: 1;
        }
        img{
            position: relative;
        }
    }

    .mega-menu {
        float: right;
        margin-right: 50px;
        /* width: 75%; */
    }

    .navigation_menu{
        z-index: 0;
        .mega_menu_container{
            position: relative;
            ul#mainMenu{
                li.main_item{
                    position: relative;
                }
                li.main_item > a{
                    border-bottom: 4px solid transparent;
                    padding: 50px 18px;
                    background: none;
                    border-radius: 0;
                }

                li.main_item > a:hover{
                    border-bottom: 4px solid #ff9931;
                    background: none;
                    color: #ff9931;
                    border-radius: 0;
                }
                .active{
                    border-color: #ff9931 !important;
                    background: none;
                    color: #ff9931;
                }
                .unactive{

                }
            }
        }
    }

    .btn-responsive-nav {
        display: none;
    }

    .lms_search_toggle {
        position: absolute;
        top: 65px;
        right: 16px;
        cursor: pointer;
        transition: all 0.3s;
    }

    .lms_menu_toggle {
        display: none;
        position: relative;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid #fff;
        top: 35px;
        right: 0;
        float: right;
        transition: all 0.3s;
        background: transparent;
        color: #fff;
    }


    .lms_search_wrapper{
        //display: none;
        position: absolute;
        top: 100%;
        right: 15px;
        width: 100px;
        height: auto;
        padding: 25px;
        margin-top: 1px;
        background: rgba(240, 240, 240, 1);
        min-width: 248px;
        input {
            border: 1px solid #9EA6B0;
            height: 40px;
            width: 100%;
            padding-left: 10px;
            outline: none;
            background-color: #fff;
        }
    }


    // ==================mega menu==============



    .lms_page_title{
        width: 100%;
        float: left;
        .lms_page_title_bg{
            min-height: 310px;
            width: 100%;
            float: left;
            background: url(../images/bg1_new.jpg) 0% -110px;
            background-attachment: fixed;
        }
        position: relative;
        margin-bottom: 78px;
        margin-bottom: 50px;
        .lms_page_title_bg_overlay {
            position: relative;
            width: 100%;
            float: left;
            background: url(../images/bg.png);
            min-height: 310px;
            .container {
                margin-top: 218px;
                .lms_title {
                    color: #fff;
                    font-size: 30px;
                    text-transform: capitalize;
                    float: left;

                }
                .breadcrumb {
                    background: none;
                    padding: 8px 0;
                    margin: 5px auto;
                    list-style: none;
                    li {
                        display: inline-block;
                        font-size: 17px;
                        text-transform: capitalize;
                        cursor: pointer;
                    }
                    li:before {
                        padding: 0 5px;
                        color: #929292;
                        content: "/\00a0";
                    }
                    li:last-child {
                        color: #ff9933;
                    }
                }
            }
        }
    }
    .clsHover:hover > ul{
        display: block;
    }
    .dropdown-submenu:hover > ul{
        display: block;
    }

    .dropdown > .dropdown-menu {
        min-width: 200px;
        width: 100%;
        max-width: 100%;
        margin: 0px 0 0 3px;
        padding: 5px;
        //bottom: -158px !important;
        border-bottom: 2px solid #ff9933;
    }
    .dropdown-submenu > .dropdown-menu {
        background-color: #1a1a1a;
        border: 0;
        min-width: 200px;
        margin: 0px 0 0 3px;
        padding: 5px;
        top: 0 !important;
        left: 195px;
        border-bottom: 2px solid #ff9933;
    }


    .nav-main ul.dropdown-menu {
        background-color: #1a1a1a;
        border: 0;
        min-width: 200px;
        margin: 0;
        padding: 5px;
        border-bottom: 2px solid #ff9933;
        a{
            background: none;
            color: #fff;
            padding: 8px 10px 8px 5px;
            font-size: 16px;
            display: block;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }
        a:hover{
            color: #ff9933;
        }

    } 
    .dropdown-menu:before {
        position: absolute;
        content: "";
        top: -2px;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 1px;
        margin-bottom: 2px !important;
        border-top: 1px solid #000;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #cccccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .mega_menu_item{
        position: static !important;
    }
    #lms_header nav.mega-menu .mega-menu-content {
        padding: 20px 30px;
    }
    .mega-menu-sub-title {
        color: #CBCBCB;
        display: block;
        font-size: 15px;
        font-weight: 400;
        padding-bottom: 25px;
        text-transform: uppercase;
    }

    #lms_header nav.mega-menu ul.nav-main li.mega-menu-item ul.sub-menu li a {
        color: #fff;
        text-shadow: none;
        margin: 0 0 0 -8px;
        padding: 8px 8px;
        text-transform: none;
        font-size: 14px;
        display: block;
        font-weight: normal;
        border-bottom: 1px solid rgba(117, 117, 117, 0.29);
    }


    @media (max-width: 992px){
        .dropdown-toggle{
            border: none;
        }
        .mega-menu{
            margin: 0;
        }
        .show_submenu > ul{
            display: block !important;
        }
        .navigation_menu{
            display: none !important;
        }
        .lms_search_toggle{
            display: none;
        }
        #lms_header{
            background: black !important;
            position: absolute !important;
            .nav-main {
                padding: 10px 0;
                float: none;
                ul li {
                    float: none;
                    border-bottom: 1px solid #2A2A2A;
                }
                ul.dropdown-menu {
                    position: static;
                    clear: both;
                    float: none;
                    display: none;
                }
            }
            nav ul.nav-main li a {

                padding: 13px 0px !important;
                border-bottom: none !important;
            }
            .nav-main-collapse.in {
                width: 100%;
                display: block !important;
            }
            .nav-main-collapse {
                top: 8px;
                position: relative;
                background: #171717;
                max-height: none;
                width: 100%;

            }

            .dropdown-submenu > a:after{
                display: none;
            }
            .main_item_click > a.dropdown-toggle:after {
                display: block;
                content: " ";
                float: right;
                width: 0px;
                height: 0px;
                border-color: transparent;
                border-style: solid;
                border-width: 5px 0 5px 5px;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid #fff;
                margin-top: 5px;
                margin-right: -10px;
            }
        }
        .lms_menu_toggle{
            display: block;
        }
        .lms_any_que_wrapper, .lms_login_wrapper{
            text-align: center !important;
        }
        #lms_header .logo_container {
            margin-bottom: 0px;

        }
    }
    @media (min-width: 768px){
        .navigation_menu .mega_menu_container{
            padding-right: 30px;
        }
    }
    @media (max-width: 460px){
        .lms_any_que_wrapper{
            .lms_mobile{
                margin: 0 !important;
            }
        }
    }

    @media (min-width: 1200px){
        .container{
            min-width: 1180px;
        }
    }

}
.type-l-1{

    a{
        text-decoration: none;
        color: #ff9933;
        font-family: 'Vollkorn', serif;
    }
    p{
        color: #9CA0A0;
    }
    h3 {
        float: left;
        width: 100%;
        color: #fff;
        font-size: 22px;
        margin-top: 15px;
        text-transform: capitalize;
        font-family: 'Vollkorn', serif;
        margin-bottom: 30px;
    }

    .scrollToTop{
        width: 35px;
        height: 35px;
        line-height: 31px;
        text-align: center;
        font-size: 20px;
        color: #ff9933;
        text-decoration: none;
        position: fixed;
        bottom: 40px;
        left: 40px;
        border: 1px solid #ff9933;
        overflow: hidden;

        .down{
            width: 100%;
            height: 100%;
            position: relative;
            top: 21px;
        }
    }
    .scrollToTop:hover {
        i{
            display: none;
            transform: translateY(-15px);
            transition: all 0.5s ease-in;
        }
        .down{
            display: block;
        }
        color: #fff;
        background: #ff9933;
        text-decoration: none;

    }

    .lms_theme_color{
        color: #ff9933;
    }

    .lms_footer_top {
        width: 100%;
        float: left;
        padding: 20px 0px;
        background: url(../images/bg.png);

        .lms_newsletter {
            width: 100%;
            float: left;
            margin-bottom: 20px;
            form {
                display: block;
                margin-top: 0em;
            }
            .form-inline{
                .form-group {
                    display: inline-block;
                    margin-bottom: 0;
                    vertical-align: middle;
                    float: left;
                    width: 100%;
                    position: relative;
                    #form-control{
                        width: 80%;
                        display: inline-block;
                        border-radius:none;
                        border: 1px solid #e1e3e7;
                        .form-control{
                            border: none;
                            height: 38px;
                            font-size: 14px;
                            line-height: 1.42857143;
                            color: #9a9a9a;
                            background-color: transparent;
                            background-image: none;
                            transition: all 0.5s;
                            width: 100%;
                        }

                    }
                    #form-control:hover{
                        border-color: #ff9933;
                    }


                    .lms_newsletter_widget_btn{
                        padding: 9px 1px;
                        font-size: 20px;
                        font-weight: normal;
                        position: absolute;
                        line-height: 1;
                        color: #fff;
                        text-align: center;
                        background-color: #ff9933;
                        border: 1px solid #fff;
                        min-width: 65px;
                        border-left: none;
                    }
                }
            }
            .mailchimp_message{
                color: #9CA0A0;
                display: none;
            }
        }

        .postform {
            display: block;
            width: 100%;
            height: 40px;
            padding: 6px 12px;
            font-size: 16px;
            line-height: 1.42857143;
            color: #9a9a9a;
            background-color: transparent;
            border: 1px solid #e1e3e7;
            -webkit-transition: all 0.3s;
            background-image: url(../images/down.png);
            background-repeat: no-repeat;
            background-position: right;
            -webkit-appearance: none;
            option{
                color: #333;

            }

        }
        .postform:hover{
            border-color: #ff9933;
            outline: 0;
            -webkit-transition: all 0.2s;
        }
        .lms_happening {
            width: 100%;
            float: left;
            .lms_happy_user {
                width: 100%;
                float: left;
                img {
                    width: 48px;
                    height: 48px;
                    float: left;
                    display: inline-block;
                    margin-right: 10px;
                }
            }
        }
    }

    .lms_footer_center {
        width: 100%;
        float: left;
        background: #1a1a1a;
        padding: 50px 0px 20px 0px;
        .lms_footer_logo{
            img{
                vertical-align: middle;
                margin-bottom: 15px;
            }
        }
        p{
            margin: 0 0 10px;
        }
        .lms_social {
            width: 100%;
            float: left;
            margin-top:30px;
            ul{
                list-style: none;
                padding:0;
                li{
                    .colortooltip + .tooltip > .tooltip-inner {background-color: #ff9933;}
                    .colortooltip + .tooltip > .tooltip-arrow { border-top-color:#ff9933;}
                    display: inline-block;
                    a {
                        width: 34px;
                        height: 34px;
                        line-height: 34px;
                        text-align: center;
                        display: inline-block;
                        border: 1px solid #9ea6b0;
                        color: #ff9933;
                        font-size: 18px;
                        margin-right: 15px;
                        margin-bottom: 15px;
                        background: transparent;
                        text-decoration: none;
                    }
                    :hover{
                        border-color: #ff9933;
                    }
                }
            }
        }

        .lms_footer_popular_course {
            width: 100%;
            float: left;
            .lms_footer_course {
                width: 100%;
                float: left;
                border: 1px solid #555555;
                padding: 6px;
                margin-bottom: 30px;
                img {
                    width: 75px;
                    height: 79px;
                    border: 1px solid #565656;
                    margin-bottom: 0px;
                    float: left;
                    display: inline-block;
                    margin-right: 12px;
                    margin-top: 12px;
                }
            }
        }
        .lms_footer_course_category{
            :last-child{
                border-bottom: none;
            }
            li{
                list-style: none;
                border-bottom: 1px solid #555555;

                a{
                    color: #9CA0A0;
                    line-height: 52px;
                }
                :hover{
                    color: #ff9933;
                }
            }
        }
        .lms_footer_contact{
            width: 100%;
            float: left;
            p{
                margin-bottom: 20px;
                .color_hover{
                    color: #9CA0A0;

                }
                :hover{
                    color: #ff9933;
                }
            }
        }

    }

    .lms_footer_bottom{
        width: 100%;
        float: left;
        background: #171717;
        font-size: 13px;
        text-align: center;

        p {
            margin-bottom: 0px;
            padding: 20px 0px;
        }

    }


    /* Dành cho điện thoại */
    @media all and (min-width: 767px) {}
    /* Dành cho máy tính bảng chiều dọc */
    @media all and (min-width: 600px) {}

    /* Dành cho máy tính bảng chiều ngang */
    @media all and (min-width: 1024px) {}

    /* Dành cho màn hình desktop */
    @media all and (min-width: 1280px) {}

}
/* END MODULE TEST */

