.page_content_wrap {
  padding: 2.1428em 0;
}
.show_product form,
.show_product ul,
.show_product aside,
.show_product div {
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  border: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.show_product .margin_bottom_large {
  margin-bottom: 60px !important;
}
.show_product select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none !important;
  outline: none;
  resize: none;
  padding: 0.45em 0.5em;
  border: 2px solid transparent;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
  background-image: url(../images/select_arrow_down.png);
  background-position: right center;
  background-repeat: no-repeat;
}
.show_product .body_filled .widget_area[class*="scheme_"]:not(.footer_wrap) .widget_area_inner {
  padding: 2.857em;
}
.show_product .sidebar_inner {
  box-sizing: border-box;
}
.show_product aside {
  display: block;
}
.show_product .widget_area .widget_title {
  margin-top: 0;
  margin-bottom: 1.55em;
  text-transform: uppercase;
}
.show_product h5 {
  color: #1a3150;
  font-family: 'Montserrat';
  font-weight: 700;
  line-height: 125%;
  margin: 0;
}
.show_product .widget_area ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}
.show_product ul {
  margin: 0;
}
.show_product .widget_area ul li {
  position: relative;
  padding-left: 1em;
  margin-bottom: 0;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}
.show_product .widget_area_inner ul li:before {
  font-size: 1.5em;
}
.show_product .widget_area ul li:before {
  content: '\e83c';
  font-family: 'fontello';
  position: absolute;
  left: 1px;
  top: 0;
}
.show_product .widget_area_inner .widget_product_search .search_field {
  padding-right: 30px;
  padding-left: 20px;
  background: none;
  border: none;
  width: 100%;
  height: 3.571em;
  line-height: 2.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
}
.show_product .widget_area_inner a,
.show_product .widget_area_inner ul li a {
  line-height: 160%;
}
.show_product a {
  outline: 0;
  text-decoration: none;
  background: transparent;
}
.show_product .sidebar aside+aside {
  margin-top: 2.857em;
  padding-top: 2.857em;
}
.show_product aside {
  display: block;
}
.show_product .woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
  margin-bottom: 1.225em;
  background: #cccccc;
  height: 5px;
}
.show_product .woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
  border-radius: 1em;
  background-color: #602053;
  border: 0;
}
.show_product .woocommerce .widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
  margin-left: .5em;
  margin-right: .5em;
}
.show_product .woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.show_product .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
  background-color: #1a3150;
}
.show_product .hover_icon:before {
  font-family: 'fontello';
  font-size: 1.2em;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 12px 20px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  filter: alpha(opacity=0);
  margin-top: 100px;
  z-index: 10;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}
.show_product .hover_icon_link:before {
  content: '\e8b5';
}
.show_product .woocommerce .widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  border-radius: 1em;
}
.show_product .widget_area ul li:before {
  content: '\e83c';
  font-family: 'fontello';
  position: absolute;
  left: 1px;
  top: 0;
}
.show_product a {
  transition: all 0.3s ease 0s;
}
.show_product .body_filled .widget_area[class*="scheme_"]:not(.footer_wrap) .widget_area_inner {
  padding: 2.857em;
}
.show_product .widget_area_inner .widget_product_search .search_button,
.show_product .widget_area_inner .widget_search .search_button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  line-height: 3.571em;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.show_product .widget_area .widget_product_search .search_button,
.show_product .widget_area .widget_search .search_button {
  text-align: center;
  border: none;
  background: none;
}
.show_product .widget_area_inner .widget_product_search .search_button:before,
.show_product .widget_area_inner .widget_search .search_button:before {
  width: 3.571em;
  height: 3.571em;
  font-size: 1em;
}
.show_product [class^="icon-"]:before,
.show_product [class*=" icon-"]:before {
  line-height: inherit;
  font-weight: inherit;
  font-size: inherit;
  width: auto;
  margin: 0;
}
.show_product .widget_area .widget_product_search .search_form {
  position: relative;
  overflow: hidden;
}
.show_product input[type="text"] {
  outline: none;
  resize: none;
  padding: 0.45em 0.5em;
  border-radius: 0;
  transition: all ease .3s;
}
.show_product .add_color_2 {
  color: #1b3353;
}
.show_product .text_align_center {
  text-align: center;
}
.show_product .font_size_3_571em {
  font-size: 3.571em;
}
.show_product .margin_top_null,
.show_product .margin_top_none,
.show_product .margin_top_no,
.show_product .margin_top_hide {
  margin-top: 0 !important;
}
.show_product nav.pagination_pages {
  text-align: center;
}
.show_product .pagination_wrap {
  text-align: center;
  margin-bottom: 3.214em;
}
.show_product .pagination_single > .pager_numbers,
.show_product .pagination_single a,
.show_product .pagination_pages > a,
.show_product .pagination_pages > span {
  display: inline-block;
  margin: 0 5px 5px 0;
  text-align: center;
  padding: 1.1em 1.286em;
  font-size: 1em;
  line-height: 1em;
}
.show_product .pagination_single > .pager_numbers,
.show_product .pagination_single a,
.show_product .pagination_slider .pager_cur,
.show_product .pagination_pages > a,
.show_product .pagination_pages > span {
  border: 2px solid #f6f7f3;
}
.show_product .pagination_pages > a {
  color: #707276;
  background-color: #f6f7f3;
  border-color: #f6f7f3;
}
.show_product .pagination_wrap .pager_next {
  margin-left: 0.6em;
}
.show_product .pagination_wrap .pager_next,
.show_product .pagination_wrap .pager_prev,
.show_product .pagination_wrap .pager_last,
.show_product .pagination_wrap .pager_first {
  border: none !important;
  background-color: transparent !important;
}
.show_product .pagination_wrap .pager_next:before {
  font-family: 'fontello';
  content: '\e836';
  margin-right: 0;
}
.show_product .pagination_wrap .pager_last:before {
  font-family: 'fontello';
  content: '\e836\e836';
  margin-right: 0;
  letter-spacing: -7px;
}
