@border-bottom: 1px solid #ccc;
@padding-left: 15px;
@float: left;
@width: 100%;
@color_a: #000;
@color_b: #ff9933;
@course-students:#3a3a3a;
@view-cart-button:#fff;
.nbb{
    float: left;
    width: 100%;
}

.bvv{
    width: 100%;
    height: auto;
}
.details {
   
    .border{
        border-bottom: none;
        padding-bottom: 0px;
    }
    .padding{
        padding-right: 20px;
        margin-right: 20px;
        margin-bottom: 0;
        margin-top: 6px;
        border-right: 1px solid #eee;
    }
    .container {
        margin-right: auto;
        margin-left: auto;
        padding-left:@padding-left;
        padding-right: 15px;
        
    }
    .course-landing-summary{
        h3{
            margin: 0px 0px 10px 0px;
            text-transform: capitalize;
            font-family: 'Vollkorn', serif;
            font-weight: 500;
            line-height: 1.1;
            .nbb;
            .border;
            font-size: 2.7rem;
        }
        img{
            .bvv;
            margin-bottom: 15px;
        }
    }
    
    .lms-single-entry-content{
        .nbb;
        padding-top: 5px;
        padding-bottom: 15px;
        border-bottom: @border-bottom;
        margin-bottom: 15px;
        .author{
            font-weight: 700;
            .padding;
            color: @color_a;
            a{
                color: @color_b;
            }
        }
        .course-students{
            font-weight: 500;
            line-height: 20px;
            .padding;
            color: @course-students;  
        }
        .course-price{
            line-height: 20px;
            .padding;
            color: @color_b;
            font-weight: 700;
        }
        .view-cart-button{
            color: @view-cart-button;
            background-color: @color_b;
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0px;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.42857143;
            text-align: center;
            cursor: pointer;
            background-image: none;
            border: 1px solid;
            border-radius: 4px;
            transition: all 0.5s;
        }
        a:hover{
            text-decoration: none;
        }
        .purchase-button{
            float: right;
            color: @view-cart-button;
            background-color: @color_b;
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0px;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.42857143;
            text-align: center;
            cursor: pointer;
            background-image: none;
            border: 1px solid;
            border-radius: 4px;
            transition: all 0.5s;
        }

    }
    .row{}
    .clearfix{}
    .course-description-heading{
        .border;
        margin-bottom: 10px;
        margin: 20px 0px;
        text-transform: capitalize;
        font-family: 'Vollkorn', serif;
        font-weight: 500;
        line-height: 1.1;
        .nbb;
        font-size: 2.7rem;
    }
    .course-description{
        h4{
            font-family: 'Vollkorn', serif;
            font-weight: 500;
            line-height: 1.1;
            color: @course-students;
        }
    }
    .course-curriculum{
        h3{
            margin: 20px 0px;
            text-transform: capitalize;
            font-family: 'Vollkorn', serif;
            font-weight: 500;
            line-height: 1.1;
            .nbb;
            border-bottom: @border-bottom;
            padding-bottom: 5px;
            font-size: 2.7rem;
        }
        ul, li{
            list-style: none;
        }

        ul{
            padding-left: 0;
            .curriculum-sections{
                .nbb;
            }
            .section{
                width: @width;
                margin: 0 0 1px 0;
            }
            .section-header {
                margin: 10px 0 0 0;
                padding: 10px 15px;
                background-color: #EEE;
                color:@course-students;
            }
            .section-content{
                background-color: #f5f5f5;
            }
            .course-item{
                margin: 0 0 0;
                list-style: none;
                padding: 10px 15px;
                border-top: 1px solid @view-cart-button;
                .course-item-meta{
                    display: block;
                    float: right;
                    line-height: 1;
                    margin: 3px 0;
                    .lp-label{
                        display: inline-block;
                        padding: 3px 8px;
                        line-height: 1;
                        font-size: 65%;
                        vertical-align: baseline;
                        color: @view-cart-button;
                        border-radius: 4px;
                        background-color: @color_b;
                    }
                    .lp-label-quiz {
                        background-color: #53658C;
                    }
                    .lp-label-final {
                        background-color: #FF6161;
                    }
                }
            }
        }
    }
    a:hover{
        text-decoration: none;
    }
    .lms_sidebar_item{
        .searchform{
            margin-bottom: 25px;
            input[type="search"]{
                border-radius: 0;
                height: 40px;
            }
            .input-group-addon{
                font-size: 20px;
                font-weight: normal;
                line-height: 1;
                color: @view-cart-button;
                text-align: center;
                background-color: @color_b;
                border: 1px solid @color_b;
                border-radius: 0;
                border-left: 0;
                padding: 0px;
                button{
                    background-color: transparent;
                    border: none;
                    .nbb;
                    padding: 9px 11px;

                }
            }
            .form-control:hover, .form-control:focus{
                box-shadow: none;
                border-color: @color_b;
                outline: 0;
                transition: all 0.5s;
            }

        }
        ul, li{
            list-style: none;
            padding-left: 0;
            float: @float;
        }
        li{
            width: @width;
            position: relative;
            margin-top: 10px;
            margin-bottom: 10px;
            .popular-text{
                margin-top: 0;
                position: absolute;
                top: 0;
                left: 112px;
                h4{
                    margin-top: 0;
                    margin-bottom: 3px;    
                    font-family: 'Vollkorn', serif;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 1.1;
                    color: @course-students;
                }
                h4:hover{
                    color: @color_b;
                    transition: all 0.5s;
                    text-decoration: none;
                }
            }
        }
        h3{
            margin-top: 15px;
            font-size: 24px;
            color: #222;
            border-bottom: 1px solid #222;
            padding: 5px 0px;
            margin-bottom: 1.1852em;
        }
        .lms-popular-course{
            margin-bottom: 25px;

        }
        .lms_footer_course_category{
            margin-bottom: 25px;
            a{
                color: inherit;
                font-size: 14px;
                position: relative;
                padding-left: @padding-left;
                display: table;
                float: @float;
                text-transform: capitalize;
            }
            a:hover{
                color: @color_b;
                transition: all 0.5s;
            }
        }
        .blog-categories{
            margin-bottom: 25px;
            li{
                text-align: right;
            }
            a{
                color: inherit;
                font-size: 14px;
                position: relative;
                padding-left: @padding-left;
                display: table;
                float: @float;
                text-transform: capitalize;
            }
            a:hover{
                color: @color_b;
                transition: all 0.5s;
            }
        }
        .twitter_feed{
            .lms_sidebar_rt{
                p{
                    margin-bottom: 5px;
                    margin-top: 10px;
                }
                a{
                    p{
                        color: @color_b;
                        font-style: italic;
                        font-weight: bold;
                    }
                }
            }
            .lms_rt_time{
                color: @course-students;
                font-style: italic;
                font-weight: bold;
            }
        }
        .tags{
            .tagcloud{
                a{
                    font-size: 13px !important;
                    color: @view-cart-button;
                    padding: 10px 10px;
                    background: rgba(0, 2, 7, 0.22);
                    display: inline-block;
                    margin-right: 5px;
                    margin-bottom: 10px;
                }
                a:hover{
                    background: #ff9933;
                    transition: all 0.5s;
                }
            }
        }
    }
}
.list{
    .course_category{
        margin-bottom: 20px;
    }
    .lms_hover_section {
        overflow: hidden;
        position: relative;
        width: @width;
    }
    .lms_hover_section:hover{
        overflow: visible;
        .lms_hover_overlay {
            background-image: url(../images/bg.png);
            background-repeat: repeat;
            text-align: center;
            transition:All 0.5s ease;
            transform: scale(1);
            .lms_hover_readmore{
                opacity:1;
            }
        }

    }
    .lms_hover_overlay {
        transform: scale(1.1);
        position: absolute;
        top: 0;
        left: 0;
        width: @width;
        height: 100%;
        .lms_hover_readmore {
            width: 100px;
            position: absolute;
            left: 50%;
            margin-left: -50px;
            top: 50%;
            margin-top: -17px;
            opacity: 0;
            a{
                color: @view-cart-button;
                background-color: @color_b;
                border-color: @color_b;
            }
        }
    }
    .lms_hover_section
    {
        img {
            .bvv;
            margin-bottom: 0px;
        }
    }
    .lms_course_mid_content{
        .nbb;
        border: 1px solid #ccc;
        border-top: none;
        padding: 15px;
        padding-top: 0;
        a{
            color: @color_a;

        }
        h3{
            font-size: 21px;
            height: 36px;
            margin: 20px 0px 10px 0px;
            a{
                font-size: 21px;
                font-weight: 500;
            }
        }
        a:hover{
            color: @color_b;
            text-decoration: none;
            transition: all 0.5s;
        }
        .lms_course_instruct {
            .nbb;
            border-bottom: @border-bottom;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }
        .course-introduce {
            .nbb;
            border-top: 1px solid #ccc;
            margin-top: 10px;
            padding-top: 10px;
        }
        .lms_course_meta {
            .lms-course-students {
                float: @float;
                width: 60%;
                text-align: left;
            }
            .lms-course-price {
                color: @color_b;
                font-weight: bold;
                float: @float;
                width: 40%;
                text-align: right;
            }
        }
    }
    .lms_pagination {
        .nbb;
        text-align: center;
        margin-bottom: 50px;
        font-size: 20px;
        ul {
            margin: 0px auto;
            display: inline-block;
            margin-right: 25px;
            position: relative;
            list-style: none;
            li {
                display: inline-block;
                text-align: center;
                position: relative;
                margin: 30px 0px 0px;
                float: @float;
                .current {
                    font-size: 34px;
                    padding: 9px 5px;
                    margin-right: 5px;
                    color: @color_b;
                    border-bottom: 2px solid #ff9933;
                }
                a {
                    color: @color_a;
                    -webkit-transition: all 0.3s;
                    padding: 6px 15px;
                    line-height: 34px;
                    float: @float;
                }
                a:hover{
                    font-size: 34px;
                    padding: 0px 6px;
                    padding: 6px 15px;
                    color: @color_b;
                    text-decoration: none;
                    -webkit-transition: all 0.3s;
                }
            }
            li:after {
                content: '/';
                position: absolute;
                right: 0;
                opacity: 0.5;
                top: 50%;
                margin-top: -14px;
            }
        }
    }
}