.type-7 .containter {
  width: 1180px;
}
.type-7 a {
  text-decoration: none;
}
.type-7 a:hover {
  text-decoration: none;
}
.type-7 ul li {
  list-style: none;
}
.type-7 .mega-dropdown {
  position: static !important;
}
.type-7 .mega-dropdown-menu {
  padding: 20px 0px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.type-7 .mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.type-7 .mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.type-7 .mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.type-7 .mega-dropdown-menu > li ul > li > a:hover,
.type-7 .mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.type-7 .mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}
.type-7 .affix {
  top: 0;
  width: 100%;
  background: #fff !important;
}
.type-7 .affix .brand {
  color: #000;
}
.type-7 .affix + .container-fluid {
  padding-top: 70px;
}
.type-7 #video-background {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 50%;
  z-index: -100;
}
.type-7 .video article {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 10px;
}
.type-7 .video h1 {
  position: absolute;
  top: 60%;
  width: 100%;
  font-size: 36px;
  letter-spacing: 3px;
  color: #fff;
  font-family: Oswald, sans-serif;
  text-align: center;
}
.type-7 .navbar {
  margin-bottom: 0px !important;
  z-index: 999;
  margin-bottom: -5px !important;
}
.type-7 .navbar {
  border: none;
  border-radius: 0;
  background-color: rgba(0,0,0,0.5);
}
.type-7 .brand {
  position: absolute;
  left: 50%;
  margin-left: -50px !important;
  display: block;
  top: 20px;
}
.type-7 .navbar-inverse .navbar-nav>li>a {
  color: #222;
}
.type-7 .navbar-inverse .navbar-nav>li>a:hover {
  color: #222;
  background: none;
}
.type-7 #topheader {
  color: #959595;
  background: #222;
  padding: 10px 0;
  font-size: 12px;
}
.type-7 #topheader a {
  color: #959595;
}
.type-7 #topheader a:hover {
  color: #fff;
}
.type-7 #topheader ul li {
  float: left;
  position: relative;
}
.type-7 #topheader li a {
  padding: 5px 10px;
}
.type-7 #topheader .sub-menu {
  position: absolute;
  display: none;
}
.type-7 .show-on-hover:hover > ul.dropdown-menu {
  display: block;
}
.type-7 .dropdown-menu a {
  width: 100% !important;
}
.type-7 .dropdown-menu a:hover {
  background: #2F2F2F !important;
  color: #fff !important;
}
