
.page_content_wrap {
    padding: 2.1428em 0;
}
.type-7{
 form, ul,aside, div{font-family: inherit;
        font-size: 100%;
        font-style: inherit;
        font-weight: inherit;
        line-height: inherit;
        border: 0;
        outline: 0;
        -webkit-font-smoothing: antialiased;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
    }


.shop_banner {
    background-image: url(../images/shop_bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar_left .sidebar {
    float: left;
}
.body_filled .widget_area[class*="scheme_"]:not(.footer_wrap) .widget_area_inner {
    padding: 2.857em;
}

.content_wrap{
    
    margin: 0 auto;

}
.font_size_3_571em {
    font-size: 3.571em;
}
.shop_banner .sc_title {
    font-size: 2.5em !important;
}
.text_uppercase {
    text-transform: uppercase;
}
.shop_banner .text_uppercase {
    font-size: 0.85em;
}
.margin_top_small {
    margin-top: 20px !important;
}
.sidebar_left .sidebar {
    float: left;
}
.sc_section_inner
{
    text-align: center;
}
.margin_bottom_large {
    margin-bottom: 60px !important;
}


.body_filled .widget_area[class*="scheme_"]:not(.footer_wrap) .widget_area_inner {
    padding: 2.857em;
}

aside{
display: block;    
}

}