.type-801 {
    @color-white: rgba(255, 255, 255, 1.00);
    @color-tran-word: rgba(255, 255, 255, 0.10);
    @font-size-tran-word: 188px;
    @font-size-title: 74px;
    @font-size-p: 17px;

    .tp-revslider-slidesli, .tp-bullet, .tp-bullets {
        position: absolute;
    }
    .tp-caption, .Fashion-BigDisplay, .rev_slider_wrapper {
        box-sizing: border-box;
    }
    #rev_slider_1_1 {
        ul {
            padding-left: 0;
        }
    }
    #slide-1-layer-1 {
        z-index: 6;
        white-space: nowrap;
        font-size: @font-size-tran-word;
        color: @color-tran-word;
    }
    #slide-1-layer-2 {
        z-index: 5;
        min-width: 627px;
        max-width: 627px;
        font-size: @font-size-title;
        line-height: 80px;
        color: @color-white;
    }
    #slide-1-layer-7 {
        z-index: 7;
        min-width: 615px;
        max-width: 615px;
        font-size: @font-size-p;
        line-height: 24px;
        color: rgba(206, 221, 243, 1.00);
    }
    #slide-1-layer-9 {
        z-index: 8;
        white-space: nowrap;
        font-size: @font-size-p;
        line-height: 14px;
        color: @color-white;
        background-color: rgba(150, 189, 66, 1.00);
        padding: 22px 35px 22px 35px;
    }
    #slide-2-layer-2 {
        z-index: 5;
        min-width: 547px;
        max-width: 547px;
        font-size: @font-size-title;
        line-height: 73px;
        color: @color-white;
        text-align: center;
    }
    #slide-2-layer-3 {
        z-index: 6;
        min-width: 932px;
        max-width: 932px;
        font-size: @font-size-tran-word;
        color: rgba(255, 255, 255, 0.32);
    }
    #slide-2-layer-4 {
        z-index: 7;
        min-width: 492px;
        max-width: 492px;
        font-size: @font-size-p;
        line-height: 24px;
        color: @color-white;
        text-align: center;
    }
    #slide-2-layer-7 {
        z-index: 8;
        white-space: nowrap;
        font-size: @font-size-p;
        line-height: 14px;
        color: @color-white;
        background-color: rgba(26, 49, 80, 1.00);
        padding: 22px 35px 22px 35px;
    }
    #slide-3-layer-2 {
        z-index: 5;
        min-width: 648px;
        max-width: 648px;
        font-size: @font-size-title;
        line-height: 74px;
        color: @color-white;
    }
    #slide-3-layer-1 {
        z-index: 6;
        white-space: nowrap;
        font-size: @font-size-tran-word;
        color: @color-tran-word;
    }
    #slide-3-layer-3 {
        z-index: 7;
        min-width: 584px;
        max-width: 584px;
        font-size: @font-size-p;
        line-height: 24px;
        color: rgba(170, 178, 189, 1.00);
    }
    #slide-3-layer-6 {
        z-index: 8;
        white-space: nowrap;
        font-size: @font-size-p;
        line-height: 14px;
        color: @color-white;
        background-color: rgba(150, 189, 66, 1.00);
        padding: 22px 35px 22px 35px;
    }
    .tp-bullet {
        background: rgba(255,255,255,.3);
        border-radius: 50%;
        cursor: pointer;
        width: 10px;
        height: 10px;
    }
    .tp-bullets {
        z-index: 1000;
    }
}