.mod-custom-3 .sc_googlemap_content {
  background-color: #1a3150;
  height: 580px;
  right: 13%;
  width: 27%;
  bottom: 0;
  box-sizing: border-box;
  padding: 3.571em 3em;
  position: absolute;
  top: 0;
  z-index: 1;
  text-align: left;
}
.mod-custom-3 .sc_googlemap_content h2,
.mod-custom-3 .sc_googlemap_content .sc_item_descr {
  color: #ffffff;
}
.mod-custom-3 .sc_googlemap_content .sc_item_title {
  text-align: left;
}
.mod-custom-3 .sc_googlemap_content .sc_item_title .sc_googlemap_content h2 {
  font-size: 2.857em;
  margin-bottom: 0.325em;
}
.mod-custom-3 .sc_googlemap_content .sc_item_descr {
  font-size: 1em;
  text-transform: uppercase;
  font-style: normal;
  text-align: left;
  margin-bottom: 1.857em;
}
.mod-custom-3 .sc_googlemap_content .sc_form .sc_form_info .sc_form_item {
  width: 100%;
  margin-bottom: 0.714em;
}
.mod-custom-3 .sc_form .label_over label {
  display: none;
}
.mod-custom-3 .sc_form .sc_form_item input[type="text"],
.mod-custom-3 .sc_form .sc_form_item select,
.mod-custom-3 .sc_form .sc_form_item.sc_form_message textarea {
  padding: 1.1em;
}
.mod-custom-3 .sc_form .sc_form_field input {
  width: 100%;
  box-sizing: border-box;
}
.mod-custom-3 .sc_form .sc_form_message textarea {
  min-height: 8.8em;
  width: 100%;
}
.mod-custom-3 .sc_form .sc_form_item.sc_form_button button:hover {
  background-color: #7ca813;
}
.mod-custom-3 .sc_form .sc_form_item.sc_form_button button {
  background-color: #96bd42;
}
.mod-custom-3 .sc_form button:focus {
  border-color: #96bd42;
}
.mod-custom-3 button {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  font-size: 1em;
  padding: 1.2em 2.65em;
  color: #ffffff;
}
