.type-i-2-left-slideshow {
  background: #f3f3f4;
  font-family: "LMRoman10Regular";
}
.type-i-2-left-slideshow #pb-left-column {
  float: left;
  margin-top: 80px;
}
.type-i-2-left-slideshow #pb-left-column .blockproductscategory {
  width: 100%;
  overflow: hidden;
  margin: 40px 0;
}
.type-i-2-left-slideshow #pb-left-column .blockproductscategory .productscategory_h2 {
  color: #7B7975 !important;
  font-style: italic;
  font-size: 16px;
  padding: 0 10px 8px 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
}
.type-i-2-left-slideshow #pb-left-column .blockproductscategory #productscategory {
  overflow: auto;
  position: relative;
}
.type-i-2-left-slideshow #pb-left-column .blockproductscategory #productscategory #productscategory_slider {
  margin: 0 30px;
}
.type-i-2-left-slideshow #pb-left-column .blockproductscategory #productscategory #productscategory_slider img {
  border: 1px solid #e6e6e6;
  display: block;
  width: 100%;
  height: auto;
}
.type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .carousel-control {
  width: 4%;
  background-image: none;
  top: 50%;
  border: 1px solid #e6e5e5;
  box-shadow: 0 0 0 1px #e6e5e5, 0 0 0 2px #e6e5e5;
  width: 25px;
  height: 25px;
}
.type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .carousel-control:hover {
  background-color: #fe99a1;
  border: 1px solid #fe99a1;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #fe99a1;
  transition: all .2s ease-in-out;
}
.type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .cloneditem-1,
.type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .cloneditem-2,
.type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .cloneditem-3 {
  display: none;
}
@media (min-width: 768px) {
  .type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .carousel-inner > .active.left,
  .type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .carousel-inner > .prev {
    left: -50%;
  }
  .type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .carousel-inner > .active.right,
  .type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .carousel-inner > .next {
    left: 50%;
  }
  .type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .carousel-inner > .left,
  .type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .carousel-inner > .prev.right,
  .type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .carousel-inner > .active {
    left: 0;
  }
  .type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media (min-width: 768px) and (transform-3d),(min-width: 768px) and (-webkit-transform-3d) {
  .type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .carousel-inner > .item.active.right,
  .type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .carousel-inner > .item.next {
    transform: translate3d(50%,0,0);
    left: 0;
  }
  .type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .carousel-inner > .item.active.left,
  .type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .carousel-inner > .item.prev {
    transform: translate3d(-50%,0,0);
    left: 0;
  }
  .type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .carousel-inner > .item.left,
  .type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .carousel-inner > .item.prev.right,
  .type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .carousel-inner > .item.active {
    transform: translate3d(0,0,0);
    left: 0;
  }
}
@media (min-width: 992px) {
  .type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .carousel-inner > .active.left,
  .type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .carousel-inner > .prev {
    left: -33%;
  }
  .type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .carousel-inner > .active.right,
  .type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .carousel-inner > .next {
    left: 33%;
  }
  .type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .carousel-inner > .left,
  .type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .carousel-inner > .prev.right,
  .type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .carousel-inner > .active {
    left: 0;
  }
  .type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .carousel-inner .cloneditem-2,
  .type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .carousel-inner .cloneditem-3 {
    display: block;
  }
}
@media (min-width: 992px) and (transform-3d),(min-width: 992px) and (-webkit-transform-3d) {
  .type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .carousel-inner > .item.active.right,
  .type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .carousel-inner > .item.next {
    transform: translate3d(33%,0,0);
    left: 0;
  }
  .type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .carousel-inner > .item.active.left,
  .type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .carousel-inner > .item.prev {
    transform: translate3d(-33%,0,0);
    left: 0;
  }
  .type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .carousel-inner > .item.left,
  .type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .carousel-inner > .item.prev.right,
  .type-i-2-left-slideshow #pb-left-column .blockproductscategory .fdi-Carousel .carousel-inner > .item.active {
    transform: translate3d(0,0,0);
    left: 0;
  }
}
@media (min-width: 1200px) {
  .container {
    min-width: 1180px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  #pb-left-column {
    float: left;
    margin-top: 80px;
  }
}
@media (max-width: 767px) and (min-width: 540px) {
  #pb-left-column {
    width: 50%;
  }
}
