@widget_area_widget_title_h5_color:#1a3150;
@widget_area_inner_a_background: transparent;
@ui-widget-content_background: #cccccc;
@ui-widget-content_background-color: #602053;
@widget_area_inner_background-color: #f6f7f3;
@widget_area_inner_ul_li_a_hover_color: #96bd42;
@button_color: white;
@button_button_color: #ffffff;
@widget_area_inner_button_background-color: #7ca813;
@widget_area_inner_button_before_color :#fff;
@ui-slider-range_background-color:#a46497;
@span_onsale_background-color: #e13e30;
@button_1_hover_background-color: #021328;
@box-icon_background-color: #1ca9eb;
@social_facebook_background-color: #1b3353;
@breadcrumbs_span_color: #acb4b6;
.type-6{
 form, ul,aside, div{font-family: inherit;
        font-size: 100%;
        font-style: inherit;
        font-weight: inherit;
        line-height: inherit;
        border: 0;
        outline: 0;
        -webkit-font-smoothing: antialiased;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
    }
.page_content_wrap {
    padding: 2.1428em 0;
}
.sidebar_left .sidebar {
    float: left;
}
.body_filled .widget_area[class*="scheme_"]:not(.footer_wrap) .widget_area_inner {
    padding: 2.857em;
}

.content_wrap{
    
    margin: 0 auto;

}

.sidebar_left .sidebar {
    float: left;
}
.body_filled .widget_area[class*="scheme_"]:not(.footer_wrap) .widget_area_inner {
    padding: 2.857em;
}
.sidebar_inner {
    box-sizing: border-box;
}
aside{
display: block;    
}
.widget_area .widget_title {
    margin-top: 0;
    margin-bottom: 1.55em;
    text-transform: uppercase;
}
h5{
        color: @widget_area_widget_title_h5_color;
        font-family: 'Montserrat';
    font-weight: 700;
    line-height: 125%;
    margin: 0;
}
.widget_area ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}
ul{
    margin: 0;
}
.widget_area ul li {
    position: relative;
    margin-bottom: 0;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
}
.widget_area_inner ul li:before {
    font-size: 1.5em;
}
.widget_area ul li:before {
    content: '\e83c';
    font-family: 'fontello';
    position: absolute;
    left: 1px;
    top: 0;
}
.widget_area_inner .widget_product_search .search_field{
    padding-right: 30px;
    padding-left: 20px;
    background: none;
    border: none;
    width: 100%;
    height: 3.571em;
    line-height: 2.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
}
.sidebar_inner a.padd
{ 
    line-height: 160%;
	margin-left: 15px;
}
.widget_area_inner ul li a {
    line-height: 160%;
}
a{
    outline: 0;
    text-decoration: none;
    background: @widget_area_inner_a_background;

}
.sidebar aside+aside {
    margin-top: 2.857em;
    padding-top: 2.857em;
}
aside{
    display: block;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    margin-bottom: 1.225em;
    background: @ui-widget-content_background;
    height: 5px;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    border-radius: 1em;
    background-color: @ui-widget-content_background-color;
    border: 0;
}
.woocommerce .widget_price_filter .ui-slider {
    position: relative;
    text-align: left;
    margin-left: .5em;
    margin-right: .5em;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range
{
        background-color: @widget_area_widget_title_h5_color;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    border-radius: 1em;
}
.widget_area ul li:before {
    content: '\e83c';
    font-family: 'fontello';
    position: absolute;
    left: 1px;
    top: 0;
}
a{
        transition: all 0.3s ease 0s;
}
.body_filled .widget_area[class*="scheme_"]:not(.footer_wrap) .widget_area_inner {
    padding: 2.857em;
}
.widget_area_inner {
    background-color: @widget_area_inner_background-color;
}

.widget_area_inner .widget_product_search .search_button, .widget_area_inner .widget_search .search_button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    line-height: 3.571em;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.widget_area .widget_product_search .search_button, .widget_area .widget_search .search_button {
    text-align: center;
    border: none;
    background: none;
}
.widget_area_inner .widget_product_search .search_button:before, .widget_area_inner .widget_search .search_button:before {
    width: 3.571em;
    height: 3.571em;
    font-size: 1em;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    line-height: inherit;
    font-weight: inherit;
    font-size: inherit;
    width: auto;
    margin: 0;
}
.widget_area .widget_product_search .search_form{
    position: relative;
    overflow: hidden;
}
input[type="text"]{
    outline: none;
    resize: none;
    padding: 0.45em 0.5em;
    border-radius: 0;
    
    transition: all ease .3s;
}
.widget_area .widget_product_tag_cloud a, .widget_area .widget_tag_cloud a {
    display: block;
    float: left;
    padding: 1.167em;
    margin: 0 4px 4px 0;
    font-size: 0.857em !important;
    border: 2px solid #e3e4e3;
    text-transform: uppercase;
    line-height: 1em;
}
.woocommerce .sidebar aside + aside {
    border-top: 1px solid #e1e2e0;
}
.widget_area_inner ul li {
    border-color:@widget_area_inner_a_background;
}
.widget_area_inner ul li:before, .widget_area_inner ul li a:hover {
    color: @widget_area_inner_ul_li_a_hover_color;
}
.widget_area_inner a, .widget_area_inner ul li a {
    color: @widget_area_widget_title_h5_color;
}
button {
    background-color: @widget_area_inner_ul_li_a_hover_color;
    color: @button_color;
}
.woocommerce button.button,.woocommerce-page button.button{
    
    color: @button_button_color;
    background-color: @widget_area_inner_ul_li_a_hover_color;
}
.widget_area_inner button:hover:before {
    background-color: @widget_area_inner_button_background-color;
}
.widget_area_inner button:before {
    color: @widget_area_inner_button_before_color;
    background-color: @widget_area_inner_ul_li_a_hover_color;
}
.widget_area_inner .widget_product_tag_cloud a:hover{
    
    color: @widget_area_inner_button_before_color;
    border-color: @widget_area_inner_ul_li_a_hover_color;
    background-color: @widget_area_inner_ul_li_a_hover_color;
}

}

.list-content
{
    h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	    color: @widget_area_widget_title_h5_color;
	}
	ul{
		margin:0;
		padding:0;
	}
	h1, h2, h3, h4, h5, h6, p, ul, ol, dl, blockquote, address {
	    margin: 0;
	}
	h5 {
	    font-size: 1.214em;
	    font-weight: 700;
	    line-height: 125%;
	    margin-top: 1.2em;
	    margin-bottom: 0.5em;
	}
	a:hover, .scheme_dark a:hover, .scheme_light a:hover {
	    color: @widget_area_inner_button_background-color;
	    transition: all 0.3s ease 0s;
	}
	.text_uppercase{
		text-transform: uppercase;
	}
	a{
		color: @widget_area_inner_ul_li_a_hover_color;
		text-decoration:none;
	}
	img {
	    max-width: 100%;
	    height: auto;
	    vertical-align: top;
	}
	.wrapper{
	    padding-left: 80px;
    	padding-right: 80px;
    }
	.row {
	    margin-left: -15px;
	    margin-right: -15px;
	}
	.margin_left_small-{
		margin-left: -20px!important;
	}
	img {
	    max-width: 100%;
	    vertical-align: top;
	}
	.column-1_3, .column-2_6, .column-3_9, .column-4_12 {
	    width: 33.33333333%;
	    float:left;
	}
	.column-2_3, .column-4_6, .column-8_12 {
	    width: 66.66666667%;
	    float:left;
	}
	.right{
		overflow:hidden;
		box-sizing:border-box;
		width:70%;
		float:right;
		padding-left:20px;
	}
	.left{
		width:30%;
		float:left;
	}
	.top_inner{
		padding-top:2em;
		padding-bottom: 5em;
	}
	@media (max-width: 1439px) and (min-width: 1135px){
		.container {
			max-width: 1050px;
		}
		.wrapper {
			padding-left:0px;
			padding-right:0px;
		}
		.right{
			width:70%!important;
			float:right;
			padding-left: 0px!important;
		}
		.left{
			width:30%;
			float:left;
		}
	}
	@media (max-width: 1135px) and (min-width: 960px){
		.container{
			max-width: 964px!important;
		}
		.wrapper {
			padding-left:30px;
			padding-right:30px;
		}
		.right{
			width:70%!important;
			float:right;
			padding-left: 0px!important;
		}
		.left{
			width:30%;
			float:left;
		}
	}
	@media (max-width: 960px) and (min-width: 480px){
		.container {
		    max-width: 708px;
		}
		.wrapper{
		    padding-left: 30px!important;
	    	padding-right: 30px!important;
	    }
		.right{
			width:100%!important;
			float:none!important;
			padding-left: 0px!important;
		}
		.left{
			width:100%;
			float:none!important;
		}
	}
	@media (max-width: 479px){
		.container {
	    	width: 280px;
		}
		.wrapper {
		    padding-left: 0px;
		    padding-right: 0px;
		}
		.right{
			width:100%!important;
			float:none!important;
			padding-left: 0px!important;
		}
	}	
/* ------------------------ type-31 -----------------------*/
	.type-31{
		/*---------breadcrumbs-----------------------*/
		.top_panel_title_inner{
			background-color: @widget_area_inner_background-color;
		}
		.top_panel_title_inner{
			.breadcrumbs {
				max-width: 49%;
			}
			.breadcrumbs {
				padding: 4.231em 0 1em 2.5em;
			}
			.breadcrumbs {
				float: right;
				font-size: 0.929em;
				line-height: 1.5em;
			}
			.breadcrumbs a.breadcrumbs_item {
				color: @widget_area_widget_title_h5_color;
			}
			.breadcrumbs a.breadcrumbs_item:hover {
				color: @widget_area_inner_ul_li_a_hover_color;
			}
			.breadcrumbs .breadcrumbs_item, .breadcrumbs span {
				display: inline-block;
				vertical-align: top;
				white-space: nowrap;
				color: @breadcrumbs_span_color;
			}
			.breadcrumbs .breadcrumbs_delimiter:before {
				content: '/';
			}
			.title-1{
				max-width: 49%;
				color: #182e4b;
			}
			.title-1 h1{
				float: left;
				margin: 0;
				font-weight: 600;
				font-size: 1.643em;
				padding: 2.261em 0;
				line-height: 1.2em;
			}
		}
		/*--------------------------module-1--------------------*/
		.module-1{
			.sc_title{
				text-align: center;
				color: @widget_area_widget_title_h5_color;
				font-weight:600;
				font-size: 3.214em;
			}
			.sc_title_underline::after {
				border-top-color: @widget_area_inner_ul_li_a_hover_color;
			}
			.wpb_wrapper{
				padding-bottom: 20px;
			}
		}
		/*--------------------------module-2-----------------*/
		.module-2{
			.shop_banner{
				background-image: url(../images/shop_bg1.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				padding: 1em 1.5em;
			}
			.vc_column_container>.vc_column-inner {
				box-sizing: border-box;
				width: 100%;
			}
			.sc_align_center{
				line-height: 100%;
				text-align: center;
				color: @button_button_color;
				font-weight:900;
				font-size: 2.5em;
			}
			.sc_title {
				overflow: hidden;
				position: relative;
				padding-bottom: 2px;
			}
			.margin_bottom_tiny {
				margin-bottom: 10px!important;
			}
			.margin_top_medium {
				margin-top: 40px!important;
			}
			.sc_align_center{
				clear: both;
				display: inline-block;
				float: left;
				margin-left: 2em;
				margin-top: 1em;
				margin-bottom: 1em;
			}
			.custom_line_height1{
				text-align:center;
				font-size: 0.85em;
				line-height: 140%;
				margin-left: 4em;
				color: @button_button_color;
				float:left;
			}
			.aligncenter {
				clear: both;	
				display: block!important;
				margin-left: 7em;
				margin-right: 26em;
				margin-top: 1em;
				margin-bottom: 1em;
				text-align: center;
			}
			.sc_button.sc_button_style_filled .default-state{
				background-color: @widget_area_inner_ul_li_a_hover_color;
				color: @button_button_color;
			}
			.sc_button.sc_button_style_filled .active-state {
				background-color: @widget_area_inner_button_background-color;
				color: @button_button_color;
			}
		}
	/*--------------------------------module-3------------------*/	
		.module-3{
			padding:3em 0;
		}
		.module-3{
			.mode_buttons{
				float: right;
				margin-top: 0;
				vertical-align: top;
			}
			.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
				color: @widget_area_inner_button_background-color;
				background-color: @widget_area_inner_button_before_color;
			}
			.nav > li > a {
				font-size: 1.125em;
				padding: 10px 0px;
			}
			.woocommerce-result-count{
				color: #aab2bd;
				float: right;
				font-size: 1.1em;
				margin: 0.7em 1em 0 0;
			}
			form.odering{
				overflow: hidden;
				position: relative;
				float: left;
				margin-bottom: 2.143em;
			}
			.orderby{
				color: #aab2bd;
				width: 19.3em;
				padding-right: 2em;
				font-weight: 400;
				line-height: 1.3em;
				padding: 1em;
			}
			select {
				border: 2px solid transparent;
				transition: all ease .3s;
			}
			select:focus{
				border-color: @widget_area_inner_ul_li_a_hover_color;
			}
			/*---------------------product-1-------------------*/
			ul.products{
				margin-right: -30px;
				margin-bottom: 20px;
				border-top: 1px solid #d8e3e5;
			}
			.products:before {
				display: block;
				content: "";
				margin-bottom: 2.857em;
			}
			li.product.column-1_3 {
				width: 33.3333%;
				float:left;
			}
			li.product.column-2_3 {
				width: 100%;
				float:left;
			}
			li.product {
				box-sizing: border-box;
				margin: 0;
				padding: 0 30px 30px 0;
				position: relative;
				line-height:21px;
				list-style: none;
			}
			.post_featured {
				margin-bottom: 0;
			}
			.hover_icon {
				position: relative;
				display: block;
			}
			.hover_icon:hover:before {
				opacity: 1;
				margin-top: 0;
			}
			.hover_icon_link:before {
				content: '\e807';
			}
			.hover_icon:before {
				font-family: 'fontello';
				font-size: 1.2em;
				color: @button_button_color;
				background-color: @widget_area_inner_ul_li_a_hover_color;
				cursor: pointer;
				position: absolute;
				left: 50%;
				top: 50%;
				padding: 12px 20px;
				transform: translateX(-50%) translateY(-50%);
				opacity: 0;
				margin-top: 100px;
				z-index: 10;
				transition: all ease .3s;
			}
			span.onsale {
				color: @button_button_color;
				background-color: @span_onsale_background-color;
				min-width: 3.236em;
				padding: .202em;
				position: absolute;
				z-index: 1;
				width: 5em;
				height: 3.2em;
				min-height: 2.7em;
				overflow: hidden;
				font-weight: bold;
				text-align: center;
				font-size: 0.714em;
				line-height: 2.7em;
				left: 0;
				top: 0;
				margin: 1em 0 0 1em;
			}
			li.product:hover .post_content {
				border-bottom-color: @widget_area_inner_ul_li_a_hover_color;
			}
			.post_content {
				padding-left: 2.3em;
				padding-right: 2.3em;
			}		
			.post_content {
				background-color: @widget_area_inner_background-color;
				padding: 2.5em;
				height:250px;
				border-bottom: 3px solid transparent;
				text-align: left;
			}
			li.product h3 {
				font-size: 1em;
				font-weight: 400;
				line-height: 1.4em;
				margin-top: 0;
				padding: 0;
			}
			.star-rating {
				font-size: 0.643em;
			}
			.price {
				color: @widget_area_inner_ul_li_a_hover_color;
				font-size: 1.143em;
				font-weight: 600;
				margin-bottom: 1.5em;
			}
			.star-rating:before {
				content: "\e814\e814\e814\e814\e814";
				font-family: "fontello";
				font-size: 1em;
				color: @widget_area_inner_ul_li_a_hover_color;
				letter-spacing: 4px;
			}
			del{
				color:#aab2bd;
			}
			.as{
				margin-top:40px;
			}
			.button{
				background-color: @widget_area_widget_title_h5_color;
				color: @button_button_color;
				text-align: center;
				padding: 1.286em 1.800em;
				font-size: 1em;
				line-height: 1.3em;
				font-weight: 700;
				margin: 0;
				border: none;
				border-radius: 0;
			}
			.button:hover {
				background-color: @button_1_hover_background-color;
			}
	/*---------------------------product-2---------------------*/
			ul.products-1{
				margin-right: -30px;
				margin-bottom: 20px;
				border-top: 1px solid #d8e3e5;
			}
			.products-1:before {
				display: block;
				content: "";
				margin-bottom: 2.857em;
			}
			li.product-1 {
				box-sizing: border-box;
				margin: 0;
				padding: 0 30px 30px 0;
				position: relative;
				line-height:21px;
				list-style: none;
			}
			.post_featured-1 {
				float: left;
				margin: 0 1.5em 0 0;
				width: 56%;
				border-bottom: none;
			}
			.hover_icon {
				position: relative;
				display: block;
			}
			.hover_icon:hover:before {
				opacity: 1;
				margin-top: 0;
			}
			.hover_icon_link:before {
				content: '\e807';
			}
			.hover_icon:before {
				font-family: 'fontello';
				font-size: 1.2em;
				color: @button_button_color;
				background-color: @widget_area_inner_ul_li_a_hover_color;
				cursor: pointer;
				position: absolute;
				left: 50%;
				top: 50%;
				padding: 12px 20px;
				transform: translateX(-50%) translateY(-50%);
				opacity: 0;
				margin-top: 100px;
				z-index: 10;
				transition: all ease .3s;
			}
			li.product-1:hover .post_content-1 {
				border-bottom-color: @widget_area_inner_ul_li_a_hover_color;
			}
			.post_content-1 {
				padding: 2.857em;
				border-bottom: 3px solid transparent;
				text-align: left;
				background-color: @widget_area_inner_background-color;
				width:670px;
			}		
			li.product-1 h3 {
				margin-top: 0;
				margin-bottom: 0.5em;
				border-bottom: none;
				font-size: 1em;
				font-weight: 400;
				line-height: 1.4em;
				padding:0;
			}
			.star-rating-1 {
				font-size: 0.643em;
			}
			.price-1 {
				color: @widget_area_inner_ul_li_a_hover_color;
				font-size: 1.625em;;
				font-weight: 600;
				margin-bottom: 1.5em;
			}
			.star-rating-1:before {
				content: "\e814\e814\e814\e814\e814";
				font-family: "fontello";
				font-size: 1em;
				color: @widget_area_inner_ul_li_a_hover_color;
				letter-spacing: 4px;
			}
			.description {
				margin-bottom: 1.5em;
				line-height: 1.3em;
				overflow: hidden;
				max-height: 6.6em;
			}
			.product-1 del{
				color:#aab2bd;
				margin-left: 17%;
			}
			.as-1{
				margin-top:40px;
			}
			.button-1{
				background-color: @widget_area_widget_title_h5_color;
				color: @button_button_color;
				text-align: center;
				padding: 1.286em 1.800em;
				font-size: 1em;
				line-height: 1.3em;
				font-weight: 700;
				margin: 0;
				border: none;
				margin-left: 37%;
				border-radius: 0;
			}
			.button-1:hover {
				background-color: @button_1_hover_background-color;
			}
		}
		/*-------------module-4-------------------*/
		.module-4{

			.pagination_wrap {
				text-align: center;
				position: relative;
				margin-bottom: 3.214em;
			}
			.pagination_pages>.active, .pagination_pages>a:hover{
				background-color: @widget_area_inner_ul_li_a_hover_color;
				color:@widget_area_inner_button_before_color;
				transition: all 0.3s ease 0s;
			}
			.pagination_pages>span {
				display: inline-block;
				margin: 0 5px 5px 0;
				text-align: center;
				padding: 1.1em 1.286em;
				font-size: 1em;
				line-height: 1em;
			}
			.pagination_pages>a, .pagination_pages>span {
				color: #707276;
				background-color: @widget_area_inner_background-color;
				border-color: @widget_area_inner_background-color;
				display: inline-block;
				margin: 0 0px 5px 0;
				text-align: center;
				padding: 1.1em 1.3em;
				font-size: 1em;
				line-height: 1em;
			}
			.pagination_wrap .pager_next:hover, .pagination_wrap .pager_prev:hover, .pagination_wrap .pager_last:hover, .pagination_wrap .pager_first:hover {
				color: @widget_area_inner_button_background-color;
			}
			.pagination_wrap .pager_next, .pagination_wrap .pager_prev, .pagination_wrap .pager_last, .pagination_wrap .pager_first {
				border: none!important;
				margin-left: 0.6em;
				background-color: transparent!important;
			}
			.pagination_wrap .pager_next:before {
				font-family: fontello;
				content: '\e836';
				margin-right: 0;
			}
			.pagination_wrap .pager_last:before {
				font-family: fontello;
				content: '\e836\e836';
				margin-right: 0;
				letter-spacing: -7px;
			}

		}
	/*-------------------------- mobile--------------------------*/
		@media (max-width: 1135px) and (min-width: 960px){
			.container{
				max-width: 964px!important;
			}
			.wrapper {
				padding-left:0px;
				padding-right:0px;
			}
			/*--------module-2--------------*/
			.aligncenter {
				margin-right: 16em!important;
				margin-left: 7em!important;
			}
		}
		@media (max-width: 959px) and (min-width: 768px){
			.container {
				max-width: 708px;
			}
			.wrapper {
				padding-left:0px;
				padding-right:0px;
			}
			/*--------module-2--------------*/
			.aligncenter {
				margin-right: 21em!important;
				margin-left: 7em!important;
			}
		}
		@media (max-width: 767px) and (min-width: 640px){
			.wrapper {
				padding-left:0px;
				padding-right:0px;
			}
			.container{
				max-width: 600px;
			}
			/*--------module-2--------------*/
			.aligncenter {
				margin-right: 17em!important;
				margin-left: 7em!important;
			}
			/*----------------module-3------------------*/
			li.product.column-1_3 {
				width:50%!important;
				float:left!important;
			}
		}
		@media (max-width: 639px) and (min-width: 480px){
			.container {
				max-width: 440px;
			}
			.wrapper {
				padding-left:0px;
				padding-right:0px;
			}
			/*---------breadcrumbs-----*/
			.title-1{
				max-width: 100%!important;
				color: #182e4b;
			}
			.title-1{
				max-width: 100%!important;
				color: #182e4b;
			}
			.top_panel_title_inner .title-1 h1 {
				float: none!important;
				text-align: center;
				margin: 0 auto;
				padding: 1.261em 9.5em;
			}
			.top_panel_title_inner .breadcrumbs {
				float: none!important;
				max-width: 100%!important;
				text-align: center;
				padding: 0.231em 0 1em 2.5em;
			}
			/*--------module-2--------------*/
			.aligncenter {
				margin-right: 6em!important;
				margin-left: 8em!important;
			}
			.sc_button {
				font-size:13px!important;
			} 
			/*---------------------module-3-------------------*/
			.woocommerce-result-count {
				font-size:1em!important;
			}
			li.product.column-1_3 {
				width:50%!important;
				float:left!important;
			}
			.post_content-1 {
				font-size:15px!important;
			}
			.product-1 del {
				margin-left:10%!important;
			}
			span.onsale {
				width:4em!important;
				height:2.7em!important;
			}
			li.product-1 h3, li.product-1 p{
				margin-right: 12em;
			}
			.button-1 {
				margin-left:0%!important;
			}
		}
		@media (max-width: 479px){
			.container {
				width: 280px;
			}
			.wrapper {
				padding-left:10px;
				padding-right:10px;
			}
			/*---------breadcrumbs-----*/
			.title-1{
				max-width: 100%!important;
				color: #182e4b;
			}
			.top_panel_title_inner .title-1 h1 {
				float: none!important;
				text-align: center;
				margin: 0 auto;
				padding: 1.261em 5.5em;
			}
			.top_panel_title_inner .breadcrumbs {
				float: none!important;
				max-width: 100%!important;
				text-align: center;
				padding: 0.231em 0 1em 2.5em;
			}
			/*--------module-2--------------*/
			.aligncenter {
				margin-right: 0em!important;
				margin-left: 0em!important;
			}
			.sc_button {
				font-size:13px!important;
			}
			.sc_align_center, .custom_line_height1 {
				margin-left:0!important;
			}
			/*---------------------module-3-------------------*/
			.module-3{
				.wrapper {
					padding-left:0px!important;
					padding-right:0px!important;
				}
				.orderby {
					width:100%!important;
				}
				.woocommerce-result-count {
					font-size:1em!important;
				}
				li.product.column-1_3 {
					width:100%!important;
					float:none!important;
				}
				.post_content-1 {
					font-size:12px!important;
				}
				.product-1 del {
					margin-left:10%!important;
				}
				span.onsale {
					width:4em!important;
					height:2.7em!important;
				}
				li.product-1 h3, li.product-1 p{
					margin-right: 35em;
				}
				.button-1 {
					margin-left:0%!important;
				}
			}	
		}
	}	
	/*--------------------------type-37-----------------*/
	.type-37{
		.wrapper{
		width:auto;
		font-size: 14px;
		font-weight: 400;
		line-height: 2.000em;
		}
		.category{
		width:300px;
		float:left;
		color:#707276;
		box-sizing: border-box;
		}
		.category-content{
		padding:2.857em;
		background-color:@widget_area_inner_background-color;
		box-sizing:border-box;
		}
		.content{
		border-bottom: 1px solid #e1e2e0;
		padding-bottom: 40px;
		}
		.content h5{
		font-size:1.214em;
		margin-bottom: 1.55em;
		text-tranform: uppercase;
		font-weight:700;
		line-height:125%;
		color:@widget_area_widget_title_h5_color;
		}
		.content ul{
		margin-bottom:0;
		padding-left:0;
		}
		.content ul li{
		border-color: @widget_area_inner_a_background;
		position: relative;
		padding-left: 0;
		color:@widget_area_inner_ul_li_a_hover_color;
		margin-left:20px;
		margin-bottom: 0;
		border-bottom-width: 1px;
		border-bottom-style: dotted;
		}

		.content ul li a{
		color: @widget_area_widget_title_h5_color;
		line-height: 160%;
		transition: all 0.3s ease 0s;
		text-decoration: none;
		background: @widget_area_inner_a_background;
		}
		.content ul li a:hover{
		color:@widget_area_inner_ul_li_a_hover_color;
		}

		/* START FILTER*/
		form {
		display: block;
		margin-top: 0em;
		}
		aside{
		padding-top: 2.857em;
		}
		.widget_title{
		margin-top: 0;
		text-transform: uppercase;
		font-size: 1.214em;
		font-weight:700;
		line-height:125%;
		color:@widget_area_widget_title_h5_color;
		margin:0;
		}
		.woocommerce .price_slider_wrapper {
		margin-top: 2.857em;
		}
		.price_slider_wrapper .ui-widget-content {
		margin-bottom: 1.225em;
		background: @ui-widget-content_background;
		height: 5px;
		}
		.price_slider_wrapper .ui-widget-content {
		border-radius: 1em;
		background-color: @widget_area_widget_title_h5_color;
		border: 0;
		}
		.widget_price_filter .ui-slider {
		position: relative;
		text-align: left;
		margin-left: .5em;
		margin-right: .5em;
		}
		.ui-slider .ui-slider-range {
		position: absolute;
		z-index: 1;
		font-size: .7em;
		display: block;
		border: 0;
		border-radius: 1em;
		background-color: @ui-slider-range_background-color;
		}

		.widget_price_filter .ui-slider .ui-slider-handle {
		position: absolute;
		z-index: 2;
		width: 1em;
		height: 1em;
		background-color: @widget_area_widget_title_h5_color;
		border-radius: 1em;
		cursor: ew-resize;
		outline: 0;
		top: -.3em;
		margin-left: -.5em;
		}

		.woocommerce button.button{
		background-color: @widget_area_inner_ul_li_a_hover_color;
		color:@widget_area_inner_button_before_color;
		text-align: center;
		padding: 1.286em 2.500em;
		line-height: 1.3em;
		font-weight: 700;
		margin: 0;
		border: none;
		border-radius: 0;
		}
		.price_label {
		font-size: 14px;
		color:#aab2bd;
		span{
		font-size: 14px;
		color:#aab2bd;
		}
		}
		.woocommerce button.button:hover{
		background-color: @widget_area_inner_button_background-color;
		}
		/* END FILTER*/

		/*START SEARCH*/
		.category-search{
		  margin-top:40px;
		  padding-top:40px;
		  padding-bottom:40px;
		  border-top:1px solid #e1e2e0;
		  border-bottom:1px solid #e1e2e0;
		}
		form{
		display:block;
		margin-top:0;
		}
		.category-search .search_form{
		background-color:@widget_area_inner_button_before_color;
		color: #aab2bd;
		position:relative;
		overflow: hidden;
		}
		.category-search .search_field{
		padding-right: 30px;
		padding-left: 20px;
		background: none;
		border: none;
		width: 100%;
		height: 3.571em;
		line-height: 2.5em;
		box-sizing: border-box;
		vertical-align: middle;
		}
		input[type="text"]{
		  color:#707276;
		  outline: none;
		    resize: none;
		    padding: 0.45em 0.5em;
		    border-radius:0;
		    transition: all ease .3s;
		}
		input{
		  font-size:1em;
		  margin:0;
		}

		.category-search .search_button{
		  position: absolute;
		    right: 0;
		    top: 0;
		    padding: 0;
		    line-height: 0.571em;
		    box-shadow:none;
		        text-align: center;
		    border: none;
		    background: none;
		    color:@widget_area_inner_button_before_color;
		    background-color: @widget_area_inner_ul_li_a_hover_color;
		}
		button{
		  cursor: pointer;
		  transition: all 0.3s ease 0s;

		}
		.category-search .icon-search::before {
		    content: '\e8fa';
		    width: 3.571em;
		    height: 3.571em;
		    padding-top:20px;
		    font-size: 1em;
		    
		}
		.category-search .icon-search:hover{
		  background-color: @widget_area_inner_button_background-color;
		}
		.category-search .icon-search:hover{
		  background-color: @widget_area_inner_button_background-color;
		}
		/*END SEARCH*/
		/*--------------------------------footer---------*/
		.col-xs{
			width:25%;
			float:left;
		}
		a{
			text-decoration: none;
		}
		/*@color-text{
		color:#96bd42;
		}
		@color1{color:#1a3150;}*/
		.widget{
			background-color: @widget_area_inner_background-color;
		}
		/*START FOOTER */
		.widget{
			background-color: @widget_area_inner_background-color;
		}
		.footer-wrap{
			padding: 5.714em 0 4.286em;
		}
		.logo img{
			width: 90%;
			margin: 0 0 1.2em 0;
		}
		.description{
			font-size: 17px;
			color: #707276;
			line-height: 35px;
		}
		.footer-wrapper .title{
			font-weight: 700;
			line-height: 25px;
			text-transform: none;
			margin-top: 0;
			margin-bottom: 1.55em;
			font-size: 1.4em;
			color: @widget_area_widget_title_h5_color;
		}
		.footer-wrapper ul{
			list-style: none;
			margin-bottom: 0;
			padding-left: 0;

		}
		.footer-wrapper ul li{
			border-bottom-color: #e0e1dd;
			padding: 1em 0;
			margin-top: -18px;
			margin-bottom: 12px;
		}
		.footer-wrapper ul li a{
			text-decoration: none;
			line-height: 34px;
			color: @widget_area_widget_title_h5_color;
			font-size: 17px;
		}
		.footer-wrapper ul li a:hover{
			color: @widget_area_inner_ul_li_a_hover_color;
		}


		.list.list-social {
			overflow: hidden;
			margin-top: 20px;
		}
		.list.list-social li {
			float: left;
		}
		.list.list-social li .box-icon {

			width: 44px;
			height: 48px;
			line-height: 35px;
			font-size: 16px;
			text-align: center;
			color: @widget_area_inner_button_before_color;
			padding-top: 10px;
			background-color: @box-icon_background-color;

		}
		.list.list-social li .box-icon1{

			width: 44px;
			height: 48px;
			line-height: 35px;
			font-size: 16px;
			text-align: center;
			color: @widget_area_inner_button_before_color;
			padding-top: 10px;
			background-color: @widget_area_widget_title_h5_color;

		}
		.list.list-social li .box-icon2{

			width: 44px;
			height: 48px;
			line-height: 35px;
			font-size: 16px;
			text-align: center;
			color: @widget_area_inner_button_before_color;
			padding-top: 10px;
			background-color: @span_onsale_background-color;

		}

		.list.list-social li .box-icon2:hover {
			text-decoration: none;
			color: @widget_area_inner_button_before_color;
			background: #cb281e;
		}
		.list.list-social li .box-icon1:hover {
			text-decoration: none;
			color: @widget_area_inner_button_before_color;
			background: @button_1_hover_background-color;
		}
		.list.list-social li .box-icon:hover {
			text-decoration: none;
			color: @widget_area_inner_button_before_color;
			background: #1a98d3;
		}
		.list.list-social li:last-child {
			margin-right: 0;
		}
		.list {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		.widget-text strong{
			color: @widget_area_widget_title_h5_color;
			font-weight: bold;
			margin-top: 1.5em;
		}
		.widget-text p{
			font-size: 15.5px;
			color: #707276;
			line-height: 1.5em; 
		}
		.post-item-thumb{
			overflow: hidden;
			margin-bottom: 30px;
		}
		.post-thumb-1 img{
			width: 75px;
			height: 75px;
		}
		.post-content-1{
			overflow: hidden;
			margin-left: 90px;
			margin-top: -80px;
		}
		.post-title .title a{
			color: @widget_area_widget_title_h5_color;
			font-weight: 1.5em;
			font-size: 17px;
		}
		.post-title a:hover{
			color: @widget_area_inner_ul_li_a_hover_color;
		}
		.post-info a{
			color: @widget_area_inner_ul_li_a_hover_color;
		}
		/*START-FOOTER-COPYRIGHT*/
		.footer-wrap-inner{
			background-color: @widget_area_widget_title_h5_color;
			padding: 2.5em 0 2em;
			overflow: hidden;
			text-align: center;
		}
		.copyright-text{
			color: #aab2bd;
			font-size: 16px;
		}
		.footer-wrap-inner .copyright-text a{
			color: @widget_area_inner_button_before_color;
		}
		.footer-wrap-inner .copyright-text a:hover{
			color: @widget_area_inner_ul_li_a_hover_color;
		}
		/*END*/
		@media (max-width: 767px) and (min-width: 480px){
			.col-xs{
				width:50%!important;
				float:left!important;
			}
			.col{
				margin-bottom:20px;
			}
			.default-state, .active-state {
				margin-left: 100px;
				margin-right: 100px;
			}
			.footer-wrapper ul li a{
				font-size:12px!important;
			}
			.description{
				font-size:10px!important;
			}
			.widget-text p {
				font-size: 12px;
			}
			.post-content {
				font-size:8px!important;
			}
		}	    
		@media (max-width: 479px){
			.container {
				max-width:280px;
			}
			.col{
				margin-bottom:20px;
			}
			.col-xs{
				width:100%!important;
				float:none!important;
			}
			.footer-wrapper ul li a{
				font-size:12px!important;
			}
			.description{
				font-size:13px!important;
			}
			.widget-text p {
				font-size: 12px;
			}
			.post-content {
				font-size:8px!important;
			}
		}
		@media (max-width: 959px) and (min-width: 768px){
			.footer-wrapper ul li a{
				font-size:14px!important;
			}
			.description{
				font-size:13px!important;
				padding-top: 10px;
			}
			.widget-text p {
				font-size: 12px;
			}
			.post-content{
				font-size:10px!important;
				margin-left: 0px!important;
				margin-top: 0px!important;
			}
		}
	}

/*--------------------------type-21-------------------*/
	.type-21{
		@background:#262626;
		@background1:#82b440;
		@backfround2:#7aa93c; 
		@px:18px;
		@color:@widget_area_inner_button_before_color;
		@radius:4px;
		body {

			font-family: Open Sans;
			font-size: 14px;
			font-weight: 400;
			line-height: 2.000em;
			color: #707276;
			margin: 0;
			padding: 0;
			width: 100%;
			line-height: 150%;
		}
		ul{
			list-style-type:none;
		}
			  




		.top_panel_top {
			color: #d0d6de;
			background-color: @widget_area_widget_title_h5_color;

			margin-top: 0;
			a {
				color: #d0d6de;
			}
		}
		.wapper{
			margin: 0 auto;
			height: 46px;
			background: @widget_area_widget_title_h5_color;

		}   
		.wapper1{
			background-color: @widget_area_widget_title_h5_color;
			height: 46px;

		}
		.top_panel_top_contact_area {
			float: left;
			margin-top: 0.75em;
			font-size: 0.929em;
			padding-left: 3px;
		}
		[class^="icon-"]:before, [class*=" icon-"]:before {
			line-height: inherit;
			font-weight: inherit;
			font-size: inherit;
			width: auto;
			margin: 0;
			margin-right: 0.5em;
			color: @widget_area_inner_ul_li_a_hover_color;
		}
		.top_panel_top_open_hours {
			float: left;
			margin-top: 0.75em;
			margin-left: 3em;
			font-size: 0.929em;
		}

		.top_panel_top_user_area {
			float:right;
			margin-left: 10px;
		   
			padding-right: -9px;

		}
		.fa-mobile{
			color: @widget_area_inner_ul_li_a_hover_color;
			
		}
		.fa-envelope-o{
			color: @widget_area_inner_ul_li_a_hover_color;
		}
		.fa-shopping-cart{
			color: @widget_area_inner_ul_li_a_hover_color;
		}

		.menu_user_nav {
			float: left;
		}
		.top_panel_wrap ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
		.top_panel_top_search {
			padding-top: 0.2em;
			margin-right: 2em;
			margin: 0.5em 0 0 0;
		}
		.top_panel_wrap li {
			margin-bottom: 0;
			position: relative;
		}
		.menu_user_nav > li:first-child {
			margin-left: 0;
		}
		.menu_user_nav > li {
			z-index: 30;
		}
		.search_wrap {
			position: relative;
			max-width: 12em;
			min-width: 2.2857em;
		}
		.search_wrap form {
			width: 100%;
			padding-left: 2.2em;
			position: relative;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		.top_panel_top_search .search_submit {
			top: 2px;
		}
		.search_wrap .search_submit {
			position: absolute;
			right: 0;
			top: 1px;
			width: 2em;
			padding: 0;
			margin: 0;
			text-align: right;
			font-weight: normal;
		}
		.search_wrap .search_submit {
			background-color:@widget_area_inner_a_background;
			border: none;
		}
		.search_wrap .search_submit:hover {
			background-color:@widget_area_inner_a_background;
			border: none;
		}
		.button{
			line-height: 1.3em;
			color: @button_button_color;
			font-size: 1em;
			display: inline-block;
			overflow: visible;
			font-family: inherit;
			vertical-align: baseline;
		}
		.icon-magnifier:before {
			content: '\e8fa';
		}
		.top_panel_top .search_wrap .search_field {
			background-color:@widget_area_inner_a_background;
		}

		.top_panel_top .search_wrap .search_field:focus {
			background-color: #091a32;
			color:@widget_area_inner_button_before_color;
		}

		.content .search_field {
			color: #aab2bd;
		}
		.content .search_submit {
			color: @button_button_color;
		}
		.content .search_field:focus{
			color: #232a34;
		}

		.top_panel_icon {
			padding: 0;
		}
		.top_panel_top .search_field {
			padding: 3px 0 3px 5px;
			max-width: 15em;
			font-size: 0.929em;
		}
		.search_wrap .search_field {
			width: 100%;
		}
		.navbar-collapse {
			padding-right: 0px;
			}
		input[type="text"], input[type="number"], input[type="email"], input[type="search"], input[type="password"], select, textarea {
			line-height: 1.3em;
			color: #707276;
			background-color: @widget_area_inner_background-color;
			border: 2px solid transparent;
			outline: none;
			resize: none;
		}
		.menu_user_nav  {
			margin-left: 0;
		}
		.menu_user_nav > li+li {
			z-index: 29;
		}
		.menu_user_nav > li {
			z-index: 30;
		}
		.menu_user_nav > li, .menu_main_nav > li {
			position: relative;
			float: left;
			z-index: 20;
		}
		.menu_user_nav > li {
			margin-left: 1.5em;
		}
		.top_panel_wrap li {
			margin-bottom: 0;
			position: relative;
		}
		.menu_user_nav > li a {
			font-weight: 400;
			font-size: 0.929em;
			padding: 0.8em 0;
			color: #d0d6de;
		}
		.top_panel_style_3 .top_panel_cart_button,{
			display: block;
			padding-left: 1.5em !important;
			padding-right: 1.5em !important;

		}

		.top_panel_wrap .contact_label {
			margin: 0.3em 0 0.15em;
		}
		.menu_user_cart{
			padding-top: 0.2em;
			margin-right: 2em;
			margin: 0.5em 0 0 0;

		}
		.top_panel_link{
			padding-top: 0.2em;
			margin-right: 2em;
			margin: 0.5em 0 0 0;  



			float: right;
		}

		.menu_user_nav .top_panel_link a {
			font-size: 1em;
			font-weight: bold;
			padding-left: 2.5em;
			padding-right: 2.5em;
			color: @widget_area_inner_button_before_color;
			background-color: @widget_area_inner_ul_li_a_hover_color;
			margin-bottom: 1px;
			padding-bottom: 18px;

		}
		.menu_user_nav .top_panel_link a:hover {
			background-color: @widget_area_inner_button_background-color;

			text-decoration: none;
		}

		.menu_user_nav .top_panel_link a:hover {
			color: @widget_area_inner_button_before_color;
		}
		.top_panel_top a:hover {
			color: @widget_area_inner_button_background-color;
			text-decoration: none;
		}
		.top_panel_link a:hover {
			color: #fff!important;
		}

		.top_panel_middle {
			background-color: @widget_area_inner_button_before_color;
			padding-bottom: 5px;

			width: 100%;
		  
			display: block;
			left: 0;
			z-index: 100000;


		}
		.content_wrap{
			width: 1000px;
			margin:auto;
		}
		.contact_logo {
			max-width: 26%;
			float: left;
			margin-top: 2.0em;
		}
		.top_panel_wrap .logo {
			margin: 3.571em 0 2.8em 0;
			overflow: hidden;
		}
		a {
			text-decoration: none;
			background: @widget_area_inner_a_background;
		}
		.top_panel_wrap .logo_main {
			max-height: 100px;
			width: 100%;
		}
		.logo img {
			float: left;
			width: 100%;
		}
		a img {
			border: none;
		}
		img {
			max-width: 100%;
			height: auto;
			vertical-align: top;
		}
		.page_wrap,
		.content_wrap {
			margin:0 auto;
		}
		.body_style_boxed .page_wrap {
			width:1230px;
			overflow:hidden;
		}


		.content_wrap:after,
		.content_container:after {
			content:" ";
			display:block;
			width:100%;
			height:0;
			clear:both;
		}
		.body_style_fullwide .content_wrap {
			width: auto;
			padding-left:30px;
			padding-right:30px;
		}
		.content {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		.top_panel_wrap .logo {
			margin: 3.571em 0 2.8em 0!important;
			overflow: hidden;
		}
		.top_panel_fixed .menu_main_social_wrap {
			margin-top: 0;
		}
		.menu_main_social_wrap {
			max-width: 70%;
			float: right;
			
		}
		.header{
			margin-top: 2.0em;


		}
		.navbar-nav li a{
			color: #7a7f87;
			text-transform: uppercase;
			font-family: 'Montserrat';
			font-size: 0.786em;


		}
		.nav>li>a{
			padding: 16px 13px !important;
		}

		.nav>li>a:hover{
			background:@color!important;
			color:black;
		}
		.dropdown-menu>li>a:hover {
			color: #fff!important;
			text-decoration: none;
			background-color: #1A3150!important;
		}
		.dropdown-menu>li>a{
			color: #fff!important;
		}
		.dropdown-menu{
			background: #1A3150!important;
			color:#fff!important;
		}

		.top_panel_top_socials {
			float: right;

		}
		.top_panel_top_socials .sc_socials {
			margin-right: 0;
			line-height: 0;
		}

		.sc_socials {
			overflow: hidden;
			display: inline-block;
			margin-right: 1.25em;
		}
		.sc_socials.sc_socials_size_small .sc_socials_item {
			margin: 0 0 0.5em 0;
		}
		.sc_socials .sc_socials_item {
			display: inline-block;
			margin: 0 0 0.5em 0;
			outline: none;
		}
		.sc_socials.sc_socials_type_icons a, .sc_socials.sc_socials_type_icons a:hover {
			color: @widget_area_inner_button_before_color;
		}
		.sc_socials.sc_socials_size_small a, .sc_socials.sc_socials_size_small a .sc_socials_hover {
			width: 2.8em;
			height: 2.8em;
			line-height: 2.8em;
		}

		.social_icons.social_twitter {
			background-color: @box-icon_background-color;
		}
		.sc_socials a, .sc_socials a .sc_socials_hover {
			overflow: hidden;
			width: 4em;
			height: 4em;
			line-height: 4em;
			overflow: hidden;
			position: relative;
		}
		.sc_socials a {
			display: inline-block;
			outline: none;
			text-align: center;
		}
		.social_icons.social_facebook {
			background-color: @social_facebook_background-color;
		}
		.social_icons.social_gplus {
			background-color: @span_onsale_background-color;
		}

		@media screen and (max-width: 480px) {
		 

			.rip{
				display:none;
			}
			.rip1{
				display:inline;
				
			}
		.top_panel_top{
			
		}
		.top_panel_middle {
			background-color: @widget_area_inner_button_before_color;
			padding-bottom: 5px;
		}
		.contact_logo {
			max-width: 26%;
			float: left;
		  
		}
		#first-slider h1 {
			text-align: center;
			font-size: 45px;
		}
		 #first-slider .slide2 h3
		 {
			 font-size: 18px;
		 }
		.logo img {
			float: left;
			width: 100%;
			padding-left:30px;
		}

		#first-slider{
			width:100%;
		}
		.item slide1{
			width:100%;
		}
		.item slide2{
			width:100%;
		}
		.item slide3{
			width:100%;
		}
		#carousel-example-generic{
			width:100%;
		}
		.carousel slide carousel-fade{
			width:100%;
		}
		#first-slider .slide1 {
			width:100%;
		}
		.carousel-inner{
			width:100%;
		}
		#first-slider h1{
			text-align: center;
				font-size: 70px;
		}
		#first-slider h3{
			text-align: center;
				font-size: 25px;
		}
		#first-slider h4{
		   display: none;
		}
		#first-slider h4{
		   display: none;
		}
		#first-slider h5{
		   text-align: center;
		}
		.wapper{
			display:none;
		}
		}
		/*-- 481px -> 780px--*/
		@media screen and (min-width:481px) and (max-width:780px){
			
			
		.top_panel_middle {
			background-color: @widget_area_inner_button_before_color;
			padding-bottom: 10px;
			text-align: center;
		}
		.content_wrap{
			text-align: center;
		}
		.contact_logo {
			max-width: 26%;
			float: left;
			margin-top: 2.2em;
			text-align: center;
		}
		.logo img {
			float: left;
			width: 200px;
			padding-left:30px;
			text-align: center;
		}
		#first-slider{
			width:100%;
		}
		.item slide1{
			width:100%;
		}
		.item slide2{
			width:100%;
		}
		.item slide3{
			width:100%;
		}
		#carousel-example-generic{
			width:100%;
		}
		.carousel slide carousel-fade{
			width:100%;
		}
		#first-slider .slide1 {
			width:100%;
		}
		.carousel-inner{
			width:100%;
		}
		#first-slider h1{
			text-align: center;
				font-size: 70px;
		}
		#first-slider h3{
			text-align: center;
				font-size: 25px;
		}
		#first-slider h4{
		   display: none;
		}
		#first-slider h4{
		   display: none;
		}
		#first-slider h5{
		   text-align: center;
		}
		.wapper{
			display:none;
		}
		}
		@media screen and (min-width:701px) and (max-width:999px){
			.wapper{
				width:100%;
			}
			.content_wrap{
				width:100%;
			}
			
}
	    .wrapper {
        padding-left: 70px;
    	padding-right: 70px;
    }
	    .product-tag{
	        width:300px;
	        float:left;
	        color:#707276;
	        box-sizing: border-box;
	    }
	    .product-tag-content{
	        padding:2.857em;
	        background-color:@widget_area_inner_background-color;
	        box-sizing:border-box;
	    }
	    .content2{

	        padding-bottom: 228px;
	        border-bottom: 1px solid #e1e2e0;
	    }
	    .content2 h5{
	        font-size:1.214em;
	        margin-bottom: 1.55em;
	        text-tranform: uppercase;
	        font-weight:700;
	        line-height:125%;
	        color:@widget_area_widget_title_h5_color;
	    }
	    .content1{
	        font-size: 12.2pt;
	        color: #707276;
	        display: block;
	        float: left;
	        padding: 1.167em;
	        margin: 0 4px 4px 0;
	        font-size: 0.857em!important;
	        border: 2px solid #e3e4e3;
	        text-transform: uppercase;
	        line-height: 1em;


	    }
	    .content1:hover{
	        background:@widget_area_inner_ul_li_a_hover_color;
	        color:#fff!important;
	        text-decoration:none;



	    }


	    /* START FILTER*/
	    #aside{
	        font-family: inherit;
	        font-size: 100%;
	        font-style: inherit;
	        font-weight: inherit;
	        line-height: inherit;
	        border: 0;
	        outline: 0;
	        -webkit-font-smoothing: antialiased;
	        -ms-word-wrap: break-word;
	        word-wrap: break-word;
	        display: block;

	    }
	    h5{


	    }
	    .widget_title {
	        margin-top: 0;
	        margin-bottom: 1.55em;
	        text-transform: uppercase;
	        font-size: 1.214em;
	        padding-top: 34px;
	        font-weight: 700;
	        margin: 0;
	        color: @widget_area_widget_title_h5_color;
	        font-family: Montserrat;


	        margin-top: 1.2em;
	        margin-bottom: 0.5em;
	        line-height: 125%;
	    }
	    .woocommerce ul.product_list_widget li img {
	        float: left;
	        margin-left: 4px;
	        width: 76px;
	        height: auto;
	        box-shadow: none;
	        margin-right: 21px;
	        margin-bottom: 40px;
	    }
	    .woocommerce-page ul.product_list_widget li img {
	        box-shadow: none;
	        width: 5.35em;
	        float: left;
	        margin: 0 1.1em 3em 0;
	    }
	    .woocommerce ul.cart_list, .woocommerce ul.product_list_widget {
	        list-style: none;
	        padding: 0;
	        margin: 0;
	    }
	    span{
	        font-family: inherit;
	        font-size: 100%;
	        font-style: inherit;
	        font-weight: inherit;
	        line-height: inherit;
	        border: 0;
	        outline: 0;
	        -webkit-font-smoothing: antialiased;
	        -ms-word-wrap: break-word;
	        word-wrap: break-word;
	    }
	    .woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a, .woocommerce-page ul.cart_list li a, .woocommerce-page ul.product_list_widget li a {
	        font-weight: 400;
	    }
	    .woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a {
	        display: block;
	        font-weight: 500px;
	        text-decoration: none;
	    }
	    .widget_area_inner a, .widget_area_inner ul li a {
	        color: @widget_area_widget_title_h5_color;
	    }
	    .widget_area_inner a, .widget_area_inner ul li a {
	        line-height: 160%;
	    }
	    .product-title{
	        color: @widget_area_widget_title_h5_color;
	        font-size: 16px;

	    }
	    .fa-circle{
	        color: @widget_area_inner_ul_li_a_hover_color;
	        font-size: 10px;
	    }
	    .money{
	        color: @widget_area_inner_ul_li_a_hover_color;
	       padding-right: 10px;
	        
	    }
	    
	    .product-title:hover{
	        color: @widget_area_inner_ul_li_a_hover_color;
	           text-decoration: none;

	    }
	    .woocommerce ul li{
	        
	        padding-bottom:27px;
	    }


	    /*END SEARCH*/
	}	

}