.header a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  cursor: pointer;
}
.header a:hover {
  color: #ff9933;
}
.header ul {
  padding: 0;
}
.header li {
  list-style: none;
}
.header #lms_header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  clear: both;
  background: rgba(255,255,255,0.1);
  min-height: 94px;
  z-index: 99999;
  transition: all 0.3s;
}
.header #lms_header .logo_container {
  height: 87px;
  margin-bottom: -108px;
  position: relative;
  max-width: 1170px;
  -webkit-transition: all 0.3s;
}
.header .lms_header_top {
  background: black;
}
.header .lms_any_que_wrapper {
  padding: 10px 0;
}
.header .lms_any_que_wrapper .lms_mobile,
.header .lms_any_que_wrapper p {
  margin: 0 5px 0 0;
  display: inline-block;
  color: white;
}
.header .lms_any_que_wrapper .lms_email {
  display: inline-block;
  color: white;
}
.header .lms_any_que_wrapper .lms_email a {
  color: white;
}
.header .lms_any_que_wrapper .lms_email a:hover {
  color: #ff9933;
  text-decoration: none;
}
.header .lms_login_wrapper {
  text-align: right;
}
.header .lms_login_wrapper ul {
  margin: 0;
  padding: 10px 0;
}
.header .lms_login_wrapper li {
  display: inline-block;
  list-style: none;
  margin-left: 15px;
}
.header .lms_login_wrapper li a {
  color: white;
}
.header .lms_login_wrapper li a:hover {
  color: #ff9933;
}
.header .lms_login_wrapper li:first-child {
  margin: 0 !important;
}
.header .logo {
  margin: 0;
  padding: 5px 0;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: transparent;
  z-index: 9999;
  float: left;
}
.header .logo a {
  z-index: 1;
}
.header .logo img {
  position: relative;
}
.header .mega-menu {
  float: right;
  margin-right: 50px;
}
.header .navigation_menu {
  z-index: 0;
}
.header .navigation_menu .mega_menu_container {
  position: relative;
}
.header .navigation_menu .mega_menu_container ul#mainMenu li.main_item {
  position: relative;
}
.header .navigation_menu .mega_menu_container ul#mainMenu li.main_item > a {
  border-bottom: 4px solid transparent;
  padding: 50px 18px;
  background: none;
  border-radius: 0;
}
.header .navigation_menu .mega_menu_container ul#mainMenu li.main_item > a:hover {
  border-bottom: 4px solid #ff9931;
  background: none;
  color: #ff9931;
  border-radius: 0;
}
.header .navigation_menu .mega_menu_container ul#mainMenu .active {
  border-color: #ff9931 !important;
  background: none;
  color: #ff9931;
}
.header .lms_search_toggle {
  position: absolute;
  top: 65px;
  right: 16px;
  cursor: pointer;
  transition: all 0.3s;
}
.header .lms_menu_toggle {
  display: none;
  position: relative;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #fff;
  top: 35px;
  right: 0;
  float: right;
  transition: all 0.3s;
  background: transparent;
  color: #fff;
}
.header .lms_search_wrapper {
  position: absolute;
  top: 100%;
  right: 15px;
  width: 100px;
  height: auto;
  padding: 25px;
  margin-top: 1px;
  background: #f0f0f0;
  min-width: 248px;
}
.header .lms_search_wrapper input {
  border: 1px solid #9EA6B0;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  outline: none;
  background-color: #fff;
}
.header .lms_page_title {
  width: 100%;
  float: left;
  position: relative;
  margin-bottom: 78px;
  margin-bottom: 50px;
}
.header .lms_page_title .lms_page_title_bg {
  min-height: 310px;
  width: 100%;
  float: left;
  background: url(../images/bg1_new.jpg) 0% -110px;
  background-attachment: fixed;
}
.header .lms_page_title .lms_page_title_bg_overlay {
  position: relative;
  width: 100%;
  float: left;
  background: url(../images/bg.png);
  min-height: 310px;
}
.header .lms_page_title .lms_page_title_bg_overlay .container {
  margin-top: 218px;
}
.header .lms_page_title .lms_page_title_bg_overlay .container .lms_title {
  color: #fff;
  font-size: 30px;
  text-transform: capitalize;
  float: left;
}
.header .lms_page_title .lms_page_title_bg_overlay .container .breadcrumb {
  background: none;
  padding: 8px 0;
  margin: 5px auto;
  list-style: none;
}
.header .lms_page_title .lms_page_title_bg_overlay .container .breadcrumb li {
  display: inline-block;
  font-size: 17px;
  text-transform: capitalize;
  cursor: pointer;
}
.header .lms_page_title .lms_page_title_bg_overlay .container .breadcrumb li:before {
  padding: 0 5px;
  color: #929292;
  content: "/\00a0";
}
.header .lms_page_title .lms_page_title_bg_overlay .container .breadcrumb li:last-child {
  color: #ff9933;
}
