.type-821 a {
  text-decoration: none;
  color: #ff9933;
  font-family: 'Vollkorn', serif;
  transition: all 0.5s;
}
.type-821 p {
  color: #9CA0A0;
}
.type-821 h3 {
  float: left;
  width: 100%;
  color: #fff;
  font-size: 22px;
  margin-top: 15px;
  text-transform: capitalize;
  font-family: 'Vollkorn', serif;
  margin-bottom: 30px;
}
.type-821 .scrollToTop {
  width: 35px;
  height: 35px;
  line-height: 31px;
  text-align: center;
  font-size: 20px;
  color: #ff9933;
  text-decoration: none;
  position: fixed;
  bottom: 40px;
  left: 40px;
  border: 1px solid #ff9933;
  overflow: hidden;
}
.type-821 .scrollToTop .down {
  width: 100%;
  height: 100%;
  position: relative;
  top: 21px;
}
.type-821 .scrollToTop:hover {
  color: #fff;
  background: #ff9933;
  text-decoration: none;
}
.type-821 .scrollToTop:hover i {
  display: none;
  transform: translateY(-15px);
  transition: all 0.5s ease-in;
}
.type-821 .scrollToTop:hover .down {
  display: block;
}
.type-821 .lms_theme_color {
  color: #ff9933;
}
.type-821 .lms_footer_top {
  width: 100%;
  float: left;
  padding: 20px 0px;
  background: url(../images/bg.png);
}
.type-821 .lms_footer_top .lms_newsletter {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
.type-821 .lms_footer_top .lms_newsletter form {
  display: block;
  margin-top: 0em;
}
.type-821 .lms_footer_top .lms_newsletter .form-inline .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  float: left;
  width: 100%;
  position: relative;
}
.type-821 .lms_footer_top .lms_newsletter .form-inline .form-group #form-control {
  width: 72%;
  display: inline-block;
  border-radius: none;
  border: 1px solid #e1e3e7;
  transition: all 0.5s;
}
.type-821 .lms_footer_top .lms_newsletter .form-inline .form-group #form-control .form-control {
  border: none;
  height: 38px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #9a9a9a;
  background-color: transparent;
  background-image: none;
  transition: all 0.5s;
  width: 100%;
  font-style: italic;
}
.type-821 .lms_footer_top .lms_newsletter .form-inline .form-group #form-control:hover {
  border-color: #ff9933;
}
.type-821 .lms_footer_top .lms_newsletter .form-inline .form-group .lms_newsletter_widget_btn {
  padding: 9px 1px;
  font-size: 20px;
  font-weight: normal;
  position: absolute;
  line-height: 1;
  color: #fff;
  text-align: center;
  background-color: #ff9933;
  border: 1px solid #fff;
  min-width: 65px;
  border-left: none;
}
.type-821 .lms_footer_top .lms_newsletter .mailchimp_message {
  color: #9CA0A0;
  display: none;
}
.type-821 .lms_footer_top .lms_newsletter .mailchimp_message1 {
  color: green;
  display: none;
}
.type-821 .lms_footer_top .postform {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #9a9a9a;
  background-color: transparent;
  border: 1px solid #e1e3e7;
  -webkit-transition: all 0.3s;
  background-image: url(../images/down.png);
  background-repeat: no-repeat;
  background-position: right;
  -webkit-appearance: none;
}
.type-821 .lms_footer_top .postform option {
  color: #333;
}
.type-821 .lms_footer_top .postform:hover {
  border-color: #ff9933;
  outline: 0;
  -webkit-transition: all 0.2s;
}
.type-821 .lms_footer_top .lms_happening {
  width: 100%;
  float: left;
}
.type-821 .lms_footer_top .lms_happening .lms_happy_user {
  width: 100%;
  float: left;
}
.type-821 .lms_footer_top .lms_happening .lms_happy_user img {
  width: 48px;
  height: 48px;
  float: left;
  display: inline-block;
  margin-right: 10px;
}
.type-821 .lms_footer_center {
  width: 100%;
  float: left;
  background: #1a1a1a;
  padding: 50px 0px 20px 0px;
}
.type-821 .lms_footer_center .lms_footer_logo img {
  vertical-align: middle;
  margin-bottom: 15px;
}
.type-821 .lms_footer_center p {
  margin: 0 10px 10px 0;
}
.type-821 .lms_footer_center .lms_social {
  width: 100%;
  float: left;
  margin-top: 30px;
}
.type-821 .lms_footer_center .lms_social ul {
  list-style: none;
  padding: 0;
}
.type-821 .lms_footer_center .lms_social ul li {
  display: inline-block;
}
.type-821 .lms_footer_center .lms_social ul li a {
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  display: inline-block;
  border: 1px solid #9ea6b0;
  color: #ff9933;
  font-size: 18px;
  margin-right: 11px;
  margin-bottom: 11px;
  background: transparent;
  text-decoration: none;
}
.type-821 .lms_footer_center .lms_social ul li :hover {
  border-color: #ff9933;
}
.type-821 .lms_footer_center .lms_footer_popular_course {
  width: 100%;
  float: left;
}
.type-821 .lms_footer_center .lms_footer_popular_course .lms_footer_course {
  width: 100%;
  float: left;
  border: 1px solid #555;
  padding-left: 7px;
  padding-bottom: 6px;
  margin-bottom: 30px;
}
.type-821 .lms_footer_center .lms_footer_popular_course .lms_footer_course img {
  width: 75px;
  height: 79px;
  border: 1px solid #565656;
  margin-bottom: 0px;
  float: left;
  display: inline-block;
  margin-right: 12px;
  margin-top: 7px;
}
.type-821 .lms_footer_center .lms_footer_popular_course .lms_footer_course a h4 {
  font-family: 'Vollkorn', serif;
  margin-top: 6px;
  margin-bottom: 0;
}
.type-821 .lms_footer_center .lms_footer_course_category :last-child {
  border-bottom: none;
}
.type-821 .lms_footer_center .lms_footer_course_category li {
  list-style: none;
  border-bottom: 1px solid #555;
}
.type-821 .lms_footer_center .lms_footer_course_category li a {
  font-family: 'Open Sans', sans-serif;
  transition: all .5s;
  color: #9CA0A0;
  line-height: 52px;
}
.type-821 .lms_footer_center .lms_footer_course_category li :hover {
  color: #ff9933;
}
.type-821 .lms_footer_center .lms_footer_contact {
  width: 100%;
  float: left;
}
.type-821 .lms_footer_center .lms_footer_contact .pad {
  padding-bottom: 20px;
}
.type-821 .lms_footer_center .lms_footer_contact p {
  margin-bottom: 10px;
}
.type-821 .lms_footer_center .lms_footer_contact p .color_hover {
  color: #9CA0A0;
}
.type-821 .lms_footer_center .lms_footer_contact p :hover {
  color: #ff9933;
}
.type-821 .lms_footer_bottom {
  width: 100%;
  float: left;
  background: #171717;
  font-size: 13px;
  text-align: center;
}
.type-821 .lms_footer_bottom p {
  margin-bottom: 0px;
  padding: 20px 0px;
}
