body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #5b5b5b;
}
.type-28 .heading {
  text-align: center;
}
.type-28 .heading .title {
  display: inline-block;
}
.type-28 .heading h1 {
  font-size: 34px;
  float: left;
  margin-top: 80px;
  margin-bottom: 17px;
  font-weight: 400;
  padding: 0px 32px 28px 32px;
  border-bottom: 1px solid #9ea6b0;
  position: relative;
}
.type-28 .heading h1::after {
  content: "";
  position: absolute;
  top: 100%;
  margin: -10px 0 0 -5px;
  left: 50%;
  width: 10px;
  height: 20px;
  background: #fff;
  border-left: 1px solid #9ea6b0;
  border-right: 1px solid #9ea6b0;
  transform: rotate(20deg);
}
.type-28 .heading p {
  display: inline-block;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 70px;
}
.type-28 .content .course-landing-summary h3 {
  margin: 0px 0px 10px 0px;
  text-transform: capitalize;
  font-family: 'Vollkorn', serif;
  font-weight: 500;
  line-height: 1.1;
  float: left;
  width: 100%;
  border-bottom: none;
  padding-bottom: 0px;
  font-size: 2.7rem;
}
.type-28 .content .course-landing-summary img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.type-28 .content .lms-single-entry-content {
  float: left;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}
.type-28 .content .lms-single-entry-content .author {
  font-weight: 700;
  padding-right: 20px;
  margin-right: 20px;
  color: #000;
  margin-bottom: 0;
  margin-top: 6px;
  border-right: 1px solid #eee;
}
.type-28 .content .lms-single-entry-content .author a {
  color: #ff9933;
}
.type-28 .content .lms-single-entry-content .course-students {
  font-weight: 500;
  line-height: 20px;
  margin-right: 20px;
  padding-right: 20px;
  color: #3a3a3a;
  border-right: 1px solid #eee;
  margin-bottom: 0px;
  margin-top: 6px;
}
.type-28 .content .lms-single-entry-content .course-price {
  line-height: 20px;
  margin-right: 20px;
  padding-right: 20px;
  color: #ff9933;
  font-weight: 700;
  border-right: 1px solid #eee;
  margin-bottom: 0px;
  margin-top: 6px;
}
.type-28 .content .lms-single-entry-content .view-cart-button {
  color: #fff;
  background-color: #ff9933;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  cursor: pointer;
  background-image: none;
  border: 1px solid;
  border-radius: 4px;
  transition: all 0.5s;
}
.type-28 .content .lms-single-entry-content a:hover {
  text-decoration: none;
}
.type-28 .content .lms-single-entry-content .purchase-button {
  float: right;
  color: #fff;
  background-color: #ff9933;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  cursor: pointer;
  background-image: none;
  border: 1px solid;
  border-radius: 4px;
  transition: all 0.5s;
}
.type-28 .content .course-description-heading {
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 10px;
  margin: 20px 0px;
  text-transform: capitalize;
  font-family: 'Vollkorn', serif;
  font-weight: 500;
  line-height: 1.1;
  float: left;
  width: 100%;
  font-size: 2.7rem;
}
.type-28 .content .course-description h4 {
  font-family: 'Vollkorn', serif;
  font-weight: 500;
  line-height: 1.1;
  color: #3a3a3a;
}
.type-28 .content .course-curriculum h3 {
  margin: 20px 0px;
  text-transform: capitalize;
  font-family: 'Vollkorn', serif;
  font-weight: 500;
  line-height: 1.1;
  float: left;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  font-size: 2.7rem;
}
.type-28 .content .course-curriculum ul,
.type-28 .content .course-curriculum li {
  list-style: none;
}
.type-28 .content .course-curriculum ul {
  padding-left: 0;
}
.type-28 .content .course-curriculum ul .curriculum-sections {
  float: left;
  width: 100%;
}
.type-28 .content .course-curriculum ul .section {
  width: 100%;
  margin: 0 0 1px 0;
}
.type-28 .content .course-curriculum ul .section-header {
  margin: 10px 0 0 0;
  padding: 10px 15px;
  background-color: #EEE;
  color: #3a3a3a;
}
.type-28 .content .course-curriculum ul .section-content {
  background-color: #f5f5f5;
}
.type-28 .content .course-curriculum ul .course-item {
  margin: 0 0 0;
  list-style: none;
  padding: 10px 15px;
  border-top: 1px solid #FFF;
}
.type-28 .content .course-curriculum ul .course-item .course-item-meta {
  display: block;
  float: right;
  line-height: 1;
  margin: 3px 0;
}
.type-28 .content .course-curriculum ul .course-item .course-item-meta .lp-label {
  display: inline-block;
  padding: 3px 8px;
  line-height: 1;
  font-size: 65%;
  vertical-align: baseline;
  color: #FFF;
  border-radius: 4px;
  background-color: #ff9933;
}
.type-28 .content .course-curriculum ul .course-item .course-item-meta .lp-label-quiz {
  background-color: #53658C;
}
.type-28 .content .course-curriculum ul .course-item .course-item-meta .lp-label-final {
  background-color: #FF6161;
}
.type-28 .content a:hover {
  text-decoration: none;
}
.type-28 .content .lms_sidebar_item .searchform {
  margin-bottom: 25px;
}
.type-28 .content .lms_sidebar_item .searchform input[type="search"] {
  border-radius: 0;
  height: 40px;
}
.type-28 .content .lms_sidebar_item .searchform .input-group-addon {
  font-size: 20px;
  font-weight: normal;
  line-height: 1;
  color: #fff;
  text-align: center;
  background-color: #ff9933;
  border: 1px solid #ff9933;
  border-radius: 0;
  border-left: 0;
  padding: 0px;
}
.type-28 .content .lms_sidebar_item .searchform .input-group-addon button {
  background-color: transparent;
  border: none;
  float: left;
  width: 100%;
  padding: 9px 11px;
}
.type-28 .content .lms_sidebar_item .searchform .form-control:hover,
.type-28 .content .lms_sidebar_item .searchform .form-control:focus {
  box-shadow: none;
  border-color: #ff9933;
  outline: 0;
  transition: all 0.5s;
}
.type-28 .content .lms_sidebar_item ul,
.type-28 .content .lms_sidebar_item li {
  list-style: none;
  padding-left: 0;
  float: left;
}
.type-28 .content .lms_sidebar_item li {
  width: 100%;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}
.type-28 .content .lms_sidebar_item li .popular-text {
  margin-top: 0;
  position: absolute;
  top: 0;
  left: 112px;
}
.type-28 .content .lms_sidebar_item li .popular-text h4 {
  margin-top: 0;
  margin-bottom: 3px;
  font-family: 'Vollkorn', serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
  color: #3a3a3a;
}
.type-28 .content .lms_sidebar_item li .popular-text h4:hover {
  color: #ff9933;
  transition: all 0.5s;
  text-decoration: none;
}
.type-28 .content .lms_sidebar_item h3 {
  margin-top: 15px;
  font-size: 24px;
  color: #222;
  border-bottom: 1px solid #222;
  padding: 5px 0px;
  margin-bottom: 1.1852em;
}
.type-28 .content .lms_sidebar_item .lms-popular-course {
  margin-bottom: 25px;
}
.type-28 .content .lms_sidebar_item .lms_footer_course_category {
  margin-bottom: 25px;
}
.type-28 .content .lms_sidebar_item .lms_footer_course_category a {
  color: inherit;
  font-size: 14px;
  position: relative;
  padding-left: 15px;
  display: table;
  float: left;
  text-transform: capitalize;
}
.type-28 .content .lms_sidebar_item .lms_footer_course_category a:hover {
  color: #ff9933;
  transition: all 0.5s;
}
.type-28 .content .lms_sidebar_item .blog-categories {
  margin-bottom: 25px;
}
.type-28 .content .lms_sidebar_item .blog-categories li {
  text-align: right;
}
.type-28 .content .lms_sidebar_item .blog-categories a {
  color: inherit;
  font-size: 14px;
  position: relative;
  padding-left: 15px;
  display: table;
  float: left;
  text-transform: capitalize;
}
.type-28 .content .lms_sidebar_item .blog-categories a:hover {
  color: #ff9933;
  transition: all 0.5s;
}
.type-28 .content .lms_sidebar_item .twitter_feed .lms_sidebar_rt p {
  margin-bottom: 5px;
  margin-top: 10px;
}
.type-28 .content .lms_sidebar_item .twitter_feed .lms_sidebar_rt a p {
  color: #ff9933;
  font-style: italic;
  font-weight: bold;
}
.type-28 .content .lms_sidebar_item .twitter_feed .lms_rt_time {
  color: #3a3a3a;
  font-style: italic;
  font-weight: bold;
}
.type-28 .content .lms_sidebar_item .tags .tagcloud a {
  font-size: 13px !important;
  color: #fff;
  padding: 10px 10px;
  background: rgba(0,2,7,0.22);
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
}
.type-28 .content .lms_sidebar_item .tags .tagcloud a:hover {
  background: #ff9933;
  transition: all 0.5s;
}
.type-28 .list .course_category {
  margin-bottom: 20px;
}
.type-28 .list .lms_hover_section {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.type-28 .list .lms_hover_section:hover {
  overflow: visible;
}
.type-28 .list .lms_hover_section:hover .lms_hover_overlay {
  background-image: url(../images/bg.png);
  background-repeat: repeat;
  text-align: center;
  transition: All 0.5s ease;
  transform: scale(1);
}
.type-28 .list .lms_hover_section:hover .lms_hover_overlay .lms_hover_readmore {
  opacity: 1;
}
.type-28 .list .lms_hover_overlay {
  transform: scale(1.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.type-28 .list .lms_hover_overlay .lms_hover_readmore {
  width: 100px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -17px;
  opacity: 0;
}
.type-28 .list .lms_hover_overlay .lms_hover_readmore a {
  color: #fff;
  background-color: #ff9933;
  border-color: #ff9933;
}
.type-28 .list .lms_hover_section img {
  width: 100%;
  height: auto;
  margin-bottom: 0px;
}
.type-28 .list .lms_course_mid_content {
  float: left;
  width: 100%;
  border: 1px solid #ccc;
  border-top: none;
  padding: 15px;
  padding-top: 0;
}
.type-28 .list .lms_course_mid_content a {
  color: #000;
}
.type-28 .list .lms_course_mid_content h3 {
  font-size: 21px;
  height: 36px;
  margin: 20px 0px 10px 0px;
}
.type-28 .list .lms_course_mid_content h3 a {
  font-size: 21px;
  font-weight: 500;
}
.type-28 .list .lms_course_mid_content a:hover {
  color: #ff9933;
  text-decoration: none;
  transition: all 0.5s;
}
.type-28 .list .lms_course_mid_content .lms_course_instruct {
  float: left;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.type-28 .list .lms_course_mid_content .course-introduce {
  float: left;
  width: 100%;
  border-top: 1px solid #ccc;
  margin-top: 10px;
  padding-top: 10px;
}
.type-28 .list .lms_course_mid_content .lms_course_meta .lms-course-students {
  float: left;
  width: 60%;
  text-align: left;
}
.type-28 .list .lms_course_mid_content .lms_course_meta .lms-course-price {
  color: #ff9933;
  font-weight: bold;
  float: left;
  width: 40%;
  text-align: right;
}
.type-28 .list .lms_pagination {
  width: 100%;
  float: left;
  text-align: center;
  margin-bottom: 50px;
  font-size: 20px;
}
.type-28 .list .lms_pagination ul {
  margin: 0px auto;
  display: inline-block;
  margin-right: 25px;
  position: relative;
  list-style: none;
}
.type-28 .list .lms_pagination ul li {
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 30px 0px 0px;
  float: left;
}
.type-28 .list .lms_pagination ul li .current {
  font-size: 34px;
  padding: 9px 5px;
  margin-right: 5px;
  color: #ff9933;
  border-bottom: 2px solid #ff9933;
}
.type-28 .list .lms_pagination ul li a {
  color: #000;
  -webkit-transition: all 0.3s;
  padding: 6px 15px;
  line-height: 34px;
  float: left;
}
.type-28 .list .lms_pagination ul li a:hover {
  font-size: 34px;
  padding: 0px 6px;
  padding: 6px 15px;
  color: #ff9933;
  text-decoration: none;
  -webkit-transition: all 0.3s;
}
.type-28 .list .lms_pagination ul li:after {
  content: '/';
  position: absolute;
  right: 0;
  opacity: 0.5;
  top: 50%;
  margin-top: -14px;
}
.type-3 a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  cursor: pointer;
}
.type-3 a:hover {
  color: #ff9933;
}
.type-3 ul {
  padding: 0;
}
.type-3 li {
  list-style: none;
}
.type-3 #lms_header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  clear: both;
  background: rgba(255,255,255,0.1);
  min-height: 94px;
  z-index: 99999;
  transition: all 0.3s;
}
.type-3 #lms_header .logo_container {
  height: 87px;
  margin-bottom: -108px;
  position: relative;
  max-width: 1170px;
  -webkit-transition: all 0.3s;
}
.type-3 .lms_header_top {
  background: black;
}
.type-3 .lms_any_que_wrapper {
  padding: 10px 0;
}
.type-3 .lms_any_que_wrapper .lms_mobile,
.type-3 .lms_any_que_wrapper p {
  margin: 0 5px 0 0;
  display: inline-block;
  color: white;
}
.type-3 .lms_any_que_wrapper .lms_email {
  display: inline-block;
  color: white;
}
.type-3 .lms_any_que_wrapper .lms_email a {
  color: white;
}
.type-3 .lms_any_que_wrapper .lms_email a:hover {
  color: #ff9933;
  text-decoration: none;
}
.type-3 .lms_login_wrapper {
  text-align: right;
}
.type-3 .lms_login_wrapper ul {
  margin: 0;
  padding: 10px 0;
}
.type-3 .lms_login_wrapper li {
  display: inline-block;
  list-style: none;
  margin-left: 15px;
}
.type-3 .lms_login_wrapper li a {
  color: white;
}
.type-3 .lms_login_wrapper li a:hover {
  color: #ff9933;
}
.type-3 .lms_login_wrapper li:first-child {
  margin: 0 !important;
}
.type-3 .logo {
  margin: 0;
  padding: 5px 0;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: transparent;
  z-index: 9999;
  float: left;
}
.type-3 .logo a {
  z-index: 1;
}
.type-3 .logo img {
  position: relative;
}
.type-3 .mega-menu {
  float: right;
  margin-right: 50px;
}
.type-3 .navigation_menu {
  z-index: 0;
}
.type-3 .navigation_menu .mega_menu_container {
  position: relative;
}
.type-3 .navigation_menu .mega_menu_container ul#mainMenu li.main_item {
  position: relative;
}
.type-3 .navigation_menu .mega_menu_container ul#mainMenu li.main_item > a {
  border-bottom: 4px solid transparent;
  padding: 50px 18px;
  background: none;
  border-radius: 0;
}
.type-3 .navigation_menu .mega_menu_container ul#mainMenu li.main_item > a:hover {
  border-bottom: 4px solid #ff9931;
  background: none;
  color: #ff9931;
  border-radius: 0;
}
.type-3 .navigation_menu .mega_menu_container ul#mainMenu .active {
  border-color: #ff9931 !important;
  background: none;
  color: #ff9931;
}
.type-3 .btn-responsive-nav {
  display: none;
}
.type-3 .lms_search_toggle {
  position: absolute;
  top: 65px;
  right: 16px;
  cursor: pointer;
  transition: all 0.3s;
}
.type-3 .lms_menu_toggle {
  display: none;
  position: relative;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #fff;
  top: 35px;
  right: 0;
  float: right;
  transition: all 0.3s;
  background: transparent;
  color: #fff;
}
.type-3 .lms_search_wrapper {
  position: absolute;
  top: 100%;
  right: 15px;
  width: 100px;
  height: auto;
  padding: 25px;
  margin-top: 1px;
  background: #f0f0f0;
  min-width: 248px;
}
.type-3 .lms_search_wrapper input {
  border: 1px solid #9EA6B0;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  outline: none;
  background-color: #fff;
}
.type-3 .lms_page_title {
  width: 100%;
  float: left;
  position: relative;
  margin-bottom: 78px;
  margin-bottom: 50px;
}
.type-3 .lms_page_title .lms_page_title_bg {
  min-height: 310px;
  width: 100%;
  float: left;
  background: url(../images/bg1_new.jpg) 0% -110px;
  background-attachment: fixed;
}
.type-3 .lms_page_title .lms_page_title_bg_overlay {
  position: relative;
  width: 100%;
  float: left;
  background: url(../images/bg.png);
  min-height: 310px;
}
.type-3 .lms_page_title .lms_page_title_bg_overlay .container {
  margin-top: 218px;
}
.type-3 .lms_page_title .lms_page_title_bg_overlay .container .lms_title {
  color: #fff;
  font-size: 30px;
  text-transform: capitalize;
  float: left;
}
.type-3 .lms_page_title .lms_page_title_bg_overlay .container .breadcrumb {
  background: none;
  padding: 8px 0;
  margin: 5px auto;
  list-style: none;
}
.type-3 .lms_page_title .lms_page_title_bg_overlay .container .breadcrumb li {
  display: inline-block;
  font-size: 17px;
  text-transform: capitalize;
  cursor: pointer;
}
.type-3 .lms_page_title .lms_page_title_bg_overlay .container .breadcrumb li:before {
  padding: 0 5px;
  color: #929292;
  content: "/\00a0";
}
.type-3 .lms_page_title .lms_page_title_bg_overlay .container .breadcrumb li:last-child {
  color: #ff9933;
}
.type-3 .clsHover:hover > ul {
  display: block;
}
.type-3 .dropdown-submenu:hover > ul {
  display: block;
}
.type-3 .dropdown > .dropdown-menu {
  min-width: 200px;
  width: 100%;
  max-width: 100%;
  margin: 0px 0 0 3px;
  padding: 5px;
  border-bottom: 2px solid #ff9933;
}
.type-3 .dropdown-submenu > .dropdown-menu {
  background-color: #1a1a1a;
  border: 0;
  min-width: 200px;
  margin: 0px 0 0 3px;
  padding: 5px;
  top: 0 !important;
  left: 195px;
  border-bottom: 2px solid #ff9933;
}
.type-3 .nav-main ul.dropdown-menu {
  background-color: #1a1a1a;
  border: 0;
  min-width: 200px;
  margin: 0;
  padding: 5px;
  border-bottom: 2px solid #ff9933;
}
.type-3 .nav-main ul.dropdown-menu a {
  background: none;
  color: #fff;
  padding: 8px 10px 8px 5px;
  font-size: 16px;
  display: block;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.type-3 .nav-main ul.dropdown-menu a:hover {
  color: #ff9933;
}
.type-3 .dropdown-menu:before {
  position: absolute;
  content: "";
  top: -2px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 1px;
  margin-bottom: 2px !important;
  border-top: 1px solid #000;
}
.type-3 .dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}
.type-3 .mega_menu_item {
  position: static !important;
}
.type-3 #lms_header nav.mega-menu .mega-menu-content {
  padding: 20px 30px;
}
.type-3 .mega-menu-sub-title {
  color: #CBCBCB;
  display: block;
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 25px;
  text-transform: uppercase;
}
.type-3 #lms_header nav.mega-menu ul.nav-main li.mega-menu-item ul.sub-menu li a {
  color: #fff;
  text-shadow: none;
  margin: 0 0 0 -8px;
  padding: 8px 8px;
  text-transform: none;
  font-size: 14px;
  display: block;
  font-weight: normal;
  border-bottom: 1px solid rgba(117,117,117,0.29);
}
@media (max-width: 992px) {
  .type-3 .dropdown-toggle {
    border: none;
  }
  .type-3 .mega-menu {
    margin: 0;
  }
  .type-3 .show_submenu > ul {
    display: block !important;
  }
  .type-3 .navigation_menu {
    display: none !important;
  }
  .type-3 .lms_search_toggle {
    display: none;
  }
  .type-3 #lms_header {
    background: black !important;
    position: absolute !important;
  }
  .type-3 #lms_header .nav-main {
    padding: 10px 0;
    float: none;
  }
  .type-3 #lms_header .nav-main ul li {
    float: none;
    border-bottom: 1px solid #2A2A2A;
  }
  .type-3 #lms_header .nav-main ul.dropdown-menu {
    position: static;
    clear: both;
    float: none;
    display: none;
  }
  .type-3 #lms_header nav ul.nav-main li a {
    padding: 13px 0px !important;
    border-bottom: none !important;
  }
  .type-3 #lms_header .nav-main-collapse.in {
    width: 100%;
    display: block !important;
  }
  .type-3 #lms_header .nav-main-collapse {
    top: 8px;
    position: relative;
    background: #171717;
    max-height: none;
    width: 100%;
  }
  .type-3 #lms_header .dropdown-submenu > a:after {
    display: none;
  }
  .type-3 #lms_header .main_item_click > a.dropdown-toggle:after {
    display: block;
    content: " ";
    float: right;
    width: 0px;
    height: 0px;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    margin-top: 5px;
    margin-right: -10px;
  }
  .type-3 .lms_menu_toggle {
    display: block;
  }
  .type-3 .lms_any_que_wrapper,
  .type-3 .lms_login_wrapper {
    text-align: center !important;
  }
  .type-3 #lms_header .logo_container {
    margin-bottom: 0px;
  }
}
@media (min-width: 768px) {
  .type-3 .navigation_menu .mega_menu_container {
    padding-right: 30px;
  }
}
@media (max-width: 460px) {
  .type-3 .lms_any_que_wrapper .lms_mobile {
    margin: 0 !important;
  }
}
@media (min-width: 1200px) {
  .type-3 .container {
    min-width: 1180px;
  }
}
.type-l-1 a {
  text-decoration: none;
  color: #ff9933;
  font-family: 'Vollkorn', serif;
}
.type-l-1 p {
  color: #9CA0A0;
}
.type-l-1 h3 {
  float: left;
  width: 100%;
  color: #fff;
  font-size: 22px;
  margin-top: 15px;
  text-transform: capitalize;
  font-family: 'Vollkorn', serif;
  margin-bottom: 30px;
}
.type-l-1 .scrollToTop {
  width: 35px;
  height: 35px;
  line-height: 31px;
  text-align: center;
  font-size: 20px;
  color: #ff9933;
  text-decoration: none;
  position: fixed;
  bottom: 40px;
  left: 40px;
  border: 1px solid #ff9933;
  overflow: hidden;
}
.type-l-1 .scrollToTop .down {
  width: 100%;
  height: 100%;
  position: relative;
  top: 21px;
}
.type-l-1 .scrollToTop:hover {
  color: #fff;
  background: #ff9933;
  text-decoration: none;
}
.type-l-1 .scrollToTop:hover i {
  display: none;
  transform: translateY(-15px);
  transition: all 0.5s ease-in;
}
.type-l-1 .scrollToTop:hover .down {
  display: block;
}
.type-l-1 .lms_theme_color {
  color: #ff9933;
}
.type-l-1 .lms_footer_top {
  width: 100%;
  float: left;
  padding: 20px 0px;
  background: url(../images/bg.png);
}
.type-l-1 .lms_footer_top .lms_newsletter {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
.type-l-1 .lms_footer_top .lms_newsletter form {
  display: block;
  margin-top: 0em;
}
.type-l-1 .lms_footer_top .lms_newsletter .form-inline .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  float: left;
  width: 100%;
  position: relative;
}
.type-l-1 .lms_footer_top .lms_newsletter .form-inline .form-group #form-control {
  width: 80%;
  display: inline-block;
  border-radius: none;
  border: 1px solid #e1e3e7;
}
.type-l-1 .lms_footer_top .lms_newsletter .form-inline .form-group #form-control .form-control {
  border: none;
  height: 38px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #9a9a9a;
  background-color: transparent;
  background-image: none;
  transition: all 0.5s;
  width: 100%;
}
.type-l-1 .lms_footer_top .lms_newsletter .form-inline .form-group #form-control:hover {
  border-color: #ff9933;
}
.type-l-1 .lms_footer_top .lms_newsletter .form-inline .form-group .lms_newsletter_widget_btn {
  padding: 9px 1px;
  font-size: 20px;
  font-weight: normal;
  position: absolute;
  line-height: 1;
  color: #fff;
  text-align: center;
  background-color: #ff9933;
  border: 1px solid #fff;
  min-width: 65px;
  border-left: none;
}
.type-l-1 .lms_footer_top .lms_newsletter .mailchimp_message {
  color: #9CA0A0;
  display: none;
}
.type-l-1 .lms_footer_top .postform {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #9a9a9a;
  background-color: transparent;
  border: 1px solid #e1e3e7;
  -webkit-transition: all 0.3s;
  background-image: url(../images/down.png);
  background-repeat: no-repeat;
  background-position: right;
  -webkit-appearance: none;
}
.type-l-1 .lms_footer_top .postform option {
  color: #333;
}
.type-l-1 .lms_footer_top .postform:hover {
  border-color: #ff9933;
  outline: 0;
  -webkit-transition: all 0.2s;
}
.type-l-1 .lms_footer_top .lms_happening {
  width: 100%;
  float: left;
}
.type-l-1 .lms_footer_top .lms_happening .lms_happy_user {
  width: 100%;
  float: left;
}
.type-l-1 .lms_footer_top .lms_happening .lms_happy_user img {
  width: 48px;
  height: 48px;
  float: left;
  display: inline-block;
  margin-right: 10px;
}
.type-l-1 .lms_footer_center {
  width: 100%;
  float: left;
  background: #1a1a1a;
  padding: 50px 0px 20px 0px;
}
.type-l-1 .lms_footer_center .lms_footer_logo img {
  vertical-align: middle;
  margin-bottom: 15px;
}
.type-l-1 .lms_footer_center p {
  margin: 0 0 10px;
}
.type-l-1 .lms_footer_center .lms_social {
  width: 100%;
  float: left;
  margin-top: 30px;
}
.type-l-1 .lms_footer_center .lms_social ul {
  list-style: none;
  padding: 0;
}
.type-l-1 .lms_footer_center .lms_social ul li {
  display: inline-block;
}
.type-l-1 .lms_footer_center .lms_social ul li .colortooltip + .tooltip > .tooltip-inner {
  background-color: #ff9933;
}
.type-l-1 .lms_footer_center .lms_social ul li .colortooltip + .tooltip > .tooltip-arrow {
  border-top-color: #ff9933;
}
.type-l-1 .lms_footer_center .lms_social ul li a {
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  display: inline-block;
  border: 1px solid #9ea6b0;
  color: #ff9933;
  font-size: 18px;
  margin-right: 15px;
  margin-bottom: 15px;
  background: transparent;
  text-decoration: none;
}
.type-l-1 .lms_footer_center .lms_social ul li :hover {
  border-color: #ff9933;
}
.type-l-1 .lms_footer_center .lms_footer_popular_course {
  width: 100%;
  float: left;
}
.type-l-1 .lms_footer_center .lms_footer_popular_course .lms_footer_course {
  width: 100%;
  float: left;
  border: 1px solid #555555;
  padding: 6px;
  margin-bottom: 30px;
}
.type-l-1 .lms_footer_center .lms_footer_popular_course .lms_footer_course img {
  width: 75px;
  height: 79px;
  border: 1px solid #565656;
  margin-bottom: 0px;
  float: left;
  display: inline-block;
  margin-right: 12px;
  margin-top: 12px;
}
.type-l-1 .lms_footer_center .lms_footer_course_category :last-child {
  border-bottom: none;
}
.type-l-1 .lms_footer_center .lms_footer_course_category li {
  list-style: none;
  border-bottom: 1px solid #555555;
}
.type-l-1 .lms_footer_center .lms_footer_course_category li a {
  color: #9CA0A0;
  line-height: 52px;
}
.type-l-1 .lms_footer_center .lms_footer_course_category li :hover {
  color: #ff9933;
}
.type-l-1 .lms_footer_center .lms_footer_contact {
  width: 100%;
  float: left;
}
.type-l-1 .lms_footer_center .lms_footer_contact p {
  margin-bottom: 20px;
}
.type-l-1 .lms_footer_center .lms_footer_contact p .color_hover {
  color: #9CA0A0;
}
.type-l-1 .lms_footer_center .lms_footer_contact p :hover {
  color: #ff9933;
}
.type-l-1 .lms_footer_bottom {
  width: 100%;
  float: left;
  background: #171717;
  font-size: 13px;
  text-align: center;
}
.type-l-1 .lms_footer_bottom p {
  margin-bottom: 0px;
  padding: 20px 0px;
}
