.type-802 {
    @color-sub-title: #96bd42;
    @color-background: #1b3353;
    @color-white: #fff;
    .bg-img {
        background-image: url(../images/custom_bg2.png);
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        box-sizing: border-box;
        padding: 2.857em 0 !important;
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .bg-content {
        background-color: @color-background;
        color: @color-white;
        text-align: center;
        padding: 20px;
        .bg-content-title {
            padding-bottom: 2px;
            margin-top: 40px;
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 55px;
            font-family: inherit;
            overflow: hidden;
        }
        .bg-content-sub-title {
            color: @color-sub-title;
            letter-spacing: 2px;
            font-weight: 400;
            font-size: 22px;
            margin-bottom: 40px;
        }
        .bg-content-p {
            width: 90%;
            margin: 10px 0 0 10px;
        }
        .bg-content-img {
            margin-bottom: 40px;
        }
    }
    @media (max-width: 480px) {
        .bg-content-title {
            font-size: 34px !important;
        }
        .bg-content-sub-title {
            font-size: 14px !important;
        }
        .bg-content-p {
            .bg-content-sub-title;
        }
    }
}