.type-831 {
    font-family: 'Coda',cursive;
    background-color: #1f1f1f;
    font-size: 13px;
    color: #666;
    overflow: hidden;
    box-sizing: border-box;
    @hover-text-color: #fde230;
    a:hover{
        text-decoration: none;
    }
    .title{
        text-align: center;
        h1{
            color: #fff;
            margin-top: 85px;
        }
        p{
            margin-top: 30px;
        }
    }
    .block{
        margin-top: 40px;
        .images{
            position: relative;
            overflow: hidden;
            img{
                width: 100%;
                transition:  all 1s ease;
            }
            img:hover{
                -webkit-transform: scale(1.1);
            } 
        }
        .info{
            background-color: #282828;
            margin-bottom: 90px;
            .time{
                margin-top: 45px;
                text-align: center;
                font-size: 16px;
                .day-month{ 
                    span{
                        background-color: #1f1f1f;
                        padding: 10px 5px;        
                    }     
                }
                .years{
                    margin-top: 20px;
                    span{
                        background-color: @hover-text-color;
                        padding: 10px 14px;   
                    }     
                }
            }
            .name{

                h1{
                    margin-top: 30px;
                    a{
                        color: #fff; 
                        float: left;
                        margin-bottom: 30px;
                    }
                    a:hover{
                        color: @hover-text-color;
                    }
                }
                .menu{

                    li{
                        list-style: none;
                        display: inline-block;
                        a{
                            color: @hover-text-color;
                            span{
                                color: #666;
                                padding: 10px;
                            }
                            span:hover{
                                color: @hover-text-color;
                            }
                        }
                    }
                }
            }
            .descripttion{
                padding: 20px 0px;
                p{
                    font-size: 14px;
                    margin-bottom: 75px;
                    margin-left: 38px;
                    margin-right: 21px;
                }
            }
        }
    }
    @media(max-width: 991px){
        .block{
            .info{
                .time{
                    .day-month{
                        padding-top: 20px;
                    }
                }
            }
        }
    }
}