.type-841 {
    @color-word: #666;
    @color-word-hover: #999;
    @color-border-block-title: #e6e6e6;
    @color-menu-dropdown-item: #666;
    @color-menu-dropdown-item-hover: #999;
    @color-count-number: #666;
    @color-count-number-hover: #999;
    @color-cate-title: #000;
    @color-price: #000;
    @color-border-button-mobile: #e6e6e6;
    a {
        color: @color-word;
        text-decoration: none;
    }
    a:hover {
        color: @color-word-hover;
    }
    p {
        margin: 10px 0;
    }
    ul {
        list-style: none;
        padding: 0;
    }
    .col-left {
        float: left;
        width: 255px;
        padding:0px 0 5px;
        .block {
            border: none;
            margin: 5px;
            .block-title {
                padding: 10px 0;
                text-transform: capitalize;
                position: relative;
                border-bottom: 1px solid @color-border-block-title;
                strong {
                    display: block;
                    min-height: 16px;
                    padding: 0px;
                    font-weight: bold;
                    font-size: 14px;
                    text-transform: uppercase;
                }
            }
            .block-content {
                background: transparent;
                padding: 20px 0;
                li {
                    padding: 5px 0;
                    a {
                        padding: 4px 0 4px;
                        text-decoration: none;
                        text-transform: capitalize;
                    }
                }
                #category-treeview li ul {
                    margin-left: 15px;
                }
                #category-treeview {
                    li {
                        a {
                            color: @color-menu-dropdown-item;
                            display: block;
                            padding: 4px 0 4px;
                            text-decoration: none;
                            text-transform: capitalize;
                        }
                    }
                }
                #category-treeview li a:hover {
                    color: @color-menu-dropdown-item-hover;
                }
            }
        }
    }
    .count {
        color: @color-count-number;
    }
    .count:hover {
        color: @color-count-number-hover;
    }
    dt {
        font-weight: bold;
        padding: 0 0px 5px;
        text-transform: capitalize;
        color: @color-cate-title;
    }
    block-layered-nav dd {
        padding: 10px 0px;
    }
    ol {
        list-style: none;
        padding: 0;
    }
    .configurable-swatch-list {
        margin: 10px 0 5px -3px;
        clear: both;
        -webkit-transform: translateZ(0px);
        li {
            float: none;
            display: inline-block;
            margin: 0 0 0 3px;
        }
    }
    #narrow-by-list dd .configurable-swatch-list li {
        margin: 0 0 0 3px;
        width: 47%;
    }
    #narrow-by-list dd .swatch-link {
        border: none;
        line-height: 25px;
        margin-right: 2px;
        text-align: left;
    }
    .swatch-label {
        display: block;
        float: left;
        line-height: 1.5em;
        margin: 0 5px 0 0;
        white-space: nowrap;
        img {
            padding: 0 0 5px;
            border: 1px solid #fff;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -khtml-border-radius: 3px;
            -moz-border-radius: 3px;
            box-sizing: content-box;
        }
    }
    .swatch-label:hover {
        border: 1px solid #000;
    }
    .block-content li.item {
        padding: 7px 0px;
    }
    .mini-products-list {
        .product-image {
            float: left;
            margin-bottom: 0px;
            display: block;
        }
        .product-details {
            margin-left: 92px;
        }
        .product-name a {
            font-size: 14px;
        }
        .price-box {
            margin: 4px 0 3px;
            .price {
                font-weight: bold;
                color: @color-price;
                font-size: 15px
            }
        }
    }
    img {
        border: 0;
        vertical-align: top;
    }
    .actions a {
        float: right;
        text-decoration: none;
        margin-bottom: 40px;
    }
    .dropdown {
        list-style: none;
        text-decoration: none;
    }
    .fa {
        float: right;
    }
    /*-----------------------------------*/
    .dropdown-menu {
        padding: 0 30px;
        border: 0;
    }
    .dropdown-submenu {
        position: relative;
    }
    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }
    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }
    /*-------------------------------------*/
    .col-left-an {
        .btn {
            text-align: left;
            width: 100%;
            padding: 12px 10px;
            font-weight: bold;
            font-size: 15px;
            text-transform: uppercase;
            margin: 0 0 6px;
            position: relative;
            border-bottom: 1px solid @color-border-button-mobile;
            background-color: #fff;
            background: url(../images/toggle-arrow.png) no-repeat scroll right 11px transparent;
        }
        .btn:hover, .btn:focus {
            color: #333; 
            text-decoration: none; 
        }
        .detail {
            margin: 2px 0;
        }
        h5 {
            cursor: pointer;
            display: block;
            font-size: 15px;
            margin-right: 0;
            margin-top: -20px;
            overflow: hidden;
            padding: 0px;
            text-decoration: none;
            margin-bottom: 0px;
            width: 100%;
            position: absolute;
            right: 10px;
        }
        #decription, #review {
            box-sizing: border-box;
        }
        .c_tab {
            margin: 0 0 10px;
            padding: 15px;
        }
        .c_decription {
            .c_tab;
        }
        .c_review {
            .c_tab;
        }
        .c_tags {
            .c_tab;
        }
    }
    .clear {
        clear: both;
    }

    @media (max-width: 979px) {
        .col-left {
            display: none;
        }
        .col-left-an {
            display: block;
        }
    }
    @media (min-width: 978px) {
        .col-left {
            display: block;
        }
        .col-left-an {
            display: none;
        }
    }
}