.type-12e {
  font-family: 'Coda', cursive;
  -webkit-font-smoothing: antialiased;
  background-color: #1f1f1f;
  font-size: 18px;
  color: #666;
}
.type-12e .tp-breadcrumb {
  background-color: #000;
  background-size: cover;
  padding: 55px 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.type-12e .st_1479392317 {
  background-image: url(../images/brd-bg1.jpg);
}
.type-12e .breadcrumb {
  padding: 8px 15px;
}
.type-12e .tp-breadcrumb .breadcrumb {
  margin-bottom: 0px;
  list-style: none;
  background-color: transparent;
  border-radius: 0px;
  text-align: center;
  font-size: 14px;
  border: 2px solid;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.type-12e a {
  font-family: 'Coda', cursive;
  color: #666666;
  text-decoration: none;
}
.type-12e a:hover {
  text-decoration: none;
  color: #fde230;
}
.type-12e .breadcrumb span:last-child {
  color: #fde230;
}
