.type-832 {
  margin: 0;
  line-height: 1.42857143;
  font-family: 'Coda', cursive;
  -webkit-font-smoothing: antialiased;
  background-color: #1f1f1f;
  font-size: 18px;
  color: #666;
}
.type-832 .footer-section {
  background-color: #171717;
}
.type-832 .vc_custom_1436786731050 {
  margin-bottom: 0px !important;
  padding-top: 60px !important;
  padding-bottom: 79px !important;
}
.type-832 .vc_row[data-vc-full-width] {
  transition: opacity .5s ease;
  overflow: hidden;
}
.type-832 .tp-ft-about .ft-logo {
  margin-bottom: 30px;
  margin-top: 30px;
  border-bottom: 1px solid #282828;
  padding-bottom: 14px;
}
.type-832 .wpb_single_image.vc_align_left {
  text-align: left;
}
.type-832 .wpb_single_image .vc_figure {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  max-width: 100%;
}
.type-832 .wpb_single_image .vc_single_image-wrapper {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}
.type-832 img {
  border: 0;
}
.type-832 .wpb_single_image img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}
.type-832 .wpb_content_element {
  margin-bottom: 35px;
}
.type-832 .tp-ft-about .address {
  margin-top: 30px;
}
.type-832 .wpb_text_column :last-child,
.type-832 .wpb_text_column p:last-child {
  margin-bottom: 0;
}
.type-832 ul {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  margin: 0;
  padding: 0;
  list-style: disc;
}
.type-832 footer ul {
  margin-left: 0px;
}
.type-832 li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.type-832 ul li {
  line-height: 31px;
  font-size: 14px;
  color: #666;
  font-weight: 300;
  list-style: none;
}
.type-832 .tp-ft-about .address ul li,
.type-832 .tp-investor-relation ul li,
.type-832 .twitter-widget ul li {
  list-style: none;
  margin-bottom: 8px;
}
.type-832 .tp-investor-relation,
.type-832 .twitter-widget,
.type-832 .tp-ft-newsletter {
  margin-top: 30px;
}
.type-832 h2 {
  color: #fff;
  margin-top: 0;
  font-size: 24px;
  letter-spacing: -1px;
  font-family: 'Coda', cursive;
}
.type-832 .tp-investor-relation h2,
.type-832 .twitter-widget h2,
.type-832 .tp-ft-newsletter h2 {
  margin-bottom: 30px;
  border-bottom: 1px solid #282828;
  padding-bottom: 30px;
}
.type-832 .tp-investor-relation ul li i {
  margin-right: 20px;
}
.type-832 a {
  font-family: 'Coda', cursive;
  color: #666;
  text-decoration: none;
  transition: all .3s;
}
.type-832 a:focus,
.type-832 a:hover {
  text-decoration: none;
  color: #fde230;
}
.type-832 .tp-investor-relation ul li a {
  list-style: none;
  text-transform: inherit;
}
.type-832 .twitter-widget ul li {
  margin-bottom: 30px;
}
.type-832 p {
  margin: 0 0 10px;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 300;
  color: #666;
  margin-bottom: 30px;
  line-height: 21px;
}
.type-832 .mc4wp-form {
  margin: 1em 0;
}
.type-832 .mc4wp-form form,
.type-832 .mc4wp-form input,
.type-832 .mc4wp-form label {
  width: auto;
  display: block;
  box-sizing: border-box;
  cursor: auto;
  height: auto;
  vertical-align: baseline;
  line-height: normal;
}
.type-832 .mc4wp-form label {
  font-weight: 700;
  margin-bottom: 5px;
  display: none;
}
.type-832 .mc4wp-form form input[type=email] {
  background-color: #151515;
  border: 1px solid #282828;
  border-radius: 0px;
  height: 45px;
  margin-bottom: 25px;
  color: #fff;
  font-family: 'Coda', cursive;
  font-weight: normal;
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-image: none;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.type-832 input[type=submit] {
  -webkit-appearance: button;
}
.type-832 .mc4wp-form form input[type=submit] {
  background: #fde230;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 0px;
  color: #0f1a25;
  padding: 10px 20px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
}
.type-832 .tiny-footer {
  background: #151515;
  padding-top: 30px;
}
.type-832 .tiny-footer,
.type-832 .tiny-footer p,
.type-832 .tiny-footer p.copyright-ct {
  color: #666;
}
.type-832 .vc_custom_1436839546058 {
  margin-bottom: 0px !important;
  padding-bottom: 30px !important;
}
.type-832 .tiny-footer .copyright-ct {
  font-size: 14px;
}
.type-832 .pull-right {
  float: right !important;
}
.type-832 .social-icon-ft li {
  float: left;
  margin-right: 10px;
}
