.type-842 {
    .content_header_top {
        left: 0;
        margin: 10px auto;
        position: absolute;
        right: 0;
        z-index: 20;
        text-align: center;
        width: 100%;
        top:0px;
        text-shadow: 0 0px 0px rgba(0,0,0,.6);
        padding-top: 10px;

        .content_inner {
            display: inline-block;
            position: relative;
            background-color: rgba(255, 255, 255, 0.5);
            width: 30%;
            margin-right: 3px;
            margin-left: 3px;

            .header_cms_text {
                p {
                    margin-bottom: 0px;
                }
            }
        }
    }
    .header_content {
        padding: 5px 0px;
        text-align: center;
    }
    .header_cms_text {
        color: #3c3c3c;
        display: inline-block;
        font-family: "Source Sans Pro",sans-serif;
        font-size: 14px;
        letter-spacing: 2px;
        line-height: 30px;
        text-transform: uppercase;
    }
    .carousel-inner {
        .item {
            transition-property: opacity!important;
        }
        .item, .active.left, .active.right {
            opacity: 0!important;
        }
        .active, .left, .right {
            opacity: 1!important;
        }
        .active.left, .active.right {
            left: 0!important;
            transition: all 1.7s ease 0s!important;
            transform: translate3d(0, 0, 0)!important;
        }
    }
    .carousel-inner .item img {
        width:100%;
        height:100%;
    }
    .carousel-indicators {
        bottom:2%!important;
        margin-bottom:0px!important;
    }
    .carousel-indicators li {
        border-radius:0;
        border: 2px #000 solid;
        width:8px;
        height:8px;
        background:#000;
    }
    .carousel-indicators .active {
        width:8px;
        height:8px;
        margin-bottom: 1px;
        background:#fff;
    }
    .carousel-control {
        border: 1px solid rgba(0,0,0, 0.7);
        background: transparent;
        color:#fff;
        width:26px;
        top:auto;	
        left:auto;
        bottom:50%;
        opacity:0.85;
    }
    .left-hover, right-hover{
        position: absolute;
    }
    .left-hover {
        right: 0px;
        opacity:0;
        color: #000;
        text-shadow: 0 0px 0px rgba(0,0,0,.6);
        transition: all 1s ease 0s;
    }
    .right-hover {
        left: 0px;
        opacity:0;
        color: #000;
        text-shadow: 0 0px 0px rgba(0,0,0,.6);
        transition: all 1s ease 0s;
    }
    .left-hover:hover{
        color: #fff!important;
        background: #000!important;
    }
    .right-hover:hover{
        color: #fff!important;
        background: #000!important;
    }
    @media (min-width: 1024px) and (max-width: 1250px)
        {
        .content_inner {
            width: 300px;
        }
    }
    @media (max-width: 1023px) and (min-width: 880px)
        {
        .header_cms_text p{
            font-size: 12px;
        }
        .content_inner {
            width: 270px;
        }
    }
    @media (max-width:879px)
        {
        .content_header_top {
            display: none;
        }
    }
    @media (min-width:880px)
        {
        .content_header_top {
            display: block;
        }
    }
}
.type-842:hover {
    .test {
        display: block;
    }
    .left-hover{
        right: 40px!important;
        opacity:1;
        transition: all 1s ease 0s;
    }
    .right-hover{
        left: 40px!important;
        opacity:1;
        transition: all 1s ease 0s;
    }
}


