.type-7 {


    a{
        text-decoration:none;
    }
    a:hover{
        text-decoration:none;
    }
    ul li{
        list-style:none;
    }
    .btn-fashion{
        border-radius: 2px;
        border: none;
        background: #222;
        color: #fff;
        padding: 4px 12px;
    }
    .addui-slider .addui-slider-track .addui-slider-range {
    background: #222;
    }
    .addui-slider .addui-slider-track .addui-slider-handle:after {
    background: #222;
    }

    /*MEGA MENU HOVER*/

    .mega-dropdown {
        position: static !important;
    }
    .mega-dropdown-menu {
        padding: 20px 0px;
        width: 100%;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .mega-dropdown-menu > li > ul {
        padding: 0;
        margin: 0;
    }
    .mega-dropdown-menu > li > ul > li {
        list-style: none;
    }
    .mega-dropdown-menu > li > ul > li > a {
        display: block;
        color: #222;
        padding: 3px 5px;
    }
    .mega-dropdown-menu > li ul > li > a:hover,
        .mega-dropdown-menu > li ul > li > a:focus {
        text-decoration: none;
    }
    .mega-dropdown-menu .dropdown-header {
        font-size: 18px;
        color: #ff3546;
        padding: 5px 60px 5px 5px;
        line-height: 30px;
    }



    /*MEGA MENU HOVER*/
    .affix {
        top: 0;
        width: 100%;
        background: #fff !important;
        .brand{
            color:#000;
        }
    }

    .affix + .container-fluid {
        padding-top: 70px;
    }


    #video-background {
        min-width: 100%; 
        min-height: 100%;
        width: 100%; 
        height: 50%;
        z-index: -100;
    }

    .video article {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 10px;
    }

    .video h1 {
        position: absolute;
        top: 60%;
        width: 100%;
        font-size: 36px;
        letter-spacing: 3px;
        color: #fff;
        font-family: Oswald, sans-serif;
        text-align: center;
    }
    .navbar{
        margin-bottom: 0px !important;
        z-index:999;
        
        border-bottom: 1px solid #222 !important;
    }
    .navbar{
        border: none;
        border-radius: 0;
        background-color: rgba(0,0,0,-1.5);
    }
    .brand {
        position: absolute;
        left: 50%;
        margin-left: -50px !important;  /* 50% of your logo width */
        display: block;
        top:20px;
    }
    .navbar-inverse .navbar-nav>li>a {
        color:#222;
    }
    .navbar-inverse .navbar-nav>li>a:hover {
        background: none;
    }
    #topheader{
        color:#959595;
        background:#222;
        padding:10px 0;	
        font-size:12px;
    }
    #topheader a{
        color:#959595;
    }
    #topheader a:hover{
        color:#fff;
    }
    #topheader ul li{
        float:left;
        position:relative;
    }
    #topheader li a{
        padding:5px 10px;

    }
    #topheader .sub-menu{
        position:absolute;
        display:none;
    }
    .show-on-hover:hover > ul.dropdown-menu {
        display: block;    
    }
    .dropdown-menu a{
        width:100% !important;
    }
    .dropdown-menu a:hover{
        background:#2F2F2F !important;
        color:#fff !important;
    }
    
    
    
    /* bla bla bla */
    .well{
        background-color: #fff !important;
    }

/////////////////// san phammmmmmm
 a{
        text-decoration:none;
    }
    a:hover{
        text-decoration:none;
    }
    ul li{
        list-style:none;
    }

    .carousel-control {
        width: 30px;
        height: 30px;
        top: -35px;

    }
    .left.carousel-control {
        right: 30px;
        left: inherit;
    }
    .carousel-control .glyphicon-chevron-left, 
    .carousel-control .glyphicon-chevron-right {
        font-size: 12px;
        background-color: #fff;
        line-height: 30px;
        text-shadow: none;
        color: #333;
        border: 1px solid #ddd;
    }
z

   
    .maincontent	{}

    .col-item .separator p i
    {
        margin-right: 5px;
    }
    .col-item .btn-add
    {
        width: 50%;
        float: left;
    }

    .col-item .btn-add
    {
        border-right: 1px solid #E1E1E1;
    }

    .col-item .btn-details
    {
        width: 50%;
        float: left;
        padding-left: 10px;
    }
    .controls
    {
        margin-top: 20px;
    }
    [data-slide="prev"]
    {
        margin-right: 10px;
    }




    .photo img:last-child{
        display:none;
    }
    .photo img{
        width: 90%;
    }
    .photo:hover img:first-child{display:none}
    .photo:hover img:last-child{display:inline-block}




   

}