.banner-alysum{
    #zaro-carousel{ 
        margin-top: 70px;
       
        .zaro-controls{
            border: 1px solid #e6e5e5;
            box-shadow: 0 0 0 1px #fff,0 0 0 2px #e6e5e5;
            width: 39px;
            height: 39px;
            text-align: center;
            cursor: pointer;
            .fa {
                width: 23px;
                height: 23px;
                margin-top: 9px;
                font-size: 20px;
            }
        }
        .carousel-title {
            position: relative;
            h3 {
                font-size: 25px;
                line-height: 46px;
                text-transform: uppercase;
                white-space: nowrap;
                padding: 0 73px;
                margin:0;
            }
            .zaro-controls{
                position: absolute;
                left: 0;
                top: 2px;
                color: #a7a6a0;
            }
            .zaro-next{
                left: auto;
                right: 0;
            }
        }
        .title-table {
            margin-bottom: 30px;
            td {
                padding: 0;
                margin:0;
            }
        }
        .title-wing {
            display: inline-block;
            content: "";
            height: 1px;
            border-top: 1px solid #e6e5e5;
            border-bottom: 1px solid #e6e5e5;
            vertical-align: middle;
            width: 100%;
        }

    }
    .ig-wrapper{
        margin: 10px;
        .laptop{
            font-weight: bold;
        }

    }
    .fa{
        margin-right: 10px;
    }
    .carousel-inner .active.left { left: -33%; }
    .carousel-inner .next        { left:  33%; }
    .carousel-inner .prev        { left: -33%; }
    .carousel-control.left,.carousel-control.right {background-image:none;}
    .item:not(.prev) {visibility: visible;}
    .item.right:not(.prev) {visibility: hidden;}
    .rightest{ visibility: visible;}
    .carousel{
        margin:-15px;
    }
    .item-product{
        padding:0;
        padding:15px;
        img{
            width:100%;
            display: block;
        }
    }
}


@media(max-width:767px){
    .banner-alysum{ 
        #zaro-carousel{
            .title-table{
                text-align: center;
                width:100%;
            }
        }
    }

}
