.type-859{
    @color-background: #f9f9f9;
    @color-title: #676767;
    @color-link-info: #6b6a6a;
    background-color: @color-background;
    color: #efefef;
    overflow: hidden;
    a:hover{
        text-decoration: none;
    }
    .signup{
        overflow: hidden;
        margin-top: 50px;
        background-color: #7accbe;
        .border{
            border-top: 1px #fff solid;
            padding: 20px 0px;
            margin-top: 20px;
        }
        .title{
            float: left;
            h4{
                text-transform: uppercase;
            }
        }
        .submit{
            float: right;
            .input{
                .btn{
                    background-color:  #fe99a1;
                    color: #fff;
                    text-transform: uppercase;
                }
            }        
        }
    }
    footer {
        padding-bottom: 5px;
        h4 {
            font: normal 15px Georgia;
            text-transform: uppercase;
            color: @color-title;
            line-height: 18px;
            padding-top: 30px;
            padding-bottom: 30px;
            margin: 0;
        }

        #footer-info {
            h4 {
                padding-left: 10px;
            }
            ul {
                list-style: none;
                padding: 0 0 0 10px;
                li {
                    padding: 11px 0 11px 10px;
                    border-top: 1px solid rgba(0,0,0,.05);
                    border-bottom: 1px solid rgba(255,255,255,.05);
                    transition: all .2s ease-in-out;
                    a {
                        font: normal 13px Verdana;
                        color: @color-link-info;
                        text-decoration: none;
                        line-height: 18px;
                    }
                    a:hover {
                        color: #efefef;
                    }
                }
                li:hover {
                    background-color: rgba(255,255,255,.05);
                    padding-left: 14px;
                }
            }
        }
        #footer-link {
            #footer-info;
        }
        #footer-tweet {
            font: normal 13px Verdana;
            .tweet-content {
                padding: 0 0 25px 28px;
                position: relative;
                .tweet-icon {
                    color: #a3a19d;
                    position: absolute;
                    font-size: 18px;
                    top: 2px;
                    left: 0;
                }
                p {
                    padding-right: 30px;
                    margin: 0;
                    color: #6b6a6a;
                }
                a{
                    text-decoration: none;
                    .tweet-link {
                        color: #fe99a1;
                        padding-right: 15px;
                        margin-right: 20px;
                        transition: all .2s ease-in-out;
                    }
                    .tweet-link:hover {
                        color: #ccc;
                    }
                }
                .tweet-day {
                    color: #efefef;
                    transition: all .2s ease-in-out;
                }
                .tweet-day:hover {
                    color: #c6ccc5;
                }
            }
        }
        #footer-fb {
            .facebook{
                float: left;
            }
            .like{
                float: right;
                margin-right: 50px;
                margin-top: 27px;
                a{
                    background-color: #7accbe;
                    padding: 3px 10px;
                    color: #fff;
                }
                a:hover{
                     background-color: #fe99a1;
                }
            }
            .view{
                color: #6b6a6a;
               
            }
            .link{
                color: #fe99a1 
            }
            ul {
                margin-top: 20px;
                list-style: none;
                padding: 0;
                li {
                    display: inline-block;
                    margin: 0 30px 30px 0;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
    .sub-footer {
        border-top: 1px solid rgba(0,0,0,.05);
        padding: 30px 0 20px;
        clear: both;
        p {
            float: left;
            color: #666;
            font: normal 12px/30px Verdana;
            margin: 0;
        }

        ul {
            float: right;
            list-style: none;
            padding: 0;
            li {
                display: inline-block;
                a{
                    padding: 10px 10px;
                    font-size: 20px;
                    color: #fff;
                    background-color: #7accbe;
                }
                a:hover{
                    background-color: #3b5a9a;
                }
            }

        }
    }
    @media all and (max-width: 991px) {
        .signup{
            .submit{
                .input{
                    button{
                        
                    }
                }
            }
        }
        #footer-fb {
            ul {
                li {
                    margin: 0 20px 20px 0 !important;
                }
            }
        }
    }
    @media all and (min-width: 767px) {
        .footer-btn {
            display: none;
        }
        #footer-info, #footer-link, #footer-tweet, #footer-fb {
            display: block;
        }

        .sub-footer {
            p {
                padding-left: 10px;
            }
            ul {
                padding-right: 10px;
            }
        }
    }
    @media all and (max-width: 767px) {
        .footer-btn {
            background: none;
            border: none;
            outline: none;
            display: block;
            font-size: 25px;
            padding-left: 10px;
            margin-top: 25px;
            width: 100%;
            text-align: left;
            border-bottom: 1px solid rgba(0,0,0,0.2);
            background: url(../images/footer_arrows.png) no-repeat 100% 0;
        }
        footer {
            h4 {
                display: none;
                color: @color-link-info;
            }
        }
        #footer-info {
            padding-top: 10px;
            ul {
                padding: 0 !important;
            }
        }
        #footer-link{
            h4{
                color: #676767;
            }
        }

    }
    @media all and (max-width: 627px) {
        .sub-footer {
            p {
                width: 45%;
            }
            ul {
                width: 45%;
            }
        }
    }
    @media all and (max-width: 480px) {
        .sub-footer {
            ul {
                li {
                    margin: 0 0 10px 10px;
                }
            }
        }
    }
}

