.type-I-8{
    background: #eeeeee;
    .footer-top {
        background-color: #7accbe;
        padding-bottom: 15px;
        padding-top: 15px;
        .khung{
            padding-bottom: 15px;
            padding-top: 15px;
            border-bottom: 1px solid rgba(255,255,255,0.1);
            border-top: 1px solid rgba(255,255,255,0.1);
            #newsletter_block_left {
                overflow: hidden;
                margin-bottom: 0;
                position: relative;
                z-index: 1;
                .button_mini {
                    background-color: #fe99a1;
                    text-transform: uppercase;
                    border: none;
                    font: normal 20px/40px Georgia;
                    border-radius: 0;
                    color: #fff!important;
                    font-size: 17px;
                    line-height: 20px;
                    padding: 10px 20px;
                }
                .inputNew {
                    background-color: #fffff;
                    font: normal 13px/20px Verdana;
                    padding: 10px;
                    width: 280px;
                    border: none;
                    color: #818181;
                    text-indent: 5px;
                }
                h4 {

                    color: #fff;
                    font: normal 20px/40px Georgia;
                    padding: 0;
                    margin: 0;
                    float: left;
                    text-transform: uppercase;
                    text-shadow: none;
                    background: none;
                }
                .block_content {
                    float: right;
                }
                .dib {
                    display: inline-block;
                    vertical-align: top;
                }
            }
        }
    }
    .footer-center{
        margin-top: 70px;
        .block_content{
            .icon{
                display: none;
            }
            h4{
                font: normal 15px Georgia;
                line-height: 18px;
                padding: 0 0 25px 0;
                text-transform: uppercase;
                color: #676767;
                background: none;
            }
            ul {
                padding: 0;  
                .item1{
                    border-top: 1px solid rgba(0,0,0,.1); 
                }
                li{
                    a{
                        background: #eeeeee;
                        color: #676767;
                        padding: 0;
                        text-decoration: none;
                    }
                    list-style-type: none;
                    border-bottom: 1px solid rgba(0,0,0,.1);
                    font: normal 13px Verdana;
                    line-height: 18px;
                    padding: 11px 0 11px 10px;
                    transition: all 0.4s ease-in-out;
                    color: #6b6a6a;
                }
                li a:hover{
                    text-decoration: none;
                    color: #ccc!important;
                    margin-left: 4px;
                    transition: all 0.2s ease-in-out;
                }
            }
        }
        .borderList{
            .tweet_time a {
                padding-top: 10px;
                color: #6b6a6a;
                font-family: Georgia;
                font-style: italic;
            }
            .tweet_time a:hover {
                text-decoration: none;
                color: #ccc;
            }
            .tweet_text {
                color: #6b6a6a;
                .color {
                    text-decoration: none;
                    color: #fe99a1!important;
                }
            }
            li{
                list-style: none;
                border-style: none;
                padding: 0 0 25px 28px;
                position: relative;
                a{
                    display: block;
                }
                .svgic.svgic-twitter {
                    width: 17px;
                    height: 17px;
                    color: #a3a19d;
                    position: absolute;
                    left: 0;
                    font-size: 18px;
                    margin-left: -15px;
                    top: -3px;
                }
                .svgic.svgic-twitter {
                    color: #d5cfcd;
                }
            }
        }
        .facebook-box{
            margin-left: 4px;
            .like {
                text-decoration: none;
                height: 24px;
                padding: 0 8px 0 15px;
                color: #fff;
                font: normal 12px Georgia;
                line-height: 24px;
                display: inline-block;
                position: absolute;
                top: 0px;
                right: 0px;
                margin: -43px 5px 1px 0px;
                background-color: #7accbe;
                a{
                    text-decoration: none;
                    color: #fff;
                    padding-right: 10px;
                }
                i{
                    margin-right: 5px;
                }
            }
            .like:hover{
                background-color: #fe99a1;
            }
            .fb_fans{
                color: #6b6a6a;
                margin-left: -3px;
                padding: 0 0 15px;
                overflow: hidden;
                border: none!important;
                font: normal 13px Verdana;
                a{
                    color: #fe99a1!important;
                    text-decoration: none;
                    font: normal 13px Verdana;
                }
            }
            .fb_followers {
                margin-left: -2px;
                overflow: hidden;
                border: none!important;
                border-bottom: none;

                .face-3{
                    width: 60px;
                    margin-right: 0!important;
                }
                .face-6{
                    width: 60px;
                    margin-right: 0!important;
                }
                li {
                    width: 75px;
                    margin: 0 27px 27px 0!important;
                    float: left;
                    padding: 0!important;
                    border-style: none!important;
                    a{
                        background-color: rgba(255,255,255,0.2)!important;
                        display: block;
                        width: 100%;
                        height: 75px;
                        background-position: 0 0;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    img{
                        width: 65px;
                    }
                }
                li a:hover{
                    margin: 0;
                }
                li div.fb_name {
                    line-height: 20px;
                    text-align: center;
                    display: none;
                }
                .ellipsis {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
    .footer-bottom{
        border-top: 1px solid rgba(153, 153, 153, 0.33);
        padding: 25px 0;
        margin-top: 440px;
        /*        .page-width{
                    width: 1180px;
                    margin: 0 auto;
                }*/
        .dib {
            display: inline-block;
            vertical-align: top;
        }
        .footer_text {
            color: #9a9592;
            display: inline-block;
            vertical-align: top;
            font: normal 12px/30px Verdana;
            width: 50%;
        }
        .footer_bottom_hook {
            width: 50%;
            text-align: right;
            float: right;
        }
        #socialnetworks{
            li {
                margin: 0 0 10px 5px;
                padding: 0;
                width: 40px;
                height: 40px;
                border: none;
                background: #7accbe;
                a{
                    display: block;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    position: relative;
                    color: #fff;
                    font-size: 20px;
                    margin-top: 5px;
                }
            }
            .facebook a:hover{
                margin-top: 0;
                padding-top: 5px;
                background-color: #3b5a9a;
                border-color: #3b5a9a;
            }
            .twitter a:hover{
                margin-top: 0;
                padding-top: 5px;
                background-color: #1aa9e1;
                border-color: #1aa9e1;
            }
            .gplus a:hover{
                margin-top: 0;
                padding-top: 5px;
                background-color: #dd4b39;
                border-color: #dd4b39;
            }
            .youtube a:hover{
                margin-top: 0;
                padding-top: 5px;
                background-color: #c3191e;
                border-color: #c3191e;
            }
            .flickr a:hover{
                margin-top: 0;
                padding-top: 5px;
                background-color: #3b5a9a;
                border-color: #3b5a9a;
            }
            .instagram a:hover {
                margin-top: 0;
                padding-top: 5px;
                background-color: #7c4a3a;
                border-color: #7c4a3a;
            }
            .pinterest a:hover {
                padding-top: 5px;
                margin-top: 0;
                background-color: #cc2127;
                border-color: #cc2127;
            }
            .linkedin a:hover {
                margin-top: 0;
                padding-top: 5px;
                background-color: #0073b2;
                border-color: #0073b2;
            }
        }
    }
}

.dropdown-menu{
    background: none;
    border: none;
    box-shadow: none;
    width: 100%;
    display: block;
    margin-left: -10px;
}

.open >.dropdown-menu {
    display: block !important;
}

@media(min-width: 1200px){
    .container{
        width: 1180px;
        padding: 0;
    }
}

@media(max-width: 1200px){
    .thong{
        .footer-center{
            .facebook-box{
                .fb_followers{
                    li {
                        width: 55px;
                        margin: 0 20px 27px 0!important;
                        a{
                            height: 45px;
                        }
                        img{
                            width: 60px;
                        }
                    }
                }
            }   
        }
    }
}

@media(max-width:992px){
    .thong{
        .footer-bottom{
            margin-top: 10px;
        }   
        .footer-center{
            .day{
                margin-top: 550px;
            }
            .facebook-box{
                margin-top: -10px;
                position: relative;
                .like{
                    margin: -41px 5px 1px 0px;
                }
                .fb_followers{
                    .face-3{
                        margin-right: 15px !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px){
    .thong{
        .footer-center{
            .block_content{
                .icon{
                    display: block;
                    float: right;
                    margin-right: 50px;
                }
                h4 {
                    font: normal 25px Georgia;
                    line-height: 18px;
                    padding: 0 0 25px 0;
                    text-transform: uppercase;
                    color: #676767;
                    background: none;
                    border-bottom: 1px solid rgba(0,0,0,0.2);
                    cursor: pointer;
                    //padding: 0 0 30px 10px;      
                }
                .facebook-box .like {
                    margin: 5px 3px 1px 0px;
                }
                .day{
                    margin-top: 0px;
                }
            }
        }
        .footer-bottom{
            margin-top: 40px;
        }
    }

    .dropdown-menu{
        margin-top: 0;
        display: none;
        margin-left: 0;
        background: #eeeeee;
    }
}
/*@media (max-width: 450px){
    .footer-top{
        #newsletter_block_left{
            width: 250px;
            margin: 0 auto;
        }
    }
    .footer-center{
        width: 250px;
        margin: 0 auto;
    }
    .footer-bottom{
        width: 250px;
        margin: 0 auto;
    }
}*/