
.chi-tiet{
    font: normal 13px/18px Georgia,"Times New Roman";
    
    .name{
        width: 100%;
    }
    h3{
        float: left;
        padding: 0px;
        margin: 0px;
        font: normal 20px/26px Georgia;
    }
    #product_reference{
        padding-top: 20px;

    }
    .star{
        float: right;
    }
    .details-product{
        padding-bottom: 50px;
        padding-right: 0;
    }
    .product-manufacturer{
        margin: 0px;
    }
    .product_name{
        text-decoration: none;
        color: #000;
    }
    #product_condition{
        margin: 0px;
    }
    #availability_value{
        font-weight: bold;
    }
    #exTab1 {
        .tab-content {
            color : black;
            background-color: #fff;
            padding : 25px 22px;
            border: 1px #000 solid;
        }
        .nav-pills > li > a {
            border-radius: 0;
        }
        .nav-pills > li.active > a{
            color: #000;
            background-color: #fff;
        }
    }

    table td, table th {
        padding: 9px 10px;
        text-align: left;
    }
    #exTab1{
        width: 100%;

    }

    .nav-pills{
        margin-top: 25px;
        background: #57A270;
        li{
            margin: 2px;
            font-size: 12px;
        }
    }
    .accessories-block {
        margin: 0;
        .block_content {
            overflow: hidden;
        }
        ul {
            margin: 0 !important;
            padding:0px;
            li {
                width: 30%;
                float: left;
                margin-right: 5%;
                border: none;
                .product_desc {
                    margin-bottom: 13px;
                }
            }
        }
        .product_image {
            display: block;
            border: 1px solid #d1d1d1;

        }
    }
    .page-product-box ul {
        list-style-position: inside;
    }
    .block ul {
        list-style-type: none;
    }
    a, a:active, a:visited {
        color: #fff;
        text-decoration: none;
        transition: all .2s ease-in-out;
    }
    img{
        width: 100%;
    }
    .item_last{
        margin-right: 0px !important;
    }
    h5{
        font-weight: bold;
    }
    .price{
        color: #c5988b;
        font-size: 16px !important;
    }
    .s_title_block{
        text-align: center;

    }
    .button_add{
        text-align: center;
        margin: 10px;
    }
    .accessories-block ul li .ajax_add_to_cart_button {
        width: 80px;
        text-align: center;
        padding: 6px 15px;
        color: #fff;
        font: normal 12px/18px Georgia;
        background-color: #7a7975;
    }
    a.button:hover, a.exclusive:hover,.ajax_add_to_cart_button:hover{
        background-color: #57A270 !important;
    }
    select{
        border: 1px solid #cdcdcd;
        margin-left: 15px;
    }
    .properties{
        margin-top: 30px;
    }
    .size{
        font-weight: bold;
    }
    #quantity_wanted_p{
        margin-top: 10px;
    }
    #our_price_display {
        float: left;
        font-size: 24px;
        line-height: 40px;
        margin-right: 15px;
    }
    #add_to_cart {
        position: static;
        float: left;
        padding: 0;
        .exclusive {
            padding: 12px 25px;
        }
    }
    button.exclusive:hover{
        background-color: #57A270;
        background-position: 0 0;
        color: #c00;
    }
}

@media (max-width: 979px) and (min-width: 728px)
{
    .chi-tiet{
        .center-containt{
            width: 90%;
        }
    }
}
@media (max-width: 727px){
    .chi-tiet{
        .container-modify{
            width: 450px;
            margin:0 auto;
            padding:0;
        }
        .center-containt{
           div {
                    display: none;
                }
        }
        .images-container {
            ul.thumb-list-frame{
                padding:8px;
            }
        }
    }
}

@media (max-width:1200px) and (min-width:1000px){
    .chi-tiet{
        .images-container {
            ul.thumb-list-frame{
                padding:2px;
            }
        }
    }
}
@media (max-width:990px) and (min-width:768px){
    .chi-tiet{
        .images-container {
            .views-block{
                padding:0 10px;
            }
            ul.thumb-list-frame{
                padding:3.2px;
                margin-top:-3px;
            }
        }
    }
}
@media (max-width:768px) and (min-width:728px){
    .chi-tiet{
        .images-container{
            ul.thumb-list-frame{
                padding:8.5px; 
                margin-top:-8px;
            }
        }
    }
}