 
body{
    background: #ebebeb; 
    height: 100%; 
    min-height: 100%;
    color: #666;

    a,a:hover{
        text-decoration: none;
    }
    a{
        color:#000;
    }
    .smooth02 {
        transition: all .2s ease-in-out;
    }
    .smooth05 {
        transition: all .5s ease-in-out;
    }

    .fa{
        display: inline-block;
        vertical-align: top;
        /*        height: 20px;
                width: 20px;*/
        fill: currentColor;
        pointer-events: none;
    }
    .block {
        margin-bottom: 20px;
    }
    .align-center{
        text-align: center;
    }
    .container-modify{
        margin: 0 auto;
    }
    .white-background{
        background-color: #f9f9f9;
        .main-background{
            background-color: #009900;
        }
        .main-color{
            color: #009900;
            opacity: 1 !important;
        }

    }
    .clearfix {
        zoom: 1;
    }
    .full-width{
        width: 100%;
        margin:0 auto;
        padding:0;
    }
    .main-bg-hover:hover{
        background-color: #009900 !important;
    }
    .main-color-hover:hover{
        color:#009900 !important;
    }
    .main-bg{
        background-color: #009900;
    }
}

@media(max-width:727px){
    .container-modify{
        width:450px;
    }
}