.type-894{
    background-color:#f1f1f1;

    a{
        text-decoration: none;
    }
    .watch-card{
        margin-top:50px;
        margin-bottom:50px;
        div{
            max-width:300px;
        }
    }
    .watch-card:hover .artist-title a, .watch-card:hover .listing-tab .tab-content ul li a{
        color:#167ac9;
    }
    .listing-tab{
        .tab-content 
        {
            ul li:hover{
                cursor:pointer;
                text-decoration:underline;
            }
            .related-artist {
                overflow:hidden;
                padding-bottom:10px;
                h3 {
                    font-size: 17px;
                    margin-left: 15px;
                    margin-top: 9px;
                }
                .artist-next{
                    img{
                        width: 100%;
                    }
                }

            }
        }
    }
    .artist-title{
        padding:15px;background:#fff;
        a{
            test-decoration:none;
            font-size:21px;
            font-family:arialsan-serif; 
            color:#555;
        }
        a:hover{
            color:#16a3de;
        }
    }

    .artist-collage{
        overflow:hidden;
        img{
            width:100%;
        }
        .left{
            img{
                width: 150px;
                height: 158px;
            }
        }
        .collage-rhs{
            img{
                width: 150px;
                height: 84px;
                margin-top:-5px;
            }
        }
        div{
            padding: 0; 
        }
    }


    span.play-mix {
        position: absolute;
        top: 38%;
        z-index: 9;
        left: 30%;
        border: 3px solid rgba(255,255,255,.25);
    }
    span.btn.play-mix-btn {
        background-color: #000;
        padding: 5px 12px;
        border:none;
        border-radius: 2px;
        box-shadow:0 0 70px rgba(255,255,255,.5);
    }

    span.play-mix-btn:hover {
        box-shadow: 0 0 80px rgba(255,255,255,.9);
    }


    .play-mix-btn span {
        color: #1775bc;
    }

    .listing-tab{
        padding:0;
        background-color:#fff;
        .nav-tabs{
            li {
                margin-bottom:0;background:none;
            }
        }
        .nav-tabs{
            li {
                a{
                    border:0;padding:17px 0 7px;color:#333;margin-left:15px;
                }
                a:hover{
                    margin-bottom:0;
                    background:none;
                }

            }
            li.active{
                a{
                    border-bottom:2px solid #bb0000;color:#000;
                }
            }
        }

        .tab-content ul{
            padding:0;
            margin:0;
            li {
                list-style-type: none;
                border-bottom: 1px solid #eee;
                padding: 8px;
                padding-left: 20px;
                font-size: 13px;
                color: #666;
                a{
                    text-decoration:none; color:#666;
                }
                span{
                    display:inline-block;
                    float:right;
                    padding-right:10px;
                }
            }
        }
    }




}