.type-i-13 .slide4 {
  margin-bottom: 30px;
}
.type-i-13 .slide4 .carousel-showmanymoveone .carousel-control {
  width: 4%;
  background-image: none;
}
.type-i-13 .slide4 .carousel-showmanymoveone .carousel-control.left {
  margin-left: 15px;
}
.type-i-13 .slide4 .carousel-showmanymoveone .carousel-control.right {
  margin-right: 15px;
}
.type-i-13 .slide4 .carousel-showmanymoveone .cloneditem-1,
.type-i-13 .slide4 .carousel-showmanymoveone .cloneditem-2,
.type-i-13 .slide4 .carousel-showmanymoveone .cloneditem-3 {
  display: none;
}
@media all and (min-width: 768px) {
  .type-i-13 .slide4 .carousel-showmanymoveone .carousel-inner > .active.left,
  .type-i-13 .slide4 .carousel-showmanymoveone .carousel-inner > .prev {
    left: -50%;
  }
  .type-i-13 .slide4 .carousel-showmanymoveone .carousel-inner > .active.right,
  .type-i-13 .slide4 .carousel-showmanymoveone .carousel-inner > .next {
    left: 50%;
  }
  .type-i-13 .slide4 .carousel-showmanymoveone .carousel-inner > .left,
  .type-i-13 .slide4 .carousel-showmanymoveone .carousel-inner > .prev.right,
  .type-i-13 .slide4 .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .type-i-13 .slide4 .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media all and (min-width: 768px) and (transform-3d),all and (min-width: 768px) and (-webkit-transform-3d) {
  .type-i-13 .slide4 .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .type-i-13 .slide4 .carousel-showmanymoveone .carousel-inner > .item.next {
    transform: translate3d(50%,0,0);
    left: 0;
  }
  .type-i-13 .slide4 .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .type-i-13 .slide4 .carousel-showmanymoveone .carousel-inner > .item.prev {
    transform: translate3d(-50%,0,0);
    left: 0;
  }
  .type-i-13 .slide4 .carousel-showmanymoveone .carousel-inner > .item.left,
  .type-i-13 .slide4 .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .type-i-13 .slide4 .carousel-showmanymoveone .carousel-inner > .item.active {
    transform: translate3d(0,0,0);
    left: 0;
    width: calc(103.1%);
  }
}
.type-i-13 .slide4 .svgic {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  fill: currentColor;
  pointer-events: none;
}
.type-i-13 .slide4 .bx-controls {
  position: absolute;
  z-index: 99;
  bottom: 25px;
  right: 0px;
  text-align: center;
}
.type-i-13 .slide4 .col-sm-6 {
  padding-left: 0px;
  padding-right: 0px;
}
.type-i-13 .slide4 a {
  margin: 0;
  padding: 0;
  color: #878787;
}
.type-i-13 .slide4 .carousel-control.left {
  background-image: none;
  background-repeat: repeat-x;
}
.type-i-13 .slide4 .fa {
  top: -3px;
  position: relative;
}
.type-i-13 .slide4 .carousel-control.right {
  background-image: none;
  background-repeat: repeat-x;
}
.type-i-13 .slide4 .glyphicon {
  top: 1px;
  margin-left: -10px;
  margin: 5px 5px;
  right: 0px;
  left: 3px;
}
.type-i-13 .slide4 .glyphicon:hover {
  color: #fff;
}
.type-i-13 .slide4 a:hover {
  text-decoration: none;
  background-color: transparent;
}
.type-i-13 .slide4 p {
  margin: 0;
  display: block;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.type-i-13 .slide4 .addcart {
  opacity: 1;
  position: relative;
  display: inline-block;
  z-index: 99;
  color: #706e69;
  font-family: "LMRoman10Regular";
  margin: 0 !important;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #706e69;
  text-transform: uppercase;
  padding: 10px 14px;
  line-height: 16px;
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 0;
}
.type-i-13 .slide4 .nextbutton:hover {
  background: #e17365;
}
.type-i-13 .slide4 .prebutton:hover {
  background: #e17365;
}
.type-i-13 .slide4 .lmroman1 {
  font-family: "LMRoman10Regular";
  padding: 0;
  cursor: pointer;
  border-bottom: 2px solid #aeaba3;
  margin-bottom: 1px;
  font-size: 25px;
  text-align: left;
  line-height: 46px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #666;
}
.type-i-13 .slide4 .nextbutton {
  left: auto;
  right: 30px;
  width: 25px;
  height: 25px;
  border: 2px solid #8a8882;
  right: 25px;
  top: -15px;
  position: absolute;
  transition: all .2s ease-in-out;
  text-align: center;
  cursor: pointer;
  margin-right: 1px;
}
.type-i-13 .slide4 .prebutton {
  left: auto;
  right: 0;
  width: 25px;
  height: 25px;
  border: 2px solid #8a8882;
  top: -15px;
  position: absolute;
  transition: all .2s ease-in-out;
  text-align: center;
  cursor: pointer;
}
.type-i-13 .slide4 .bx-controls-direction1 {
  z-index: 99;
  bottom: 25px;
  right: 25px;
  text-align: right;
  left: 15px;
}
.type-i-13 .slide4 .bx-controls-direction1 .glyphicon {
  left: -9px;
  top: -2px;
  font-size: 15px;
}
.type-i-13 .slide4 .hovereffect-2 {
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  text-align: center;
  cursor: default;
  margin-left: 0px;
  margin-bottom: 30px;
}
.type-i-13 .slide4 .carousel-title {
  border-bottom: 1px solid #bdbcbc;
}
.type-i-13 .slide4 .ima3 {
  margin-bottom: 10px;
  float: left;
  width: calc(94%);
  height: 230px;
  position: relative;
}
.type-i-13 .slide4 .blog-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
}
.type-i-13 .slide4 .lmromandemi {
  box-shadow: 0 0 0 1px #fe99a1, 0 0 0 2px #fe99a1;
  background-color: #fe99a1;
  font-family: "lm_roman_demi_10regular";
  margin: 2px 0 0 2px;
  width: 55px;
  height: 55px;
  padding-top: 10px;
  text-align: center;
  font-size: 15px;
  line-height: 17px;
  border: 1px solid rgba(255,255,255,0.2);
  float: left;
  color: #FFF;
}
.type-i-13 .slide4 .icon10 {
  width: 2.0rem;
  vertical-align: middle;
  margin-top: 10px;
  margin-left: -17px;
  margin-right: 10px;
}
.type-i-13 .slide4 .blog-post-likes {
  background-color: #7accbe;
  box-shadow: 0 0 0 1px #7accbe, 0 0 0 2px #7accbe;
  border: 1px solid rgba(255,255,255,0.2);
  margin: 2px 0 0 2px;
  margin-top: 4px !important;
  width: 55px;
  height: 55px;
  font-size: 15px;
  line-height: 17px;
  cursor: pointer;
  float: left;
  color: #FFF;
  text-align: center;
}
.type-i-13 .slide4 .lmroman3 {
  font-family: "LMRoman10Regular";
  font-size: 21px;
  text-align: left;
  line-height: 21px;
  color: #333;
  margin: 0;
  padding-top: 280px;
  font-weight: normal;
  padding-bottom: 15px;
}
.type-i-13 .slide4 .lmroman3 a {
  color: #333;
}
.type-i-13 .slide4 .post-additional-info {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 15px;
  display: block;
  width: 94%;
  text-align: left;
  position: relative !important;
  padding: 0;
  background: none;
  color: #333;
  float: left;
}
.type-i-13 .slide4 .post-author {
  line-height: 14px;
  padding: 10px 10px;
  background-position: 0 11px;
  text-indent: 20px;
  color: #888;
  font-style: italic;
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
  background: url(../images/6.2.png) no-repeat 5px 10px;
}
.type-i-13 .slide4 .post-tags {
  background-position: 5px 12px;
  display: inline-block !important;
  vertical-align: top;
  padding: 9px 0 10px 8px;
  margin-left: 10px;
  line-height: 16px;
  text-indent: 20px;
  color: #888;
  font-style: italic;
  font-size: 12px;
  background: url(../images/6.3.png) no-repeat 5px 12px;
}
.type-i-13 .slide4 .svgic-eye {
  margin-left: 25px;
  margin-top: -2px;
}
.type-i-13 .slide4 .post-views {
  padding: 10px 0;
  background-position: 0 11px;
  color: #888;
  font-style: italic;
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
}
.type-i-13 .slide4 .blog-post-desc {
  margin-bottom: 15px;
  color: #6e6e6e;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
}
.type-i-13 .slide4 .giang3 {
  width: 35%;
}
.type-i-13 .slide4 .giang3:hover {
  background: #fe99a1;
}
.type-i-13 .slide4 .addcart:hover {
  color: #fff;
  box-shadow: inset 0 0 0 2px #fe99a1;
}
@media all and (max-width: 768px) {
  .type-i-13 .slide4 .bx-controls-direction1 .glyphicon {
    left: -1px;
  }
  .type-i-13 .slide4 .aaa {
    display: none;
  }
  .type-i-13 .slide4 .carousel-title .bx-controls {
    right: 0px;
  }
  .type-i-13 .slide4 .giang3 {
    width: 42%;
  }
  .type-i-13 .slide4 .ima3 {
    width: calc(100%);
  }
  .type-i-13 .slide4 .carousel-showmanymoveone .carousel-inner {
    padding: 0;
    width: 100%;
  }
}
