.type-I-7 {
  margin-top: 30px;
}
.type-I-7 .product_list {
  position: relative;
  float: none;
  margin-top: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 0;
  padding: 10px 25px 10px 10px;
  background: #fff;
}
.type-I-7 .product_list .new {
  background: #E1423C;
  color: #fff;
  z-index: 99;
  display: inline-block;
  float: none;
  line-height: 18px;
  padding: 0 5px;
  text-transform: uppercase;
  margin: 2px;
}
.type-I-7 .product_list .product-image-container {
  margin: 0 33px 0 0;
  float: left;
  display: block;
  text-align: center;
  width: 164px;
  position: relative;
}
.type-I-7 .product_list .compare {
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  margin: 5px 25px 0 5px;
  border: 1px solid #d8d8d8;
}
.type-I-7 .product_list .add_to_compare {
  text-indent: -9999px;
  display: block;
}
.type-I-7 .product-desc {
  color: #666;
  font: normal 15px/22px Georgia;
}
.type-I-7 .flags {
  position: absolute;
  top: 3px;
  right: 3px;
  text-align: right;
  z-index: 9;
}
.type-I-7 .product-info {
  float: left;
  width: 325px;
  margin-bottom: 15px;
}
.type-I-7 .product-info a {
  color: #969696;
  font: normal 20px/26px Georgia;
  text-decoration: none;
}
.type-I-7 .product-info a:hover {
  color: #e17365;
}
.type-I-7 .img0 {
  border: 1px solid #e0e0e0;
}
.type-I-7 .img1 {
  border: 1px solid #e0e0e0;
}
.type-I-7 .olay {
  top: 0px;
  left: auto;
  position: absolute;
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
}
.type-I-7 .hinh a:hover .olay {
  opacity: 1;
}
.type-I-7 .product_img_link img {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: block;
}
.type-I-7 .product_list a.product_img_link img {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: block;
}
.type-I-7 .right_block {
  margin-top: 15px;
  position: relative;
  float: right;
  width: 135px;
  text-align: right;
}
.type-I-7 .button-container a {
  border: 2px solid #706E69;
  border-radius: initial;
  font-family: "LMRomanCaps10-Regular";
  color: #706e69;
}
.type-I-7 .button-container a:hover {
  background: #FE99A1;
  color: #fff;
}
.type-I-7 .search a {
  color: #706e69;
  text-decoration: none;
  text-align: center;
  margin-top: 15px;
  width: 36px;
  height: 36px;
  padding: 10px;
  box-shadow: inset 0 0 0 2px #706e69;
}
.type-I-7 .search a:hover {
  background: #FE99A1;
}
.type-I-7 .price {
  margin-top: 25px;
  line-height: 22px;
  font-size: 24px;
  font-weight: normal;
  font-family: "lm_roman_demi_10regular";
  color: #3ea8a4;
}
.type-I-7 .type-2 .content_sortPagiBar {
  margin: 11px 0 0 0;
  clear: left;
  text-align: right;
  background: transparent;
  padding: 7px;
  font: normal 11px Arial, Verdana, sans-serif;
  color: #666;
}
.type-I-7 .type-2 .sort {
  display: inline-block;
}
.type-I-7 .type-2 .views_float {
  display: inline;
  float: left;
  font: normal 11px Arial, Verdana, sans-serif;
  height: 23px;
}
.type-I-7 .type-2 .select {
  display: inline-block;
}
.type-I-7 .type-2 .productsSortForm {
  float: left;
}
.type-I-7 .type-2 .lmromandemi {
  font-family: "lm_roman_demi_10regular";
  border-radius: 0px;
  font-size: 13px;
  padding-left: 0px;
  padding-bottom: 3px;
  padding-top: 2px;
  color: #999;
  text-shadow: 0 1px 0 #fff;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}
.type-I-7 .type-2 .selectProductSort {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 2px;
  color: #666;
  background-position: 0 -351px;
  background: transparent;
  margin: 0;
}
.type-I-7 .type-2 .selector {
  display: inline-block;
}
.type-I-7 .type-2 .btn-show {
  font-family: "LMRomanCaps10-Regular";
  display: inline;
  font-size: 0.9em;
  box-shadow: inset 0 0 0 2px #706e69;
  margin-bottom: 4px;
  font-weight: bold;
  padding: 10px 15px;
  text-transform: none;
  margin-right: 6px;
}
.type-I-7 .type-2 .btn-show a {
  color: #706e69;
  text-decoration: none;
}
.type-I-7 .type-2 a {
  color: #333;
}
.type-I-7 .type-2 .btn-show:hover {
  box-shadow: inset 0 0 0 2px #fe99a1;
  background: #fe99a1;
  text-decoration: none;
  color: #fff;
}
.type-I-7 .type-2 .btn-show1 {
  display: inline-block;
  margin-left: 12px;
}
.type-I-7 .type-2 .phantrang {
  display: inline-block;
}
.type-I-7 .type-2 .phantrang a {
  color: #333;
}
.type-I-7 .type-2 .phantrang .pt {
  margin: 0;
  padding: 0;
}
.type-I-7 .type-2 .phantrang li {
  list-style: none;
  float: left;
  color: #333;
  line-height: 30px;
  font: normal 11px Arial, Verdana, sans-serif;
  font-size: 13px;
  padding: 0 5px;
}
