@select_background-image: url(../images/select_arrow_down.png);
@select_background-position: right center;
@select_background-repeat: no-repeat;
@search_field_background: none;
@widget_area_inner_ul_li_a_background: transparent;
@ui-widget-content_background: #cccccc;
@ui-widget-content_background-color: #602053;
@ui-slider-range_background-color: #1a3150;
@hover_icon_color: #ffffff;
@search_button_background: none;
@add_color_2_color: #1b3353;
@pagination_pages_a_color: #707276;
@pagination_pages_a_background-color: #f6f7f3;
@pager_first_background-color: transparent !important;
.page_content_wrap {
    padding: 2.1428em 0;
}
.show_product{
 form, ul,aside, div{font-family: inherit;
        font-size: 100%;
        font-style: inherit;
        font-weight: inherit;
        line-height: inherit;
        border: 0;
        outline: 0;
        -webkit-font-smoothing: antialiased;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
    }



.margin_bottom_large {
    margin-bottom: 60px !important;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none !important;
    outline: none;
    resize: none;
    padding: 0.45em 0.5em;
    border: 2px solid transparent;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
    background-image: @select_background-image;
    background-position: @select_background-position;
    background-repeat: @select_background-repeat;
}

.body_filled .widget_area[class*="scheme_"]:not(.footer_wrap) .widget_area_inner {
    padding: 2.857em;
}
.sidebar_inner {
    box-sizing: border-box;
}
aside{
display: block;    
}
.widget_area .widget_title {
    margin-top: 0;
    margin-bottom: 1.55em;
    text-transform: uppercase;
}
h5{
        color: #1a3150;
        font-family: 'Montserrat';
    font-weight: 700;
    line-height: 125%;
    margin: 0;
}
.widget_area ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}
ul{
    margin: 0;
}
.widget_area ul li {
    position: relative;
    padding-left: 1em;
    margin-bottom: 0;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
}
.widget_area_inner ul li:before {
    font-size: 1.5em;
}
.widget_area ul li:before {
    content: '\e83c';
    font-family: 'fontello';
    position: absolute;
    left: 1px;
    top: 0;
}
.widget_area_inner .widget_product_search .search_field{
    padding-right: 30px;
    padding-left: 20px;
    background: @search_field_background;
    border: none;
    width: 100%;
    height: 3.571em;
    line-height: 2.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
}
.widget_area_inner a, .widget_area_inner ul li a {
    line-height: 160%;
}
a{
    outline: 0;
    text-decoration: none;
    background: @widget_area_inner_ul_li_a_background;

}
.sidebar aside+aside {
    margin-top: 2.857em;
    padding-top: 2.857em;
}
aside{
    display: block;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    margin-bottom: 1.225em;
    background:@ui-widget-content_background;
    height: 5px;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    border-radius: 1em;
    background-color: @ui-widget-content_background-color;
    border: 0;
}
.woocommerce .widget_price_filter .ui-slider {
    position: relative;
    text-align: left;
    margin-left: .5em;
    margin-right: .5em;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range
{
        background-color:@ui-slider-range_background-color;
}

.hover_icon:before {
    font-family: 'fontello';
    font-size: 1.2em;
    color: @hover_icon_color;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 12px 20px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    filter: alpha(opacity=0);
    margin-top: 100px;
    z-index: 10;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}
.hover_icon_link:before {
    content: '\e8b5';
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    border-radius: 1em;
}
.widget_area ul li:before {
    content: '\e83c';
    font-family: 'fontello';
    position: absolute;
    left: 1px;
    top: 0;
}
a{
        transition: all 0.3s ease 0s;
}
.body_filled .widget_area[class*="scheme_"]:not(.footer_wrap) .widget_area_inner {
    padding: 2.857em;
}

.widget_area_inner .widget_product_search .search_button, .widget_area_inner .widget_search .search_button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    line-height: 3.571em;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.widget_area .widget_product_search .search_button, .widget_area .widget_search .search_button {
    text-align: center;
    border: none;
    background: @search_button_background;
}
.widget_area_inner .widget_product_search .search_button:before, .widget_area_inner .widget_search .search_button:before {
    width: 3.571em;
    height: 3.571em;
    font-size: 1em;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    line-height: inherit;
    font-weight: inherit;
    font-size: inherit;
    width: auto;
    margin: 0;
}
.widget_area .widget_product_search .search_form{
    position: relative;
    overflow: hidden;
}
input[type="text"]{
    outline: none;
    resize: none;
    padding: 0.45em 0.5em;
    border-radius: 0;
    
    transition: all ease .3s;
}
.add_color_2 {
    color: @add_color_2_color;
}
.text_align_center {
    text-align: center;
}
.font_size_3_571em {
    font-size: 3.571em;
}
.margin_top_null, .margin_top_none, .margin_top_no, .margin_top_hide {
    margin-top: 0 !important;
}

nav.pagination_pages {
    text-align: center;
}

.pagination_wrap {
    text-align: center;
    margin-bottom: 3.214em;
}
.pagination_single > .pager_numbers, .pagination_single a, .pagination_pages > a, .pagination_pages > span {
    display: inline-block;
    margin: 0 5px 5px 0;
    text-align: center;
    padding: 1.1em 1.286em;
    font-size: 1em;
    line-height: 1em;
}
.pagination_single > .pager_numbers, .pagination_single a, .pagination_slider .pager_cur, .pagination_pages > a, .pagination_pages > span {
    border: 2px solid #f6f7f3;
}
.pagination_pages > a{
    color: @pagination_pages_a_color;
    background-color:@pagination_pages_a_background-color;
    border-color: @pagination_pages_a_background-color;
}

.pagination_wrap .pager_next {
    margin-left: 0.6em;
}
.pagination_wrap .pager_next, .pagination_wrap .pager_prev, .pagination_wrap .pager_last, .pagination_wrap .pager_first {
    border: none !important;
    background-color: @pager_first_background-color;
}
.pagination_wrap .pager_next:before {
    font-family: 'fontello';
    content: '\e836';
    margin-right: 0;
}
.pagination_wrap .pager_last:before {
    font-family: 'fontello';
    content: '\e836\e836';
    margin-right: 0;
    letter-spacing: -7px;
}
}