.our_club_coaches{
	h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	    color: #1a3150;
	}
	h1, h2, h3, h4, h5, h6, p, ul, ol, dl, blockquote, address {
	    margin: 0;
	}
	h5 {
	    font-size: 1.214em;
	    font-weight: 700;
	    line-height: 125%;
	    margin-top: 1.2em;
	    margin-bottom: 0.5em;
	}
	a:hover, .scheme_dark a:hover, .scheme_light a:hover {
	    color: #7ca813;
	    transition: all 0.3s ease 0s;
	}
	.text_uppercase{
		text-transform: uppercase;
	}
	a{
		color: #96bd42;
		text-decoration:none;
	}
	img {
	    max-width: 100%;
	    height: auto;
	    vertical-align: top;
	}
	.back{
		background-color: #f6f7f3 !important;
	}
	.wrapper{
	    padding-left: 70px;
    	padding-right: 70px;
    }
	.row {
	    margin-left: -15px;
	    margin-right: -15px;
	}
	.margin_left_small-{
		margin-left: -20px!important;
	}
	img {
	    max-width: 100%;
	    vertical-align: top;
	}
	.column-1_3, .column-2_6, .column-3_9, .column-4_12 {
	    width: 33.33333333%;
	    float:left;
	}
	.column-2_3, .column-4_6, .column-8_12 {
	    width: 66.66666667%;
	    float:left;
	}
	.sc_cs{
		background-color:#96bd42;
		box-shadow: -2px 2px 25px 0px rgba(0,0,0,0.25);
	}
	.left{
		text-align:left;
	}
	.sc_title_underline::after {
	    border-top-color: #96bd42;
	}
	.mkt::after{
		border-top-color: #ffffff!important;
	}
	.sc_title_underline {
		    padding-bottom: 43px!important;
	}
	.margin_bottom_small {
	    margin-bottom: 20px!important;
	}	
	.column-1_2, .column-2_4, .column-3_6, .column-4_8, .column-5_10, .column-6_12 {
	    width: 50%;
	    float:left;
	}
	.vc_column-inner {
	    margin-bottom: 50px !important;
	    padding-top: 84px !important;
	    box-sizing: border-box;
	    padding-left: 15px;
	    padding-right: 15px;
	    width: 100%;
	}
	.row>[class*="column-"], .columns_wrap>[class*="column-"] {
	    display: inline-block;
	    vertical-align: top;
	    position: relative;
	    min-height: 1px;
	    padding-left: 0px;
	    padding-right: 30px;
	    box-sizing: border-box;
	}
/*----------------------------------module 7---------------------------*/
	.module-7{
		.vc_custom_7{
			.sc_align_center{
			    text-align: center;
			    font-weight: 600;
			    font-size: 3.571em;
			}
			.vc_custom_7_1{
			    margin-bottom: 50px !important;
			    padding-right: 25%;
			    padding-left: 25%;
			}
			.ps{
				text-align: center;
				color: #1b3353;
				line-height:30px;
				font-weight:400;
			}
			.sc_team_wrap{
				width: 100%;
			}
			.columns_wrap {
			    margin-left: 0px;
			    margin-right: -30px;
			}
			.columns_wrap>[class*="column-"].column_padding_bottom {
			    padding-bottom: 30px;
			}
			.sc_team_item_avatar.column-2_5 {
			    width: 33.4%;
			    padding-right: 0!important;
			    box-shadow: 0 0 10px rgba(0,0,0,0.2)!important;
			    line-height: 0!important;
			}
			/*-----------------twitter---------------*/
			.social_icons.social_twitter {
			    background-color: #1ca9eb;
			}
			.social_icons.social_twitter:hover {
			    background-color: #1a98d3;
			}
			/*-----------------facebook---------------*/
			.social_icons.social_facebook {
			    background-color: #1b3353;
			}
			.social_icons.social_facebook:hover {
			    background-color: #021328;
			}
			/*-----------------twitter---------------*/
			.social_icons.social_gplus {
			    background-color: #e13e30;
			}
			.social_icons.social_gplus:hover {
			    background-color: #cb281e;
			}
			.sc_socials.sc_socials_type_icons a, .sc_socials.sc_socials_type_icons a:hover {
			    color: #fff;
			}
			.sc_team_item .sc_team_item_avatar .sc_socials_item {
			    width: 33.33334%;
			    margin: 0;
			    float:left;
			}
			.sc_team_item_info.column-3_5 {
			    padding: 1.5em;
			    width: 60%;
			    background-color: #fff;
			}
			.sc_team_item_position {
			    margin-top:1em;
			    color: #96bd42;
			}
			.acb{
				color: #aab2bd !important;
			}
		}
	/*-------------------floating button --------------------*/
		.margin_top_small {
		    margin-top: 20px!important;
		}
		.sc_section_inner{
			text-align: center;
		}
		.aligncenter {
		    clear: both;	
		    display: block!important;
		    margin-left: auto!important;
		    margin-right: auto!important;
		    margin-top: 1em;
		    margin-bottom: 1em;
		    text-align: center;
		}
		.sc_button .default-state{
		    background-color: #96bd42;
		    color: #ffffff;
		}
		.sc_button .active-state {
		    background-color: #7ca813;
		    color: #ffffff;
		}		
	}
/*-------------------------- mobile--------------------------*/
	@media (max-width: 1135px){
		.row>[class*="column-"], .columns_wrap>[class*="column-"] {
		    padding-left: 0px!important;
		    padding-right: 0px!important;
		}
		.vc_custom_7 .vc_custom_7_1{
		    margin-bottom: 50px !important;
		    padding-right: 15% !important;
		    padding-left: 15% !important;
		}
		.ps{
			font-size: 11px;
		}
	}
	@media (max-width: 1135px) and (min-width: 960px){
		.container{
		    max-width: 964px!important;
		}
		.wrapper{
		    padding-left: 0px!important;
	    	padding-right: 0px!important;
	    }
	    .sc_team_item_info.column-3_5 {
		    padding: 2.5em;
		    width: 66%!important;
		}
		.sc_team_item_avatar.column-2_5 {
	    	width: 26% !important;
	    }
	    .vc_custom_7 .sc_team_item_info.column-3_5 {
    		padding: 0.5em;
    		font-size:13px;
    	}
    	.vc_custom_7 .columns_wrap {
		    margin-right: -15px!important;
		}
		.sc_team_item_description {
	    	padding: 0 5px;
	    }

	}
	@media (max-width: 959px) and (min-width: 768px){
		.container {
		    max-width: 708px;
		}
		.wrapper{
		    padding-left: 0px!important;
	    	padding-right: 0px!important;
	    }
	    .sc_team_item_info.column-3_5 {
		    padding: 1.5em;
		    width: 60%;
		}
		.sc_team_item_avatar.column-2_5 {
	    	width: 25% !important;
	    }
	    .column-1_2{
	    	width:100%;
	    }
	    .sc_team_item_description {
	    	padding: 0 2em;
	    }

	}
	@media (max-width: 767px) and (min-width: 640px){
		.wrapper {
		    padding-left: 0px;
		    padding-right: 0px;
		}
		.container{
			max-width: 600px;
		}
		.sc_team_item_info.column-3_5 {
		    padding: 1.5em;
		    width: 60%;
		}
		.sc_team_item_avatar.column-2_5 {
	    	width: 25% !important;
	    }
	    .column-1_2{
	    	width:100%;
	    }
	    .sc_team_item_description {
	    	padding: 0 2em;
	    }

	}
	@media (min-width: 768px){
		.vc_col-sm-12 {
		    width: 100%;
		}
	}
	@media (max-width: 639px) and (min-width: 480px){
		.container {
		    max-width: 440px;
		}
		.wrapper {
		    padding-left: 0px;
		    padding-right: 0px;
		}
		.sc_team_item_info.column-3_5 {
		    padding: 1.5em;
		    width: 62%;
		}
		.sc_team_item_avatar.column-2_5 {
	    	width: 31% !important;
	    }
	    .column-1_2{
	    	width:100%;
	    }
	    .sc_team_item_description {
	    	padding: 0 2em;
	    }
	    .vc_custom_7 .sc_team_item_info.column-3_5 {
    		padding: 0.5em;
    		font-size:13px;
    	}

	}
	@media (max-width: 479px){
		.container {
	    	width: 280px;
		}
		.wrapper {
		    padding-left: 0px;
		    padding-right: 0px;
		}
		.vc_custom_7 .columns_wrap {
		    margin-right:0px!important;
		}
		.sc_team_item_info.column-3_5 {
		    padding: 0;
		    width: 100%!important;
		    float:none!important;
		}
		.sc_team_item_avatar.column-2_5 {
	    	width: 100% !important;
	    	float:none!important;
	    }
	    .column-1_2{
	    	width:100%;
	    }
	    .sc_team_item_description {
	    	padding: 0 2em;
	    }

	}
}