.type-830 a:hover {
  text-decoration: none;
}
.type-830 .title {
  margin-top: 105px;
  margin-bottom: 45px;
  text-align: center;
}
.type-830 .title h1 {
  color: #fff;
  font-size: 39px;
  letter-spacing: -1px;
  margin-bottom: 20px;
  margin-top: 0;
}
.type-830 .title span {
  margin-top: 30px;
}
.type-830 .left-content {
  margin-bottom: 35px;
  magin-left: 70px;
}
.type-830 .left-content h2 {
  color: #fff;
  margin-bottom: 20px;
  margin-top: 17px;
  font-size: 34px;
  letter-spacing: -1px;
}
.type-830 .left-content .lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  color: #fde230;
}
.type-830 .left-content p {
  margin-top: 27px;
}
.type-830 .left-content p .btn-outline {
  border: 2px solid #52524f;
  border-radius: 0;
  font-size: 14px;
  padding: 10px 20px;
  color: #666;
}
.type-830 .left-content p .btn-outline:hover {
  background-color: #fde230;
  color: #1f1f1f;
}
.type-830 .right-content .block {
  margin-left: 40px;
}
.type-830 .right-content .block h3 span {
  color: #fde230;
  padding-right: 15px;
}
.type-830 .right-content .block p {
  margin: 0 0 10px;
  font-size: 14px;
  font-weight: 300;
  color: #666;
  margin-bottom: 30px;
  line-height: 21px;
}
@media (max-width: 900px) {
  .type-830 .lead {
    font-size: 21px;
  }
}
@media (max-width: 480px) {
  .type-830 h1 {
    font-size: 34px;
  }
  .type-830 .right-content .block {
    margin-left: 0;
  }
}
@media (max-width: 300px) {
  .type-830 .right-content .block {
    margin-left: 0;
  }
  .type-830 .right-content .block h3 {
    font-size: 17px;
  }
}
