.type-3{
    html, body, div, span, applet, object, iframe, h1,h2,h3, p, {
        
      font-family: inherit;
        font-size: 100%;
        font-style: inherit;
        font-weight: inherit;
        line-height: inherit;
        border: 0;
        outline: 0;
        -webkit-font-smoothing: antialiased;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
    }
    .slider_wrap .rev_slider_wrapper {
        z-index: 0;
    }
    .fullwidthbanner-container {
        overflow: hidden;
    }
    .fullscreen-container, .fullwidthbanner-container {
        padding: 0;
        position: relative;
    }
    .rev_slider_wrapper {
        position: relative;
        z-index: 0;
        width: 100%;
    }
    .fullwidthbanner-container .fullwidthabanner {
        width: 100%;
        position: relative;
    }
    .rev_slider {
        position: relative;
        overflow: visible;
    }
    .rev_slider li.tp-revslider-slidesli {
        position: absolute!important;
    }
    ol, ul {
        padding-left: 1.5em;
    }

    p, ul, ol, dl, blockquote, address {
        margin-bottom: 1.5em;
    }
    h1, h2, h3, p, ul, ol, dl, blockquote, address {
        margin: 0;
    }
    ul>li, ol>li, dl>dd {
        margin-bottom: 0.5em;
    }
    #slide-1-layer-1 {
        z-index: 6;
        white-space: nowrap;
        font-size: 188px;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.10);
        font-family: 'Montserrat';
    }
    #slide-1-layer-2 {
        z-index: 5;
        min-width: 627px;
        max-width: 627px;
        white-space: normal;
        font-size: 74px;
        line-height: 80px;
        font-weight: 700;
        color: rgba(255, 255, 255, 1.00);
        font-family: 'Montserrat';
    }
    #slide-1-layer-7 {
        z-index: 7;
        min-width: 615px;
        max-width: 615px;
        white-space: normal;
        font-size: 17px;
        line-height: 24px;
        font-weight: 400;
        color: rgba(206, 221, 243, 1.00);
        font-family: 'Open Sans';
    }
    #slide-1-layer-9 {
        z-index: 8;
        white-space: nowrap;
        font-size: 14px;
        line-height: 14px;
        font-weight: 700;
        color: rgba(255, 255, 255, 1.00);
        font-family: 'Montserrat';
        background-color: rgba(150, 189, 66, 1.00);
        padding: 22px 35px 22px 35px;
        border-color: rgba(0, 0, 0, 1.00);
        outline: none;
        box-shadow: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }


    #slide-2-layer-2 {
        z-index: 5;
        min-width: 547px;
        max-width: 547px;
        white-space: normal;
        font-size: 73px;
        line-height: 73px;
        font-weight: 700;
        color: rgba(255, 255, 255, 1.00);
        font-family: 'Montserrat';
        text-align: center;
    }
    #slide-2-layer-3 {
        z-index: 6;
        min-width: 932px;
        max-width: 932px;
        white-space: normal;
        font-size: 190px;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.32);
        font-family: 'Montserrat';
    }
    #slide-2-layer-4 {
        z-index: 7;
        min-width: 492px;
        max-width: 492px;
        white-space: normal;
        font-size: 17px;
        line-height: 24px;
        font-weight: 400;
        color: rgba(255, 255, 255, 1.00);
        font-family: 'Open Sans';
        text-align: center;
    }
    #slide-2-layer-7 {
        z-index: 8;
        white-space: nowrap;
        font-size: 14px;
        line-height: 14px;
        font-weight: 700;
        color: rgba(255, 255, 255, 1.00);
        font-family: Montserrat;
        background-color: rgba(26, 49, 80, 1.00);
        padding: 22px 35px 22px 35px;
        border-color: rgba(0, 0, 0, 1.00);
        outline: none;
        box-shadow: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    #slide-3-layer-2 {
        z-index: 5;
        min-width: 648px;
        max-width: 648px;
        white-space: normal;
        font-size: 74px;
        line-height: 74px;
        font-weight: 700;
        color: rgba(255, 255, 255, 1.00);
        font-family: 'Montserrat';
    }
    #slide-3-layer-1 {
        z-index: 6;
        white-space: nowrap;
        font-size: 190px;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.10);
        font-family: 'Montserrat';
    }
    #slide-3-layer-3 {
        z-index: 7;
        min-width: 584px;
        max-width: 584px;
        white-space: normal;
        font-size: 17px;
        line-height: 24px;
        font-weight: 400;
        color: rgba(170, 178, 189, 1.00);
        font-family: 'Open Sans';
    }
    #slide-3-layer-6 {
        z-index: 8;
        white-space: nowrap;
        font-size: 14px;
        line-height: 14px;
        font-weight: 700;
        color: rgba(255, 255, 255, 1.00);
        font-family: 'Montserrat';
        background-color: rgba(150, 189, 66, 1.00);
        padding: 22px 35px 22px 35px;
        border-color: rgba(0, 0, 0, 1.00);
        outline: none;
        box-shadow: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .tp-bullet {

        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
    .tp-bullets, .tp-tabs, .tp-thumbs {
        position: absolute;
        display: block;
        z-index: 1000;
        top: 0;
        left: 0;
    }
    .tp-bullet {
        position: absolute;
        background: rgba(255,255,255,.3);
        cursor: pointer;
    }

}