.type-i-34 {
  font: normal 13px/18px Georgia, "Times New Roman";
}
.type-i-34 * {
  transform-origin: 0px 0px 0px;
}
.type-i-34 div {
  display: block;
}
.type-i-34 .clearfix {
  zoom: 1;
}
.type-i-34 a {
  text-decoration: none;
  color: #333;
}
.type-i-34 h4 {
  display: block;
  -webkit-margin-before: 1.33em;
  -webkit-margin-after: 1.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.type-i-34 fa {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  pointer-events: none;
}
.type-i-34 .page_width {
  width: 1180px;
  margin: 0 auto;
}
.type-i-34 .page_width #columns>div:first-child {
  margin-top: 0;
}
.type-i-34 .page_width #columns {
  z-index: 1;
}
.type-i-34 .page_width #columns .clearfix:before {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.type-i-34 .page_width #columns .block li>a {
  background: none;
  font-size: 14px;
  line-height: 18px;
  padding: 0 0 10px 0;
}
.type-i-34 .page_width #columns #left_column {
  padding-top: 20px;
}
.type-i-34 .page_width #columns #left_column .block:first-child {
  margin-top: 0;
}
.type-i-34 .page_width #columns #left_column .block {
  margin-top: 70px;
  margin-bottom: 20px;
}
.type-i-34 .page_width #columns #left_column .block li {
  border: none;
  text-transform: none;
  line-height: 40px;
}
.type-i-34 .page_width #columns #left_column .block h4 {
  background: none;
  padding: 0;
  text-shadow: none;
}
.type-i-34 .page_width #columns #left_column #best-sellers_block_right h4.title_block {
  margin-bottom: 30px;
  font: normal 20px/46px Georgia;
  color: #505050;
  text-transform: uppercase;
  position: relative;
  border-bottom: 2px solid #aeaba3;
}
.type-i-34 .page_width #columns #left_column .products_block .block_content .product_images li {
  overflow: hidden;
  padding: 0 0 10px 0;
  margin-left: -40px;
}
.type-i-34 .page_width #columns #left_column .products_block .block_content .product_images .product_image {
  width: 90px;
  margin: 0 20px 10px 0;
  border: 1px solid #e0e0e0;
  padding: 0;
  float: left;
}
.type-i-34 .page_width #columns #left_column .products_block .block_content .product_images .product_image img {
  width: 100%;
  height: auto;
  display: block;
}
.type-i-34 .page_width #columns #left_column .products_block .block_content .product_images .block_product_info {
  margin: 0;
  padding: 0;
}
.type-i-34 .page_width #columns #left_column .products_block .block_content .product_images .block_product_info h5 {
  color: #757575;
  font: normal 14px/20px Georgia;
  margin-bottom: 10px;
}
.type-i-34 .page_width #columns #left_column .products_block .block_content .product_images .block_product_info h5 a {
  color: #757575;
}
.type-i-34 .page_width #columns #left_column .products_block .block_content .product_images .block_product_info .price {
  font-family: "lm_roman_demi_10regular";
  color: #3ea8a4;
  font-size: 17px;
  font-family: "LMRoman10Regular";
}
@media (min-width: 1200px) {
  .page_width {
    min-width: 1180px;
  }
}
@media (min-width: 1170px) {
  #left_column {
    width: 290px;
    float: left;
  }
}
@media (max-width: 1170px) and (min-width: 980px) {
  .page_width #columns {
    margin: 0 auto;
  }
  .page_width #columns #left_column {
    width: 220px;
    float: left;
    padding-top: 20px;
  }
}
@media (max-width: 979px) and (min-width: 728px) {
  .page_width #columns {
    width: 290px;
    margin: 0 auto;
    transition: all .4s linear;
  }
  .page_width #columns #left_column {
    width: 220px;
    float: left;
    padding-top: 20px;
  }
}
@media (max-width: 727px) {
  .page_width #columns {
    width: 290px;
    margin: 0 auto;
    transition: all .4s linear;
  }
  .page_width #columns #left_column {
    width: 100%;
    margin: 0;
    padding-top: 20px;
  }
}
