
.type-i-1 {
    height: 100%;
    min-height: 100%;
    background: #f9f9f9;
    padding-top: 36px;
    font: normal 13px/18px Georgia,"Times New Roman";
    *{
        margin: 0;
        padding: 0;
    }
    #white_bg {
        border-top: 1px solid rgba(0,0,0,0.15);
        background-color: #f9f9f9;
        font-family: "lm_roman_demi_10regular";
    }
    .main_bg{
        background-color: #fe99a1;
    }
    .main_color_hvr{
        color: #fe99a1;
    }
    .main_bg_hvr:hover{
        background-color: #fe99a1;
        a{
            i{
                color: #fff;
            }
        }
    }
    a{
        text-decoration: none;
        color: #6d6d6d;
    }
    .smooth05 {
        transition: all .5s ease-in-out;
    }

    .smooth02{
        transition: all .2s ease-in-out;
    }

    .page_width{
        width: 1180px;
        margin: 0 auto;
    }
    .dib {
        display: inline-block;
        vertical-align: top;
    }
    .fa{
        display: inline-block;
        //vertical-align: top;
        fill: currentColor;
        pointer-events: none;
        color: #fe99a1;
    }
    .fa:hover{
        color:#fff;
    }
    ul{
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 40px;
        margin: 0;
    }

    input,button{
        font-family: inherit;
        font-size: inherit;
        font-style: inherit;
        font-weight: inherit;
    }
    //header
    #header{
        height: 120px;
        top: -36px;
        position: relative;
        //language
        #languages_block_top {
            float: right;
            margin: 0;
            #countries {
                padding: 0;
                width: auto;
                position: relative;
                z-index: 99;
                .selected_language {
                    //border: 1px solid #C8C8C8;
                    float: left;
                    margin: 0!important;
                    display: block;
                    border-right: 1px solid rgba(0,0,0,0.1);
                    img {
                        margin: 13px 5px 0 10px;
                    }
                    a {
                        line-height: 36px;
                        color: #6d6d6d;
                    }
                    .fa{
                        width: 20px;
                        height: 20px;
                        margin: 9px 5px 0 0;
                        color: #6d6d6d;
                    }
                }
                span {
                    font: normal 13px/20px Verdana;
                    color: #888;
                }
                li{
                    a{
                        font: normal 13px/20px Verdana;
                        color: #888;
                    }
                }
            }
            #first-languages {
                position:relative;
                padding: 0; 
                margin:0;
                clear: both;
                background-color:#ebebeb;
                width: 100%; 
                border: 1px solid #dedede;
                min-width: auto;
                list-style-type: none;
                display: none;
                box-shadow: 0 2px 2px rgba(0,0,0,0.1);
                li{
                    padding:0;
                    margin:0;
                    img {
                        margin: 9px 5px 0 10px;
                        float:left ;
                    }
                    a {
                        line-height: 27px;
                        padding:0;
                        color: #555;
                        clear: none;
                    }
                    a:hover{
                        background: transparent;
                        color:#FFF;
                    }
                } 
            } 
        } 
        #languages_block_top:hover{
            background-color: #7b7975; 
            #countries {
                .selected_language{
                    .fa{
                        color: #fff;
                    }
                }
            }
            span a{
                color:#FFF !important;
            } 
        }
        //currencies
        #currencies_block_top{
            float:right;
            margin: 0;
            top: 0;
            margin-left: 30px;
            ul {
                margin:0;
                padding: 0;
                clear: both;
                width: 100%;
                min-width: auto;
                list-style-type: none;
                border-top: 1px solid #dedede;
                border-bottom: 1px solid #dedede;
                display: none;
                box-shadow: 0 2px 2px rgba(0,0,0,0.1);
            }
            li {
                border-left: 1px solid #dedede;
                border-right: 1px solid #dedede;
                background: #ebebeb;
                line-height: 27px;
                color: #555;
                padding: 0 10px;
                cursor: pointer;
                font: normal 13px/27px Verdana;
            }
            #currencyHolder {
                position: relative;
                z-index: 99;
                border-left: 1px solid rgba(0,0,0,0.15);
                border-right: 1px solid rgba(0,0,0,0.15);
                .fa{
                    width: 20px;
                    height: 20px;
                    margin-top: 12px;
                    margin-right: -12px;
                    color: #fe99a1;
                }
                #color-down{
                    color: #999;
                }
                #color-down:hover{
                    color: #fff;
                }
                span {
                    margin: 0;
                    padding: 0 5px 0 10px;
                    font: normal 13px/36px Verdana;
                }
                li:hover{
                    color:#FFF;
                    background: #fe99a1;
                }
            }
            .currency-sign {
                display: none;
            }
        }
        #currencies_block_top:hover{
            #currencyHolder{
                span.dib{
                    background-color: #7b7975;
                    color: #fff;
                    i.fa{
                        color: #fff;
                    }
                } 
            }
        }


        //user
        #header_user{
            float: right;
            padding-top: 0;
            position: relative;
            margin-left: 15px;
            #header_nav{
                #header_user_info{
                    .main_color_hvr:hover,.main_color_hvr:hover{
                        color: #fe99a1;
                    }
                }
            }
            li {
                float: left;
                display: block;
                clear: none;
                color: #999;
                font-family: Verdana;
                font-size: 13px;
                margin: 0;
                line-height: 36px;
                a {
                    color: #999;
                    font-size: 13px;
                    font-family: Verdana;
                }
            }
        } 
        .pk_account:hover,.pk_wishlist:hover,.pk_watchlist:hover{
            span{
                color: #fff;
            }
        }
        #pk_customlinks {
            float: left;
            ul{
                border-right: 1px solid rgba(0,0,0,0.15);
                list-style: none;
                padding: 0;
                margin: 0;
                li{
                    border-left: 1px solid rgba(0,0,0,0.15);
                    padding: 0 20px;
                    position: relative;
                    padding: 0 20px;
                    a {
                        color: #999;
                        font-family: Verdana;
                        line-height: 36px;
                        font-size: 13px;
                    }
                }
                .indent {
                    padding: 10px;
                    color: #fff;
                    ul {
                        list-style-type: none;
                        margin: 0;
                        border: none;
                        li{
                            width: auto;
                            display: block;
                            padding: 5px 0;
                            margin: 5px 0 0 0!important;
                            float: none;
                            overflow: hidden;
                            position: relative;
                            border: none;
                        }
                    }
                }
                .dd_container {
                    display: none;
                    position: absolute;
                    top: 36px;
                    left: 0;
                    border: none;
                    width: 250px;
                    text-align: left;
                    z-index: 9999;
                    margin: 0;
                }
                .pk_account {
                    border-left: 1px solid rgba(0,0,0,0.15);
                    li{
                        a {
                            line-height: 18px;
                            color: #fff;
                        } 
                    }
                }

                .pk_wishlist{
                    .indent{
                        .wishlist-list{
                            li.no-products{
                                font-style: italic;
                                line-height: 20px!important;
                                margin: 0;
                            }
                        }
                    }
                }
            }

        }
        //logo
        #header_logo {
            margin-top: 60px;
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            a{
                font: normal 80px Georgia;
                color: #3C3C3C;
                img{
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                }
            }
        }
        //c block
        .c_block {
            position: absolute;
            top: 76px;
            left: 360px;;
            font: normal 12px Arial;
            color: #7f7d74;
            .fa{
                color: #fe99a1;
                font-size: 15px;
            }
            .contact-phones {
                margin-right: 15px;
            }
            .dib{
                float: left;
                .fa{
                    font-size: 35px;
                    color: #fe99a1;
                }
            }
            .header-box {
                width: auto;
                float: left;
                margin: 0;
                ul {
                    list-style-type: none;
                    padding-left: 20px;
                    li{
                        line-height: 20px;
                        font-size: 11px;
                        display: list-item;
                        text-align: -webkit-match-parent;
                    }
                }
            }
        }
        //search block top
        #search_block_top {
            position: absolute;
            top: 80px;
            right: 150px;
            border: 1px solid #e7e2e2 !important;
            height: 36px;
            width: 200px;
            .search_query{
                width: 100%;
            }
            #search_query_top {
                width: 100%;  
                height: auto;
                border: none;
                position: absolute;
                padding: 7px 0;
                text-indent: 10px;
                color: #8a8989;
                font: normal 13px/20px Verdana;
                outline: 0;
                background-color: rgb(249, 249, 249);
                z-index: 1;
            }
            .searchbutton {
                cursor: pointer;
                color: #ccc;
                border: none;
                background: none;
                position: absolute;
                top: 0;
                right: 0;
                width: 20%;
                height: 100%;
                z-index: 2;
            }
            .searchbutton:hover{
                background-color: #fe99a1;
                i{
                    color:#FFF;
                }
            }
            .fa{
                font-size: 19px;
                margin: 0;
                cursor: pointer;
            }
        } 
        //shopping cart
        #shopping_cart {
            position: absolute;
            top: 80px;
            right: 0;
            padding: 0;
            background: none;
            width: auto;
            display: block;
            color: #b9b9b9;
            padding: 0 10px;
            line-height: 34px;
            border: 1px solid #e7e2e2;
            a {
                padding: 0;
                background: none;
                width: auto;
                display: block;
                color: #999;
                font-family: Verdana;
                font-size: 13px; 
            }
            .fa{
                font-size: 17px;
                margin: 8px 5px 0 0;
            }
            a:first-child b {
                font-weight: normal;
            }
            span {
                line-height: 16px;
            }

            .ajax_cart_quantity.mobile_cart_num {
                display: none!important;
            }

            .ajax_cart_total {
                display: none!important;
            }

            .price {
                opacity: 0.5;
            }

            dt{
                background: none;
            }
            dt {
                position: relative;
                overflow: hidden;
                margin-bottom: 15px;
            }
            a {
                color: #666;
            }

        }

        #shopping_cart:hover{
            background-color:#fa99a1;
            a {
                color: #fff;
                i{
                    color: #fff;
                }
            }
        }
        .unvisible {
            display: none;
        }
    }

    //mega menu
    .flexmenu-container{
        .page_width{
            /*MEGA MENU*/
            .flexmenu {
                border-bottom: 1px solid #8d8d8d;
            }
            .menu-container{
                a{
                    text-transform: uppercase;
                }
                .mega-menu{
                    width: 100%;
                    margin: auto;
                    .mobileMenuTitle{
                        display: none;
                    }
                    ul.mega-menu-ul{
                        list-style-type: none;
                        position: relative;
                        padding-left: 0;
                        box-shadow: inset 0 0 0 2px #706e69;
                        margin-bottom: 1px;
                    }
                    li{
                        a span {
                            padding: 0 10px;
                            font:normal 14px/46px Georgia;
                        }
                        span:hover{
                            color: #fe99a1;
                            transition: all .5s ease-in-out;
                        }
                        a { 
                            padding: 0 18px;
                            text-transform: uppercase;
                            color: #3a3a3c;
                            font-size: 19px;
                            line-height: 35px;
                            display: block;
                            color: #999;
                            line-height: 1.8;
                        }
                        a:hover{
                            color: #000;
                        }
                    }
                }

                .mega-menu-item:hover{

                    a.menu-item{
                        color: #999;
                    }
                    a.opener{
                        color: #999;
                    }
                } 
                .mega-dropdown-menu{ 
                    background-color: #f9f9f9;
                    padding: 22px 20px 30px;
                    margin: 4px 0;
                    .deskimg{
                        img{
                            width: 100%;
                        }
                    }
                    img{ 

                        margin-top: 30px;
                        height: auto;
                    }
                    .brand{
                        margin: 0 0 20px 0;
                    }
                    li{ 
                        padding-left: 0;
                        font-size: 16px;
                        text-transform: uppercase;
                        list-style:none;
                        a{
                            font-size: 13px;
                            text-transform: none;
                        }
                        ul{
                            li{
                                width:160px;
                                ul{
                                    padding:0;
                                    margin:0;
                                }
                            }
                        }
                    } 
                    .first-item{
                        padding-left: 15px;
                        li{
                            text-align: center;
                        }
                    }

                }
                span.price{
                    font-size: 24px;
                    color: #930;
                    display: block;
                    line-height: 30px;
                }

                .mega-menu-item{
                    .dropdown-menu{
                        width: 100%;
                        border: none;
                        margin: 0;
                    }
                    li {
                        h2{
                            text-transform: none;
                        }
                        p{
                            font-size: 13px;
                            text-transform: none;
                        }
                    }
                    .demos{
                        position: absolute; 
                        width: 190px;
                        left: auto;
                        padding:0;
                        li{
                            padding-left: 10px;
                            font-size: 15px;
                            border-top: 1px solid #ddd;
                            display: inline-block;
                            line-height: 30px;
                            height: auto;
                            vertical-align: top;
                            padding-left:15px;
                            width: 100%;
                            padding: 0;
                            a{
                                text-transform: uppercase;
                                width: 100%;
                                padding: 5px 5px 5px 20px;
                                font-size: 14px;
                            }
                        }
                    }   

                }
                .dropdown{
                    position: static !important;
                    display: inline-block;
                }
            }
        }
    }
}

@media (min-width: 1200px){
    .type-i-1{
        #index{
            #white_bg{
                .back_0{
                    .page_width{
                        min-width: 1180px;
                    }
                    .flexmenu-container{
                        .page_width{
                            min-width: 1180px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1170px){
    .type-i-1{
        .page_width{
            margin: 0 auto;
            width: 960px;
        }
        .c_block{
            display: none;
        }
    }
}

@media (max-width: 979px){
    .type-i-1{
        .page_width{
            width: 728px;
            margin: 0 auto;
            transition: all .4s linear;
            #pk_customlinks{
                a{
                    span{
                        display: none;
                    }
                }
            }
        }
        .c_block{
            display: none;
        }
        #currencies_block_top {
            float: right;
            margin: 0 0 0 30px;
        }
    }
}
@media (max-width: 727px){
    .type-i-1{
        //HEADER
        .page_width{
            margin: 0 auto;
            width: 450px;
            transition: all .4s linear;
            #header{
                height: 230px;
                #pk_customlinks{
                    position: absolute;
                    top: 220px;
                    width: 100%;
                    left: 0;
                    height: auto;
                    ul {
                        width: 100%;
                        text-align: left;
                        li {
                            width: 33.3%;
                            line-height: 30px;
                            text-align: center;
                            margin: 0;
                            display: block;
                            float: left;
                            position: static;
                            border: none;
                            padding: 0;
                            a {
                                font-size: 16px;
                                width: 100%;
                                display: block;
                                border: none;
                                height: auto;
                                span {
                                    line-height: 14px;
                                    margin: 0;
                                    display: inline-block !important;
                                    font-size: 12px;
                                }
                            }
                            span{
                                line-height: 20px;
                                display: inline-block;
                                margin-bottom: 5px;
                            }
                            li{
                                text-align: left;
                            }
                        }
                        li:first-child a {
                            border-style: none;
                        }
                    }
                    .dropdown-menu{
                        width: 100%;
                        border: none;
                        margin: 0;
                    }
                }

                #header_user{
                    position: absolute;
                    ul li{
                        margin: 0 20px;
                    }
                }
                #header_logo{
                    left: 85px;
                }
                #search_block_top{
                    top: 160px;
                    right: 50%;
                    margin-right: -150px;
                    width: 300px;
                }
                #shopping_cart {
                    position: relative;
                    padding: 0;
                    float: left;
                    width: 36px;
                    top: auto;
                    left: auto;
                    border: none;
                    min-width: 36px;
                    a {
                        height: 35px;
                        span,b{
                            display: none;
                        }
                        span,b,i{
                            float: left;
                        } 
                    }
                    .mobile_cart_num {
                        display: block;
                        position: absolute;
                        bottom: 0;
                        right: 5px;
                        height: 16px;
                        font: normal 12px/16px Arial;
                        padding: 0 4px;
                        text-align: center;
                        color: #fff;
                        border-radius: 50%;
                    }
                }
                #shopping_cart:hover{
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 99;
                    color: #fff;
                    background: #fa99a1;
                    width: 100%;
                    b{
                        display: block;
                    }
                    .ajax_cart_quantity,.ajax_cart_product_txt{
                        display: block !important;
                    }
                    b{
                        padding-right: 10px;
                    }
                    span{
                        padding-right: 10px;
                        padding-top:10px;
                    }
                }
            }
        }
        .flexmenu-container{
            .page_width{
                //mega menu
                .flexmenu {
                    border: none;
                }
                .menu-container{
                    .mega-menu{
                        .mobileMenuTitle {
                            margin-bottom: 40px;
                            width: 100%;
                            display: block;
                            font-size: 23px;
                            cursor: pointer;
                            height: 56px;
                            text-indent: 20px;
                            line-height: 56px;
                            color: #000;
                            text-transform: uppercase;
                            font-size: 23px;
                            font-weight: normal;
                            border-bottom: 1px solid #555;
                        }
                    }
                }
                .menu-container{ 
                    a.opener {
                        visibility: visible;
                        width: 20%;
                        height: 58px;
                        border-radius: 50%;
                        z-index: 99999;
                        cursor: pointer;
                        position: absolute;
                        padding: 0!important;
                        top: 0;
                        display: block!important;
                        max-width: 50px;
                        right: 0;
                        background-position: 50% 50%;
                        background-repeat: no-repeat;
                        background-color: transparent;
                        float: right;
                    }
                    a.opener:before {
                        content: "+";
                        line-height: 50px;
                        font-size: 28px;
                        width: 100%;
                        text-align: center;
                        display: block;
                        color: #000;
                    }

                    .mega-menu{
                        ul.mega-menu-ul{
                            border: none;
                            box-shadow: none;
                        }
                        ul{
                            li:first-child(){
                                .mega-dropdown-menu{
                                    left: 0;
                                }     
                            }
                            li{
                                .mega-dropdown-menu{
                                    padding: 0;
                                    opacity: 1;
                                    width: 100%;
                                    top: 0;
                                    border: none;
                                    position: static;
                                    box-shadow: none;
                                    background: none!important;
                                    visibility: visible;
                                }
                            }
                        }
                        .mobileMenuTitle {
                            display: block;
                            margin-bottom: 40px;
                            font-family: "lm_roman_demi_10regular";
                            display: block;
                            background: url(data:image/gif;base64,R0lGODdhFgAWAPAAABcXF////ywAAAAAFgAWAAACH4SPqcvtD12YtNqLs968+29F4kiWEYim6sqG5gvHTQEAOw==) no-repeat 97% 50%;
                            width: 100%;
                            font-size: 23px;
                            cursor: pointer;
                            height: 56px;
                            text-indent: 20px;
                            line-height: 56px;
                            color: #000;
                            text-transform: uppercase;
                            font-size: 23px;
                            font-weight: normal;
                        }
                    }
                    .mega-menu-ul{
                        display:none;
                        .menu-item{
                            padding-left: 20px;
                        }
                    }
                    ul{
                        list-style: none;
                    }
                    .mega-dropdown-menu{ 
                        div.mobile-hide{
                            display: none;
                        }
                        li{
                            width: 100%;
                            background: #f6f6f6;
                            margin:6px 0;
                            padding-bottom: 15px !important;
                            ul {
                                margin:0;
                                padding:0;
                                li{
                                    display: none;
                                    font-size: 16px!important;
                                    height: auto;
                                    color: #666; 
                                    text-transform: uppercase;
                                }
                                li:first-child{
                                    display: block;

                                }
                            }

                        }
                        .brand{
                            padding: 0 !important;
                            margin:10px !important;
                            width:20% ;
                            float:left;
                            img{ 
                                width: 100%;
                            }
                        }
                    }
                    .mega-menu-item{
                        float: none;
                        width: 100%;
                        overflow: hidden;
                        background: #fafafa;
                        border-bottom: 1px solid #f2f2f2;
                        border-top: 1px solid #fbfbfb;
                        padding: 15px 0 0 0!important;
                        line-height: 20px;
                        position: relative !important   ;

                        a {
                            height: 43px;
                            padding: 0 18px;
                            text-transform: uppercase;
                            color: #3a3a3c;
                            font-size: 19px;
                            float: left;
                            width: 85%;
                            line-height: 20px!important;
                            span:before{
                                visibility: hidden;
                                opacity: 0;
                            } 
                            span{
                                background: none;
                                text-indent: 0; 
                                line-height: 20px;
                            } 
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 479px){
    .type-i-1{
        .page_width{
            margin: 0 auto;
            width: 290px;
            transition: all .4s linear;
            #header{
                width:250px;
                #pk_customlinks{
                    position: absolute;
                    top: 220px;
                    width: 100%;
                    left: 0;
                    height: auto;
                    ul {
                        width: 100%;
                        text-align: left;
                        li {
                            width: 33.3%;
                            line-height: 30px;
                            text-align: center;
                            margin: 0;
                            display: block;
                            float: left;
                            position: static;
                            border: none;
                            padding: 0;
                            a {
                                font-size: 16px;
                                width: 100%;
                                display: block;
                                border: none;
                                height: auto;
                                span {
                                    line-height: 14px;
                                    margin: 0;
                                    display: inline-block !important;
                                    font-size: 12px;
                                }
                            }
                            span{
                                line-height: 20px;
                                display: inline-block;
                                margin-bottom: 5px;
                            }
                            li{
                                text-align: left;
                            }
                        }
                        li:first-child a {
                            border-style: none;
                        }
                    }
                    .dropdown-menu{
                        width: 100%;
                        border: none;
                        margin: 0;
                    }
                }
                #search_block_top{
                    width: 100%;
                }
                #header_logo{
                    left: 14px;
                    top: 18px;
                }
                #header_user{
                    position: relative;
                }
            }
        }
    }
}

