.type-829 {
  font-size: 15px;
  overflow: hidden;
  box-sizing: border-box;
}
.type-829 a:hover {
  text-decoration: none;
}
.type-829 .title {
  margin-top: 100px;
  margin-bottom: 60px;
}
.type-829 .title h1 {
  text-align: center;
  color: #fff;
}
.type-829 .cont {
  overflow: hidden;
}
.type-829 .cont .block {
  overflow: hidden;
  padding-bottom: 60px;
}
.type-829 .cont .block .images {
  position: relative;
  overflow: hidden;
}
.type-829 .cont .block .images img {
  width: 100%;
  transition: all 0.8s ease;
}
.type-829 .cont .block .images img:hover {
  -webkit-transform: scale(1.1);
}
.type-829 .cont .block .info h2 a {
  color: #fff;
}
.type-829 .cont .block .info h2 a:hover {
  color: #fde230;
}
.type-829 .cont .block .info p {
  color: #666;
}
.type-829 .cont .block .button {
  margin-top: 35px;
  margin-botom: 130px;
}
.type-829 .cont .block .button a {
  color: #666;
  border: 1px solid #666;
  padding: 10px 20px;
}
.type-829 .cont .block .button a:hover {
  background-color: #fde230;
  color: #000;
}
