.type_32_c {
  font-size: 15px;
}
.type_32_c .container1 {
  padding-left: 60px;
  padding-right: 60px;
}
.type_32_c a {
  text-decoration: none;
}
.type_32_c .vc_custom_1437539259227 {
  padding-top: 65px !important;
  padding-bottom: 63px !important;
}
.type_32_c .vc_custom_1437539195297 {
  padding-bottom: 15px !important;
}
.type_32_c .wpb_content_element {
  margin-bottom: 35px;
}
.type_32_c h1,
.type_32_c h2 {
  color: #fff;
  font-size: 43px;
  letter-spacing: -1px;
  margin-bottom: 20px;
  margin-top: 0px;
}
.type_32_c .tp-service-block {
  margin-bottom: 60px;
}
.type_32_c .tp-service-page .service-list .service-block-pic {
  margin-bottom: 30px;
  overflow: hidden;
}
.type_32_c .tp-service-page .service-list .service-block-pic img {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  max-width: 100%;
}
.type_32_c .image-scale {
  overflow: hidden;
}
.type_32_c .image-scale:hover img {
  transform: scale(1.25);
}
.type_32_c .image-scale img {
  max-width: 100%;
  transition: all 1s ease 0s;
}
.type_32_c .service-title a {
  color: #fff;
  font-size: 30px;
}
.type_32_c .service-title a:hover {
  color: #fde230;
}
.type_32_c .btn {
  margin-top: 25px;
}
.type_32_c .btn-outline {
  border: 2px solid #52524f;
  border-radius: 0px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 13px;
  padding: 10px 20px;
  color: #666;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
}
.type_32_c .btn-outline:hover {
  background-color: #fde230;
  border: 2px solid #fde230;
  color: #1f1f1f;
  text-transform: uppercase;
}
.type_32_c .btn:hover {
  text-decoration: none;
}
@media (max-width: 768px) {
  .type_32_c .container1 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .type_32_c h1 {
    font-size: 39px;
  }
}
@media (max-width: 468px) {
  .type_32_c h1 {
    font-size: 33px;
  }
  .type_32_c .service-title a {
    color: #fff;
    font-size: 25px;
  }
}
