.type-12b {
    margin: 0 ;
    line-height: 1.42857143;
    background-color: #1f1f1f;
   
    #owl-demo .item{
        margin: 3px;
    }
    #owl-demo .item img{
        display: block;
        height: auto;
    }
    .owl-carousel {
        overflow: hidden;
        padding: 70px;
        background: #282828;
        box-sizing: border-box;
    }
    .owl-controls .owl-page.active span, .owl-page:hover span {
        opacity: 1;
        background: #fde230;
    }
}