.type-7 {
    @media only screen and(max-width: 1200px)
    {
        .container{
            width: 1180px;
        }
    }
   

    a{
        text-decoration:none;
        color: #959595;
    }
    a:hover{
        text-decoration:none;
        color: #fff;
    }
    ul li{
        list-style:none;

    }



    .maincontent .blog a{
        color:#222;
        font-weight: bold;
    }

    .maincontent{
        margin-bottom: 50px;
    }



    /* 	FOOTER */
    #footer{
        background:#222;
        color: #888;
    }

    #footer h5{
        color:#eee;
    }

    #footer ul{
        padding-left:0px !important;
    }

    #footer ul li{
        color:#959595;
        list-style:none;
    }

    #footer .social a:hover{
        color:#fff;
    }

    #footer .social a{
        color:#959595;
        padding:5px;
        background:#3a3a3a;
    }

    .finfo{
        margin-top:20px;
    }
    .finfo ul li a{
        color: #959595;
    }

    .list a:hover{
        color: #fff;
        text-decoration: underline;
    }

    .footer-menu ul li{
        float: left;

    }
    .footer-menu a{
        padding-right: 10px;
        font-size: 12px;
        color: #959595;
    }

    .footer-menu a:hover{
        color: #ffffff;
    }
    .footer-menu ul li:after{
        content: "";
        height: 10px;
        width: 1px;
        margin-right: 10px;
        background: #3a3a3a;
        display: inline-block;
        
    }
    
    
        
       
    
    .col-md-6  ul li{
        float: left;
    }

    .col-md-6  li a{

    }

    .col-md-6 a:hover{
        color: #fff;
    }

    .col-md-6 a{

        font-size: 12px;
        color: #959595;
    }

    .payment-methods  li a {
        opacity: .5;
        padding-left:10px;
    }

    .payment-methods  a:hover {
        color: #ffffff;
        opacity: 1;
    }

    .footer-bottom{
        border-top: 1px solid #EEE;
        padding: 40px 0 0 0;
        margin-top: 20px;
        border-color: #3a3a3a;
    }



    //blog
    .blog_cat hr{
        position: relative;
    }
    .blog_cat h4{
        position: absolute;
        top:15px;
        left:45%;
        background: #000;
        color:#fff;
        padding: 5px 10px;
    }
    .blog_cat{
        margin-bottom: 20px;
    }
    .entry-content{
        font-size: 12px;
        color: #888;
        font-weight: 300;
    }
    .post-title a{
        font-size: 14px;
        font-weight: 500;
        color: #4d4d4d;
        
    }
    .post-title a:hover{
        color: rgb(123, 89, 155);
        text-decoration: underline ;
    }
    .post-thumb{
        margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    }
    
    .isotope-inner{   padding: 20px;
    border: 1px solid #EEE;}
    
    
    

}