.type-888{
    box-sizing: boder-box;
    overflow: hidden;

    .invoice-title {
        h2{
            display: inline-block;
        }
        h3{
            display: inline-block;
        }
    }
    .panel{
        .panel-body{
            .table{
                tbody{
                    tr{
                        .no-line{
                            border-top: none;
                        }
                        .thick-line{
                            border-top: 2px solid;
                        }
                    }
                }
                thead{
                    tr{
                        .no-line{
                            border-top: none;
                        }
                        .thick-line{
                            border-top: 2px solid;
                        }
                    }
                }
            }
        }
    }

}
