.type_3_header .pading_rigth_left {
  padding-right: 15px;
  padding-left: 15px;
}
.type_3_header .container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.type_3_header .margin_left_rigth {
  margin-left: -15px;
  margin-right: -15px;
}
.type_3_header .aaa {
  widows: 100%;
}
.type_3_header #tp-top-bar {
  position: relative;
  box-sizing: border-box;
  background-color: #151515;
  padding-top: 5px;
  padding-bottom: 70px;
}
.type_3_header #tp-top-bar .vc_row {
  margin-left: -15px;
  margin-right: -15px;
}
.type_3_header #tp-top-bar ul {
  margin-bottom: 0px;
  list-style: disc;
  margin: 0px;
  padding: 0px;
}
.type_3_header .social-icon-ft li {
  float: left;
  margin-right: 10px;
}
.type_3_header ul li {
  line-height: 31px;
  font-size: 14px;
  color: #666;
  font-weight: 300;
  list-style: none;
}
.type_3_header ul li a {
  color: #666666;
}
.type_3_header ul li a:hover,
.type_3_header ul li a:focus {
  text-decoration: none;
  color: #fde230;
}
@media screen and (max-width: 766px) {
  .type_3_header #tp-top-bar {
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 35px;
  }
  .type_3_header .links {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .type_3_header .tp-top-bar ul.links li {
    display: none;
  }
}
.type_3_header .wpb_content_element {
  margin-bottom: 35px;
}
.type_3_header .wpb_content_element .text-right {
  text-align: right;
}
.type_3_header .wpb_content_element .links {
  font-size: 13px;
}
.type_3_header .wpb_content_element .links li {
  font-size: 13px;
  display: inline-block;
  padding-right: 20px;
  text-transform: uppercase;
}
.type_3_header .wpb_content_element .links .highlight {
  color: #fde230;
}
.type_3_header .vc_row {
  margin-left: -15px;
  margin-right: -15px;
}
.type_3_header .vc_custom_1437478756869 {
  margin-bottom: 0px !important;
  cursor: pointer;
}
.type_3_header .header-row {
  padding-bottom: 20px;
  padding-top: 20px;
}
.type_3_header .header-row .header-row {
  padding-top: 0px;
  padding-bottom: 0px;
}
.type_3_header .header-row .header-row .stuck {
  padding-top: 5px;
  padding-bottom: 5px;
}
.type_3_header .sticky-wrapper {
  height: auto !important;
  width: 100%;
}
.type_3_header .vc_custom_1438140764928 {
  padding-left: 0px !important;
}
.type_3_header .tp-navigations .navbar-default .navbar-nav>li>a:hover,
.type_3_header .navbar-default .navbar-nav>li>a:focus {
  color: #fde230;
  background-color: transparent;
}
.type_3_header .tp-navigations .navbar-brand {
  float: left;
  height: 50px;
  padding: 8px 15px;
  font-size: 18px;
  line-height: 20px;
  display: none;
}
.type_3_header .tp-navigations .navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}
.type_3_header .tp-navigations .navbar-default {
  background-color: transparent;
  border-color: transparent;
  border-right: 0px;
  border-top: 0px;
  border-left: 0px;
}
.type_3_header .tp-navigations .navbar-default .navbar-toggle {
  border-color: #fde230;
}
.type_3_header .tp-navigations .navbar-default .navbar-toggle:hover {
  background-color: #f9d34f;
}
.type_3_header .tp-navigations .navbar-default .navbar-collapse {
  border-color: #1a2733;
}
.type_3_header .tp-navigations .navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: #fde230;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.type_3_header .tp-navigations .navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: none;
  -webkit-box-shadow: inset 0 0px 0 rgba(255,255,255,0.1);
  box-shadow: inset 0 0px 0 rgba(255,255,255,0.1);
}
.type_3_header .tp-navigations .navbar-nav li.parent-current-menu-item a {
  color: #fde230;
}
.type_3_header .tp-navigations .navbar-nav .open a {
  background-color: rgba(0,0,0,0);
}
.type_3_header .tp-navigations .navbar-nav li a {
  padding-top: 20px;
  padding-bottom: 14px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 20px;
}
.type_3_header .tp-navigations .navbar-nav li .dropdown-menu {
  background-color: #fde230;
  border: 0px;
}
.type_3_header .tp-navigations .navbar-nav li .dropdown-menu li a {
  display: block;
  padding: 8px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #1f2d3a;
  white-space: nowrap;
}
.type_3_header .tp-navigations .navbar-nav li .dropdown-menu>li.current-menu-item>a,
.type_3_header .tp-navigations .navbar-nav li .tp-navigations .navbar-nav>li>.dropdown-menu>li.current_page_item>a {
  background-color: #fff;
}
.type_3_header .tp-navigations .dropdown-menu li a.caret-click,
.type_3_header .tp-navigations .tp-navigations .navbar-nav>li>.dropdown-menu>li>a.caret-click {
  padding: 0 !important;
}
.type_3_header .tp-navigations .navbar-nav>li.menu-item-has-children>a.caret-click {
  padding: 18px 5px !important;
}
.type_3_header .tp-navigations ul.dropdown-menu li.menu-item-has-children span.caret {
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.type_3_header .dropdown-menu>li>a:focus,
.type_3_header .dropdown-menu>li>a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.type_3_header .caret-click span:hover {
  border-top-color: #fde230;
}
.type_3_header .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.type_3_header .container-fluid .navbar-header {
  margin-left: -15px;
  margin-right: -15px;
}
.type_3_header .container-fluid .navbar-collapse {
  margin-left: -15px;
  margin-right: -15px;
}
.type_3_header .collapse.in {
  display: block;
}
.type_3_header #menu-indus-v3 {
  margin-right: -6px;
}
.type_3_header .navbar-nav {
  margin: 7.5px -15px;
}
.type_3_header .nav>li {
  position: relative;
  display: block;
}
.type_3_header ul.nav li a {
  display: inline-block;
}
.type_3_header .dropdown-menu {
  border-radius: 0px;
}
.type_3_header ul.dropdown-menu {
  min-width: 240px;
  position: absolute;
}
.type_3_header ul.dropdown-menu span.caret {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 5px;
}
.type_3_header ul.dropdown-menu ul.dropdown-menu {
  background: #fde230;
  top: -2px;
  right: inherit;
  left: 100%;
}
.type_3_header ul.dropdown-menu li {
  position: relative;
}
.type_3_header ul.dropdown-menu li a {
  width: 100%;
}
.type_3_header .collapse.in li.menu-item-has-children.open:hover > ul.dropdown-menu,
.type_3_header li.menu-item-has-children:hover > ul.dropdown-menu {
  display: block;
}
.type_3_header .tp-navigations .navbar-nav li:hover a {
  color: #fde230;
}
@media screen and (max-width: 766px) {
  .type_3_header .navbar-header,
  .type_3_header .navbar-collapse {
    background: #151515;
  }
  .type_3_header .tp-navigations .navbar-brand.logo {
    float: none;
  }
  .type_3_header .logo>img {
    margin: 0 auto;
    margin-bottom: 24px;
  }
  .type_3_header .vc_custom_1438140764928 {
    text-align: center;
    padding-top: 15px;
  }
}
@media (max-width: 767px) {
  .type_3_header .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #777;
  }
  .type_3_header .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
  .type_3_header .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #333;
    background-color: transparent;
  }
}
@media (max-width: 480px) {
  .type_3_header .col-sm-8 {
    display: none;
  }
}
