.court_review{
	h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	    color: #1a3150;
	}
	h1, h2, h3, h4, h5, h6, p, ul, ol, dl, blockquote, address {
	    margin: 0;
	}
	h5 {
	    font-size: 1.214em;
	    font-weight: 700;
	    line-height: 125%;
	    margin-top: 1.2em;
	    margin-bottom: 0.5em;
	}
	a:hover, .scheme_dark a:hover, .scheme_light a:hover {
	    color: #7ca813;
	    transition: all 0.3s ease 0s;
	}
	.text_uppercase{
		text-transform: uppercase;
	}
	a{
		color: #96bd42;
		text-decoration:none;
	}
	img {
	    max-width: 100%;
	    height: auto;
	    vertical-align: top;
	}
	.back{
		background-color: #f6f7f3 !important;
	}
	.wrapper{
	    padding-left: 70px;
    	padding-right: 70px;
    }
	.row {
	    margin-left: -15px;
	    margin-right: -15px;
	}
	.margin_left_small-{
		margin-left: -20px!important;
	}
	img {
	    max-width: 100%;
	    vertical-align: top;
	}
	.column-1_3, .column-2_6, .column-3_9, .column-4_12 {
	    width: 33.33333333%;
	    float:left;
	}
	.column-2_3, .column-4_6, .column-8_12 {
	    width: 66.66666667%;
	    float:left;
	}
	.sc_cs{
		background-color:#96bd42;
		box-shadow: -2px 2px 25px 0px rgba(0,0,0,0.25);
	}
	.left{
		text-align:left;
	}
	.sc_title_underline::after {
	    border-top-color: #96bd42;
	}
	.mkt::after{
		border-top-color: #ffffff!important;
	}
	.sc_title_underline {
		    padding-bottom: 43px!important;
	}
	.margin_bottom_small {
	    margin-bottom: 20px!important;
	}	
	.column-1_2, .column-2_4, .column-3_6, .column-4_8, .column-5_10, .column-6_12 {
	    width: 50%;
	    float:left;
	}
	.vc_column-inner {
	    margin-bottom: 50px !important;
	    padding-top: 84px !important;
	    box-sizing: border-box;
	    padding-left: 15px;
	    padding-right: 15px;
	    width: 100%;
	}
	.row>[class*="column-"], .columns_wrap>[class*="column-"] {
	    display: inline-block;
	    vertical-align: top;
	    position: relative;
	    min-height: 1px;
	    padding-left: 0px;
	    padding-right: 30px;
	    box-sizing: border-box;
	}
/* ------------------------ module 1 -----------------------*/
	.module-1{
		.sc_matches_next {
		    background-color: #96bd42;
		    color: #fff;
		    float:left;
		    width: 34%;
		    box-shadow: -2px 2px 25px 0px rgba(0,0,0,0.25);
		}
		.sc_matches_next .sc_item_title{
			color: #fff;
		}
		.sc_matches .sc_item_title {
		    font-size: 2.4em;
		    text-align: left;
		    margin:0;
		    font-weight: 700;
		    line-height: 125%;
		}
		.sc_matches_next, .sc_matches_current {
		    padding: 35px;
		    padding-bottom: 15px;
		}
		.sc_matches_next .sc_item_title::after {
		    background-color: #ffffff;
		}
		.sc_matches .sc_item_title:after {
		    margin: 0.5em 0;
		}
		.sc_item_title:after {
		    background-color: #96bd42;
		}
		.sc_item_title:after {
		    content: ' ';
		    display: block;
		    width: 30px;
		    height: 2px;
		    margin: 0.6667em auto;
		}
		.sc_matches .sc_item_descr {
		    font-size: 1em;
		    text-align:left;
		    text-transform: uppercase;
		    font-style: normal;
		    margin: 0 0 2em;
		    letter-spacing: 0.03em;
		    font-weight: 500;
		}
		.sc_matches_list {
		    padding-left: 0;
		    list-style-type: none;
		    line-height: 1.3em;
		    margin-bottom: 1em;
		}
		.sc_matches_list{
			.sc_match_date{ 
				.day {
				    font-size: 25px;
				    font-weight: 600;
				    display: block;							
				    padding-top: 15px;
				}
				.month {
				    font-size: 12px;
				    font-weight: 400;
				    color: #96bd42;
				    letter-spacing: 1px;
				    text-transform: uppercase;
				}
			}
			.sc_match_date {
			    width: 68px;
			    color: #96bd42;
			    background-color: #ffffff;
			    height: 100%;
			    text-align: center;
			    position: absolute;
			}
			.sc_match {
			    padding-left: 0;
			    margin-bottom: 3px;
			    position: relative;
			    cursor: pointer;
			}
			.sc_match_info {
			    font-size: 0.85em;
			    background-color: rgba(256,256,256,0.1);
			    padding: 1em;
			    margin-left: 68px;
			    transition: all 0.3s ease 0s;
			}
			.sc_match:hover .sc_match_info {
			    background-color: rgba(256,256,256,0.2);
			}
			.sc_match_info {
				.name {
				    font-weight: 600;
				}
				.time, .players{
					display: inline;
				}
			}
		}
		.sc_matches_current {
		    width: 66%;
		    float:left;
		    padding-right: 0;
			padding-bottom: 15px;
			color: #1a3150;
		}
		.sc_matches_current {
			.sc_match:first-child {
			    display: block;
			}
			.match_block {
			    display: block;
			    width: 100%;
			    margin-bottom: 30px;
			    text-align: center;
			}
			.match_block{ 
				.player {
					float: left;
				    width: 33%;
				    display:inline-block;
				    position: relative;
				    box-shadow: -2px 2px 12px 0px rgba(0,0,0,0.25);
				}
				.player_country {
				    width: 40px;
				    color: #ffffff;
				    background-color: #96bd42;
				    height: 40px;
				    line-height: 40px;
				    text-align: center;
				    position: absolute;
				    top: 0;
				    left: 0;
				    font-size: 0.786em;
				    text-transform: uppercase;
				    z-index: 2;
				}
				.hover_icon {
				    position: relative;
				    display: block;
				}
				.hover_icon:hover:before {
				    opacity: 1;
				    margin-top: 0;
				}
				.hover_icon_view:before {
				    content: '\e843';
				}
				.hover_icon:before {
				    font-family: 'fontello';
				    font-size: 1.2em;
				    color: #ffffff;
				    background-color: #96bd42;
				    cursor: pointer;
				    position: absolute;
				    left: 50%;
				    top: 50%;
				    padding: 12px 20px;
				    transform: translateX(-50%) translateY(-50%);
				    opacity: 0;
				    margin-top: 100px;
				    z-index: 10;
				    transition: all ease .3s;
				}
				.player_name {
				    background-color: #1a3150;
				}
				.player_name a {
					color: #ffffff;
				    text-align: center;
				    padding: 16px;
				    font-weight: 600;
				    display: block;
				}
				.player_name a:hover {
					color: #7ca813;
					transition: all 0.3s ease 0s;
				}
				.match_info {
					float: left;
				    vertical-align: top;
				    text-align: center;
				    margin-top: 8%;
				    width: 29.5%;
				}
				.match_date {
				    font-weight: 600;
				    color: #96bd42;
				    margin-bottom: 17px;
				}
				.match_score {
					background-color: #ffffff;
	    			color: #1a3150;
				    font-size: 50px;
				    font-weight: 600;
				    line-height: 80px;
				    padding: 0 20px;
				    display: inline-block;
				    margin-bottom: 17px;
				}
				.match_category {
				    font-size: 13px;
				    font-weight:600;
				    text-transform: uppercase;
				}
			}	
		}
	}
/* ------------------------ module 2 -----------------------*/
	.module-2{
		.vc_column-inner{
			.sc_title{
				text-align: center;
			    font-weight: 600;
			    font-size: 3.929em;
			    margin-left: auto;
			    margin-right: auto;
			    margin-bottom: 10px!important;
			    margin-top: 0!important;   
			    overflow: hidden;
			    color:#1a3150;
			    position: relative;
			    padding-bottom: 2px;
			}
			.sc_title_regular{
				text-transform: uppercase;
				margin-bottom: 40px!important;
				margin-top: 0!important;
				letter-spacing: 1px;
				text-align: center;
			    color: #96bd42;
			    font-weight: 600;
			    font-size: 0.857em;
		    }
		    .vc_custom_1455200799535 {
			    margin-bottom: 4.286em !important;
			}
			.text_uppercase {
			    text-transform: uppercase;
			}
			.txt{
				color: #1a3150;
				text-align:center;
			}
			.isotope_wrap {
				position: relative;
	    		height: 268px;
			    margin-right: -30px;
			}
			.isotope_wrap{
				.isotope_item {
				    padding-right: 30px;
				    padding-bottom: 40px;
				    box-sizing: border-box;

				}
				.isotope_item_show {
					position: absolute;
				    left: 0px;
				    top: 0px;
				    opacity: 1;
				}    
				.isotope_column_4 {
				    width: 25%;
				    float:left;
				}
				.isotope_item_portfolio .post_item {
				    overflow: visible;
				}
				.ih-item.square.effect6 {
				    overflow: hidden;
				}
				.ih-item.square {
				    position: relative;
				    width: 100%;
				    height: 100%;
				}
				.isotope_item.isotope_item_portfolio .post_content.ih-item.square.colored .info {
				    background-color: rgba(255,255,255,0.8);
				    z-index:999;
				}
				.ih-item.square.effect6.colored .info .post_title {
				    background: #1a3150;
				}
				.ih-item {
				    transition: all 0.35s ease-in-out;
				}
				.ih-item.square.effect6 .img {
				    transition: all 0.35s ease-in-out;
				    transform: scale(1);
				}
				.hovereffect {
					width:100%;
					height:100%;
					float:left;
					overflow:hidden;
					position:relative;
					text-align:center;
					cursor:default;
				}

				.hovereffect .overlay {
					width:100%;
					height:100%;
					position:absolute;
					overflow:hidden;
					top:0;
					left:0;
					opacity:0;
					background-color:rgba(0,0,0,0.5);
					-webkit-transition:all .4s ease-in-out;
					transition:all .4s ease-in-out
				}

				.hovereffect img {
					display:block;
					position:relative;
					-webkit-transition:all .4s linear;
					transition:all .4s linear;
				}
				.hovereffect:hover img {
					-ms-transform:scale(1.2);
					-webkit-transform:scale(1.2);
					transform:scale(1.2);
				}

				.hovereffect:hover .overlay {
					opacity:1;
					filter:alpha(opacity=100);
				}

				.isotope_wrap .isotope_item .post_featured {
				    margin-bottom: 0;
				}
				.ih-item a, .ih-item a:hover {
				    color: #ffffff;
				}
				.ih-item.square.effect6:hover .info {
				    visibility: visible;
				    opacity: 1;
				}
				.ih-item.square .info {
				    position: absolute;
				    left: 0;
				    top: 0;
				    width: 100%;
				    height: 100%;
				    overflow: hidden;
				    text-align: center;
				    backface-visibility: hidden;
				}
				.ih-item .info {
				    text-shadow: 1px 1px 1px #000000;
				}

				.isotope_item.isotope_item_portfolio .post_content.ih-item.square.colored .info .info-back {
				    background-color: #1a3150;
				    width: 80%;
				    height: 80%;
				    margin: 0 auto;
				    padding: 0 3%;
				    vertical-align: middle;
				    top: 10%;
				    left: 10%;
				    box-shadow: -2px 2px 25px 0px rgba(0,0,0,0.25);
	    			position: absolute;
				}
				.info-box {
				    width: 80%;
				    left: 50%;
				    top: 50%;
				    position: absolute;
				    transform: translateX(-50%) translateY(-50%);
				}
				.post_title {
				    font-size: 1.214em;
				    text-shadow: none;
				    padding: 0.65em;
				    margin: 20% 0 0 0;
				    font-weight:700;
				    text-align: center;
				    line-height: 1.4em;
				}
				.info p {
				    font-size: 10px;
				    font-style: normal;
	    			text-shadow: none;
				}
				.post_info_posted a{
					color: #aab2bd;
				}
				.post_info_posted a:hover{
					color: #aab2bd;
				}
			}
			/*-------------float button-------------*/
			.margin_top_small {
			    margin-top: 20px!important;
			}
			.sc_section_inner{
				text-align: center;
			}
			.aligncenter {
			    clear: both;	
			    display: block!important;
			    margin-left: auto!important;
			    margin-right: auto!important;
			    margin-top: 1em;
			    margin-bottom: 1em;
			    text-align: center;
			}
			.sc_button.sc_button_style_1 .default-state{
			    background-color: #1ca9eb;
			    color: #ffffff;
			}
			.sc_button.sc_button_style_1 .active-state {
			    background-color: #1295d2;
			    color: #ffffff;
			}
		}
	}	
/*----------------------------- module 3 -----------------------*/
	.module-3{
		.wpb_wrapper{
			.columns_wrap {
			    margin-left: 0px;
			    margin-right: -30px;
			}
			.accent2{
				font-weight:600;
				font-size:3.571em;
			}
			.row>[class*="column-"], .columns_wrap>[class*="column-"] {
			    display: inline-block;
			    vertical-align: top;
			    position: relative;
			    min-height: 1px;
			    padding-left: 0px;
			    padding-right: 30px;
			    box-sizing: border-box;
			}
			.column-1_2, .column-2_4, .column-3_6, .column-4_8, .column-5_10, .column-6_12 {
				float:left;
			    width: 50%;
			}
			.sc_title {
			    overflow: hidden;
			    position: relative;
			    padding-bottom: 2px;
			    font-weight: 600;
	    		font-size: 3.571em;
			}
			.margin_top_huge {
			    margin-top: 80px!important;
			}
			.accent1 {
				font-weight:600;
				font-size:0.857em;
			    color: #96bd42;
			    text-transform: uppercase;
			}
			.margin_bottom_medium {
			    margin-bottom: 40px!important;
			}

			.margin_top_tiny {
			    margin-top: 10px!important;
			}
			.a{
				text-transform: uppercase;
				line-height:30px;
				color: #1b3353;
			}
			.vc_custom_1 {
			    margin-bottom: 50px !important;
			}
			ul.sc_list_style_iconed {
			    padding-left: 0;
			    margin-bottom: -10px!important;
			}
			.sc_list_style_iconed li {
				color:#707276;
				font-size:13px;
				text-transform: uppercase;
			    padding: 0 0 0 1.5em !important;
			    list-style: none;
			    position: relative;
			    line-height: 1.5em;
			}
			.sc_list_style_iconed .sc_list_icon {
			    color: #96bd42;
			}
			ul>li, ol>li, dl>dd {
			    margin-bottom: 0.5em;
			}
			.sc_button.sc_button_style_2 .active-state {
			    background-color: #021328;
			    color: #ffffff;
			    transform: rotateX(90deg) translateZ(75px);
			}
			.sc_button.sc_button_style_2 .default-state {
			    background-color: #021328;
			    color: #ffffff;
			}
			.margin_top_large {
			    margin-top: 60px!important;
			}
		}
/*-------------slider------------------*/
		.sc_sc{
			height: 500px;
		    width: 94.5%;
		    cursor: -webkit-grab;
		}
		.margin_top_medium {
		    margin-top: 40px!important;
		}
		.swiper-slide{
			width: 419px;
		    height: 500px;
		    position: relative;
		}
		.nsc{
			background-image:url(../image/custom_pat1.png);
			background-repeat:repeat;
			padding-bottom:20px;
			padding-top:20px;
		}
		.owl-carousel .owl-item img{
			height:500px;
			width: 80.5%;
		}
		.img-rounded {
		    border-radius: inherit;
		}
	}
/*-------------------------- mobile--------------------------*/
	@media (max-width: 1135px){
		.module-3{
			font-size:13px;
		}
		.sc_list_style_iconed li {
			font-size:10px!important;
		}
		.owl-item img {
		    height: 500px;
		    width: 90%;
		}
	}
	@media (max-width: 1135px) and (min-width: 960px){
		.container{
		    max-width: 964px!important;
		}
		.wrapper{
		    padding-left: 0px!important;
	    	padding-right: 0px!important;
	    }

	}
	@media (max-width: 959px) and (min-width: 768px){
		.container {
		    max-width: 708px;
		}
		.wrapper{
		    padding-left: 0px!important;
	    	padding-right: 0px!important;
	    }

	}
	@media (max-width: 767px) and (min-width: 640px){
		.wrapper {
		    padding-left: 0px;
		    padding-right: 0px;
		}
		.container{
			max-width: 600px;
		}
	}
	@media (min-width: 768px){
		.vc_col-sm-12 {
		    width: 100%;
		}
	}
	@media (max-width: 639px) and (min-width: 480px){
		.container {
		    max-width: 440px;
		}
		.wrapper {
		    padding-left: 0px;
		    padding-right: 0px;
		}

	}
	@media (max-width: 479px){
		.container {
	    	width: 280px;
		}
		.wrapper {
		    padding-left: 10px;
		    padding-right: 10px;
		}
		.wpb_wrapper .column-1_2{
			width:100%!important;
		}
	}
}