.type-855 {
    li{
        list-style:none;
    }
    .gold{
        color: #FFBF00;
    }
    .product-rating{
        font-size: 20px;
        margin-bottom: 25px;
    }
    .product-title{
        font-size: 20px;
    }
    .product-desc{
        font-size: 14px;
    }
    .product-price{
        font-size: 22px;
    }

    .product-info{
        margin-top: 50px;
    }

    .container-fluid{
        max-width: 1140px;
        margin: 0 auto;
        .tab-content{
            #service-one{
                box-sizing: boder-box;
            }
            #service-two{
                #service-one;
            }
            #service-three{
                #service-one;
            }
        }
        .thumbnail {
            padding:0px;
            border: none !important;
        }
    }
    .zoom-section{
        clear:both;
        margin-top:20px;
        display:inline;
        clear:both;
        .zoom-desc{
            float:left;
            margin-left:10px;
            width:100px;
            margin-bottom:20px;
        }}


    .zoom-small-image{
        border:4px solid #CCC;
        float:left;
        margin-bottom:20px; 
        margin-left: 30px;
    }
    .zoom-tiny-image{border:1px solid #CCC;margin:0px;}
    .zoom-tiny-image:hover{border:1px solid #C00;}
}