.type-848 {
  background-color: #666;
  color: #efefef;
  overflow: hidden;
}
.type-848 footer {
  padding-bottom: 5px;
}
.type-848 footer h4 {
  font: normal 15px Georgia;
  text-transform: uppercase;
  color: #fff;
  line-height: 18px;
  padding-top: 30px;
  padding-bottom: 20px;
  margin: 0;
}
.type-848 footer #footer-info h4 {
  padding-left: 10px;
}
.type-848 footer #footer-info ul {
  list-style: none;
  padding: 0 0 0 10px;
}
.type-848 footer #footer-info ul li {
  padding: 11px 0 11px 10px;
  border-top: 1px solid rgba(0,0,0,0.05);
  border-bottom: 1px solid rgba(255,255,255,0.05);
  transition: all .2s ease-in-out;
}
.type-848 footer #footer-info ul li a {
  font: normal 13px Verdana;
  color: #fff;
  text-decoration: none;
  line-height: 18px;
}
.type-848 footer #footer-info ul li a:hover {
  color: #efefef;
}
.type-848 footer #footer-info ul li:hover {
  background-color: rgba(255,255,255,0.05);
  padding-left: 14px;
}
.type-848 footer #footer-link h4 {
  padding-left: 10px;
}
.type-848 footer #footer-link ul {
  list-style: none;
  padding: 0 0 0 10px;
}
.type-848 footer #footer-link ul li {
  padding: 11px 0 11px 10px;
  border-top: 1px solid rgba(0,0,0,0.05);
  border-bottom: 1px solid rgba(255,255,255,0.05);
  transition: all .2s ease-in-out;
}
.type-848 footer #footer-link ul li a {
  font: normal 13px Verdana;
  color: #fff;
  text-decoration: none;
  line-height: 18px;
}
.type-848 footer #footer-link ul li a:hover {
  color: #efefef;
}
.type-848 footer #footer-link ul li:hover {
  background-color: rgba(255,255,255,0.05);
  padding-left: 14px;
}
.type-848 footer #footer-tweet {
  font: normal 13px Verdana;
}
.type-848 footer #footer-tweet .tweet-content {
  padding: 0 0 25px 28px;
  position: relative;
}
.type-848 footer #footer-tweet .tweet-content .tweet-icon {
  color: #a3a19d;
  position: absolute;
  font-size: 18px;
  top: 2px;
  left: 0;
}
.type-848 footer #footer-tweet .tweet-content p {
  padding-right: 30px;
  margin: 0;
}
.type-848 footer #footer-tweet .tweet-content a {
  text-decoration: none;
}
.type-848 footer #footer-tweet .tweet-content a .tweet-link {
  color: #c5988b;
  padding-right: 15px;
  margin-right: 20px;
  transition: all .2s ease-in-out;
}
.type-848 footer #footer-tweet .tweet-content a .tweet-link:hover {
  color: #ccc;
}
.type-848 footer #footer-tweet .tweet-content .tweet-day {
  color: #efefef;
  transition: all .2s ease-in-out;
}
.type-848 footer #footer-tweet .tweet-content .tweet-day:hover {
  color: #c6ccc5;
}
.type-848 footer #footer-fb {
  padding-right: 10px;
}
.type-848 footer #footer-fb h4 {
  float: left;
}
.type-848 footer #footer-fb .like-button {
  float: right;
  color: white;
  text-decoration: none;
  background-color: #c5988b;
  padding: 4px 9px;
  margin-top: 28px;
  transition: all .2s ease-in-out;
}
.type-848 footer #footer-fb .like-button:hover {
  background-color: #e17365;
}
.type-848 footer #footer-fb .people-like {
  font: normal 13px Verdana;
}
.type-848 footer #footer-fb .people-like a {
  color: white;
}
.type-848 footer #footer-fb ul {
  list-style: none;
  padding: 0;
}
.type-848 footer #footer-fb ul li {
  display: inline-block;
  margin: 0 30px 30px 0;
}
.type-848 footer #footer-fb ul li img {
  width: 100%;
}
.type-848 .sub-footer {
  border-top: 1px solid rgba(0,0,0,0.05);
  padding: 30px 0 20px;
  clear: both;
}
.type-848 .sub-footer p {
  float: left;
  color: #e1e1e1;
  font: normal 13px Verdana;
  padding-top: 6px;
  margin: 0;
}
.type-848 .sub-footer ul {
  float: right;
  list-style: none;
  padding: 0;
}
.type-848 .sub-footer ul li {
  display: inline-block;
}
@media all and (max-width: 991px) {
  .type-848 #footer-fb ul li {
    margin: 0 20px 20px 0 !important;
  }
}
@media all and (min-width: 767px) {
  .type-848 .footer-btn {
    display: none;
  }
  .type-848 #footer-info,
  .type-848 #footer-link,
  .type-848 #footer-tweet,
  .type-848 #footer-fb {
    display: block;
  }
  .type-848 .sub-footer p {
    padding-left: 10px;
  }
  .type-848 .sub-footer ul {
    padding-right: 10px;
  }
}
@media all and (max-width: 767px) {
  .type-848 footer h4 {
    display: none;
  }
  .type-848 footer #footer-info {
    margin-top: 10px;
  }
  .type-848 footer #footer-link {
    margin-top: 10px;
    padding-top: 10px;
  }
  .type-848 footer #footer-link ul {
    padding: 0 !important;
  }
  .type-848 footer #footer-tweet {
    margin-top: 10px;
    padding-top: 10px;
  }
  .type-848 footer #footer-tweet ul {
    padding: 0 !important;
  }
  .type-848 footer #footer-fb {
    margin-top: 10px;
    padding-top: 10px;
  }
  .type-848 footer #footer-fb ul {
    padding: 0 !important;
  }
  .type-848 footer .footer-btn {
    background: none;
    border: none;
    outline: none;
    display: block;
    font-size: 25px;
    padding-left: 10px;
    margin-top: 25px;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background: url(../images/footer_arrows.png) no-repeat 100% 0;
  }
  .type-848 footer #footer-info {
    padding-top: 10px;
  }
  .type-848 footer #footer-info ul {
    padding: 0 !important;
  }
  .type-848 footer .like-button {
    display: none;
  }
}
@media all and (max-width: 627px) {
  .type-848 .sub-footer p {
    width: 45%;
  }
  .type-848 .sub-footer ul {
    width: 45%;
  }
}
@media all and (max-width: 480px) {
  .type-848 .sub-footer ul li {
    margin: 0 0 10px 10px;
  }
}
