.type-810 {
  font-family: "Arial" inherit;
  background-color: #f6f7f3;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}
.type-810 a:hover {
  text-decoration: none;
}
.type-810 .title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 60px;
}
.type-810 .title h3 {
  color: #1a3150;
  font-size: 3.571em;
  font-weight: bold;
}
.type-810 .title h4 {
  color: #96bd42;
  font-weight: bold;
}
.type-810 .order .columns {
  margin-bottom: 100px;
}
.type-810 .order .columns .block-title {
  margin: 0 auto;
  padding: 10px 0;
  background-color: #1a3150;
  text-align: center;
}
.type-810 .order .columns .block-title h4 {
  color: #fff;
}
.type-810 .order .columns .info {
  background-color: #fff;
  margin-top: -10px;
}
.type-810 .order .columns .info .price {
  margin-top: 10px;
  color: #1a3150;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}
.type-810 .order .columns .info .price .currency {
  font-weight: 900;
  font-size: 1.429em;
  line-height: 4.7em;
  vertical-align: bottom;
}
.type-810 .order .columns .info .price .money {
  font-weight: 900;
  font-size: 2.857em;
  line-height: inherit;
}
.type-810 .order .columns .info .price .period {
  color: #1a3150;
}
.type-810 .order .columns .info .description {
  font-size: 1em;
  text-align: center;
  padding: 0 30px;
  font-weight: 600;
  color: #7a7f87;
  padding-bottom: 40px;
}
.type-810 .order .columns .info .description p {
  text-align: center;
}
.type-810 .order .columns .info .button {
  text-align: center;
}
.type-810 .order .columns .info .button .default span {
  background-color: #1295d2;
  color: #fff;
  line-height: 55px;
  padding: 0 35px;
  padding: 20px 50px;
}
.type-810 .order .columns .info .button .active span {
  background-color: #1295d2;
  color: #fff;
  line-height: 55px;
  padding: 0 35px;
  padding: 20px 50px;
}
.type-810 .order .columns .info .button .cube {
  display: block;
  text-align: center;
  margin: 0 auto;
  transition: all 250ms ease;
  transform-style: preserve-3d;
}
.type-810 .order .columns .info .button .cube.flip-to-top:hover {
  -webkit-transform: rotateX(-89deg);
  transform: rotateX(-89deg);
}
.type-810 .order .columns .info .button .default.active {
  display: block;
  transition: background 250ms ease;
}
.type-810 .order .columns .info .button :active,
.type-810 .order .columns .info .button :focus {
  outline: 0;
}
.type-810 .order .columns .info .button .flip-to-top .active {
  -webkit-transform: rotateX(90deg) translateZ(75px);
  transform: rotateX(90deg) translateZ(75px);
  display: block;
}
.type-810 .order .columns:hover {
  margin-top: -15px;
}
@media (max-width: 420px) {
  .type-810 .title h3 {
    font-size: 2em;
  }
  .type-810 .title h4 {
    font-size: 1em;
  }
}
