.mod-custom-6{
     #respond {
        position: static;
        margin: 0;
        width: auto;
        padding: 0;
        background: 0 0;
        border: 0;
    }
    #respond input{
    text-align: center;
    padding: 1.286em 2.500em;
    font-size: 1em;
    line-height: 1.3em;
    font-weight: 700;
    margin: 0;
    border: none;
    border-radius: 0;
    color: #fff;
    margin-top: 10px;
}
.submit{
    background-color: #96bd42;
}
    #respond p {
        margin: 0 0 10px;
    }

   
    h1, h2, h3, h4, h5, h6, p, ul, ol, dl, blockquote, address {
        margin: 0;
    }
    h5 {
        font-size: 1.214em;
        font-weight: 700;
        line-height: 125%;
        margin-top: 1.2em;
        margin-bottom: 0.5em;
    }
    a:hover,  a:hover,  a:hover {
        color: #7ca813;
        transition: all 0.3s ease 0s;
    }
    a{
        color: #96bd42;
        text-decoration:none;
    }
    img {
        max-width: 100%;
        height: auto;
        vertical-align: top;
    }    
    
    .star{
        padding-top: 6px;
        float:right;
    }
    .meta{
        padding-top: 6px;
        float:left;
        color: #777;
        font-size: 0.83em;
    }
    .abn{
        padding: 4em 0;;
    }
    .nav > li > a {
        position: relative;
        display: block;
        color:#333;
        font-size:1em;
        font-weight:600;
        padding: 15px 30px;
        background: #fff;
    }
    .nav > li > a:hover {
        background: #fff;
        color:#96bd42;
    }
    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
        color: #fff;
        background-color: #96bd42;
    }
    .nav-pills > li + li {
        margin-left: 10px;
    }
    .nav-pills > li > a {
        border-radius: 0px;
    }
    .text-1 h2, .text-2 h2, .text-3 h2{
        padding:1em 0;
        font-size:2em;
    }
    .text-1 p{
        color:#707276;
        font-size:15px;
        line-height: 26px;
        font-family: inherit;	
    }
    p.meta strong {
        color: #1a3150;
        font-size: 1.83em;
        font-weight:normal;
    }
    p.meta time {
        color: #777;
        font-style: italic;
    }
    .ab{
        color: #7ca813;
        font-size: 10px;
    }
    .ac{
        color: #d3ced2;
        font-size: 10px;
    }
    .comment-text p{
        color:#707276;
        font-size:15px;
        margin-bottom: 0.7em;
    }
     h2{
        padding-bottom:0.5em;
    }
    
    @media (max-width: 1135px){
        p{
            font-size:13px!important;
        }
    }
    @media (max-width: 959px) and (min-width: 768px){
        .container {
            max-width: 708px;
        }
        .wrapper{
            padding-left: 0px!important;
            padding-right: 0px!important;
        }
        .comment {
            width: 90%;
        }
        .img{
            width:10%;
        }

    }
    
    @media (max-width: 639px) and (min-width: 480px){
        .container {
            max-width: 440px;
        }
        .wrapper {
            padding-left: 0px;
            padding-right: 0px;
        }
        .nav-pills > li + li, .nav-pills > li {
            margin-left:0;
            margin-right:10px;
            margin-bottom:10px;
        }
        .comment {
            width: 82%;
        }
        .img{
            width:18%;
        }
        .nav > li > a {
            padding: 15px 10px;
        }

    }
    @media (max-width: 479px){
        .container {
            width: 280px;
        }
        .wrapper {
            padding-left: 0px;
            padding-right: 0px;
        }
        .nav-pills > li + li, .nav-pills > li {
            margin-left:0;
            margin-bottom:10px;
        }
        .comment {
            width: 80%;
        }
        .img{
            width:20%;
        }
    }
    #respond textarea {
    height: 150px;
     width: 100%;
    overflow: auto;
    
}
 h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
        color: #1a3150;
    }
 textarea {
    -webkit-appearance: none;
    appearance: none !important;
    outline: none;
    resize: none;
    padding: 0.45em 0.5em;
    border: 2px solid transparent;
    border-radius: 0;
    transition: all ease .3s;
 }
input[type="text"]{
    -webkit-appearance: none;
   
    appearance: none !important;
    outline: none;
    resize: none;
    padding: 0.45em 0.5em;
    border: 2px solid transparent;
    border-radius: 0; 
    box-sizing: border-box;   
    transition: all ease .3s;
    
}
.back{
        background-color: #f6f7f3 !important;
    }
    .wrapper{
        padding-left: 70px;
        padding-right: 70px;
    }
    
    img {
        max-width: 100%;
        vertical-align: top;
    }

    
    .text-1 p.a{
        margin-bottom: 1.5em;
    }
    table.shop_attributes {
        border: 0;
        border-top: 1px dotted rgba(0,0,0,.1);
        border-bottom: 1px dotted rgba(0,0,0,.1);
        width: 100%;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    table.shop_attributes th {
        width: 150px;
        font-weight: 700;
        padding: 8px;
        line-height: 1.5;
        color: #1a3150;
        text-align:center;
    }
    table.shop_attributes td p {
        color: #96bd42;
        font-weight: 600;
        font-style: italic;
    }
@media (max-width: 767px) and (min-width: 640px){
        .wrapper {
            padding-left: 0px;
            padding-right: 0px;
        }
        .container{
            max-width: 600px;
        }
        .nav-pills > li + li, .nav-pills > li {
            margin-left:0;
            margin-bottom:10px;
        }
        .comment {
            width: 88%;
        }
        .img{
            width:12%;
        }
        .nav > li > a {
            padding: 15px 20px;
        }
        .nav-pills > li + li, .nav-pills > li {
            margin-left:0;
            margin-right:10px;
            margin-bottom:10px;
        }

    }
    ul{
        margin:0;
        padding:0;
    }
    .content-menu li{
        text-decoration:none;
        list-style: none;
        padding-bottom: 0.5em;

    }
    .img{
        width:7%;
        float:left;
    }
    .comment{
        width:93%;
        float:left;
        margin-bottom: 0.7em;
    }
    .img img{
        background: none;
        border: none;
        padding: 0;
        width: 50px;
        float: left;
        margin: 0 1.5em 0.5em 0;
        position: static;
    }

}