.type-869-tyle1 {
  font: normal 13px/18px Georgia, "Times New Roman";
}
.type-869-tyle1 * {
  transform-origin: 0px 0px 0px;
}
.type-869-tyle1 div {
  display: block;
}
.type-869-tyle1 .clearfix {
  zoom: 1;
}
.type-869-tyle1 a {
  text-decoration: none;
  color: #333;
}
.type-869-tyle1 h4 {
  display: block;
  -webkit-margin-before: 1.33em;
  -webkit-margin-after: 1.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.type-869-tyle1 fa {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  pointer-events: none;
}
.type-869-tyle1 .smooth02 {
  transition: all .2s ease-in-out;
}
.type-869-tyle1 .page_width {
  width: 1180px;
  margin: 0 auto;
}
.type-869-tyle1 .page_width #columns>div:first-child {
  margin-top: 0;
}
.type-869-tyle1 .page_width #columns {
  z-index: 1;
}
.type-869-tyle1 .page_width #columns .clearfix:before {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.type-869-tyle1 .page_width #columns .block li>a {
  background: none;
  font-size: 14px;
  line-height: 18px;
  padding: 0 0 10px 0;
}
.type-869-tyle1 .page_width #columns #left_column {
  padding-top: 20px;
}
.type-869-tyle1 .page_width #columns #left_column .block:first-child {
  margin-top: 0;
}
.type-869-tyle1 .page_width #columns #left_column .block {
  margin-top: 70px;
  margin-bottom: 20px;
}
.type-869-tyle1 .page_width #columns #left_column .block li {
  border: none;
  text-transform: none;
  line-height: 40px;
}
.type-869-tyle1 .page_width #columns #left_column .block h4 {
  background: none;
  padding: 0;
  text-shadow: none;
}
.type-869-tyle1 .page_width #columns #left_column .list-module h4.title_block {
  margin-bottom: 10px;
  box-shadow: inset 0 0 0 2px #aeaba3;
  text-indent: 20px;
  border-bottom: none;
}
.type-869-tyle1 .page_width #columns #left_column .list-module h4.title_block:after {
  bottom: -2px;
}
.type-869-tyle1 .page_width #columns #left_column .list-module .id_menu {
  position: relative;
  border: 1px solid #e0e0e0;
}
.type-869-tyle1 .page_width #columns #left_column .list-module .id_menu .id_menu2 {
  font-size: 15px;
  line-height: 26px;
  text-transform: uppercase;
  position: relative;
  border-bottom: 1px solid #e0e0e0 !important;
  display: block;
  padding: 10px 10px 10px 20px;
}
.type-869-tyle1 .page_width #columns #left_column .list-module .id_menu .id_menu2 a {
  line-height: 26px;
  padding: 0 !important;
}
.type-869-tyle1 .page_width #columns #left_column .vert-flexmenu-container .vert-flexmenu ul {
  list-style: none;
  padding: 0;
}
.type-869-tyle1 .page_width #columns #left_column .vert-flexmenu-container .vert-flexmenu ul li a {
  color: #727272;
  display: inline-block;
  color: #494940;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  padding: 10px 40px 10px 20px;
  padding: 0 !important;
}
.type-869-tyle1 .page_width #columns #left_column .vert-flexmenu-container .vert-flexmenu ul .v-flexmenuitem a.menu-title {
  position: relative;
}
.type-869-tyle1 .page_width #columns #left_column .vert-flexmenu-container .vert-flexmenu ul .v-flexmenuitem a.opener {
  float: right;
}
.type-869-tyle1 .page_width #columns #left_column .vert-flexmenu-container .vert-flexmenu ul .v-flexmenuitem a.opener .fa {
  text-align: center;
  width: 30px;
  height: 30px;
  margin-top: 6px;
  color: #ccc;
}
.type-869-tyle1 .page_width #columns #left_column .vert-flexmenu-container .vert-flexmenu ul .v-flexmenuitem a.opener #aftericon {
  display: none;
}
.type-869-tyle1 .page_width #columns #left_column .vert-flexmenu-container .vert-flexmenu ul .v-flexmenuitem .submenu {
  transition: none;
}
.type-869-tyle1 .page_width #columns #left_column .vert-flexmenu-container .vert-flexmenu ul .v-flexmenuitem .right-co {
  width: 900px;
}
.type-869-tyle1 .page_width #columns #left_column .vert-flexmenu-container .vert-flexmenu ul .v-flexmenuitem:hover {
  transition: all 4s;
}
.type-869-tyle1 .page_width #columns #left_column .vert-flexmenu-container .vert-flexmenu ul .v-flexmenuitem:hover a.opener .fa {
  display: none;
}
.type-869-tyle1 .page_width #columns #left_column .vert-flexmenu-container .vert-flexmenu ul .v-flexmenuitem:hover a.opener #aftericon {
  display: block;
}
.type-869-tyle1 .page_width #columns #left_column .vert-flexmenu-container h4.title_block {
  margin-bottom: 30px;
  font: normal 20px/46px Georgia;
  color: #505050;
  text-transform: uppercase;
  position: relative;
  border-bottom: 2px solid #aeaba3;
}
.type-869-tyle1 .page_width #columns #left_column .vert-flexmenu-container h4.title_block:after {
  content: "";
  width: 100%;
  display: block;
  margin-top: 5px;
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 1px;
  border-bottom: 1px solid #bdbcbc;
}
.type-869-tyle1 .page_width .left_col .vert-flexmenu ul li div.submenu {
  left: 100%;
  right: auto;
}
.type-869-tyle1 .page_width .left_col .vert-flexmenu div.submenu {
  left: 100%;
  right: auto;
  display: none;
  top: -1px;
  width: auto;
  z-index: 99999;
  position: absolute;
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  padding-left: 20px;
}
.type-869-tyle1 .page_width .left_col .vert-flexmenu div.submenu .full-width {
  width: 660px;
}
.type-869-tyle1 .page_width .left_col .vert-flexmenu div.submenu .sections-contaier {
  background-image: url(../images/vmenu_bg.jpg);
  background-color: #fff;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.25);
  overflow: hidden;
}
.type-869-tyle1 .page_width .left_col .vert-flexmenu div.submenu .sections-contaier .section-indent {
  padding: 28px 29px 20px 28px;
  overflow: hidden;
}
.type-869-tyle1 .page_width .left_col .vert-flexmenu div.submenu .sections-contaier .section-indent .v-main-section-links li.col_num {
  width: 33%;
  float: left;
  line-height: 26px;
}
.type-869-tyle1 .page_width .left_col .vert-flexmenu div.submenu .sections-contaier .section-indent .v-main-section-links li.col_num a.menu-item-title {
  text-transform: uppercase;
}
.type-869-tyle1 .page_width .left_col .vert-flexmenu div.submenu .sections-contaier .only-right {
  width: 640px;
  display: inline-block;
}
.type-869-tyle1 .page_width .left_col .vert-flexmenu div.submenu .sections-contaier .right-section {
  width: 234px;
  float: right;
  min-height: 20px;
}
.type-869-tyle1 .page_width .left_col .vert-flexmenu div.submenu .sections-contaier .right-section .section-indent {
  padding: 28px 29px 20px 28px;
  overflow: hidden;
}
.type-869-tyle1 .page_width .left_col .vert-flexmenu div.submenu .sections-contaier .right-section .section-indent .right-title {
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.type-869-tyle1 .page_width .left_col .vert-flexmenu div.submenu .sections-contaier .right-section .section-indent .menu-product-title {
  text-transform: uppercase;
}
.type-869-tyle1 .page_width .left_col .vert-flexmenu div.submenu .sections-contaier .right-section .section-indent .vm-pr-nbs-flexisel-container {
  overflow: hidden;
  width: 100%;
}
.type-869-tyle1 .page_width .left_col .vert-flexmenu div.submenu .sections-contaier .right-section .section-indent .vm-pr-nbs-flexisel-container .nbs-flexisel-inner {
  width: calc(120%);
}
.type-869-tyle1 .page_width .left_col .vert-flexmenu div.submenu .sections-contaier .right-section .section-indent .vm-pr-nbs-flexisel-container .nbs-flexisel-inner .menu-product li.nbs-flexisel-item {
  text-align: center;
  position: relative;
}
.type-869-tyle1 .page_width .left_col .vert-flexmenu div.submenu .sections-contaier .right-section .section-indent .vm-pr-nbs-flexisel-container .nbs-flexisel-inner .menu-product li.nbs-flexisel-item a img {
  width: 100%;
}
.type-869-tyle1 .page_width .left_col .vert-flexmenu div.submenu .sections-contaier .right-section .section-indent .vm-pr-nbs-flexisel-container .nbs-flexisel-inner .nbs-flexisel-ul {
  width: 10000%;
  position: relative;
  list-style: none;
}
.type-869-tyle1 .page_width .left_col .vert-flexmenu div.submenu .sections-contaier .right-section .section-indent .vm-pr-nbs-flexisel-container .nbs-flexisel-inner .nbs-flexisel-ul li {
  float: left;
  margin: 0;
  width: 204px !important;
}
.type-869-tyle1 .page_width .left_col .vert-flexmenu div.submenu .sections-contaier .right-section .section-indent .flexisel-nav-wrapper {
  position: absolute;
  top: 28px;
  right: 20px;
}
.type-869-tyle1 .page_width .left_col .vert-flexmenu div.submenu .sections-contaier .right-section .section-indent .flexisel-nav-wrapper .flexisel-nav {
  width: 20px;
  height: 20px;
  background: #ccc;
  cursor: pointer;
  color: #9f9f9f;
  background-color: #fafafa;
  -webkit-user-select: none;
  -moz-user-select: none;
  border: 1px solid #e6e5e5;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #e6e5e5;
  text-align: center;
}
.type-869-tyle1 .page_width .left_col .vert-flexmenu div.submenu .sections-contaier .right-section .section-indent .flexisel-nav-wrapper .flexisel-nav a {
  position: absolute;
  top: -3px;
  right: 1px;
}
.type-869-tyle1 .page_width .left_col .vert-flexmenu div.submenu .sections-contaier .right-section .section-indent .flexisel-nav-wrapper .flexisel-nav:hover {
  background-color: #fe99a1;
  border-color: #fe99a1;
  box-shadow: 0 0 0 1px #fe99a1, 0 0 0 2px #fe99a1;
}
.type-869-tyle1 .page_width .left_col .vert-flexmenu div.submenu .sections-contaier .right-section .section-indent .flexisel-nav-wrapper .flexisel-nav:hover .fa {
  color: #fff;
}
.type-869-tyle1 .page_width .left_col .vert-flexmenu div.submenu .sections-contaier .right-section .section-indent .flexisel-nav-wrapper .nbs-flexisel-nav-left {
  float: left;
  position: relative;
  margin-right: 1px;
}
.type-869-tyle1 .page_width .left_col .vert-flexmenu div.submenu .sections-contaier .right-section .section-indent .flexisel-nav-wrapper .nbs-flexisel-nav-right {
  float: right;
  position: relative;
  margin-right: 1px;
}
.type-869-tyle1 .page_width .left_col .vert-flexmenu div.submenu .sections-contaier .right-section .section-indent .flexisel-nav-wrapper .fa {
  width: 12px;
  height: 12px;
  margin-top: 5px;
  pointer-events: none;
}
.type-869-tyle1 .page_width .left_col .vert-flexmenu .showmenu_women,
.type-869-tyle1 .page_width .left_col .vert-flexmenu .showmenu_men,
.type-869-tyle1 .page_width .left_col .vert-flexmenu .showmenu_girl,
.type-869-tyle1 .page_width .left_col .vert-flexmenu .showmenu_boy,
.type-869-tyle1 .page_width .left_col .vert-flexmenu .showmenu_sport {
  display: none;
}
.type-869-tyle1 .page_width .left_col .vert-flexmenu #show_women:hover,
.type-869-tyle1 .page_width .left_col .vert-flexmenu #show_men:hover,
.type-869-tyle1 .page_width .left_col .vert-flexmenu #show_girl:hover,
.type-869-tyle1 .page_width .left_col .vert-flexmenu #show_boy:hover,
.type-869-tyle1 .page_width .left_col .vert-flexmenu #show_sport:hover {
  transition: all 3s ease-in-out;
}
.type-869-tyle1 .page_width .left_col .vert-flexmenu #show_women:hover .showmenu_women {
  display: block;
}
.type-869-tyle1 .page_width .left_col .vert-flexmenu #show_men:hover .showmenu_men {
  display: block;
}
.type-869-tyle1 .page_width .left_col .vert-flexmenu #show_girl:hover .showmenu_girl {
  display: block;
}
.type-869-tyle1 .page_width .left_col .vert-flexmenu #show_boy:hover .showmenu_boy {
  display: block;
}
.type-869-tyle1 .page_width .left_col .vert-flexmenu #show_sport:hover .showmenu_sport {
  display: block;
}
@media (min-width: 1200px) {
  .page_width {
    min-width: 1180px;
  }
}
@media (min-width: 1170px) {
  #left_column {
    width: 290px;
    float: left;
  }
}
@media (max-width: 1170px) and (min-width: 980px) {
  .page_width #columns {
    margin: 0 auto;
  }
  .page_width #columns #left_column {
    width: 220px;
    float: left;
    padding-top: 20px;
  }
  .page_width #columns #left_column .vert-flexmenu-container h4.title_block {
    margin-top: 8px;
  }
}
@media (max-width: 979px) and (min-width: 728px) {
  .page_width #columns {
    width: 290px;
    margin: 0 auto;
    transition: all .4s linear;
  }
  .page_width #columns #left_column {
    width: 220px;
    float: left;
    padding-top: 20px;
  }
  .page_width #columns #left_column .vert-flexmenu-container h4.title_block {
    margin-top: 8px;
  }
}
@media (max-width: 727px) {
  .page_width #columns {
    width: 290px;
    margin: 0 auto;
    transition: all .4s linear;
  }
  .page_width #columns #left_column {
    width: 100%;
    margin: 0;
    padding-top: 20px;
  }
}
