//FOOTTER
.zaro{

    background-color: #F4F4F4;
    font-size: 16px;
    line-height: 2;
    footer.main {
        color: #D0D0D0;
        background: #6f6d69;
        section.widgets {
            padding: 50px 0;
            font-size: 85%;
        }

        h4,h2 {
            font-size: 16px;
            margin-bottom: 35px;
            color: #F4F4F4;
            text-transform: uppercase;
            margin-top: 0;
        }

        .widget_nav_menu ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .widget_nav_menu ul li:first-child {
            border-top: 0;
            padding-top: 0;
        }

        .widget_nav_menu ul li {
            border-top: 1px solid #616B75;
            padding: 5px 0;
        }

        .footer-blog  {
            .footer{
                font-style: italic;
                font-size: 12px;
                opacity: 0.6;
            }
            ul  li {
                margin-top: 25px;
            }
            img {
                width: 64px;
                height: 64px;
            }

            h5 {
                font-size: inherit;
                font-weight: bold;
            }

            p {
                margin: 0;
            }

        }

        .footer-social a.btn-social {
            float: left;
            margin: 0 12px 12px 0;
            color: #F8F8F8;
        }

        section.copyright {
            padding: 20px 0;
            font-size: 75%;
            background-color:rgba(138,165,193, 0.25);
        }
    }
    .bg-dark-img {
        background-image: url('img/bg_dark.gif');
        background-size: cover;
    }

    footer .widget {
        margin-bottom: 40px;
    }

    .widget_nav_menu ul a  {
        margin-left: 0px;
    }
    .widget_nav_menu ul a{

        transition: all 0.25s ease 0s;
    } 
    a:hover{
        text-decoration: none;
        color:#f43438;
    }


    .social-facebook {
        background-color: #3B5998;
    }

    .btn-social, .btn-social:hover, .btn-social:focus {
        width: 50px;
        height: 50px;
        line-height: 40px;
        padding: 15px;
        text-align: center;
        font-size: 22px;
        box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.16) inset;
    }

    .btn {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
        font-weight: bold;
        text-transform: uppercase;
        border-width: 0;
        transition: all 0.25s ease 0s;
    }
    .btn-social .fa {
        margin: 0;
    }

    .social-youtube {
        background-color: #CC181E;
    }
    .social-twitter {
        background-color: #29C8FC;
    }

    .social-gplus {
        background-color: #D5422D;
    }
    .social-dribbble {
        background-color: #F5A1FC;
    }
    .social-linkedin {
        background-color: #0073B2;
    }
    .social-tumblr {
        background-color: #529ECC;
    }
    //------------

}
@media(max-width:767px){
    .banner-alysum{
        .promoborder{
            width: 100% !important;

        }
        .margin-left{
            margin-left:0 !important;
        }
        #zaro-carousel{
            .title-table{
                text-align: center;
            }
        }
    }

}

