.type-835 {

    font-family: 'Coda',cursive;
    -webkit-font-smoothing: antialiased;
    background-color: #1f1f1f;
    font-size: 18px;
    color: #666;
    padding-top: 100px;
    padding-bottom: 100px;

    .right-side {
        background-color: #282828;
        padding: 40px;
    }
    .widget {
        border-bottom: 1px solid #393939;
        margin-bottom: 20px;
        padding-bottom: 17px;
    }


    .form-group {
        margin-bottom: 15px;
    }
    .form-control {
        display: block;
        width: 100%;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        background-image: none;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    input.form-control, select.form-control {
        margin-bottom: 25px;
        background-color: #1F1F1F;
        color: #fff;
        border: 1px solid #303030;
        height: 41px;
        font-family: 'Coda', cursive;
        font-weight: normal;
        border-radius: 0px;
    }
    .form-control:focus {
        border-color: #66afe9;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 0, 0, .6);
    }
    .btn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        user-select: none;
    }
    .btn-submit {
        text-transform: uppercase;
    }
    .right-side .search-widget .btn-search {
        background: #fde230;
        padding: 8px 27px;
        border: none;
        border-radius: 0px;
        color: #1f1f1f;
        font-size: 16px;
    }
    h3 {
        color: #fff;
        margin-top: 0px;
        font-size: 21px;
        margin-bottom: 20px;
    }
    ul {
        margin: 0px;
        padding: 0px;
        list-style: disc;
    }
    .right-side ul {
        margin-bottom: 0px;
    }
    ul li {
        line-height: 31px;
        font-size: 14px;
        color: #666;
        font-weight: 300;
        list-style: none;
    }
    .widget ul li:before {
        margin-right: 10px;
        font-family: FontAwesome;
        color: #bca82d;
        top: 0;
        left: -5px;
        content: "\f101";
    }
    
    a {
        font-family: 'Coda', cursive;
        color: #666;
        text-decoration: none;
        transition: all 0.3s;
    }
    .tp-post-title a:hover {
        color: #fde230;
    }
    a:hover {
        text-decoration: none;
        color: #fde230;
    }
    .widget.widget_strecentpostswidget .row {
        margin-bottom: 10px;
    }
    .tp-blog-pic {
        overflow: hidden;
    }
    a img {
        border: 0;
    }
    .tp-blog-pic img {
        transition: all 1s ease;
        max-width: 100%;
    }
    .tp-blog-pic img {
        width: 100%;
    }
    .tp-blog-pic:hover img {
        -webkit-transform: scale(1.25);
    }
    .tp-post-title {
        position: relative;
    }
    .tp-post-title a {
        color: #fff;
    }
    .widget .tp-meta {
        margin-bottom: 15px;
        display: inline-block;
        font-size: 14px;
    }
    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }
    .widget .tp-meta i {
        color: #fde230;
        margin-right: 10px;
    }
    .widget_tag_cloud .tagcloud a {
        margin-bottom: 5px;
        margin-right: 1px;
        font-size: 12px!important;
        padding: 5px 8px;
        border: 2px solid #52524f;
        border-radius: 0px;
        transition: all 0.3s;
        color: #666;
        text-transform: uppercase;
        letter-spacing: 1px;
        display: inline-block;
    }
    .widget_tag_cloud .tagcloud a:hover {
        background-color: #fde230;
        border: 2px solid #fde230;
        color: #1f1f1f;
    }


    @media screen and (max-width: 320px){
        .widget_strecentpostswidget .tp-blog-pic img {
            height: auto;
        }
    }
}