.type-i-11 {
    .slide1 {
        margin-top:28px;
        .hovereffect {
            width: 100%;
            height: 100%;
            z-index: 1;
            float: left;
            overflow: hidden;
            position: relative;
            text-align: center;
            cursor: default;
            margin-bottom:  20px;
        }
        .carousel-control {
            opacity: 1;
        }
        .hovereffect .overlay {
            width: 415px;
            top: 115px;
            right: 50px;
            left: auto;
            position: absolute;
            overflow: hidden;
            opacity: 0;
            filter: alpha(opacity=0);
            -webkit-transform: translate(0px, -100px) rotate(0deg);
            -ms-transform: translate(0px, -100px) rotate(0deg);
            transform: translate(0px, -100px) rotate(0deg);
            -webkit-transition: all 0.2s 0.4s ease-in-out;
            transition: all 0.2s 0.4s ease-in-out;
        }
        .hovereffect .overlay1 {
            width: 30em;
            top: 10em;
            right: 17.5em;
            position: absolute;
            overflow: hidden;
            opacity: 0;
            filter: alpha(opacity=0);
            -webkit-transform: translate(0px, -100px) rotate(0deg);
            -ms-transform: translate(0px, -100px) rotate(0deg);
            transform: translate(0px, -100px) rotate(0deg);
            -webkit-transition: all 0.2s 0.4s ease-in-out;
            transition: all 0.2s 0.4s ease-in-out;

            .button.exclusive:hover {
                background-color: #fe99a1;
                box-shadow: inset 0 0 0 2px #fff;
                color: #fff !important;
                background-position: 0 0;
            }
            h2{
                color: #fff;
            }
            h3{
                color: #fff;
            }
            p{
                color: #fff;
            }
            h3{
                color: #fff;
            }
        }
        .fa {
            top: 3px;
            right: 4px;
            position: relative;
        }
        .hovereffect h2 { 
            font-size: 45px;
            line-height: 50px;
            text-transform: uppercase;
            padding: 0 0 14px 0;
            margin: 0;
            font-family: "LMRoman10Regular";
            margin-top: 0px;
            color: #514f4a;
        }
        .hovereffect p {
            color: #8a877f;
            font: normal 17px/24px Verdana;
            padding: 0 0 15px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .button.exclusive{
            border: none   ;
            background: transparent;
            border-radius: 0;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            font-weight: normal;
            transition: all 0.2s ease-in-out;
            text-transform: uppercase;
            padding: 10px 15px;
            line-height: 16px;
        }
        a.button{
            box-shadow: inset 0 0 0 2px #706e69;
            text-transform: uppercase;
            padding: 10px 15px;
            color: #706e69!important;
            font-size: 16px;
            line-height: 16px;
            text-align: center; 

            background-color: transparent;
        }
        .bx-controls {
            position: absolute;
            z-index: 99;
            bottom: 25px;
            right: 25px;
            text-align: right;

        }
        .bx-controls-direction a {
            width: 40px;
            height: 40px;
            cursor: pointer;
            text-align: center;
            padding: 0;
            margin-right: 10px;
            position: relative;

        }
        .button {
            font-style: inherit;
            margin: 0;
            align-items: flex-start;
            box-sizing: border-box;
            text-rendering: auto;
            letter-spacing: normal;
            word-spacing: normal;
            text-indent: 0px;
            text-shadow: none;
            display: inline-block;
            font: 13.3333px Arial;
            -webkit-writing-mode: horizontal-tb;
            box-shadow: inset 0 0 0 2px #fff;
        }
        .overlay .button {
            box-shadow: inset 0 0 0 2px #706e69;
        }
        .button.button{
            font-family: "LMRomanCaps10-Regular";
        }
        .button.exclusive:hover {
            background-color: #fe99a1;
            box-shadow: inset 0 0 0 2px transparent;
            color: #fff!important;
            background-position: 0 0;
        }
        .hovereffect h3 {
            font: normal 22px/28px Verdana;
            text-transform: uppercase;
            margin-bottom: 0px;
            color: #757471;
            padding: 0 0 10px 0;
        }
        .hovereffect .button {
            padding-right: 20px;
            padding-left: 20px;
            font-size: 30px;
        }

        .hovereffect:hover .overlay {
            opacity: 1;
            -webkit-transition-delay: 0s;
            -webkit-transform: translate(0px, 0px);
            -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
        }
        .hovereffect:hover .overlay1 {
            opacity: 1;
            -webkit-transition-delay: 0s;
            -webkit-transform: translate(0px, 0px);
            -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
        }   
        a {
            margin: 0;
            padding: 0;
            color: #878787;
        }
        .carousel-control.left {
            background-image: none;
            background-repeat: repeat-x;
        }
        .carousel-control.right {
            background-image: none;
            background-repeat: repeat-x;
        }

        .glyphicon {
            top: 6px;
            margin-left: -10px;
            margin: 5px 5px;
            right: 0px;
            left: 3px;
        }
        .glyphicon:hover {
            color: #fff;
        }
        a:hover {
            text-decoration: none;
            box-shadow: inset 0 0 0 2px #7accbe;
            background-color: #7accbe ;
        }
        p {
            margin: 0;
            display: block;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;

        }
        /* Dành cho điện thoại */
        @media all and (max-width: 727px) {
            .glyphicon {
                top: 7px;
            }
            .hovereffect  .overlay1 {
                width: 100%;
                top: 20%;
                right: -15%;
            }
            .hovereffect  .overlay {
                width: 415px;
                top: 1.5em;
                right: -5em;
            }
            p {
                display: none;
            }
            .hovereffect h2 {
                font-size: 20px;
                line-height: 10px;
            }
            .hovereffect h3 {
                font: normal 16px/28px Verdana;
            }
        }
    }
}

