@top_panel_title_inner_background: #ffff;
@top_panel_title_inner_color:#1a3150;
@breadcrumbs_delimiter_color:#acb4b6;
@breadcrumbs_span_color:#acb4b6;
@breadcrumbs_item_hover_color:#7ca813;
.type-5{
    div{
            font-family: inherit;
        font-size: 100%;
        font-style: inherit;
        font-weight: inherit;
        line-height: inherit;
        border: 0;
        outline: 0;
        -webkit-font-smoothing: antialiased;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
    }
   .top_panel_title_inner {
    overflow: hidden;
}

.top_panel_title_inner {
    background-color: @top_panel_title_inner_background;
}

.top_panel_title_inner .breadcrumbs a.breadcrumbs_item {
    color: @top_panel_title_inner_color
}
@media (max-width: 1439px) and (min-width: 1263px){
.slider_boxed, .content_wrap, .content_container {
    width: 1000px;
}}
.content_wrap{
    width: 1170px;
    margin: 0 auto;}

.top_panel_title.title_present.breadcrumbs_present .page_title{
    max-width: 49%;
}
.top_panel_title .page_title {
    float: left;
    margin: 0;
    font-weight: 600;
    font-size: 1.643em;
    padding: 2.261em 0;
    line-height: 1.2em;
}
.top_panel_title.title_present.breadcrumbs_present .breadcrumbs {
    max-width: 49%;
}
.top_panel_title.title_present .breadcrumbs {
    padding: 4.231em 0 1em 2.5em;
}
.top_panel_title .breadcrumbs {
    float: right;
    font-size: 0.929em;
    line-height: 1.5em;
}
.breadcrumbs .breadcrumbs_item {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}
h1{
    font-family: inherit;
}
.breadcrumbs .breadcrumbs_delimiter {
    display: inline-block;
    position: relative;
    margin: 0 0.5em;
    vertical-align: top;
    text-align: center;
}
.content_wrap:after, .content_container:after {
    content: " ";
    display: block;
    width: 100%;
    height: 0;
    clear: both;
}
.breadcrumbs .breadcrumbs_delimiter:before {
    content: '/';
}
@media (max-width: 1439px) and (min-width: 1263px){
.slider_boxed, .content_wrap, .content_container {
    width: 1000px;}
}
.top_panel_title_inner .breadcrumbs .breadcrumbs_delimiter {
    color: @breadcrumbs_delimiter_color;
}
.top_panel_title_inner .breadcrumbs span {
    color: @breadcrumbs_delimiter_color;
}
.top_panel_title_inner .breadcrumbs a.breadcrumbs_item:hover {
    color:@breadcrumbs_item_hover_color;
     text-decoration: none;
}
}