.chi-tiet {
  font: normal 13px/18px Georgia, "Times New Roman";
}
.chi-tiet .container-modify {
  margin: 0 auto;
}
.chi-tiet a {
  color: #333;
  text-decoration: none;
}
.chi-tiet .images-container,
.chi-tiet .image-block {
  margin: 0 auto;
  padding: 0;
}
.chi-tiet .images-container .img-container {
  border-right: 1px solid #e6e6e6;
}
.chi-tiet .images-container .image-block {
  height: auto;
  float: left;
  background: #fff;
  border: 1px solid #e6e6e6;
  position: relative;
}
.chi-tiet .images-container .image-block #view_full_size {
  display: block;
  cursor: pointer;
}
.chi-tiet .images-container .image-block .zoomPad {
  width: 100%;
  position: relative;
  float: left;
  z-index: 99;
  cursor: crosshair;
}
.chi-tiet .images-container .image-block .zoomPad img {
  width: 100%;
  height: auto;
  display: block;
}
.chi-tiet .images-container .image-block img {
  border: none;
}
.chi-tiet .images-container .zoomPup {
  overflow: hidden;
  background-color: #FFF;
  opacity: 0.6;
  border: 1px solid #CCC;
  z-index: 101;
  cursor: crosshair;
}
.chi-tiet .images-container .views_block {
  position: relative;
}
.chi-tiet .images-container .views_block .view_scroll_spacer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.chi-tiet .images-container .thumbs-list {
  overflow: hidden;
}
.chi-tiet .images-container ul.thumb-list-frame {
  list-style: none;
  margin-bottom: 0;
  padding: 5px;
  padding-top: 0;
}
.chi-tiet .images-container ul.thumb-list-frame li:first-child {
  margin-top: 0;
}
.chi-tiet .images-container ul.thumb-list-frame li {
  margin-bottom: 10px;
}
.chi-tiet .images-container ul.thumb-list-frame li a {
  border: 1px solid #e6e6e6;
  display: block;
  height: auto;
  margin: 0;
  opacity: 0.9;
  z-index: 999;
}
.chi-tiet .images-container ul.thumb-list-frame img {
  width: 100%;
  display: block;
  height: auto;
  margin: 0;
  opacity: 0.9;
  z-index: 999;
}
.chi-tiet .thumbnail_last {
  margin-bottom: 0px !important;
}
.chi-tiet .multi-item-carousel {
  padding: 50px 0;
}
.chi-tiet .carousel-margin {
  margin: 0 -15px;
}
.chi-tiet .carousel-inner > .item {
  transition: 500ms ease-in-out left;
}
.chi-tiet .carousel-inner .active.left {
  left: -33%;
}
.chi-tiet .carousel-inner .active.right {
  left: 33%;
}
.chi-tiet .carousel-inner .next {
  left: 33%;
}
.chi-tiet .carousel-inner .prev {
  left: -33%;
}
@media all and (transform-3d),(-webkit-transform-3d) {
  .chi-tiet .carousel-inner > .item {
    transition: 500ms ease-in-out all;
    backface-visibility: visible;
    transform: none !important;
  }
}
.chi-tiet .carouse-control.left,
.chi-tiet .carouse-control.right {
  background-image: none;
}
.chi-tiet .carousel-control {
  background-image: none !important;
  position: absolute;
}
.chi-tiet a.left i {
  left: 0;
}
.chi-tiet a.right i {
  right: 0;
}
.chi-tiet .fa {
  margin-top: 250%;
  position: absolute;
}
.chi-tiet .fa .fa-chevron-left {
  background: url(../images/resultset_first.png);
}
.chi-tiet .fa .fa-chevron-right {
  background: url(../images/resultset_last.png);
}
.chi-tiet .productscategory_h2 {
  color: #7B7975 !important;
  font-style: italic;
  font-size: 16px;
  padding-bottom: 8px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
}
.chi-tiet a,
.chi-tiet a:active,
.chi-tiet a:visited {
  color: #fff;
  text-decoration: none;
  transition: all .2s ease-in-out;
}
@media (max-width: 979px) and (min-width: 728px) {
  .chi-tiet .center-containt {
    width: 90%;
  }
}
@media (max-width: 727px) {
  .chi-tiet .container-modify {
    width: 450px;
    margin: 0 auto;
    padding: 0;
  }
  .chi-tiet .center-containt div {
    display: none;
  }
  .chi-tiet .images-container ul.thumb-list-frame {
    padding: 8px;
  }
}
@media (max-width: 1200px) and (min-width: 1000px) {
  .chi-tiet .images-container ul.thumb-list-frame {
    padding: 2px;
  }
}
@media (max-width: 990px) and (min-width: 768px) {
  .chi-tiet .images-container .views-block {
    padding: 0 10px;
  }
  .chi-tiet .images-container ul.thumb-list-frame {
    padding: 3.2px;
    margin-top: -3px;
  }
}
@media (max-width: 768px) and (min-width: 728px) {
  .chi-tiet .images-container ul.thumb-list-frame {
    padding: 8.5px;
    margin-top: -8px;
  }
}
