.type-810{
    font-family: "Arial" inherit;
    background-color: #f6f7f3;
    margin: 0 auto;
    box-sizing: border-box;
    overflow:hidden;
    @background-columns-color: #fff;
    @white-color: #fff;
    @main-color: #1a3150;
    a:hover{
        text-decoration: none;
    }
    .title{
        text-align: center;
        margin-top: 100px;
        margin-bottom: 60px;
        h3{
            color: @main-color;
            font-size: 3.571em;
            font-weight: bold;
        }
        h4{
            color: #96bd42;
            font-weight: bold;
        }
    }
    .order{
        .columns{
            margin-bottom: 100px;
            .block-title{
                margin: 0 auto;
                padding: 10px 0;
                background-color: @main-color;
                text-align: center;
                h4{
                    color: @white-color;
                }
            }
            .info{
                background-color: @background-columns-color;
                margin-top: -10px;
                .price{
                    margin-top: 10px;
                    color: @main-color;
                    text-align: center;
                    font-weight: bold;
                    margin-bottom: 30px;
                    .currency{
                        font-weight: 900;
                        font-size: 1.429em;
                        line-height: 4.7em;
                        vertical-align: bottom;
                    }
                    .money{
                        font-weight: 900;
                        font-size: 2.857em;
                        line-height: inherit;        
                    }
                    .period{
                        color: #1a3150;
                    }
                }
                .description{
                    font-size: 1em;
                    text-align: center;
                    padding: 0 30px;
                    font-weight: 600;
                    color: #7a7f87;
                    padding-bottom: 40px;
                    p{
                        text-align: center;
                    }
                }
                .button {
                    text-align: center;
                    .default{
                        span{
                            background-color: #1295d2;
                            color: @white-color;
                            line-height: 55px;
                            padding: 0 35px;
                            padding: 20px 50px;
                        }
                    }
                    .active{
                        .default;
                    }
                    .cube {
                        display: block;
                        text-align: center;
                        margin: 0 auto;
                        transition: all 250ms ease;
                        transform-style: preserve-3d;
                    }
                    .cube.flip-to-top:hover {
                        -webkit-transform: rotateX(-89deg);
                        transform: rotateX(-89deg);
                    }
                    .default.active {
                        display: block;
                        transition: background 250ms ease;
                    }
                    :active, :focus {
                        outline: 0;
                    }
                    .flip-to-top .active{
                        -webkit-transform: rotateX(90deg) translateZ(75px); 
                        transform: rotateX(90deg) translateZ(75px); 
                        display: block;
                    }
                }
            }
        }
        .columns:hover{
           margin-top: -15px;
        }
    }
    @media(max-width:420px){
        .title{
            h3{
                font-size: 2em;
            }
            h4{
                font-size: 1em;
            }
        }
    }
}