.type-10{
    /*----------------------------*/
    footer{
    background: #262626;
    color: #c5c5c5;
    padding-top: 40px;
    
     .block{
         
        list-style: none;
        padding-left: 0;
        
    }
    .block2{
         text-align: center;
        list-style: none;
        padding-left: 0;
        
    }
    a{
        text-decoration: none;
        color: #c5c5c5;
        font-size: 15px;
        padding-right: 6px;
    }
    a:hover{
        color: #ffffff;
    }
    .block li  {
        padding: 2px
        
    }
    li.item{
        padding:0;
        display: inline-block;
        height: 25px;
        width: 20px;
        margin: 10px 0 0 ;
        cursor: pointer;
    }
    .logo{
        margin-bottom: 15px;
    }
    .address{
        margin-bottom: 5px;
    }
    .clear{
        clear: both;
    }
    #ten{
        color: #ffffff;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .fa{
        font-size: 20px;
    }
 .footer-area {
    border-left: 1px solid #3c3c3c;
    box-sizing: border-box;
    padding: 0 0 0 60px;
    min-height: 230px;
 }
.footer li {
    line-height: 24px;
    
}
/*-----------footer-bottom--------*/
.footer_bottom{
    margin: 0 15px;
  padding: 15px 0 20px;
    position: relative;
  margin-top: 40px;
  position: relative;
  text-align: center;
  overflow: hidden;

}

.footer_bottom:after {
    background: url(../images/footer-divider.png) no-repeat scroll center top #262626;
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 0px;
    width: 31px;
    height: 11px;
    z-index: 9;
}
.footer_bottom:before {
    border-top: 1px solid #3c3c3c;
    content: "";
    left: 0;
    position: absolute;
    top: 5px;
    width: 100%;
    z-index: 5;
}
.link {
    padding: 20px 0 10px;
     margin-top: 15px;
    
}
.footer_bottom li {
    display: inline;
    background: url(../images/gach_ngang.png) 100% 60% no-repeat;
    padding:0 6px 0 3px;
    margin: 5px;
    
}
.footer_bottom li.last{
    background-image: none;
}
p{
    text-align: center;
}

.icon li {
  background: none;
  display: inline-block;
  padding: 0 4px;
}
.icon li a {
  height: 26px;
  width: 44px;
  display: block;
}
 .icon li span {
  font-size: 15px;
  opacity: 0;
  text-align: center;
}
 .icon {
  padding-left: 0px;
  padding-bottom: 30px;
  text-align: center;
}
 .discover a {
  background: url(../images/payment1.png) no-repeat scroll -120px 0 transparent;
}
 .visa a{
  background: url(../images/payment1.png) no-repeat scroll 0 0 transparent;
}
.maestro a{
  background: url(../images/payment1.png) no-repeat scroll -180px 0 transparent;
}

.paypal a{
  background: url(../images/payment1.png) no-repeat scroll -240px 0 transparent;
}

.american a{
  background: url(../images/payment1.png) no-repeat scroll -300px 0 transparent;
}

 .g-wall a{
  background: url(../images/payment1.png) no-repeat scroll -60px 0 transparent;
}
/*-------------------------------------*/
    
    .footer1{
        p {
            margin: 10px 0;
        }
        ul{
                list-style: none;
                margin-bottom: 0;
            } 
        .footer-an {
            display: none;
            padding: 25px 15px;
            padding-top:0px;
            padding-bottom:0px;
            
            
            .btn {
                text-align: left; width: 100%;
                padding: 12px 10px;
                font-weight: bold;
                font-size: 15px;
                text-transform: uppercase;
                margin: 0 0 6px;
                position: relative;
                border-radius: 0px;
                background: #f2f2f2;
                color: #000;
              
           
            }
            .btn:hover, .btn:focus {
                color: #333; 
                text-decoration: none; 
            }
            .detail{
                margin: 2px 0;
            }
            h5 {
                cursor: pointer;
                display: block;
                font-size: 15px;
                margin-right: 0;
                margin-top: -20px;
                overflow: hidden;
                padding: 0px;
                text-decoration: none;
                margin-bottom: 0px;
                width: 100%;
                position: absolute;
                right: 10px;
                background: url(../images/toggle-arrow.png) no-repeat scroll right 0px transparent;
            }
            .c_decription{                
                strong {
                    font-weight: bold;
                }
                p{margin: 0 0 6px;padding: 0; color: #666;}
            }
            .c_review{               
                h2 {
                        font-weight: bold;
                        font-size: 14px;
                        border-bottom: 1px solid #d9d9d9;
                        padding: 0 0 10px;
                        margin: 0 0 15px;
                        text-transform: uppercase;
                        color: #000;
                    }
                form {
                        display: inline;
                        fieldset {
                            border: 0;
                            h3 {
                                font-size: 16px;
                                font-weight: normal;
                            }
                            h4 {
                                font-size: 14px;
                                font-weight: normal;
                            }
                            
                            thead th {
                                background: #fff;
                                border-bottom: 1px solid #d9d9d9;
                                font-weight: bold;                               
                                padding: 8px 8px;
                                color: #808080;
                                white-space: nowrap;
                                vertical-align: middle;
                            }
                            ul{
                                padding: 0;
                            }
                            
                        }
                       
                    }
            }
            .c_tags{                
                box-tags {
                    margin: 0;
                }
            }
            .c_tab, .c_decription, .c_review, .c_tags{
                margin: 0 0 10px;
                padding: 15px;
            }
        }
    }
    
    .clear{
        clear: both;
    }
    
    
 @media (max-width: 979px)
    {
        .footer-an {
            display: block!important;
        }
        .footer_inner {
            display: none;
        }
    }
    .btn {
        width:100%;
    }
    @media (min-width: 978px)
    {
        .footer_inner {
            display: block;
        }
        .footer-an{
            display: none;
        }
        
        
    }
        
    }
   
   
   

  

   
 


    
}
    


