.type-830{
    @color-title-word: #fff;
    @color-text: #666;
    a:hover{
        text-decoration: none;
    }
    .title{
        margin-top: 105px;
        margin-bottom: 45px;
        text-align: center;
        h1 {
            color: @color-title-word;
            font-size: 39px;
            letter-spacing: -1px;
            margin-bottom: 20px;
            margin-top: 0;
        }
        span{
            margin-top: 30px;
        }
    }
    .left-content {
        margin-bottom: 35px;
        magin-left: 70px;
        h2 {
            color: @color-title-word;
            margin-bottom: 20px;
            margin-top: 17px;
            font-size: 34px;
            letter-spacing: -1px;
        }
        .lead {
            margin-bottom: 20px;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.4;
            color: #fde230;
        }
        p{
            margin-top: 27px;
            .btn-outline {
                border: 2px solid #52524f;
                border-radius: 0;
                font-size: 14px;
                padding: 10px 20px;
                color: @color-text; 
            }
            .btn-outline:hover {
                background-color: #fde230;
                color: #1f1f1f;
            }
        }
    }
    .right-content{
        .block {
            margin-left: 40px;
            h3 {
                span {
                    color: #fde230;
                    padding-right: 15px; 
                }
            }
            p {
                margin: 0 0 10px;
                font-size: 14px;
                font-weight: 300;
                color: @color-text;
                margin-bottom: 30px;
                line-height: 21px;
            }
        }
    }

    @media (max-width: 900px){
        .lead {
            font-size: 21px;
        }     
    }
    @media (max-width: 480px){
        h1 {
            font-size: 34px;
        }  
        .right-content{
            .block{
                margin-left: 0;
            }
        }
    }
    @media(max-width: 300px){
        .right-content{
            .block{
                margin-left: 0;
                h3{
                    font-size: 17px;
                }
            }
        }
    }
}