.type-830{
    @color-title-word: #fff;
    @color-text: #666;
    a {
        color: @color-text;
        text-decoration: none;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
        background-color: transparent;
         color: #337ab7;
        text-decoration: none;
    }
    a:hover, a:focus {
        text-decoration: none;
        color: #fde230;
    }
    p {
        margin: 0 0 10px;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        font-weight: 300;
        color: @color-text;
        margin-bottom: 30px;
        line-height: 21px;
    }
    h1 {
        color: @color-title-word;
        font-size: 39px;
        letter-spacing: -1px;
        margin-bottom: 20px;
        margin-top: 0;
    }

    h2 {
        color: @color-title-word;
        margin-bottom: 20px;
        margin-top: 0;
        font-size: 24px;
        letter-spacing: -1px;
    }
    .vc_custom_1437474892411 {
        padding-top: 90px !important;
        background-color: #282828 !important;
        padding-bottom: 40px;
    }
    .wpb_content_element {
        margin-bottom: 35px;
    }
    .lead {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.4;
        color: #fde230;
    }
    .btn-outline {
        border: 2px solid #52524f;
        border-radius: 0;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
        font-size: 14px;
        padding: 10px 20px;
        color: @color-title-word;
        text-transform: uppercase;
        letter-spacing: 1px;
        display: inline-block;
    }
    .btn-outline:hover {
        background-color: #fde230;
        border: 2px solid #fde230;
        color: #1f1f1f;
        text-transform: uppercase;
    }
    .tp-about-block h2 span {
        color: #fde230;
        padding-right: 15px;
    }
    @media (max-width: 900px){
        .lead {
            font-size: 21px;
        }     
    }
    @media (max-width: 480px){

        h1 {
            font-size: 34px;
        }      
    }
}