.mod-custom-1 .testimonials_custom_block_3 {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 600px;
  background-image: url(../images/5.jpg);
}
.mod-custom-1 .nuthai {
  padding-right: 55px;
  padding-left: 15px;
  margin: -80px;
}
.mod-custom-1 .mySlides {
  margin: auto;
  padding-top: 100px;
  padding-right: 40px;
}
.mod-custom-1 .w3-display-container {
  text-align: center;
}
.mod-custom-1 .w3-display-left {
  background-color: #f6f7f3;
  border: 22px solid #ddd;
  color: #96bd42;
}
.mod-custom-1 .w3-display-right {
  background-color: #f6f7f3;
  border: 22px solid #ddd;
  color: #96bd42;
}
