.type-881 {
    @color-heart-icon: #71b100;
    @color-link-hover: #71b100;
    a {
        text-decoration: none;
    }
    .page-title {
        background-image: url(../images/page-title-bg-1.jpg);
        background-position: center center;
        background-size: cover;
        position: relative;
        text-align: center;
        padding: 70px 0px 76px;
        .content-box {
            background: #fff;
            border-radius: 10px;
            opacity: 0.8;
            display: inline-block;
            padding: 15px 25px 20px;
            margin: 0 15px;
            h1 {
                color: #222;
                font-size: 32px;
                font-weight: 700;
                text-transform: uppercase;
            }
            .bread-crumb {
                .breadcrumb {
                    background: none;
                    margin-bottom: 0px;
                    padding: 0px;
                    a {
                        display: inline-block;
                        color: #aaa;
                        font-style: italic;
                        font-family: Bitter, serif;
                        margin: 0px 3px;
                    }
                    a:hover {
                        color: #555;
                    }
                }
            }
        }
    }
    .page-title::before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 0;
        background: rgba(0, 0, 0, 0.298039);
    }
    .sidebar-page {
        position: relative;
        padding: 70px 0px 40px;
        margin: 0 15px;
        .blog-container {
            #post-270 {
                .blog-post {
                    position: relative;
                    margin-bottom: 30px;
                    .inner-box {
                        .image {
                            max-width: 100%;
                            position: relative;
                            overflow: hidden;
                            img {
                                display: block;
                                width: 100%;
                            }
                            .post-options {
                                position: absolute;
                                right: -100px;
                                bottom: 0px;
                                opacity: 0;
                                transition: all 500ms ease;
                                .heart-icon {
                                    position: relative;
                                    display: inline-block;
                                    width: 42px;
                                    height: 42px;
                                    text-align: center;
                                    line-height: 44px;
                                    color: #fff;
                                    font-size: 18px;
                                    z-index: 1;
                                    margin: 15px 15px 15px 0px;
                                    background: @color-heart-icon;
                                    border-width: 1px;
                                    border-style: solid;
                                    border-color: #426702;
                                }
                            }
                        }
                        .lower-part {
                            position: relative;
                            padding: 30px 0px;
                            .post-info {
                                font-family: 'Bitter',serif;
                                font-size: 13px;
                                a {
                                    color: #202020;
                                    font-weight: normal;
                                    margin-left: 15px;
                                }
                                a:hover {
                                    color: @color-link-hover;
                                }
                            }
                            .post-title {
                                h3 {
                                    margin-bottom: 5px;
                                    font-size: 22px;
                                    a {
                                        color: #202020;
                                    }
                                    a:hover {
                                        color: @color-link-hover;
                                    }
                                }
                            }
                            .post-text {
                                color: #212a2b;
                                margin-bottom: 20px;
                            }
                            .lower {
                                border-bottom: 1px solid #e9e9e9;
                                border-top: 1px solid #e9e9e9;
                                color: #707070;
                                padding: 15px 0;
                                i {
                                    color: #71b100;
                                    font-size: 1.25em;
                                }
                                a {
                                    strong {
                                        color: inherit;
                                        font-weight: normal;
                                    }
                                }
                                .social {
                                    list-style: none;
                                    padding: 0;
                                    float: right;
                                    li {
                                        display: inline-block;
                                        margin: 0 -4px;
                                        a {
                                            border-radius: 15px;
                                            color: #fff;
                                            font-size: 11px;
                                        }
                                        #s-google {
                                            background: #dc4b3e;
                                            padding: 5px 3px;
                                        }
                                        #s-google:hover {
                                            background: #e77c72;
                                        }
                                        #s-facebook {
                                            background: #3b5998;
                                            padding: 5px 7px;
                                        }
                                        #s-facebook:hover {
                                            background: #6985c0;
                                        }
                                        #s-twitter {
                                            background: #29b6f6;
                                            padding: 5px 5px;
                                        }
                                        #s-twitter:hover {
                                            background: #6cc7f0;
                                        }
                                        #s-pinterest {
                                            background: #cc3e4e;
                                            padding: 5px 5px;
                                        }
                                        #s-pinterest:hover {
                                            background: #ea7380;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .blog-post:hover {
                    .image {
                        .post-options {
                            right: 0px !important;
                            opacity: 1;
                        }
                    }
                }
      @media all and (max-width: 480px) {
        .page-title {
            .content-box {
                h1 {
                    font-size: 20px;
                }
            }
        }
        .lower-part {
            .post-title {
                h3 {
                    font-size: 20px !important;
                }
            }
            .post-text {
                blockquote {
                    font-size: 14px;
                    margin-bottom: 15px;
                }
            }
            .lower {
                padding-bottom: 30px !important;
            }
        }
    }      }
        }
    }
    @media all and (max-width: 480px) {
        .page-title {
            .content-box {
                h1 {
                    font-size: 20px;
                }
            }
        }
        .lower-part {
            .post-title {
                h3 {
                    font-size: 20px !important;
                }
            }
            .post-text {
                blockquote {
                    font-size: 14px;
                    margin-bottom: 15px;
                }
            }
            .lower {
                padding-bottom: 30px !important;
            }
        }
    }
    @media all and (max-width: 380px) {
        .lower-part {
            .lower {
                .social {
                    float: left !important;
                }
            }
        }
    }
}