.type-6 form,
.type-6 ul,
.type-6 aside,
.type-6 div {
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  border: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.type-6 .page_content_wrap {
  padding: 2.1428em 0;
}
.type-6 .sidebar_left .sidebar {
  float: left;
}
.type-6 .body_filled .widget_area[class*="scheme_"]:not(.footer_wrap) .widget_area_inner {
  padding: 2.857em;
}
.type-6 .content_wrap {
  margin: 0 auto;
}
.type-6 .sidebar_left .sidebar {
  float: left;
}
.type-6 .body_filled .widget_area[class*="scheme_"]:not(.footer_wrap) .widget_area_inner {
  padding: 2.857em;
}
.type-6 .sidebar_inner {
  box-sizing: border-box;
}
.type-6 aside {
  display: block;
}
.type-6 .widget_area .widget_title {
  margin-top: 0;
  margin-bottom: 1.55em;
  text-transform: uppercase;
}
.type-6 h5 {
  color: #1a3150;
  font-family: 'Montserrat';
  font-weight: 700;
  line-height: 125%;
  margin: 0;
}
.type-6 .widget_area ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}
.type-6 ul {
  margin: 0;
}
.type-6 .widget_area ul li {
  position: relative;
  margin-bottom: 0;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}
.type-6 .widget_area_inner ul li:before {
  font-size: 1.5em;
}
.type-6 .widget_area ul li:before {
  content: '\e83c';
  font-family: 'fontello';
  position: absolute;
  left: 1px;
  top: 0;
}
.type-6 .widget_area_inner .widget_product_search .search_field {
  padding-right: 30px;
  padding-left: 20px;
  background: none;
  border: none;
  width: 100%;
  height: 3.571em;
  line-height: 2.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
}
.type-6 .sidebar_inner a.padd {
  line-height: 160%;
  margin-left: 15px;
}
.type-6 .widget_area_inner ul li a {
  line-height: 160%;
}
.type-6 a {
  outline: 0;
  text-decoration: none;
  background: transparent;
}
.type-6 .sidebar aside+aside {
  margin-top: 2.857em;
  padding-top: 2.857em;
}
.type-6 aside {
  display: block;
}
.type-6 .woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
  margin-bottom: 1.225em;
  background: #cccccc;
  height: 5px;
}
.type-6 .woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
  border-radius: 1em;
  background-color: #602053;
  border: 0;
}
.type-6 .woocommerce .widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
  margin-left: .5em;
  margin-right: .5em;
}
.type-6 .woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.type-6 .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
  background-color: #1a3150;
}
.type-6 .woocommerce .widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  border-radius: 1em;
}
.type-6 .widget_area ul li:before {
  content: '\e83c';
  font-family: 'fontello';
  position: absolute;
  left: 1px;
  top: 0;
}
.type-6 a {
  transition: all 0.3s ease 0s;
}
.type-6 .body_filled .widget_area[class*="scheme_"]:not(.footer_wrap) .widget_area_inner {
  padding: 2.857em;
}
.type-6 .widget_area_inner {
  background-color: #f6f7f3;
}
.type-6 .widget_area_inner .widget_product_search .search_button,
.type-6 .widget_area_inner .widget_search .search_button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  line-height: 3.571em;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.type-6 .widget_area .widget_product_search .search_button,
.type-6 .widget_area .widget_search .search_button {
  text-align: center;
  border: none;
  background: none;
}
.type-6 .widget_area_inner .widget_product_search .search_button:before,
.type-6 .widget_area_inner .widget_search .search_button:before {
  width: 3.571em;
  height: 3.571em;
  font-size: 1em;
}
.type-6 [class^="icon-"]:before,
.type-6 [class*=" icon-"]:before {
  line-height: inherit;
  font-weight: inherit;
  font-size: inherit;
  width: auto;
  margin: 0;
}
.type-6 .widget_area .widget_product_search .search_form {
  position: relative;
  overflow: hidden;
}
.type-6 input[type="text"] {
  outline: none;
  resize: none;
  padding: 0.45em 0.5em;
  border-radius: 0;
  transition: all ease .3s;
}
.type-6 .widget_area .widget_product_tag_cloud a,
.type-6 .widget_area .widget_tag_cloud a {
  display: block;
  float: left;
  padding: 1.167em;
  margin: 0 4px 4px 0;
  font-size: 0.857em !important;
  border: 2px solid #e3e4e3;
  text-transform: uppercase;
  line-height: 1em;
}
.type-6 .woocommerce .sidebar aside + aside {
  border-top: 1px solid #e1e2e0;
}
.type-6 .widget_area_inner ul li {
  border-color: transparent;
}
.type-6 .widget_area_inner ul li:before,
.type-6 .widget_area_inner ul li a:hover {
  color: #96bd42;
}
.type-6 .widget_area_inner a,
.type-6 .widget_area_inner ul li a {
  color: #1a3150;
}
.type-6 button {
  background-color: #96bd42;
  color: white;
}
.type-6 .woocommerce button.button,
.type-6 .woocommerce-page button.button {
  color: #ffffff;
  background-color: #96bd42;
}
.type-6 .widget_area_inner button:hover:before {
  background-color: #7ca813;
}
.type-6 .widget_area_inner button:before {
  color: #fff;
  background-color: #96bd42;
}
.type-6 .widget_area_inner .widget_product_tag_cloud a:hover {
  color: #fff;
  border-color: #96bd42;
  background-color: #96bd42;
}
.list-content h1,
.list-content h2,
.list-content h3,
.list-content h4,
.list-content h5,
.list-content h6,
.list-content h1 a,
.list-content h2 a,
.list-content h3 a,
.list-content h4 a,
.list-content h5 a,
.list-content h6 a {
  color: #1a3150;
}
.list-content ul {
  margin: 0;
  padding: 0;
}
.list-content h1,
.list-content h2,
.list-content h3,
.list-content h4,
.list-content h5,
.list-content h6,
.list-content p,
.list-content ul,
.list-content ol,
.list-content dl,
.list-content blockquote,
.list-content address {
  margin: 0;
}
.list-content h5 {
  font-size: 1.214em;
  font-weight: 700;
  line-height: 125%;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
}
.list-content a:hover,
.list-content .scheme_dark a:hover,
.list-content .scheme_light a:hover {
  color: #7ca813;
  transition: all 0.3s ease 0s;
}
.list-content .text_uppercase {
  text-transform: uppercase;
}
.list-content a {
  color: #96bd42;
  text-decoration: none;
}
.list-content img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
.list-content .wrapper {
  padding-left: 80px;
  padding-right: 80px;
}
.list-content .row {
  margin-left: -15px;
  margin-right: -15px;
}
.list-content .margin_left_small- {
  margin-left: -20px !important;
}
.list-content img {
  max-width: 100%;
  vertical-align: top;
}
.list-content .column-1_3,
.list-content .column-2_6,
.list-content .column-3_9,
.list-content .column-4_12 {
  width: 33.33333333%;
  float: left;
}
.list-content .column-2_3,
.list-content .column-4_6,
.list-content .column-8_12 {
  width: 66.66666667%;
  float: left;
}
.list-content .right {
  overflow: hidden;
  box-sizing: border-box;
  width: 70%;
  float: right;
  padding-left: 20px;
}
.list-content .left {
  width: 30%;
  float: left;
}
.list-content .top_inner {
  padding-top: 2em;
  padding-bottom: 5em;
}
@media (max-width: 1439px) and (min-width: 1135px) {
  .list-content .container {
    max-width: 1050px;
  }
  .list-content .wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
  .list-content .right {
    width: 70% !important;
    float: right;
    padding-left: 0px !important;
  }
  .list-content .left {
    width: 30%;
    float: left;
  }
}
@media (max-width: 1135px) and (min-width: 960px) {
  .list-content .container {
    max-width: 964px !important;
  }
  .list-content .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
  .list-content .right {
    width: 70% !important;
    float: right;
    padding-left: 0px !important;
  }
  .list-content .left {
    width: 30%;
    float: left;
  }
}
@media (max-width: 960px) and (min-width: 480px) {
  .list-content .container {
    max-width: 708px;
  }
  .list-content .wrapper {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .list-content .right {
    width: 100% !important;
    float: none !important;
    padding-left: 0px !important;
  }
  .list-content .left {
    width: 100%;
    float: none !important;
  }
}
@media (max-width: 479px) {
  .list-content .container {
    width: 280px;
  }
  .list-content .wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
  .list-content .right {
    width: 100% !important;
    float: none !important;
    padding-left: 0px !important;
  }
}
.list-content .type-31 .top_panel_title_inner {
  background-color: #f6f7f3;
}
.list-content .type-31 .top_panel_title_inner .breadcrumbs {
  max-width: 49%;
}
.list-content .type-31 .top_panel_title_inner .breadcrumbs {
  padding: 4.231em 0 1em 2.5em;
}
.list-content .type-31 .top_panel_title_inner .breadcrumbs {
  float: right;
  font-size: 0.929em;
  line-height: 1.5em;
}
.list-content .type-31 .top_panel_title_inner .breadcrumbs a.breadcrumbs_item {
  color: #1a3150;
}
.list-content .type-31 .top_panel_title_inner .breadcrumbs a.breadcrumbs_item:hover {
  color: #96bd42;
}
.list-content .type-31 .top_panel_title_inner .breadcrumbs .breadcrumbs_item,
.list-content .type-31 .top_panel_title_inner .breadcrumbs span {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  color: #acb4b6;
}
.list-content .type-31 .top_panel_title_inner .breadcrumbs .breadcrumbs_delimiter:before {
  content: '/';
}
.list-content .type-31 .top_panel_title_inner .title-1 {
  max-width: 49%;
  color: #182e4b;
}
.list-content .type-31 .top_panel_title_inner .title-1 h1 {
  float: left;
  margin: 0;
  font-weight: 600;
  font-size: 1.643em;
  padding: 2.261em 0;
  line-height: 1.2em;
}
.list-content .type-31 .module-1 .sc_title {
  text-align: center;
  color: #1a3150;
  font-weight: 600;
  font-size: 3.214em;
}
.list-content .type-31 .module-1 .sc_title_underline::after {
  border-top-color: #96bd42;
}
.list-content .type-31 .module-1 .wpb_wrapper {
  padding-bottom: 20px;
}
.list-content .type-31 .module-2 .shop_banner {
  background-image: url(../images/shop_bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em 1.5em;
}
.list-content .type-31 .module-2 .vc_column_container>.vc_column-inner {
  box-sizing: border-box;
  width: 100%;
}
.list-content .type-31 .module-2 .sc_align_center {
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  font-weight: 900;
  font-size: 2.5em;
}
.list-content .type-31 .module-2 .sc_title {
  overflow: hidden;
  position: relative;
  padding-bottom: 2px;
}
.list-content .type-31 .module-2 .margin_bottom_tiny {
  margin-bottom: 10px !important;
}
.list-content .type-31 .module-2 .margin_top_medium {
  margin-top: 40px !important;
}
.list-content .type-31 .module-2 .sc_align_center {
  clear: both;
  display: inline-block;
  float: left;
  margin-left: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.list-content .type-31 .module-2 .custom_line_height1 {
  text-align: center;
  font-size: 0.85em;
  line-height: 140%;
  margin-left: 4em;
  color: #ffffff;
  float: left;
}
.list-content .type-31 .module-2 .aligncenter {
  clear: both;
  display: block !important;
  margin-left: 7em;
  margin-right: 26em;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}
.list-content .type-31 .module-2 .sc_button.sc_button_style_filled .default-state {
  background-color: #96bd42;
  color: #ffffff;
}
.list-content .type-31 .module-2 .sc_button.sc_button_style_filled .active-state {
  background-color: #7ca813;
  color: #ffffff;
}
.list-content .type-31 .module-3 {
  padding: 3em 0;
}
.list-content .type-31 .module-3 .mode_buttons {
  float: right;
  margin-top: 0;
  vertical-align: top;
}
.list-content .type-31 .module-3 .nav-pills > li.active > a,
.list-content .type-31 .module-3 .nav-pills > li.active > a:hover,
.list-content .type-31 .module-3 .nav-pills > li.active > a:focus {
  color: #7ca813;
  background-color: #fff;
}
.list-content .type-31 .module-3 .nav > li > a {
  font-size: 1.125em;
  padding: 10px 0px;
}
.list-content .type-31 .module-3 .woocommerce-result-count {
  color: #aab2bd;
  float: right;
  font-size: 1.1em;
  margin: 0.7em 1em 0 0;
}
.list-content .type-31 .module-3 form.odering {
  overflow: hidden;
  position: relative;
  float: left;
  margin-bottom: 2.143em;
}
.list-content .type-31 .module-3 .orderby {
  color: #aab2bd;
  width: 19.3em;
  padding-right: 2em;
  font-weight: 400;
  line-height: 1.3em;
  padding: 1em;
}
.list-content .type-31 .module-3 select {
  border: 2px solid transparent;
  transition: all ease .3s;
}
.list-content .type-31 .module-3 select:focus {
  border-color: #96bd42;
}
.list-content .type-31 .module-3 ul.products {
  margin-right: -30px;
  margin-bottom: 20px;
  border-top: 1px solid #d8e3e5;
}
.list-content .type-31 .module-3 .products:before {
  display: block;
  content: "";
  margin-bottom: 2.857em;
}
.list-content .type-31 .module-3 li.product.column-1_3 {
  width: 33.3333%;
  float: left;
}
.list-content .type-31 .module-3 li.product.column-2_3 {
  width: 100%;
  float: left;
}
.list-content .type-31 .module-3 li.product {
  box-sizing: border-box;
  margin: 0;
  padding: 0 30px 30px 0;
  position: relative;
  line-height: 21px;
  list-style: none;
}
.list-content .type-31 .module-3 .post_featured {
  margin-bottom: 0;
}
.list-content .type-31 .module-3 .hover_icon {
  position: relative;
  display: block;
}
.list-content .type-31 .module-3 .hover_icon:hover:before {
  opacity: 1;
  margin-top: 0;
}
.list-content .type-31 .module-3 .hover_icon_link:before {
  content: '\e807';
}
.list-content .type-31 .module-3 .hover_icon:before {
  font-family: 'fontello';
  font-size: 1.2em;
  color: #ffffff;
  background-color: #96bd42;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 12px 20px;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  margin-top: 100px;
  z-index: 10;
  transition: all ease .3s;
}
.list-content .type-31 .module-3 span.onsale {
  color: #ffffff;
  background-color: #e13e30;
  min-width: 3.236em;
  padding: .202em;
  position: absolute;
  z-index: 1;
  width: 5em;
  height: 3.2em;
  min-height: 2.7em;
  overflow: hidden;
  font-weight: bold;
  text-align: center;
  font-size: 0.714em;
  line-height: 2.7em;
  left: 0;
  top: 0;
  margin: 1em 0 0 1em;
}
.list-content .type-31 .module-3 li.product:hover .post_content {
  border-bottom-color: #96bd42;
}
.list-content .type-31 .module-3 .post_content {
  padding-left: 2.3em;
  padding-right: 2.3em;
}
.list-content .type-31 .module-3 .post_content {
  background-color: #f6f7f3;
  padding: 2.5em;
  height: 250px;
  border-bottom: 3px solid transparent;
  text-align: left;
}
.list-content .type-31 .module-3 li.product h3 {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4em;
  margin-top: 0;
  padding: 0;
}
.list-content .type-31 .module-3 .star-rating {
  font-size: 0.643em;
}
.list-content .type-31 .module-3 .price {
  color: #96bd42;
  font-size: 1.143em;
  font-weight: 600;
  margin-bottom: 1.5em;
}
.list-content .type-31 .module-3 .star-rating:before {
  content: "\e814\e814\e814\e814\e814";
  font-family: "fontello";
  font-size: 1em;
  color: #96bd42;
  letter-spacing: 4px;
}
.list-content .type-31 .module-3 del {
  color: #aab2bd;
}
.list-content .type-31 .module-3 .as {
  margin-top: 40px;
}
.list-content .type-31 .module-3 .button {
  background-color: #1a3150;
  color: #ffffff;
  text-align: center;
  padding: 1.286em 1.800em;
  font-size: 1em;
  line-height: 1.3em;
  font-weight: 700;
  margin: 0;
  border: none;
  border-radius: 0;
}
.list-content .type-31 .module-3 .button:hover {
  background-color: #021328;
}
.list-content .type-31 .module-3 ul.products-1 {
  margin-right: -30px;
  margin-bottom: 20px;
  border-top: 1px solid #d8e3e5;
}
.list-content .type-31 .module-3 .products-1:before {
  display: block;
  content: "";
  margin-bottom: 2.857em;
}
.list-content .type-31 .module-3 li.product-1 {
  box-sizing: border-box;
  margin: 0;
  padding: 0 30px 30px 0;
  position: relative;
  line-height: 21px;
  list-style: none;
}
.list-content .type-31 .module-3 .post_featured-1 {
  float: left;
  margin: 0 1.5em 0 0;
  width: 56%;
  border-bottom: none;
}
.list-content .type-31 .module-3 .hover_icon {
  position: relative;
  display: block;
}
.list-content .type-31 .module-3 .hover_icon:hover:before {
  opacity: 1;
  margin-top: 0;
}
.list-content .type-31 .module-3 .hover_icon_link:before {
  content: '\e807';
}
.list-content .type-31 .module-3 .hover_icon:before {
  font-family: 'fontello';
  font-size: 1.2em;
  color: #ffffff;
  background-color: #96bd42;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 12px 20px;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  margin-top: 100px;
  z-index: 10;
  transition: all ease .3s;
}
.list-content .type-31 .module-3 li.product-1:hover .post_content-1 {
  border-bottom-color: #96bd42;
}
.list-content .type-31 .module-3 .post_content-1 {
  padding: 2.857em;
  border-bottom: 3px solid transparent;
  text-align: left;
  background-color: #f6f7f3;
  width: 670px;
}
.list-content .type-31 .module-3 li.product-1 h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
  border-bottom: none;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4em;
  padding: 0;
}
.list-content .type-31 .module-3 .star-rating-1 {
  font-size: 0.643em;
}
.list-content .type-31 .module-3 .price-1 {
  color: #96bd42;
  font-size: 1.625em;
  font-weight: 600;
  margin-bottom: 1.5em;
}
.list-content .type-31 .module-3 .star-rating-1:before {
  content: "\e814\e814\e814\e814\e814";
  font-family: "fontello";
  font-size: 1em;
  color: #96bd42;
  letter-spacing: 4px;
}
.list-content .type-31 .module-3 .description {
  margin-bottom: 1.5em;
  line-height: 1.3em;
  overflow: hidden;
  max-height: 6.6em;
}
.list-content .type-31 .module-3 .product-1 del {
  color: #aab2bd;
  margin-left: 17%;
}
.list-content .type-31 .module-3 .as-1 {
  margin-top: 40px;
}
.list-content .type-31 .module-3 .button-1 {
  background-color: #1a3150;
  color: #ffffff;
  text-align: center;
  padding: 1.286em 1.800em;
  font-size: 1em;
  line-height: 1.3em;
  font-weight: 700;
  margin: 0;
  border: none;
  margin-left: 37%;
  border-radius: 0;
}
.list-content .type-31 .module-3 .button-1:hover {
  background-color: #021328;
}
.list-content .type-31 .module-4 .pagination_wrap {
  text-align: center;
  position: relative;
  margin-bottom: 3.214em;
}
.list-content .type-31 .module-4 .pagination_pages>.active,
.list-content .type-31 .module-4 .pagination_pages>a:hover {
  background-color: #96bd42;
  color: #fff;
  transition: all 0.3s ease 0s;
}
.list-content .type-31 .module-4 .pagination_pages>span {
  display: inline-block;
  margin: 0 5px 5px 0;
  text-align: center;
  padding: 1.1em 1.286em;
  font-size: 1em;
  line-height: 1em;
}
.list-content .type-31 .module-4 .pagination_pages>a,
.list-content .type-31 .module-4 .pagination_pages>span {
  color: #707276;
  background-color: #f6f7f3;
  border-color: #f6f7f3;
  display: inline-block;
  margin: 0 0px 5px 0;
  text-align: center;
  padding: 1.1em 1.3em;
  font-size: 1em;
  line-height: 1em;
}
.list-content .type-31 .module-4 .pagination_wrap .pager_next:hover,
.list-content .type-31 .module-4 .pagination_wrap .pager_prev:hover,
.list-content .type-31 .module-4 .pagination_wrap .pager_last:hover,
.list-content .type-31 .module-4 .pagination_wrap .pager_first:hover {
  color: #7ca813;
}
.list-content .type-31 .module-4 .pagination_wrap .pager_next,
.list-content .type-31 .module-4 .pagination_wrap .pager_prev,
.list-content .type-31 .module-4 .pagination_wrap .pager_last,
.list-content .type-31 .module-4 .pagination_wrap .pager_first {
  border: none !important;
  margin-left: 0.6em;
  background-color: transparent !important;
}
.list-content .type-31 .module-4 .pagination_wrap .pager_next:before {
  font-family: fontello;
  content: '\e836';
  margin-right: 0;
}
.list-content .type-31 .module-4 .pagination_wrap .pager_last:before {
  font-family: fontello;
  content: '\e836\e836';
  margin-right: 0;
  letter-spacing: -7px;
}
@media (max-width: 1135px) and (min-width: 960px) {
  .list-content .type-31 .container {
    max-width: 964px !important;
  }
  .list-content .type-31 .wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
  .list-content .type-31 .aligncenter {
    margin-right: 16em !important;
    margin-left: 7em !important;
  }
}
@media (max-width: 959px) and (min-width: 768px) {
  .list-content .type-31 .container {
    max-width: 708px;
  }
  .list-content .type-31 .wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
  .list-content .type-31 .aligncenter {
    margin-right: 21em !important;
    margin-left: 7em !important;
  }
}
@media (max-width: 767px) and (min-width: 640px) {
  .list-content .type-31 .wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
  .list-content .type-31 .container {
    max-width: 600px;
  }
  .list-content .type-31 .aligncenter {
    margin-right: 17em !important;
    margin-left: 7em !important;
  }
  .list-content .type-31 li.product.column-1_3 {
    width: 50% !important;
    float: left !important;
  }
}
@media (max-width: 639px) and (min-width: 480px) {
  .list-content .type-31 .container {
    max-width: 440px;
  }
  .list-content .type-31 .wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
  .list-content .type-31 .title-1 {
    max-width: 100% !important;
    color: #182e4b;
  }
  .list-content .type-31 .title-1 {
    max-width: 100% !important;
    color: #182e4b;
  }
  .list-content .type-31 .top_panel_title_inner .title-1 h1 {
    float: none !important;
    text-align: center;
    margin: 0 auto;
    padding: 1.261em 9.5em;
  }
  .list-content .type-31 .top_panel_title_inner .breadcrumbs {
    float: none !important;
    max-width: 100% !important;
    text-align: center;
    padding: 0.231em 0 1em 2.5em;
  }
  .list-content .type-31 .aligncenter {
    margin-right: 6em !important;
    margin-left: 8em !important;
  }
  .list-content .type-31 .sc_button {
    font-size: 13px !important;
  }
  .list-content .type-31 .woocommerce-result-count {
    font-size: 1em !important;
  }
  .list-content .type-31 li.product.column-1_3 {
    width: 50% !important;
    float: left !important;
  }
  .list-content .type-31 .post_content-1 {
    font-size: 15px !important;
  }
  .list-content .type-31 .product-1 del {
    margin-left: 10% !important;
  }
  .list-content .type-31 span.onsale {
    width: 4em !important;
    height: 2.7em !important;
  }
  .list-content .type-31 li.product-1 h3,
  .list-content .type-31 li.product-1 p {
    margin-right: 12em;
  }
  .list-content .type-31 .button-1 {
    margin-left: 0% !important;
  }
}
@media (max-width: 479px) {
  .list-content .type-31 .container {
    width: 280px;
  }
  .list-content .type-31 .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  .list-content .type-31 .title-1 {
    max-width: 100% !important;
    color: #182e4b;
  }
  .list-content .type-31 .top_panel_title_inner .title-1 h1 {
    float: none !important;
    text-align: center;
    margin: 0 auto;
    padding: 1.261em 5.5em;
  }
  .list-content .type-31 .top_panel_title_inner .breadcrumbs {
    float: none !important;
    max-width: 100% !important;
    text-align: center;
    padding: 0.231em 0 1em 2.5em;
  }
  .list-content .type-31 .aligncenter {
    margin-right: 0em !important;
    margin-left: 0em !important;
  }
  .list-content .type-31 .sc_button {
    font-size: 13px !important;
  }
  .list-content .type-31 .sc_align_center,
  .list-content .type-31 .custom_line_height1 {
    margin-left: 0 !important;
  }
  .list-content .type-31 .module-3 .wrapper {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .list-content .type-31 .module-3 .orderby {
    width: 100% !important;
  }
  .list-content .type-31 .module-3 .woocommerce-result-count {
    font-size: 1em !important;
  }
  .list-content .type-31 .module-3 li.product.column-1_3 {
    width: 100% !important;
    float: none !important;
  }
  .list-content .type-31 .module-3 .post_content-1 {
    font-size: 12px !important;
  }
  .list-content .type-31 .module-3 .product-1 del {
    margin-left: 10% !important;
  }
  .list-content .type-31 .module-3 span.onsale {
    width: 4em !important;
    height: 2.7em !important;
  }
  .list-content .type-31 .module-3 li.product-1 h3,
  .list-content .type-31 .module-3 li.product-1 p {
    margin-right: 35em;
  }
  .list-content .type-31 .module-3 .button-1 {
    margin-left: 0% !important;
  }
}
.list-content .type-37 .wrapper {
  width: auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.000em;
}
.list-content .type-37 .category {
  width: 300px;
  float: left;
  color: #707276;
  box-sizing: border-box;
}
.list-content .type-37 .category-content {
  padding: 2.857em;
  background-color: #f6f7f3;
  box-sizing: border-box;
}
.list-content .type-37 .content {
  border-bottom: 1px solid #e1e2e0;
  padding-bottom: 40px;
}
.list-content .type-37 .content h5 {
  font-size: 1.214em;
  margin-bottom: 1.55em;
  text-tranform: uppercase;
  font-weight: 700;
  line-height: 125%;
  color: #1a3150;
}
.list-content .type-37 .content ul {
  margin-bottom: 0;
  padding-left: 0;
}
.list-content .type-37 .content ul li {
  border-color: transparent;
  position: relative;
  padding-left: 0;
  color: #96bd42;
  margin-left: 20px;
  margin-bottom: 0;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}
.list-content .type-37 .content ul li a {
  color: #1a3150;
  line-height: 160%;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  background: transparent;
}
.list-content .type-37 .content ul li a:hover {
  color: #96bd42;
}
.list-content .type-37 form {
  display: block;
  margin-top: 0em;
}
.list-content .type-37 aside {
  padding-top: 2.857em;
}
.list-content .type-37 .widget_title {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 1.214em;
  font-weight: 700;
  line-height: 125%;
  color: #1a3150;
  margin: 0;
}
.list-content .type-37 .woocommerce .price_slider_wrapper {
  margin-top: 2.857em;
}
.list-content .type-37 .price_slider_wrapper .ui-widget-content {
  margin-bottom: 1.225em;
  background: #cccccc;
  height: 5px;
}
.list-content .type-37 .price_slider_wrapper .ui-widget-content {
  border-radius: 1em;
  background-color: #1a3150;
  border: 0;
}
.list-content .type-37 .widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
  margin-left: .5em;
  margin-right: .5em;
}
.list-content .type-37 .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  border-radius: 1em;
  background-color: #a46497;
}
.list-content .type-37 .widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1em;
  height: 1em;
  background-color: #1a3150;
  border-radius: 1em;
  cursor: ew-resize;
  outline: 0;
  top: -0.3em;
  margin-left: -0.5em;
}
.list-content .type-37 .woocommerce button.button {
  background-color: #96bd42;
  color: #fff;
  text-align: center;
  padding: 1.286em 2.500em;
  line-height: 1.3em;
  font-weight: 700;
  margin: 0;
  border: none;
  border-radius: 0;
}
.list-content .type-37 .price_label {
  font-size: 14px;
  color: #aab2bd;
}
.list-content .type-37 .price_label span {
  font-size: 14px;
  color: #aab2bd;
}
.list-content .type-37 .woocommerce button.button:hover {
  background-color: #7ca813;
}
.list-content .type-37 .category-search {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #e1e2e0;
  border-bottom: 1px solid #e1e2e0;
}
.list-content .type-37 form {
  display: block;
  margin-top: 0;
}
.list-content .type-37 .category-search .search_form {
  background-color: #fff;
  color: #aab2bd;
  position: relative;
  overflow: hidden;
}
.list-content .type-37 .category-search .search_field {
  padding-right: 30px;
  padding-left: 20px;
  background: none;
  border: none;
  width: 100%;
  height: 3.571em;
  line-height: 2.5em;
  box-sizing: border-box;
  vertical-align: middle;
}
.list-content .type-37 input[type="text"] {
  color: #707276;
  outline: none;
  resize: none;
  padding: 0.45em 0.5em;
  border-radius: 0;
  transition: all ease .3s;
}
.list-content .type-37 input {
  font-size: 1em;
  margin: 0;
}
.list-content .type-37 .category-search .search_button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  line-height: 0.571em;
  box-shadow: none;
  text-align: center;
  border: none;
  background: none;
  color: #fff;
  background-color: #96bd42;
}
.list-content .type-37 button {
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.list-content .type-37 .category-search .icon-search::before {
  content: '\e8fa';
  width: 3.571em;
  height: 3.571em;
  padding-top: 20px;
  font-size: 1em;
}
.list-content .type-37 .category-search .icon-search:hover {
  background-color: #7ca813;
}
.list-content .type-37 .category-search .icon-search:hover {
  background-color: #7ca813;
}
.list-content .type-37 .col-xs {
  width: 25%;
  float: left;
}
.list-content .type-37 a {
  text-decoration: none;
}
.list-content .type-37 .widget {
  background-color: #f6f7f3;
}
.list-content .type-37 .widget {
  background-color: #f6f7f3;
}
.list-content .type-37 .footer-wrap {
  padding: 5.714em 0 4.286em;
}
.list-content .type-37 .logo img {
  width: 90%;
  margin: 0 0 1.2em 0;
}
.list-content .type-37 .description {
  font-size: 17px;
  color: #707276;
  line-height: 35px;
}
.list-content .type-37 .footer-wrapper .title {
  font-weight: 700;
  line-height: 25px;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 1.55em;
  font-size: 1.4em;
  color: #1a3150;
}
.list-content .type-37 .footer-wrapper ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.list-content .type-37 .footer-wrapper ul li {
  border-bottom-color: #e0e1dd;
  padding: 1em 0;
  margin-top: -18px;
  margin-bottom: 12px;
}
.list-content .type-37 .footer-wrapper ul li a {
  text-decoration: none;
  line-height: 34px;
  color: #1a3150;
  font-size: 17px;
}
.list-content .type-37 .footer-wrapper ul li a:hover {
  color: #96bd42;
}
.list-content .type-37 .list.list-social {
  overflow: hidden;
  margin-top: 20px;
}
.list-content .type-37 .list.list-social li {
  float: left;
}
.list-content .type-37 .list.list-social li .box-icon {
  width: 44px;
  height: 48px;
  line-height: 35px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  padding-top: 10px;
  background-color: #1ca9eb;
}
.list-content .type-37 .list.list-social li .box-icon1 {
  width: 44px;
  height: 48px;
  line-height: 35px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  padding-top: 10px;
  background-color: #1a3150;
}
.list-content .type-37 .list.list-social li .box-icon2 {
  width: 44px;
  height: 48px;
  line-height: 35px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  padding-top: 10px;
  background-color: #e13e30;
}
.list-content .type-37 .list.list-social li .box-icon2:hover {
  text-decoration: none;
  color: #fff;
  background: #cb281e;
}
.list-content .type-37 .list.list-social li .box-icon1:hover {
  text-decoration: none;
  color: #fff;
  background: #021328;
}
.list-content .type-37 .list.list-social li .box-icon:hover {
  text-decoration: none;
  color: #fff;
  background: #1a98d3;
}
.list-content .type-37 .list.list-social li:last-child {
  margin-right: 0;
}
.list-content .type-37 .list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list-content .type-37 .widget-text strong {
  color: #1a3150;
  font-weight: bold;
  margin-top: 1.5em;
}
.list-content .type-37 .widget-text p {
  font-size: 15.5px;
  color: #707276;
  line-height: 1.5em;
}
.list-content .type-37 .post-item-thumb {
  overflow: hidden;
  margin-bottom: 30px;
}
.list-content .type-37 .post-thumb-1 img {
  width: 75px;
  height: 75px;
}
.list-content .type-37 .post-content-1 {
  overflow: hidden;
  margin-left: 90px;
  margin-top: -80px;
}
.list-content .type-37 .post-title .title a {
  color: #1a3150;
  font-weight: 1.5em;
  font-size: 17px;
}
.list-content .type-37 .post-title a:hover {
  color: #96bd42;
}
.list-content .type-37 .post-info a {
  color: #96bd42;
}
.list-content .type-37 .footer-wrap-inner {
  background-color: #1a3150;
  padding: 2.5em 0 2em;
  overflow: hidden;
  text-align: center;
}
.list-content .type-37 .copyright-text {
  color: #aab2bd;
  font-size: 16px;
}
.list-content .type-37 .footer-wrap-inner .copyright-text a {
  color: #fff;
}
.list-content .type-37 .footer-wrap-inner .copyright-text a:hover {
  color: #96bd42;
}
@media (max-width: 767px) and (min-width: 480px) {
  .list-content .type-37 .col-xs {
    width: 50% !important;
    float: left !important;
  }
  .list-content .type-37 .col {
    margin-bottom: 20px;
  }
  .list-content .type-37 .default-state,
  .list-content .type-37 .active-state {
    margin-left: 100px;
    margin-right: 100px;
  }
  .list-content .type-37 .footer-wrapper ul li a {
    font-size: 12px !important;
  }
  .list-content .type-37 .description {
    font-size: 10px !important;
  }
  .list-content .type-37 .widget-text p {
    font-size: 12px;
  }
  .list-content .type-37 .post-content {
    font-size: 8px !important;
  }
}
@media (max-width: 479px) {
  .list-content .type-37 .container {
    max-width: 280px;
  }
  .list-content .type-37 .col {
    margin-bottom: 20px;
  }
  .list-content .type-37 .col-xs {
    width: 100% !important;
    float: none !important;
  }
  .list-content .type-37 .footer-wrapper ul li a {
    font-size: 12px !important;
  }
  .list-content .type-37 .description {
    font-size: 13px !important;
  }
  .list-content .type-37 .widget-text p {
    font-size: 12px;
  }
  .list-content .type-37 .post-content {
    font-size: 8px !important;
  }
}
@media (max-width: 959px) and (min-width: 768px) {
  .list-content .type-37 .footer-wrapper ul li a {
    font-size: 14px !important;
  }
  .list-content .type-37 .description {
    font-size: 13px !important;
    padding-top: 10px;
  }
  .list-content .type-37 .widget-text p {
    font-size: 12px;
  }
  .list-content .type-37 .post-content {
    font-size: 10px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
  }
}
.list-content .type-21 body {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.000em;
  color: #707276;
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 150%;
}
.list-content .type-21 ul {
  list-style-type: none;
}
.list-content .type-21 .top_panel_top {
  color: #d0d6de;
  background-color: #1a3150;
  margin-top: 0;
}
.list-content .type-21 .top_panel_top a {
  color: #d0d6de;
}
.list-content .type-21 .wapper {
  margin: 0 auto;
  height: 46px;
  background: #1a3150;
}
.list-content .type-21 .wapper1 {
  background-color: #1a3150;
  height: 46px;
}
.list-content .type-21 .top_panel_top_contact_area {
  float: left;
  margin-top: 0.75em;
  font-size: 0.929em;
  padding-left: 3px;
}
.list-content .type-21 [class^="icon-"]:before,
.list-content .type-21 [class*=" icon-"]:before {
  line-height: inherit;
  font-weight: inherit;
  font-size: inherit;
  width: auto;
  margin: 0;
  margin-right: 0.5em;
  color: #96bd42;
}
.list-content .type-21 .top_panel_top_open_hours {
  float: left;
  margin-top: 0.75em;
  margin-left: 3em;
  font-size: 0.929em;
}
.list-content .type-21 .top_panel_top_user_area {
  float: right;
  margin-left: 10px;
  padding-right: -9px;
}
.list-content .type-21 .fa-mobile {
  color: #96bd42;
}
.list-content .type-21 .fa-envelope-o {
  color: #96bd42;
}
.list-content .type-21 .fa-shopping-cart {
  color: #96bd42;
}
.list-content .type-21 .menu_user_nav {
  float: left;
}
.list-content .type-21 .top_panel_wrap ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.list-content .type-21 .top_panel_top_search {
  padding-top: 0.2em;
  margin-right: 2em;
  margin: 0.5em 0 0 0;
}
.list-content .type-21 .top_panel_wrap li {
  margin-bottom: 0;
  position: relative;
}
.list-content .type-21 .menu_user_nav > li:first-child {
  margin-left: 0;
}
.list-content .type-21 .menu_user_nav > li {
  z-index: 30;
}
.list-content .type-21 .search_wrap {
  position: relative;
  max-width: 12em;
  min-width: 2.2857em;
}
.list-content .type-21 .search_wrap form {
  width: 100%;
  padding-left: 2.2em;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.list-content .type-21 .top_panel_top_search .search_submit {
  top: 2px;
}
.list-content .type-21 .search_wrap .search_submit {
  position: absolute;
  right: 0;
  top: 1px;
  width: 2em;
  padding: 0;
  margin: 0;
  text-align: right;
  font-weight: normal;
}
.list-content .type-21 .search_wrap .search_submit {
  background-color: transparent;
  border: none;
}
.list-content .type-21 .search_wrap .search_submit:hover {
  background-color: transparent;
  border: none;
}
.list-content .type-21 .button {
  line-height: 1.3em;
  color: #ffffff;
  font-size: 1em;
  display: inline-block;
  overflow: visible;
  font-family: inherit;
  vertical-align: baseline;
}
.list-content .type-21 .icon-magnifier:before {
  content: '\e8fa';
}
.list-content .type-21 .top_panel_top .search_wrap .search_field {
  background-color: transparent;
}
.list-content .type-21 .top_panel_top .search_wrap .search_field:focus {
  background-color: #091a32;
  color: #fff;
}
.list-content .type-21 .content .search_field {
  color: #aab2bd;
}
.list-content .type-21 .content .search_submit {
  color: #ffffff;
}
.list-content .type-21 .content .search_field:focus {
  color: #232a34;
}
.list-content .type-21 .top_panel_icon {
  padding: 0;
}
.list-content .type-21 .top_panel_top .search_field {
  padding: 3px 0 3px 5px;
  max-width: 15em;
  font-size: 0.929em;
}
.list-content .type-21 .search_wrap .search_field {
  width: 100%;
}
.list-content .type-21 .navbar-collapse {
  padding-right: 0px;
}
.list-content .type-21 input[type="text"],
.list-content .type-21 input[type="number"],
.list-content .type-21 input[type="email"],
.list-content .type-21 input[type="search"],
.list-content .type-21 input[type="password"],
.list-content .type-21 select,
.list-content .type-21 textarea {
  line-height: 1.3em;
  color: #707276;
  background-color: #f6f7f3;
  border: 2px solid transparent;
  outline: none;
  resize: none;
}
.list-content .type-21 .menu_user_nav {
  margin-left: 0;
}
.list-content .type-21 .menu_user_nav > li+li {
  z-index: 29;
}
.list-content .type-21 .menu_user_nav > li {
  z-index: 30;
}
.list-content .type-21 .menu_user_nav > li,
.list-content .type-21 .menu_main_nav > li {
  position: relative;
  float: left;
  z-index: 20;
}
.list-content .type-21 .menu_user_nav > li {
  margin-left: 1.5em;
}
.list-content .type-21 .top_panel_wrap li {
  margin-bottom: 0;
  position: relative;
}
.list-content .type-21 .menu_user_nav > li a {
  font-weight: 400;
  font-size: 0.929em;
  padding: 0.8em 0;
  color: #d0d6de;
}
.list-content .type-21 .top_panel_style_3 .top_panel_cart_button {
  display: block;
  padding-left: 1.5em !important;
  padding-right: 1.5em !important;
}
.list-content .type-21 .top_panel_wrap .contact_label {
  margin: 0.3em 0 0.15em;
}
.list-content .type-21 .menu_user_cart {
  padding-top: 0.2em;
  margin-right: 2em;
  margin: 0.5em 0 0 0;
}
.list-content .type-21 .top_panel_link {
  padding-top: 0.2em;
  margin-right: 2em;
  margin: 0.5em 0 0 0;
  float: right;
}
.list-content .type-21 .menu_user_nav .top_panel_link a {
  font-size: 1em;
  font-weight: bold;
  padding-left: 2.5em;
  padding-right: 2.5em;
  color: #fff;
  background-color: #96bd42;
  margin-bottom: 1px;
  padding-bottom: 18px;
}
.list-content .type-21 .menu_user_nav .top_panel_link a:hover {
  background-color: #7ca813;
  text-decoration: none;
}
.list-content .type-21 .menu_user_nav .top_panel_link a:hover {
  color: #fff;
}
.list-content .type-21 .top_panel_top a:hover {
  color: #7ca813;
  text-decoration: none;
}
.list-content .type-21 .top_panel_link a:hover {
  color: #fff !important;
}
.list-content .type-21 .top_panel_middle {
  background-color: #fff;
  padding-bottom: 5px;
  width: 100%;
  display: block;
  left: 0;
  z-index: 100000;
}
.list-content .type-21 .content_wrap {
  width: 1000px;
  margin: auto;
}
.list-content .type-21 .contact_logo {
  max-width: 26%;
  float: left;
  margin-top: 2.0em;
}
.list-content .type-21 .top_panel_wrap .logo {
  margin: 3.571em 0 2.8em 0;
  overflow: hidden;
}
.list-content .type-21 a {
  text-decoration: none;
  background: transparent;
}
.list-content .type-21 .top_panel_wrap .logo_main {
  max-height: 100px;
  width: 100%;
}
.list-content .type-21 .logo img {
  float: left;
  width: 100%;
}
.list-content .type-21 a img {
  border: none;
}
.list-content .type-21 img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
.list-content .type-21 .page_wrap,
.list-content .type-21 .content_wrap {
  margin: 0 auto;
}
.list-content .type-21 .body_style_boxed .page_wrap {
  width: 1230px;
  overflow: hidden;
}
.list-content .type-21 .content_wrap:after,
.list-content .type-21 .content_container:after {
  content: " ";
  display: block;
  width: 100%;
  height: 0;
  clear: both;
}
.list-content .type-21 .body_style_fullwide .content_wrap {
  width: auto;
  padding-left: 30px;
  padding-right: 30px;
}
.list-content .type-21 .content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.list-content .type-21 .top_panel_wrap .logo {
  margin: 3.571em 0 2.8em 0 !important;
  overflow: hidden;
}
.list-content .type-21 .top_panel_fixed .menu_main_social_wrap {
  margin-top: 0;
}
.list-content .type-21 .menu_main_social_wrap {
  max-width: 70%;
  float: right;
}
.list-content .type-21 .header {
  margin-top: 2.0em;
}
.list-content .type-21 .navbar-nav li a {
  color: #7a7f87;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-size: 0.786em;
}
.list-content .type-21 .nav>li>a {
  padding: 16px 13px !important;
}
.list-content .type-21 .nav>li>a:hover {
  background: #fff !important;
  color: black;
}
.list-content .type-21 .dropdown-menu>li>a:hover {
  color: #fff !important;
  text-decoration: none;
  background-color: #1A3150 !important;
}
.list-content .type-21 .dropdown-menu>li>a {
  color: #fff !important;
}
.list-content .type-21 .dropdown-menu {
  background: #1A3150 !important;
  color: #fff !important;
}
.list-content .type-21 .top_panel_top_socials {
  float: right;
}
.list-content .type-21 .top_panel_top_socials .sc_socials {
  margin-right: 0;
  line-height: 0;
}
.list-content .type-21 .sc_socials {
  overflow: hidden;
  display: inline-block;
  margin-right: 1.25em;
}
.list-content .type-21 .sc_socials.sc_socials_size_small .sc_socials_item {
  margin: 0 0 0.5em 0;
}
.list-content .type-21 .sc_socials .sc_socials_item {
  display: inline-block;
  margin: 0 0 0.5em 0;
  outline: none;
}
.list-content .type-21 .sc_socials.sc_socials_type_icons a,
.list-content .type-21 .sc_socials.sc_socials_type_icons a:hover {
  color: #fff;
}
.list-content .type-21 .sc_socials.sc_socials_size_small a,
.list-content .type-21 .sc_socials.sc_socials_size_small a .sc_socials_hover {
  width: 2.8em;
  height: 2.8em;
  line-height: 2.8em;
}
.list-content .type-21 .social_icons.social_twitter {
  background-color: #1ca9eb;
}
.list-content .type-21 .sc_socials a,
.list-content .type-21 .sc_socials a .sc_socials_hover {
  overflow: hidden;
  width: 4em;
  height: 4em;
  line-height: 4em;
  position: relative;
}
.list-content .type-21 .sc_socials a {
  display: inline-block;
  outline: none;
  text-align: center;
}
.list-content .type-21 .social_icons.social_facebook {
  background-color: #1b3353;
}
.list-content .type-21 .social_icons.social_gplus {
  background-color: #e13e30;
}
@media screen and (max-width: 480px) {
  .list-content .type-21 .rip {
    display: none;
  }
  .list-content .type-21 .rip1 {
    display: inline;
  }
  .list-content .type-21 .top_panel_middle {
    background-color: #fff;
    padding-bottom: 5px;
  }
  .list-content .type-21 .contact_logo {
    max-width: 26%;
    float: left;
  }
  .list-content .type-21 #first-slider h1 {
    text-align: center;
    font-size: 45px;
  }
  .list-content .type-21 #first-slider .slide2 h3 {
    font-size: 18px;
  }
  .list-content .type-21 .logo img {
    float: left;
    width: 100%;
    padding-left: 30px;
  }
  .list-content .type-21 #first-slider {
    width: 100%;
  }
  .list-content .type-21 .item slide1 {
    width: 100%;
  }
  .list-content .type-21 .item slide2 {
    width: 100%;
  }
  .list-content .type-21 .item slide3 {
    width: 100%;
  }
  .list-content .type-21 #carousel-example-generic {
    width: 100%;
  }
  .list-content .type-21 .carousel slide carousel-fade {
    width: 100%;
  }
  .list-content .type-21 #first-slider .slide1 {
    width: 100%;
  }
  .list-content .type-21 .carousel-inner {
    width: 100%;
  }
  .list-content .type-21 #first-slider h1 {
    text-align: center;
    font-size: 70px;
  }
  .list-content .type-21 #first-slider h3 {
    text-align: center;
    font-size: 25px;
  }
  .list-content .type-21 #first-slider h4 {
    display: none;
  }
  .list-content .type-21 #first-slider h4 {
    display: none;
  }
  .list-content .type-21 #first-slider h5 {
    text-align: center;
  }
  .list-content .type-21 .wapper {
    display: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  .list-content .type-21 .top_panel_middle {
    background-color: #fff;
    padding-bottom: 10px;
    text-align: center;
  }
  .list-content .type-21 .content_wrap {
    text-align: center;
  }
  .list-content .type-21 .contact_logo {
    max-width: 26%;
    float: left;
    margin-top: 2.2em;
    text-align: center;
  }
  .list-content .type-21 .logo img {
    float: left;
    width: 200px;
    padding-left: 30px;
    text-align: center;
  }
  .list-content .type-21 #first-slider {
    width: 100%;
  }
  .list-content .type-21 .item slide1 {
    width: 100%;
  }
  .list-content .type-21 .item slide2 {
    width: 100%;
  }
  .list-content .type-21 .item slide3 {
    width: 100%;
  }
  .list-content .type-21 #carousel-example-generic {
    width: 100%;
  }
  .list-content .type-21 .carousel slide carousel-fade {
    width: 100%;
  }
  .list-content .type-21 #first-slider .slide1 {
    width: 100%;
  }
  .list-content .type-21 .carousel-inner {
    width: 100%;
  }
  .list-content .type-21 #first-slider h1 {
    text-align: center;
    font-size: 70px;
  }
  .list-content .type-21 #first-slider h3 {
    text-align: center;
    font-size: 25px;
  }
  .list-content .type-21 #first-slider h4 {
    display: none;
  }
  .list-content .type-21 #first-slider h4 {
    display: none;
  }
  .list-content .type-21 #first-slider h5 {
    text-align: center;
  }
  .list-content .type-21 .wapper {
    display: none;
  }
}
@media screen and (min-width: 701px) and (max-width: 999px) {
  .list-content .type-21 .wapper {
    width: 100%;
  }
  .list-content .type-21 .content_wrap {
    width: 100%;
  }
}
.list-content .type-21 .wrapper {
  padding-left: 70px;
  padding-right: 70px;
}
.list-content .type-21 .product-tag {
  width: 300px;
  float: left;
  color: #707276;
  box-sizing: border-box;
}
.list-content .type-21 .product-tag-content {
  padding: 2.857em;
  background-color: #f6f7f3;
  box-sizing: border-box;
}
.list-content .type-21 .content2 {
  padding-bottom: 228px;
  border-bottom: 1px solid #e1e2e0;
}
.list-content .type-21 .content2 h5 {
  font-size: 1.214em;
  margin-bottom: 1.55em;
  text-tranform: uppercase;
  font-weight: 700;
  line-height: 125%;
  color: #1a3150;
}
.list-content .type-21 .content1 {
  font-size: 12.2pt;
  color: #707276;
  display: block;
  float: left;
  padding: 1.167em;
  margin: 0 4px 4px 0;
  font-size: 0.857em !important;
  border: 2px solid #e3e4e3;
  text-transform: uppercase;
  line-height: 1em;
}
.list-content .type-21 .content1:hover {
  background: #96BD42;
  color: #fff !important;
  text-decoration: none;
}
.list-content .type-21 #aside {
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  border: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  display: block;
}
.list-content .type-21 .widget_title {
  margin-top: 0;
  margin-bottom: 1.55em;
  text-transform: uppercase;
  font-size: 1.214em;
  padding-top: 34px;
  font-weight: 700;
  margin: 0;
  color: #1a3150;
  font-family: Montserrat;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  line-height: 125%;
}
.list-content .type-21 .woocommerce ul.product_list_widget li img {
  float: left;
  margin-left: 4px;
  width: 76px;
  height: auto;
  box-shadow: none;
  margin-right: 21px;
  margin-bottom: 40px;
}
.list-content .type-21 .woocommerce-page ul.product_list_widget li img {
  box-shadow: none;
  width: 5.35em;
  float: left;
  margin: 0 1.1em 3em 0;
}
.list-content .type-21 .woocommerce ul.cart_list,
.list-content .type-21 .woocommerce ul.product_list_widget {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-content .type-21 span {
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  border: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.list-content .type-21 .woocommerce ul.cart_list li a,
.list-content .type-21 .woocommerce ul.product_list_widget li a,
.list-content .type-21 .woocommerce-page ul.cart_list li a,
.list-content .type-21 .woocommerce-page ul.product_list_widget li a {
  font-weight: 400;
}
.list-content .type-21 .woocommerce ul.cart_list li a,
.list-content .type-21 .woocommerce ul.product_list_widget li a {
  display: block;
  font-weight: 500px;
  text-decoration: none;
}
.list-content .type-21 .widget_area_inner a,
.list-content .type-21 .widget_area_inner ul li a {
  color: #1a3150;
}
.list-content .type-21 .widget_area_inner a,
.list-content .type-21 .widget_area_inner ul li a {
  line-height: 160%;
}
.list-content .type-21 .product-title {
  color: #1a3150;
  font-size: 16px;
}
.list-content .type-21 .fa-circle {
  color: #96bd42;
  font-size: 10px;
}
.list-content .type-21 .money {
  color: #96bd42;
  padding-right: 10px;
}
.list-content .type-21 .product-title:hover {
  color: #96bd42;
  text-decoration: none;
}
.list-content .type-21 .woocommerce ul li {
  padding-bottom: 27px;
}
