.type-42 footer {
  background: #262626;
  color: #c5c5c5;
  padding-top: 40px;
}
.type-42 footer .block {
  list-style: none;
  padding-left: 0;
}
.type-42 footer .block2 {
  text-align: center;
  list-style: none;
  padding-left: 0;
}
.type-42 footer a {
  text-decoration: none;
  color: #c5c5c5;
  font-size: 15px;
  padding-right: 6px;
}
.type-42 footer a:hover {
  color: #ffffff;
}
.type-42 footer .block li {
  padding: 2px;
}
.type-42 footer li.item {
  padding: 0;
  display: inline-block;
  height: 25px;
  width: 20px;
  margin: 10px 0 0;
  cursor: pointer;
}
.type-42 footer .logo {
  margin-bottom: 15px;
}
.type-42 footer .address {
  margin-bottom: 5px;
}
.type-42 footer .clear {
  clear: both;
}
.type-42 footer #ten {
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 1px;
}
.type-42 footer .fa {
  font-size: 20px;
}
.type-42 footer .footer-area {
  border-left: 1px solid #3c3c3c;
  box-sizing: border-box;
  padding: 0 0 0 60px;
  min-height: 230px;
}
.type-42 footer .footer li {
  line-height: 24px;
}
.type-42 footer .footer_bottom {
  margin: 0 15px;
  padding: 15px 0 20px;
  position: relative;
  margin-top: 40px;
  text-align: center;
  overflow: hidden;
}
.type-42 footer .footer_bottom:after {
  background: url(../images/footer-divider.png) no-repeat scroll center top #262626;
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 0px;
  width: 31px;
  height: 11px;
  z-index: 9;
}
.type-42 footer .footer_bottom:before {
  border-top: 1px solid #3c3c3c;
  content: "";
  left: 0;
  position: absolute;
  top: 5px;
  width: 100%;
  z-index: 5;
}
.type-42 footer .link {
  padding: 20px 0 10px;
  margin-top: 15px;
}
.type-42 footer .footer_bottom li {
  display: inline;
  background: url(../images/gach_ngang.png) 100% 60% no-repeat;
  padding: 0 6px 0 3px;
  margin: 5px;
}
.type-42 footer .footer_bottom li.last {
  background-image: none;
}
.type-42 footer p {
  text-align: center;
}
.type-42 footer .icon li {
  background: none;
  display: inline-block;
  padding: 0 4px;
}
.type-42 footer .icon li a {
  height: 26px;
  width: 44px;
  display: block;
}
.type-42 footer .icon li span {
  font-size: 15px;
  opacity: 0;
  text-align: center;
}
.type-42 footer .icon {
  padding-left: 0px;
  padding-bottom: 30px;
  text-align: center;
}
.type-42 footer .discover a {
  background: url(../images/payment1.png) no-repeat scroll -120px 0 transparent;
}
.type-42 footer .visa a {
  background: url(../images/payment1.png) no-repeat scroll 0 0 transparent;
}
.type-42 footer .maestro a {
  background: url(../images/payment1.png) no-repeat scroll -180px 0 transparent;
}
.type-42 footer .paypal a {
  background: url(../images/payment1.png) no-repeat scroll -240px 0 transparent;
}
.type-42 footer .american a {
  background: url(../images/payment1.png) no-repeat scroll -300px 0 transparent;
}
.type-42 footer .g-wall a {
  background: url(../images/payment1.png) no-repeat scroll -60px 0 transparent;
}
.type-42 footer .footer1 p {
  margin: 10px 0;
}
.type-42 footer .footer1 ul {
  list-style: none;
  margin-bottom: 0;
}
.type-42 footer .footer1 .footer-an {
  display: none;
  padding: 25px 15px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.type-42 footer .footer1 .footer-an .btn {
  text-align: left;
  width: 100%;
  padding: 12px 10px;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  margin: 0 0 6px;
  position: relative;
  border-radius: 0px;
  background: #f2f2f2;
  color: #000;
}
.type-42 footer .footer1 .footer-an .btn:hover,
.type-42 footer .footer1 .footer-an .btn:focus {
  color: #333;
  text-decoration: none;
}
.type-42 footer .footer1 .footer-an .detail {
  margin: 2px 0;
}
.type-42 footer .footer1 .footer-an h5 {
  cursor: pointer;
  display: block;
  font-size: 15px;
  margin-right: 0;
  margin-top: -20px;
  overflow: hidden;
  padding: 0px;
  text-decoration: none;
  margin-bottom: 0px;
  width: 100%;
  position: absolute;
  right: 10px;
  background: url(../images/toggle-arrow.png) no-repeat scroll right 0px transparent;
}
.type-42 footer .footer1 .footer-an .c_decription strong {
  font-weight: bold;
}
.type-42 footer .footer1 .footer-an .c_decription p {
  margin: 0 0 6px;
  padding: 0;
  color: #666;
}
.type-42 footer .footer1 .footer-an .c_review h2 {
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px solid #d9d9d9;
  padding: 0 0 10px;
  margin: 0 0 15px;
  text-transform: uppercase;
  color: #000;
}
.type-42 footer .footer1 .footer-an .c_review form {
  display: inline;
}
.type-42 footer .footer1 .footer-an .c_review form fieldset {
  border: 0;
}
.type-42 footer .footer1 .footer-an .c_review form fieldset h3 {
  font-size: 16px;
  font-weight: normal;
}
.type-42 footer .footer1 .footer-an .c_review form fieldset h4 {
  font-size: 14px;
  font-weight: normal;
}
.type-42 footer .footer1 .footer-an .c_review form fieldset thead th {
  background: #fff;
  border-bottom: 1px solid #d9d9d9;
  font-weight: bold;
  padding: 8px 8px;
  color: #808080;
  white-space: nowrap;
  vertical-align: middle;
}
.type-42 footer .footer1 .footer-an .c_review form fieldset ul {
  padding: 0;
}
.type-42 footer .footer1 .footer-an .c_tags box-tags {
  margin: 0;
}
.type-42 footer .footer1 .footer-an .c_tab,
.type-42 footer .footer1 .footer-an .c_decription,
.type-42 footer .footer1 .footer-an .c_review,
.type-42 footer .footer1 .footer-an .c_tags {
  margin: 0 0 10px;
  padding: 15px;
}
.type-42 footer .clear {
  clear: both;
}
@media (max-width: 979px) {
  .type-42 footer .footer-an {
    display: block !important;
  }
  .type-42 footer .footer_inner {
    display: none;
  }
}
.type-42 footer .btn {
  width: 100%;
}
@media (min-width: 978px) {
  .type-42 footer .footer_inner {
    display: block;
  }
  .type-42 footer .footer-an {
    display: none;
  }
}
