.type_3_chitiet{
    padding-top: 100px;
    padding-bottom: 100px;
    .tp-blog-pic {
        overflow: hidden;
        img{
            width: 100%;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            -ms-transition: all 1s ease;
            transition: all 1s ease;
        }
    }
    .tp-blog-pic:hover img {
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -ms-transform: scale(1.25);
        -o-transform: scale(1.25);
        transform: scale(1.25);
    }

    .tp-blog-info {
        width: 100%;
        padding: 40px;
        background-color: #282828;
        margin-bottom: 20px;
        display: inline-block;
        .tp-post-title {
            position: relative;


        }
        h1{
            color: #fff;
            font-size: 39px;
            letter-spacing: -1px;
            margin-bottom: 20px;
            margin-top: 0px;
            a{
                color: #fff;
                text-decoration: none;
            }
            a:hover {
                color: #fde230;
            }
        }
        p {
            margin: 0 0 10px;
            -webkit-font-smoothing: antialiased;
            font-size: 14px;
            font-weight: 300;
            color: #666;
            margin-bottom: 30px;
            line-height: 21px;
        }
        blockquote{
            border: 0 !important;
            padding: 21px 20px;
            margin: 0 0 20px;
            font-size: 17.5px;
            background-color: #303030;
            p{
                margin-bottom: 0;
                i{
                    font-style: italic;
                }
            }
        }
        .highlight {
            color: #fde230;
        }
    }
}