.type-I-8 {
  background: #eeeeee;
}
.type-I-8 .footer-top {
  background-color: #7accbe;
  padding-bottom: 15px;
  padding-top: 15px;
}
.type-I-8 .footer-top .khung {
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  border-top: 1px solid rgba(255,255,255,0.1);
}
.type-I-8 .footer-top .khung #newsletter_block_left {
  overflow: hidden;
  margin-bottom: 0;
  position: relative;
  z-index: 1;
}
.type-I-8 .footer-top .khung #newsletter_block_left .button_mini {
  background-color: #fe99a1;
  text-transform: uppercase;
  border: none;
  font: normal 20px/40px Georgia;
  border-radius: 0;
  color: #fff !important;
  font-size: 17px;
  line-height: 20px;
  padding: 10px 20px;
}
.type-I-8 .footer-top .khung #newsletter_block_left .inputNew {
  background-color: #fff ff;
  font: normal 13px/20px Verdana;
  padding: 10px;
  width: 280px;
  border: none;
  color: #818181;
  text-indent: 5px;
}
.type-I-8 .footer-top .khung #newsletter_block_left h4 {
  color: #fff;
  font: normal 20px/40px Georgia;
  padding: 0;
  margin: 0;
  float: left;
  text-transform: uppercase;
  text-shadow: none;
  background: none;
}
.type-I-8 .footer-top .khung #newsletter_block_left .block_content {
  float: right;
}
.type-I-8 .footer-top .khung #newsletter_block_left .dib {
  display: inline-block;
  vertical-align: top;
}
.type-I-8 .footer-center {
  margin-top: 70px;
}
.type-I-8 .footer-center .block_content .icon {
  display: none;
}
.type-I-8 .footer-center .block_content h4 {
  font: normal 15px Georgia;
  line-height: 18px;
  padding: 0 0 25px 0;
  text-transform: uppercase;
  color: #676767;
  background: none;
}
.type-I-8 .footer-center .block_content ul {
  padding: 0;
}
.type-I-8 .footer-center .block_content ul .item1 {
  border-top: 1px solid rgba(0,0,0,0.1);
}
.type-I-8 .footer-center .block_content ul li {
  list-style-type: none;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  font: normal 13px Verdana;
  line-height: 18px;
  padding: 11px 0 11px 10px;
  transition: all 0.4s ease-in-out;
  color: #6b6a6a;
}
.type-I-8 .footer-center .block_content ul li a {
  background: #eeeeee;
  color: #676767;
  padding: 0;
  text-decoration: none;
}
.type-I-8 .footer-center .block_content ul li a:hover {
  text-decoration: none;
  color: #ccc !important;
  margin-left: 4px;
  transition: all 0.2s ease-in-out;
}
.type-I-8 .footer-center .borderList .tweet_time a {
  padding-top: 10px;
  color: #6b6a6a;
  font-family: Georgia;
  font-style: italic;
}
.type-I-8 .footer-center .borderList .tweet_time a:hover {
  text-decoration: none;
  color: #ccc;
}
.type-I-8 .footer-center .borderList .tweet_text {
  color: #6b6a6a;
}
.type-I-8 .footer-center .borderList .tweet_text .color {
  text-decoration: none;
  color: #fe99a1 !important;
}
.type-I-8 .footer-center .borderList li {
  list-style: none;
  border-style: none;
  padding: 0 0 25px 28px;
  position: relative;
}
.type-I-8 .footer-center .borderList li a {
  display: block;
}
.type-I-8 .footer-center .borderList li .svgic.svgic-twitter {
  width: 17px;
  height: 17px;
  color: #a3a19d;
  position: absolute;
  left: 0;
  font-size: 18px;
  margin-left: -15px;
  top: -3px;
}
.type-I-8 .footer-center .borderList li .svgic.svgic-twitter {
  color: #d5cfcd;
}
.type-I-8 .footer-center .facebook-box {
  margin-left: 4px;
}
.type-I-8 .footer-center .facebook-box .like {
  text-decoration: none;
  height: 24px;
  padding: 0 8px 0 15px;
  color: #fff;
  font: normal 12px Georgia;
  line-height: 24px;
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  margin: -43px 5px 1px 0px;
  background-color: #7accbe;
}
.type-I-8 .footer-center .facebook-box .like a {
  text-decoration: none;
  color: #fff;
  padding-right: 10px;
}
.type-I-8 .footer-center .facebook-box .like i {
  margin-right: 5px;
}
.type-I-8 .footer-center .facebook-box .like:hover {
  background-color: #fe99a1;
}
.type-I-8 .footer-center .facebook-box .fb_fans {
  color: #6b6a6a;
  margin-left: -3px;
  padding: 0 0 15px;
  overflow: hidden;
  border: none !important;
  font: normal 13px Verdana;
}
.type-I-8 .footer-center .facebook-box .fb_fans a {
  color: #fe99a1 !important;
  text-decoration: none;
  font: normal 13px Verdana;
}
.type-I-8 .footer-center .facebook-box .fb_followers {
  margin-left: -2px;
  overflow: hidden;
  border: none !important;
  border-bottom: none;
}
.type-I-8 .footer-center .facebook-box .fb_followers .face-3 {
  width: 60px;
  margin-right: 0 !important;
}
.type-I-8 .footer-center .facebook-box .fb_followers .face-6 {
  width: 60px;
  margin-right: 0 !important;
}
.type-I-8 .footer-center .facebook-box .fb_followers li {
  width: 75px;
  margin: 0 27px 27px 0 !important;
  float: left;
  padding: 0 !important;
  border-style: none !important;
}
.type-I-8 .footer-center .facebook-box .fb_followers li a {
  background-color: rgba(255,255,255,0.2) !important;
  display: block;
  width: 100%;
  height: 75px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.type-I-8 .footer-center .facebook-box .fb_followers li img {
  width: 65px;
}
.type-I-8 .footer-center .facebook-box .fb_followers li a:hover {
  margin: 0;
}
.type-I-8 .footer-center .facebook-box .fb_followers li div.fb_name {
  line-height: 20px;
  text-align: center;
  display: none;
}
.type-I-8 .footer-center .facebook-box .fb_followers .ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.type-I-8 .footer-bottom {
  border-top: 1px solid rgba(153,153,153,0.33);
  padding: 25px 0;
  margin-top: 440px;
}
.type-I-8 .footer-bottom .dib {
  display: inline-block;
  vertical-align: top;
}
.type-I-8 .footer-bottom .footer_text {
  color: #9a9592;
  display: inline-block;
  vertical-align: top;
  font: normal 12px/30px Verdana;
  width: 50%;
}
.type-I-8 .footer-bottom .footer_bottom_hook {
  width: 50%;
  text-align: right;
  float: right;
}
.type-I-8 .footer-bottom #socialnetworks li {
  margin: 0 0 10px 5px;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background: #7accbe;
}
.type-I-8 .footer-bottom #socialnetworks li a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  color: #fff;
  font-size: 20px;
  margin-top: 5px;
}
.type-I-8 .footer-bottom #socialnetworks .facebook a:hover {
  margin-top: 0;
  padding-top: 5px;
  background-color: #3b5a9a;
  border-color: #3b5a9a;
}
.type-I-8 .footer-bottom #socialnetworks .twitter a:hover {
  margin-top: 0;
  padding-top: 5px;
  background-color: #1aa9e1;
  border-color: #1aa9e1;
}
.type-I-8 .footer-bottom #socialnetworks .gplus a:hover {
  margin-top: 0;
  padding-top: 5px;
  background-color: #dd4b39;
  border-color: #dd4b39;
}
.type-I-8 .footer-bottom #socialnetworks .youtube a:hover {
  margin-top: 0;
  padding-top: 5px;
  background-color: #c3191e;
  border-color: #c3191e;
}
.type-I-8 .footer-bottom #socialnetworks .flickr a:hover {
  margin-top: 0;
  padding-top: 5px;
  background-color: #3b5a9a;
  border-color: #3b5a9a;
}
.type-I-8 .footer-bottom #socialnetworks .instagram a:hover {
  margin-top: 0;
  padding-top: 5px;
  background-color: #7c4a3a;
  border-color: #7c4a3a;
}
.type-I-8 .footer-bottom #socialnetworks .pinterest a:hover {
  padding-top: 5px;
  margin-top: 0;
  background-color: #cc2127;
  border-color: #cc2127;
}
.type-I-8 .footer-bottom #socialnetworks .linkedin a:hover {
  margin-top: 0;
  padding-top: 5px;
  background-color: #0073b2;
  border-color: #0073b2;
}
.dropdown-menu {
  background: none;
  border: none;
  box-shadow: none;
  width: 100%;
  display: block;
  margin-left: -10px;
}
.open >.dropdown-menu {
  display: block !important;
}
@media (min-width: 1200px) {
  .container {
    width: 1180px;
    padding: 0;
  }
}
@media (max-width: 1200px) {
  .thong .footer-center .facebook-box .fb_followers li {
    width: 55px;
    margin: 0 20px 27px 0 !important;
  }
  .thong .footer-center .facebook-box .fb_followers li a {
    height: 45px;
  }
  .thong .footer-center .facebook-box .fb_followers li img {
    width: 60px;
  }
}
@media (max-width: 992px) {
  .thong .footer-bottom {
    margin-top: 10px;
  }
  .thong .footer-center .day {
    margin-top: 550px;
  }
  .thong .footer-center .facebook-box {
    margin-top: -10px;
    position: relative;
  }
  .thong .footer-center .facebook-box .like {
    margin: -41px 5px 1px 0px;
  }
  .thong .footer-center .facebook-box .fb_followers .face-3 {
    margin-right: 15px !important;
  }
}
@media (max-width: 767px) {
  .thong .footer-center .block_content .icon {
    display: block;
    float: right;
    margin-right: 50px;
  }
  .thong .footer-center .block_content h4 {
    font: normal 25px Georgia;
    line-height: 18px;
    padding: 0 0 25px 0;
    text-transform: uppercase;
    color: #676767;
    background: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    cursor: pointer;
  }
  .thong .footer-center .block_content .facebook-box .like {
    margin: 5px 3px 1px 0px;
  }
  .thong .footer-center .block_content .day {
    margin-top: 0px;
  }
  .thong .footer-bottom {
    margin-top: 40px;
  }
  .dropdown-menu {
    margin-top: 0;
    display: none;
    margin-left: 0;
    background: #eeeeee;
  }
}
