

.type-301 {
    @color-background:#6cc644;
    @color-font: #4078c0;
    
    .title {
        color: red;
    }
    .type-301-content {
        background-color: @color-background;
        height: 200px;
        .title;
    }
    
}