.type-869-tyle1 {
    font: normal 13px/18px Georgia,"Times New Roman";
    * {
        transform-origin: 0px 0px 0px;
    }
    div {
        display: block;
    }
    .clearfix {
        zoom: 1;
    }
    a{
        text-decoration: none;
        color: #333;
    }
    h4 {
        display: block;
        -webkit-margin-before: 1.33em;
        -webkit-margin-after: 1.33em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }

    fa {
        display: inline-block;
        vertical-align: top;
        width: 20px;
        height: 20px;
        pointer-events: none;
    }

    .smooth02 {
        transition: all .2s ease-in-out;
    }

    .page_width{
        width: 1180px;
        margin: 0 auto;
        #columns>div:first-child {
            margin-top: 0;
        }
        #columns {
            z-index: 1;
            .clearfix:before{
                content: ".";
                display: block;
                height: 0;
                overflow: hidden;
            }
            .block li>a {
                background: none;
                font-size: 14px;
                line-height: 18px;
                padding: 0 0 10px 0;
            }
            #left_column {
                padding-top: 20px;
                .block:first-child {
                    margin-top: 0;
                }
                .block {
                    margin-top: 70px;
                    margin-bottom: 20px;
                    li{
                        border: none;
                        text-transform: none;
                        line-height: 40px;
                    }
                    h4 {
                        background: none;
                        padding: 0;
                        text-shadow: none;
                    }
                }

                .list-module{ 
                    h4.title_block {
                        margin-bottom: 10px;
                        box-shadow: inset 0 0 0 2px #aeaba3;
                        text-indent: 20px;
                        border-bottom: none;
                    }
                    h4.title_block:after {
                        bottom: -2px;
                    }

                    .id_menu {
                        position: relative;
                        border: 1px solid #e0e0e0;
                        .id_menu2 {
                            font-size: 15px;
                            line-height: 26px;
                            text-transform: uppercase;
                            position: relative;
                            border-bottom: 1px solid #e0e0e0!important;
                            display: block;
                            padding: 10px 10px 10px 20px;
                            a {
                                line-height: 26px;
                                padding: 0!important;
                            }
                        }
                    }

                }
                .vert-flexmenu-container{
                    .vert-flexmenu{ 
                        ul {
                            list-style: none;
                            padding:0;
                            li{
                                a{
                                    color: #727272;
                                    display: inline-block;
                                    color: #494940;
                                    font-weight: normal;
                                    font-size: 15px;
                                    line-height: 20px;
                                    padding: 10px 40px 10px 20px;
                                    padding: 0!important;
                                }
                            }
                            .v-flexmenuitem{
                                a.menu-title{
                                    position: relative;
                                }
                                a.opener {
                                    float: right;
                                    .fa {
                                        text-align: center;
                                        width: 30px;
                                        height: 30px;
                                        margin-top: 6px;
                                        color: #ccc;
                                    }
                                    #aftericon{
                                        display: none;
                                    }
                                }
                                .submenu {
                                    transition: none;
                                }
                                .right-co{
                                    width: 900px;
                                }
                            }
                            .v-flexmenuitem:hover{
                                transition: all 4s;
                                a.opener {
                                    .fa{
                                        display: none;
                                    }
                                    #aftericon{
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                    h4.title_block {
                        margin-bottom: 30px;
                        font: normal 20px/46px Georgia;
                        color: #505050;
                        text-transform: uppercase;
                        position: relative;
                        border-bottom: 2px solid #aeaba3;
                    }
                    h4.title_block:after {
                        content: "";
                        width: 100%;
                        display: block;
                        margin-top: 5px;
                        position: absolute;
                        bottom: -4px;
                        left: 0;
                        height: 1px;
                        border-bottom: 1px solid #bdbcbc;
                    }
                }
            }
        }



        .left_col {
            .vert-flexmenu {
                ul{
                    li{
                        div.submenu{
                            left: 100%;
                            right: auto;
                        }
                    }
                }
                div.submenu {
                    left: 100%;
                    right: auto;
                    display: none;
                    top: -1px;
                    width: auto;
                    z-index: 99999;
                    position: absolute;
                    -webkit-animation-duration: .6s;
                    animation-duration: .6s;
                    -webkit-animation-fill-mode: both;
                    animation-fill-mode: both;
                    padding-left: 20px;
                    .full-width {
                        width: 660px;
                    }

                    .sections-contaier {
                        background-image: url(../images/vmenu_bg.jpg);
                        background-color: #fff;
                        background-position: 100% 100%;
                        background-repeat: no-repeat;
                        box-shadow: 0 3px 3px 0 rgba(0,0,0,0.25);
                        overflow: hidden;
                        .section-indent {
                            padding: 28px 29px 20px 28px;
                            overflow: hidden;
                            .v-main-section-links{
                                li.col_num{
                                    width: 33%;
                                    float: left;
                                    line-height: 26px;
                                    a.menu-item-title{
                                        text-transform: uppercase;
                                    }
                                }
                            }
                        }
                        .only-right {
                            width: 640px;
                            display: inline-block;
                        }
                        .right-section{
                            width: 234px;
                            float: right;
                            min-height: 20px;
                            .section-indent{
                                padding: 28px 29px 20px 28px;
                                overflow: hidden;
                                .right-title{
                                    font-weight: bold;
                                    padding-bottom: 10px;
                                    margin-bottom: 20px;
                                    border-bottom: 1px solid #eee;
                                }
                                .menu-product-title{
                                    text-transform: uppercase;
                                }

                                .vm-pr-nbs-flexisel-container{
                                    overflow: hidden;
                                    width: 100%;
                                    .nbs-flexisel-inner{
                                        width: calc(100% + 20px);
                                        .v-right-section-products{
                                            .nbs-flexisel-item{
                                                a{
                                                    img{

                                                    }
                                                }
                                            }
                                        }
                                        .menu-product{

                                            li.nbs-flexisel-item{
                                                text-align: center;
                                                position: relative;
                                                a{
                                                    img{
                                                        width: 100%;
                                                    }
                                                }
                                            }
                                        }
                                        .nbs-flexisel-ul{
                                            width: 10000%;
                                            position: relative;
                                            list-style: none;
                                            li{

                                                float: left;
                                                margin: 0;
                                                width: 204px!important;
                                            }
                                            .nbs-flexisel-item{
                                                a{
                                                    img{

                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .flexisel-nav-wrapper{
                                    position: absolute;
                                    top: 28px;
                                    right: 20px;
                                    .flexisel-nav {
                                        width: 20px;
                                        height: 20px;
                                        background: #ccc;
                                        cursor: pointer;
                                        color: #9f9f9f;
                                        background-color: #fafafa;
                                        -webkit-user-select: none;
                                        -moz-user-select: none;
                                        border: 1px solid #e6e5e5;
                                        box-shadow: 0 0 0 1px #fff,0 0 0 2px #e6e5e5;
                                        text-align: center;
                                        a{
                                            position: absolute;
                                            top: -3px;
                                            right:1px;
                                        }
                                    }
                                    .flexisel-nav:hover{
                                        background-color: #fe99a1;
                                        border-color:#fe99a1;
                                        box-shadow:0 0 0 1px #fe99a1,0 0 0 2px #fe99a1;
                                        .fa{
                                            color: #fff;
                                        }
                                    }
                                    .nbs-flexisel-nav-left{
                                        float: left;
                                        position: relative;
                                        margin-right: 1px;
                                    }
                                    .nbs-flexisel-nav-right {
                                        float: right;
                                        position: relative;
                                        margin-right: 1px;
                                    }
                                    .fa {
                                        width: 12px;
                                        height: 12px;
                                        margin-top: 5px;
                                        pointer-events: none;
                                    }
                                }
                            }
                        }
                    }
                }
                .showmenu_women, .showmenu_men,.showmenu_girl, .showmenu_boy,.showmenu_sport{
                    display: none;
                }
                #show_women:hover,#show_men:hover,#show_girl:hover,#show_boy:hover,#show_sport:hover{
                    transition: all 3s ease-in-out;
                }
                #show_women:hover{
                    .showmenu_women{
                        display: block;
                    } 
                }
                #show_men:hover{
                    .showmenu_men{
                        display: block;
                    }
                }
                #show_girl:hover{
                    .showmenu_girl{
                        display: block;
                    }
                }
                #show_boy:hover{
                    .showmenu_boy{
                        display: block;
                    }
                }
                #show_sport:hover{
                    .showmenu_sport{
                        display: block;
                    }
                }
            }

        }
    }
}


@media (min-width: 1200px){
    .page_width{
        min-width: 1180px;
    }
}


@media (min-width: 1170px){

    #left_column {
        width: 290px;
        float: left;
    }
}

@media (max-width: 1170px) and (min-width: 980px){
    .page_width{
        #columns{
            margin: 0 auto;
            #left_column {
                width: 220px;
                float: left;
                padding-top: 20px;
                .vert-flexmenu-container h4.title_block {
                    margin-top: 8px;
                }
            }
        }
    }

}
@media (max-width: 979px) and (min-width: 728px){
    .page_width{
        #columns{
            width: 290px;
            margin: 0 auto;
            transition: all .4s linear;
            #left_column {
                width: 220px;
                float: left;
                padding-top: 20px;
                .vert-flexmenu-container h4.title_block {
                    margin-top: 8px;
                }
            }
        }
    }


}
@media (max-width: 727px){
    .page_width{
        #columns{
            width: 290px;
            margin: 0 auto;
            transition: all .4s linear;
            #left_column {
                width: 100%;
                margin: 0;
                padding-top: 20px;
            }
        }
    }
}